{%extends display.mvc%}

{%block content%}
<div not-class="row auto">
    <div not-class="span4"></div>
    <div not-class="span4">
        <form action="account" method="post" not-class="form inline">

            <div not-class="field">
                <label>displayname</label>
                <input type="text" name="displayname" value="{{account.displayname}}" disabled="disabled">
            </div>

            <div not-class="field">
                <label>gender</label>
                <input type="text" name="gender" value="{{account.gender}}">
            </div>
            <div not-class="field">
                <label>marrital_status</label>
                <input type="text" name="marrital_status" value="{{account.marrital_status}}">
            </div>
            <div not-class="field">
                <label>parental_status</label>
                <input type="text" name="parental_status" value="{{account.parental_status}}">
            </div>
            <div not-class="field">
                <label>exercise_habits</label>
                <input type="text" name="exercise_habits" value="{{account.exercise_habits}}">
            </div>
            <div not-class="field">
                <label>employment_status</label>
                <input type="text" name="employment_status" value="{{account.employment_status}}">
            </div>
            <div not-class="field">
                <label>business_owner</label>
                <input type="text" name="business_owner" value="{{account.business_owner}}">
            </div>
            <div not-class="field">
                <label>industry</label>
                <input type="text" name="industry" value="{{account.industry}}">
            </div>
            <div not-class="field">
                <label>devices_owned</label>
                <input type="text" name="devices_owned" value="{{account.devices_owned}}">
            </div>
            <div not-class="field">
                <label>internet_usage</label>
                <input type="text" name="internet_usage" value="{{account.internet_usage}}">
            </div>
            <div not-class="field">
                <label>birthdate</label>
                <input type="text" name="birthdate" value="{{account.birthdate}}">
            </div>
            <div not-class="field">
                <label>graduation</label>
                <input type="text" name="graduation" value="{{account.graduation}}">
            </div>
            <div not-class="field">
                <label>course</label>
                <input type="text" name="course" value="{{account.course}}">
            </div>
            <div not-class="field">
                <label>country_birth</label>
                <input type="text" name="country_birth" value="{{account.country_birth}}">
            </div>
            <div not-class="field">
                <label>country</label>
                <input type="text" name="country" value="{{account.country}}">
            </div>
            <div not-class="field">
                <label>province_birth</label>
                <input type="text" name="province_birth" value="{{account.province_birth}}">
            </div>
            <div not-class="field">
                <label>province</label>
                <input type="text" name="province" value="{{account.province}}">
            </div>
            <div not-class="field">
                <label>birthcity</label>
                <input type="text" name="birthcity" value="{{account.birthcity}}">
            </div>
            <div not-class="field">
                <label>city</label>
                <input type="text" name="city" value="{{account.city}}">
            </div>
            <div not-class="field">
                <label>favorites</label>
                <input type="text" name="favorites" value="{{account.favorites}}">
            </div>

            <div not-class="field">
                <label>language            </label>
                <input type="text" name="language" value="{{account.language}}">
            </div>

            <div not-class="field">
                <label></label>
                <input type="submit" value="به روز رسانی اطلاعات">
            </div>
        </form>
    </div>
</div>
{%endblock%}