{%extends display.mvc%}

{%block head_css%}
{%endblock%}

{%block content%}

<div class="container">
    <div class="row auto">
        <div class="span10">
            <nav class="navigation">
                <ul>
                    <li>
                        <a href="#">{% trans "Register" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "Links" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "About Us" %}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="span2"></div>
    </div>

    <div class="row auto">
        <!-- Here is Logo and Title of the site -->
        <div class="span6">
            <div class="row auto">
                <div class="span6">
                    <img src="{{url.static}}images/logo.svg" class="logo">
                </div>
                <div class="span6">
                    <p>سرشمار<br>اولین سرویس اینترنتی ایران</p>
                </div>
            </div>
        </div>

        <!-- Here is top chart -->
        <div class="span6">
            <div class="top-chart chart"></div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div>
                <div class="row">
                    <div class="span5">
                        {% if site.currentlang == "en" %}
                        <div class="span3"></div>
                        <div class="span6 map-wrapper">
                            <object type="image/svg+xml" data="/static/images/world.svg">
                            </object>
                        </div>
                        {% else %}
                        <div class="span2"></div>
                        <div class="span4 map-wrapper">
                            <object type="image/svg+xml" data="/static/images/ir-all.svg">
                            </object>
                        </div>
                        {% endif %}
                    </div>
                    <div class="span7">
                        <div class="random-chart chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-info row-one">
        <div class="span1"></div>
        <div class="span8">
            <h2>شرکت های تجاری</h2>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
        </div>
        <div class="span2">
            <img src="{{url.static}}images/commercial.svg">
        </div>
    </div>
    <div class="row row-info row-two">
        <div class="span1"></div>
        <div class="span2">
            <img src="{{url.static}}images/research.svg">
        </div>
        <div class="span8">
            <h2>موسسات تحقیقاتی و آموزشی</h2>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
        </div>
    </div>
    <div class="row row-info row-three">
        <div class="span1"></div>
        <div class="span8">
            <h2>سازمان ها و نهاد ها</h2>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
        </div>
        <div class="span2">
            <img src="{{url.static}}images/organizations.svg">
        </div>
    </div>
    <div class="row row-info row-four">
        <div class="span1"></div>
        <div class="span2">
            <img src="{{url.static}}images/developers.svg">
        </div>
        <div class="span8">
            <h2>توسعه دهنده ها و صاحبان سایت</h2>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
        </div>
    </div>
    <div class="row row-info row-five">
        <div class="span1"></div>
        <div class="span8">
            <h2>کانون های تبلیغاتی</h2>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
        </div>
        <div class="span2">
            <img src="{{url.static}}images/advertising.svg">
        </div>
    </div>
    <div class="row row-info row-six">
        <div class="span1"></div>
        <div class="span2">
            <img src="{{url.static}}images/people.svg">
        </div>
        <div class="span8">
            <h2>عموم مردم</h2>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
            <p>داده های آماری و غیره به گونه ای ساده و شکل یافته نمودار می گویند. از نمودار ها برای ساده کردن و ملموس کردن موضوعات گوناگون استفاده می شود.</p>
        </div>
    </div>

    <!-- Eslimi Background -->
    <div class="row">
        <div class="span12">
            <div class="art-bg">
                <div class="circle"></div>
            </div>
        </div>
    </div>

    <!-- Tick -->
    <div class="row">
        <div class="span12">
            <div class="tick">
                <img src="{{url.static}}images/tick.svg">
                <p class="text">{% trans "Our answer sheets are absolutely correct, and we can measure the accuracy of answers" %}</p>
            </div>
        </div>
    </div>

    <!-- Question -->
    <div class="row">
        <div class="question">
            <a href="#">{% trans "Do you want to register an account?" %}</a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">{% trans "Home" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "Register" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "Articles" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "About Us" %}</a>
                    </li>
                </ul>
            </nav>

            <div class="row auto">
                <div class="span6">
                    <div class="row">
                        <div class="span4">
                            <ul class="list-footer">
                                <li>
                                    <a href="#">{% trans "Links" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "Articles" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "News" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "Latest News" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "Policy" %}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="span4">
                            <ul class="list-footer">
                                <li>
                                    <a href="#">{% trans "Links" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "Articles" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "News" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "Latest News" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "Policy" %}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="span4">
                            <ul class="list-footer">
                                <li>
                                    <a href="#">{% trans "Links" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "Articles" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "News" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "Latest News" %}</a>
                                </li>

                                <li>
                                    <a href="#">{% trans "Policy" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <ul class="news list-footer">
                        <li>
                            <a href="#">اولین سرویس اینترنتی راه اندازی شد</a>
                            <p>سرشمار اولین سرویس سرشماری در ایران است. این سرویس راه اندازی شده و مشغول به کار است.</p>
                        </li>

                        <li>
                            <a href="#">فردا کار من تمام است</a>
                        </li>

                        <li>
                            <a href="#">امروز من سخت کار کردم</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {{dump(result)}} -->
{%endblock%}

{%block foot_js%}
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<script type="text/javascript">
    var topChartOptions = {
    chart: {
        type: 'column',
        backgroundColor: 'rgba(255, 255, 255, 0)'
        // events: {
        //     load: function() {
        //         var check = $('.top-chart').highcharts();
        //         check.yAxis[0].setExtremes(null, check.axes[1].dataMax);
        //     }
        // }
    },
    exporting: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    title: {
        text:  {{result['random_result']['title']|raw}}
    },
    xAxis: {
        labels: {
            enabled: false
        },
        categories: [
            'روش های رسیدن به وزن ایده آل'
        ]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'درصد',
            enabled: false
        },
        labels: {
            enabled: false
        },
        gridLineWidth: 0,
        minorGridLineWidth: 0,
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
        footerFormat: '</table>',
        shared: false,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{result['random_result']['data']|raw}}
};

var randomChartOptions = {
    chart: {
        type: 'column',
        backgroundColor: 'rgba(255, 255, 255, 0)'
    },
    credits: {
        enabled: false
    },
    title: {
        text: {{result['malefemale']['title']|raw}}
    },
    xAxis: {
        type: 'category',
        labels: {
            enabled: true
        }
    },
    yAxis: {
        title: {
            enabled: false
        },
        labels: {
            enabled: false
        },
        gridLineWidth: 0,
        minorGridLineWidth: 0
    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}%'
            }
        }
    },

    tooltip: {
        // headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        headerFormat: '',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    series: [{
        name: 'جنسیت',
        colorByPoint: true,
        data: {{result['malefemale']['data']|raw}}
    }],
    drilldown: {
        series: {{result['malefemale']['series']|raw}}
    }
};

$(function() {
    $('.top-chart').highcharts(topChartOptions);
    $('.random-chart').highcharts(randomChartOptions);
});
</script>
{% endblock %}
