{%extends display.main%} {%block content%}
<div class="box content-management comments-management">
	<div class="statistics row auto">
		<a href="#!" class="span2">
			<div class="statistics-box">
				<div class="icon icon-total"><i class="fa fa-comments-o fa-4x"></i></div>
				<div>
					<h5 class="title">{% trans "Total" %}</h5>
					<h6 class="amount">۳۴۵</h6>
				</div>
			</div>
		</a>
		<a href="#!" class="span2">
			<div class="statistics-box">
				<div class="icon icon-rejected"><i class="fa fa-comment fa-4x"></i></div>
				<div>
					<h5 class="title">{% trans "Rejected" %}</h5>
					<h6 class="amount">۳۴۵</h6>
				</div>
			</div>
		</a>
		<a href="#!" class="span2">
			<div class="statistics-box">
				<div class="icon icon-unapproved"><i class="fa fa-commenting-o fa-4x"></i></div>
				<div>
					<h5 class="title">{% trans "Unapproved" %}</h5>
					<h6 class="amount">۴۵</h6>
				</div>
			</div>
		</a>
		<a href="#!" class="span2">
			<div class="statistics-box">
				<div class="icon icon-spam"><i class="fa fa-minus-circle fa-4x"></i></div>
				<div>
					<h5 class="title">{% trans "Spam" %}</h5>
					<h6 class="amount">۱۴۵</h6>
				</div>
			</div>
		</a>
		<a href="#!" class="span3">
			<div class="statistics-box">
				<div class="icon icon-trash"><i class="fa fa-trash fa-4x"></i></div>
				<div>
					<h5 class="title">{% trans "Trash" %}</h5>
					<h6 class="amount">۱۰۵</h6>
				</div>
			</div>
		</a>
		<a href="{{url.base}}/admin" class="span1" title="{% trans "Return to admin area" %}">
			<div class="statistics-box return">
				<div class="icon icon-return">
					{%if site.currentlang == "fa"%}
					<i class="fa fa-angle-left fa-4x"></i>
					{%else%}
					<i class="fa fa-angle-right fa-4x"></i>
					{%endif%}
					</div>				
			</div>
		</a>
	</div>
	<div class="row auto">
		{%for key, value in comments%}
		<div class="poll-card border-{{value.comment_status}}">
			<div class="poll-content">
				<div class="top-content">
					<div class="row auto">
						<div class="span10">

							<div class="media">
								<div class="media-right">								
									<img class="media-object" src="{{base.url}}/static/images/svg/avatar.svg" width="68" height="68" alt="...">	
									<div class="external-links"><a target="_blank" href="{{base.url}}/{{value.comment_url}}"><i class="icon-external-link"></i></a></div>
								</div>
								<div class="media-body">
									<p class="media-heading">{{value.comment_author}} در <a target="_blank" href="{{base.url}}/{{value.url}}">{{value.title|raw}}</a></p>
									<a href="mailto:{{value.comment_email}}">{{value.comment_email}}</a>
									<p>{{value.comment_content}}</p>
								</div>
							</div>


						</div>
						<div class="poll-management-options span2">
							<div class="btn-group">
								<button class="accept btn btn-success save-status" data-status="approved" title="OK" data-id="{{value.id}}">تایید</button>
								<button class="reject btn btn-danger  save-status" data-status="unapproved" title="Spam" data-id="{{value.id}}">رد</button>
							</div>
						</div>
					</div>
				</div>	
				
			</div>
		</div>
		{%endfor%}
	</div>
	<div class="paginate">
		<!-- pagenation -->
		{% embed display.pagination %}{% endembed %}
	</div>
</div>
{%endblock%} {%block foot_js%}
<script type="text/javascript">
	$(document).ready(function () {
		$('.save-status').click(function () {
			status = $(this).attr('data-status');
			id = $(this).attr('data-id');
			$(this).ajaxify({
				ajax: {
					method: 'post',
					data: {
						'status': status,
						'id': id
					},
					abort: true,
					success: function (e, data, x) {

					}
				}
			});
		});

	});
</script>
{%endblock%}