{%extends display.mvc%}
{%block content%}
{%for key , value in datatable%}
	<a href="{{value.id}}">{{value.title}}</a>
<hr>
{%endfor%}

{%if form_add%}
<div class="row auto">
    <div class="span4"></div>
    <div class="span4">
        <form action="question/add" method="post" class="form inline">
            <div class="field">
                <label>title</label>
                <input type="text" name="title">
            </div>
            <div class="field">
                <label>language</label>
                <input type="text" name="language" value="{{site.currentlang}}" >
            </div>
            <div class="field">
                <label>content</label>
                <input type="text" name="content">
            </div>
            <div class="field">
                <label>publish_date</label>
                <input type="text" name="publish_date" value="{{"now"|date("Y-m-d")}}" >
            </div>
            <div class="field">
                <label>answer1</label>
                <input type="text" name="answers[]">
            </div>
            <div class="field">
                <label>answer2</label>
                <input type="text" name="answers[]">
            </div>

            <div class="field">
                <label for="idd">کلدی واژه ها</label>
                <input type="text" name="tags">
            </div>
                <label for="idd">از کی بپرسم</label>
            <div class="field">
                {%for key, value in cats%}
                    <input type="checkbox" name="cat_{{value.value}}"  >{{value.txt}}<br>
                {%endfor%}
            </div>

            <div class="field">
                <label for="idd">از چند نفر بپرسم</label>
                <input type="number" name="count" min="{{min_member}}" max="{{max_member}}">
            </div>


            <div class="field">
                <label></label>
                <input type="submit" value="ثبت سوال">
            </div>
        </form>
    </div>
</div>

{%endif%}

{%if form_edit%}
<form action="question/edit={{post_id}}" method="post">
	title:<input type="text" name="title" value="{{form_data['poll']['title']}}"><br>
	language:<input type="text" name="language" value="{{form_data['poll']['language']}}"><br>
	content:<input type="text" name="content" value="{{form_data['poll']['content']}}"><br>
	publish_date:<input type="text" name="publish_date" value="{{form_data['poll']['publishdate']}}"><br>
	{%if form_data['answers'] is iterable %}
		{%for key, data in form_data['answers']%}
			answer{{key}}:<input type="text" name="answers[{{data['id']}}]" id="{{data['id']}}" value="{{data['value']}}"><br>
		{%endfor%}
	{%endif%}
	<input type="submit" value="اصلاح"><br>
</form>
{%endif%}
{%endblock%}
