{%extends display.mvc%}
{%block content%}
{%for key , value in datatable%}
	<a href="{{value.id}}">{{value.title}}</a>
<hr>
{%endfor%}


{%if form_add%}
<form action="question/add" method="post">
	title:<input type="text" name="title"><br>
	language:<input type="text" name="language"><br>
	content:<input type="text" name="content"><br>
	publish_date:<input type="text" name="publish_date"><br>
	answer1:<input type="text" name="answers[]"><br>
	answer2:<input type="text" name="answers[]"><br>
	answer3:<input type="text" name="answers[]"><br>
	answer4:<input type="text" name="answers[]"><br>
	answer5:<input type="text" name="answers[]"><br>
	answer6:<input type="text" name="answers[]"><br>
	answer7:<input type="text" name="answers[]"><br>
	answer8:<input type="text" name="answers[]"><br>
	<input type="submit" value="ثبت سوال"><br>
</form>
{%endif%}


{%if form_edit%}
<form action="question/edit={{post_id}}" method="post">
	title:<input type="text" name="title" value="{{form_data['poll']['title']}}"><br>
	language:<input type="text" name="language" value="{{form_data['poll']['language']}}"><br>
	content:<input type="text" name="content" value="{{form_data['poll']['content']}}"><br>
	publish_date:<input type="text" name="publish_date" value="{{form_data['poll']['publishdate']}}"><br>
	{%if form_data['answers'] is iterable %}
		{%for key, data in form_data['answers']%}
			answer{{key}}:<input type="text" name="answers[{{data['id']}}]" id="{{data['id']}}" value="{{data['value']}}"><br>
		{%endfor%}
	{%endif%}
	<input type="submit" value="اصلاح"><br>
</form>
{%endif%}
{%endblock%}
