{%extends display.mvc%}

{%block head_css%}
<link rel="stylesheet" type="text/css" href="{{url.static}}css/responsive.css">
{%endblock%}

{%block body%}
 <div class="container">
  {% include template.header %}

  <div class="wrapper" data-xhr='wrapper' {%if notlogin %} data-modal='not-login' {%endif%}>
	{%block content%}{%endblock%}
  </div>

  {% include template.register %}
 </div>
{% include template.footer %}

{%block modal%}
{% if not login%}
 <div class='modal' id='not-login'>
  <form class='modal-dialog' method="post" action="{{base.url}}/account/login">
   <h3 class='modal-title'>{%trans%}LOGIN OR TRY{%endtrans%}</h3>
   <div class='modal-body'>
    <input type="text" name="mobile" placeholder="mobile">
    <br>
    <input type="password" name="password" placeholder="password">
    <input type="submit" class='button' value='{%trans "Login"%}'>
    <div class='or' data-text='{%trans "or"%}'></div>
    <a href="{{base.url}}/@?inspection=inestimable">
      <input type='submit' class='button positive' data-ok value='{%trans "Try Sarshomar"%}' />
    </a>
   </div>
  </form>
 </div>
 {%endif%}
{%endblock%}

{%endblock%}

{%block try_before_register_btn%}
   {%if url.tld == 'dev' and not login%}
      <a href="{{url.base}}/features/guest" class="try">{%trans "Try Before Register"%}</a>
   {%endif%}
{% endblock %}