{%extends display.mvc%}

{%block head_css%}
 <link rel="stylesheet"       href="{{url.static}}css/style.css">
 <link rel="stylesheet"       href="{{url.static}}css/style-admin.css">
 <link rel="stylesheet"       href="{{url.static}}css/responsive.css">
{%endblock%}

{%block body%}
 <div class="container">
  {%include template.header%}

  <div class="wrapper" data-xhr='wrapper' {%if notlogin %} data-modal='not-login' {%endif%}>
 {%block content%}{%endblock%}
  </div>

  {% include template.register %}
 </div>
{% include template.footer %}

{%block modal%}
 {% if not login%}
  <div class='modal' id='not-login'>
   <form class='modal-dialog' method='post' action="{{base.url}}/account/login">
   <h3 class='modal-title'>{%trans "Login or Try"%}</h3>
   <div class='modal-body'>
    <div class="element no-pad ltr">
     <label class="title small" for="mobile">{%trans "Mobile"%}</label>
     <input class="input" type="text" name="mobile" id="mobile" placeholder='{%trans "Mobile"%}'>
    </div>
    <div class="element no-pad ltr">
     <label class="title small" for="password">{%trans "Password"%}</label>
     <input class="input" type="password" name="password" id="password" placeholder='{%trans "Password"%}'>
    </div>
    <div class="row auto btn-container center">
     <button class="btn" type="submit">{%trans "Login"%}</button>
     <a class="btn primary" href="{{base.url}}/@?inspection=inestimable">{%trans "Try Sarshomar"%}</a>
    </div>
   </div>
  </form>
 </div>
 {%endif%}
{%endblock%}

{%set introOption%}
.setOptions({ 'nextLabel': '{%trans "Next →"%}', 'prevLabel': '{%trans "← Back"%}', 'skipLabel': '{%trans "Skip"%}', 'doneLabel': '{%trans "Done"%}', 'showStepNumbers': 'false', 'showProgress': 'true' })
{%endset%}
{%endblock%}

{%block try_before_register_btn%}
 {%if not login%}
  <a href="{{url.base}}/features/guest" class="try special-button">{%trans "Try Before Register"%}</a>
 {%endif%}
{% endblock %}
