{%extends display.admin%} {%block content%}
<div class="main pad">
    <div class="box">
    <div class="search-box">
        <input type="text" name="search" placeholder='{%trans "Search"%}' value="{{search_value}}" autocomplete="off">
        <label class="search-label">
         <span class="icon-search"></span>
        </label>
       </div>
        <div class="default-tbl">
            <div class="tbl admin-log">
                <div class="tbl-header">
                    <span><a href="{{url.base}}/admin/users/{{order_url.id}}">{%trans "Dashboard" %}</a></span>
                    <span><a href="{{url.base}}/admin/users/{{order_url.user_mobile}}">{%trans "user_mobile" %}</a></span>
                    <span><a href="{{url.base}}/admin/users/{{order_url.user_username}}">{%trans "user_username" %}</a></span>
                    <span><a href="{{url.base}}/admin/users/{{order_url.user_displayname}}">{%trans "user_displayname" %}</a></span>
                    <span><a href="{{url.base}}/admin/users/{{order_url.user_status}}">{%trans "user_status" %}</a></span>
                    <span><a href="{{url.base}}/admin/users/{{order_url.budget}}">{%trans "budget" %}</a></span>
                    <span><a href="{{url.base}}/admin/users/{{order_url.user_port}}">{%trans "user_port" %}</a></span>
                    <span><a href="{{url.base}}/admin/users/{{order_url.user_verify}}">{%trans "user_verify" %}</a></span>
                    <span><a href="{{url.base}}/admin/users/{{order_url.user_language}}">{%trans "user_language" %}</a></span>
                </div>
                {%for key, value in users_list%}
                <div>
                    <span>
                        <a href="{{url.balse}}/admin/userdashboards/user={{value.id}}">{{value.id}}</a>
                        <a href="{{url.base}}/admin/logs/user={{value.id}}" title='{%trans "Find logs of users"%}'>
                            <span class="icon-pencil"></span>
                        </a>
                    </span>
                    <span title='{%trans "Login by this mobile"%}'><a href="{{url.base}}/enter?userid={{value.id}}&mobile=0000000000" data-direct>{{value.user_mobile|fitNumber}}</a></span>
                    <span>{{value.user_username}}</span>
                    <span>{{value.user_displayname}}</span>
                    <span>{{value.user_status}}</span>
                    <span>{{value.budget|number_format|fitNumber}}</span>
                    <span>{{value.user_port}}</span>
                    <span>{{value.user_verify}}</span>
                    <span>{{value.user_language}}</span>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="pagination-container">
    {%include display.pagination%}
 </div>
</div>

{%endblock%}