{%extends display.main%}

{%block content%}
<div class="main pad">
 <div class="box">
  <form method="post">
   <div class="row auto">
    <div class="span3"></div>
    <section class="span6" id="poll-box">
     {%if perm.publish_poll.admin%}
      <script type="text/javascript">alert('{%trans "YOU CAN CHANGE THE STATUS OF THIS POLL!"%}');</script>
     {%endif%}
     <h2>{{post.post_title}}</h2>

     <div class="row auto" id="toolbox">
      <div class="span6" id="interaction">
       <input type="checkbox" name="star" id="star">
       <label for="star" class="fa fa-2x fa-star"></label>
       <input type="checkbox" name="heart" id="heart">
       <label for="heart" class="fa fa-2x fa-heart"></label>
      </div>
      <div class="span6">{%include template.social%}</div>
     </div>

     {%if profile%}
      <script type="text/javascript">alert('{%trans "This question will complete your profile"%}')</script>
     {%endif%}

     {%if post.post_content%}<p>{{post.post_content}}</p>{%endif%}

     {%if article%}
      <div class="read-more">
       <span>{%trans "Read More"%}</span>
       <a href="{{article.url}}"><span data-hover="{{article.title}}">{{article.title}}</span></a>
      </div>
     {%endif%}

     <div class="poll-guide">{%trans "You can select just two options."%}</div>

     {%if post.post_meta.opt%}{#check post meta exist#}
     {%if multiple_choice%}
      <ul>
      {%for key, value in post.post_meta.opt%}
       <li>
        <input type="checkbox" name="{{value.key}}" id="check_{{value.key}}" class="answer-link" data-key="{{value.key}}" value="{{value.txt}}">
        <label for="check_{{value.key}}" data-number="{{key + 1}}">{{value.txt}}</label>
       </li>
      {%endfor%}
      {%if descriptive%}
       <li>
        <input type="checkbox" id="check_other" class="answer-link" data-key="opt_{{post.post_meta.opt|length + 1}}" value="other">
        <label for="check_other" data-number="{{post.post_meta.opt|length + 1}}"><input type="text" name="opt_other"></label>
       </li>
      {%endif%}
      </ul>
     {%else%}{#muliple_choice not set load the radio mod#}
      <ul>
      {%for key, value in post.post_meta.opt%}
       <li>
        <span class="checkbox">
         <input type="radio" name="radio" id="radio_{{value.key}}" class="answer-link" data-key="{{value.key}}" value="{{value.key}}">
         <label class="check-box" for="radio_{{value.key}}" data-number="{{key + 1}}"></label>
        </span>
        <label for="radio_{{value.key}}" data-number="{{key + 1}}">
         {{value.txt}}
        </label>
       </li>
      {%endfor%}
      {%if descriptive%}
       <li>
        <input type="radio" name="radio" id="radio_other" class="answer-link" data-key="opt_{{post.post_meta.opt|length + 1}}" value="other">
        <label for="radio_other" data-number="{{post.post_meta.opt|length + 1}}"><input type="text" name="opt_other"></label>
       </li>
      {%endif%}
      </ul>
     {%endif%}{#multiple_choice check end#}
     <input type="submit" name="opt_0" value='{%trans "I am not willing to answer"%}' class="skip">
     {%endif%}
    </section>
   </div><!-- /.row -->

   {%if post.post_meta.opt%}{#check post meta exist#}
    <div class="poll btn-container"><button class="btn secondary save-answer">{%trans "Save Answer"%}</button></div>
   {%else%}
    <div class="poll btn-container"><a class="btn save-answer" href="ask" data-direct>{%trans "Ask Me"%}</a></div>
   {%endif%}
  </form>

  {%if chart%}
  <div class="row" id="poll-result">
   <div class="type">
    <ul class="tabs">
        <li chart-type="result" class="chart-result active">{%trans "result"%}</li>
     {%for key, value in chart.stacked%}
        <li chart-type="{{key}}" class="chart-{{key}} {%if key == 'result'%}active{%endif%}">{{key|trans}}</li>
      {%endfor%}
    </ul>
   </div>
   <div class="chart"></div>
  </div><!-- /.row -->
  {%endif%}

  <div class="row auto" id="poll-extra">
   <h2 class="special-heading">{%trans "Description"%}</h2>
   <div class="span4" id="poll-similar">
    <div class="title">{%trans "Similar Questions"%}</div>
    {%if similar_post()%}
    <ul>
     {%for key, value in similar_post()%}
     <li><a href="{{base.url}}/{{value.url}}">{{value.title}}</a></li>
     {%endfor%}
    </ul>
    {%else%}
    <div class="content">{%trans "There is no similar post"%}</div>
    {%endif%}
   </div><!-- /.poll-similar -->

   <div class="span4" id="poll-info">
    <div class="title">{%trans "Poll Period"%}</div>
    {%if date_start or date_end%}
    <div class="content period">
     <span class="start-time">{{date_start}}</span><span>{%trans "to"%}</span><span class="end-time">{{date_end}}</span>
    </div>
    {%else%}
    <div class="content">{%trans "Not set"%}</div>
    {%endif%}

    <div class="title">{%trans "Status"%}</div>
    <div class="content status {{status}}">{{status}}</div>

    <div class="title">{%trans "Keyword"%}</div>
    {%if tags()%}
    <div class="content tags">{{tags({"html":true})}}</div>
    {%else%}
    <div class="content">{%trans "Not set"%}</div>
    {%endif%}`
   </div>

   <div class="span4" id="poll-filters">
    <div class="title">{%trans "Society Statistics"%}</div>
    {%if filters%}
     {%for key, value in filters%}
     <span><i class="fa fa-2x fa-{{value.icon}}" aria-hidden="true"></i> {{value.filter}}</span>
     {%endfor%}
    {%else%}
     <div class="content no-data">{%trans "Not set"%}</div>
    {%endif%}
   </div>
  </div><!-- /.row -->

  <div class="row" id="comments-box">
   <h2 class="special-heading">{%trans "Comments"%}</h2>
   <div class="eq-container">
    {%if rate.total%}
    <div>
     <div class="overall">
      {%if site.currentlang == "fa"%}
        {{rate.total|persian}}
      {%else%}
        {{rate.total}}
      {%endif%}
     </div>
     <div class="stars">
     {%for i in 1..rate.total%}
      <span class="fa fa-star star active" aria-hidden="true"></span>
     {%endfor%}
      <span class="number"></span>
     </div>
     <div class="bars">
      <div class="bar one" style="width:{{rate.rate5 * 20}}%"></div>
      <div class="bar two" style="width:{{rate.rate4 * 20}}%" ></div>
      <div class="bar three" style="width:{{rate.rate3 * 20}}%" ></div>
      <div class="bar four" style="width:{{rate.rate2 * 20}}%" ></div>
      <div class="bar five" style="width:{{rate.rate1 * 20}}%" ></div>
     </div><!-- /.bars -->
    </div>
    {%endif%}
    <div class="comment">
     <form method="post">
      <div class="author"></div>
      <div class="stars">
       <span class="fa fa-star star" aria-hidden="true"></span>
       <span class="fa fa-star star" aria-hidden="true"></span>
       <span class="fa fa-star star" aria-hidden="true"></span>
       <span class="fa fa-star star" aria-hidden="true"></span>
       <span class="fa fa-star star" aria-hidden="true"></span>
      </div>
      <input type="hidden" name="rate" id="user-rate" value="">
      <textarea class="user-comment" name="content"></textarea>
      <button class="save-comment" type="submit" name="comment" value="comment">{%trans "Send"%}</button>
     </form>
    </div>
    <div class="comment">
     <div class="comment-header">
      <div class="author">sahelekaj</div>
      <div class="stars">
       <span class="fa fa-star star active" aria-hidden="true"></span>
       <span class="fa fa-star star active" aria-hidden="true"></span>
       <span class="fa fa-star star active" aria-hidden="true"></span>
       <span class="fa fa-star star active" aria-hidden="true"></span>
       <span class="fa fa-star star active" aria-hidden="true"></span>
      </div>
      <div class="date">1395/02/18</div>
     </div>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     <div class="row auto comment-footer">
      <div class="score minus">
       <span class="icon">-</span><span class="value">106</span>
      </div>
      <div class="score plus">
       <span class="value">358</span><span class="icon">+</span>
      </div>
      <div class="flag"><i class="fa fa-flag-o"></i></div>
      <span class="continue">{%trans "Continue"%}</span>
     </div>
    </div>
    {% for key, value in comments()%}
    <div class="comment">
     <div class="score">
       <span class="plus" data-comment-id="{{value.id}}" data-value="{{value.comment_plus}}"></span>
       <span class="minus" data-comment-id="{{value.id}}" data-value="{{value.comment_minus}}"></span>
     </div>
     <div class="author">{{value.comment_author}}</div>
     <div class="stars">
     {%for i in 1..value.comment_meta%}
      <span class="fa fa-star star active" aria-hidden="true"></span>
      {%endfor%}
     </div>
     <p>{{value.comment_content|raw}}</p>
     <span class="continue">{%trans "Continue"%}</span>
    </div>
    {%endfor%}
   </div>
  </div><!-- /.row -->
 </div><!-- /.box -->
</div><!-- /.main -->
{%endblock%}

{%block foot_js%}
<script type="text/javascript">
function add_score_comment(_type, _data_id)
{
  $(this).ajaxify(
  {
    ajax:
    {
      method: 'post',
      data:
      {
        'type'  : _type,
        'data'  : _data_id
      },
      abort: true,
      success: function(debug)
      {
        if(debug.status)
        {
          return true;
        }
      }
    }
  });
}

function bookmark(_poll_id) {
  $.ajax(
  {
    type: 'get',
    // url: '@/polls',
    data:
    {
      'type'    : 'bookmark',
      'poll_id' : _poll_id
    },
    success: function(data)
    {}
  });
}

function load_chart(_type)
{
  if(_type == 'result')
  {
    var result = {
      chart: {
        type: 'column',
        backgroundColor: 'rgba(255, 255, 255, 0)'
      },
      exporting: {enabled: false},
      credits: {enabled: false},
      title : "",xAxis: { labels: { enabled: false }, categories: {{chart.categories | raw}}},
      yAxis: {min: 0,title: {text: 'درصد',enabled: false},labels: {enabled: false},gridLineWidth: 0,minorGridLineWidth: 0,},
      legend: {enabled: false },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
        footerFormat: '</table>',
        shared: false,
        useHTML: true
      },  plotOptions: {
            column: {
                // stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
      series: {{chart.basic| raw }}
    };
    return result;
  }

  stacked          = {{chart.stacked|json_encode(constant("JSON_UNESCAPED_UNICODE"))|raw}};
  drilldown_series = {{chart.drilldown_series|json_encode(constant("JSON_UNESCAPED_UNICODE"))|raw}};
  drilldown        = {{chart.drilldown|json_encode(constant("JSON_UNESCAPED_UNICODE"))|raw}};
  // console.log(stacked);
  // console.log(_type);
  // console.log(stacked[_type])
  x = stacked[_type];

  data = {chart: {type: 'column'},
    exporting: {enabled: false},
    credits: {enabled: false},
    legend: {enabled: false },
    title: {text: '{{chart.title}}' },
    xAxis: {labels: { enabled: false }, categories: {{chart.categories|raw}} },
    yAxis: {min: 0,title: {text: 'مجموع رای دهنگان'},
      stackLabels: {enabled: true,style: {fontWeight: 'bold',
          color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
        }
      }
    },
    legend: {align: 'right',x: -30,verticalAlign: 'top',y: 25, floating: true,
      backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
      borderColor: '#CCC',
      borderWidth: 1,
      shadow: false
    },
    tooltip: {
      headerFormat: '<b>{point.x}</b><br/>',
      pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
      column: {
        stacking: 'normal',
        dataLabels: {
          enabled: true,
          color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
        }
      }
    },
    series: eval(x)
  };

  return data;
}

$(document).ready(function() {
  $('#poll-result .chart').highcharts(load_chart('result'));

  $(".tabs li").click(function(){
    var type = $(this).attr("chart-type");
    $('#poll-result .chart').highcharts(load_chart(type));
  });

  $('.plus').on('click', function(){
    status = add_score_comment('plus', $(this).attr('data-comment-id'));
    if(status)
    {
      // $(this).html($(this).html() + 1);
    }
  });

  $('.minus').on('click', function(){
    add_score_comment('minus', $(this).attr('data-comment-id'));
    // $(this).html($(this).html() - 1);
  });

  $(".heart").on('click',function(){
    value = parseInt($(this).attr("data-value"));
    value = value + 1;
    if(value > 5)
    {
      value = 1;
    }
    $(this).attr("data-value", value);
    $(this).html(value);
    $(this).css("opacity", 0.2 * value);
  });

  $('.save-heart').on('click', function(){
    value = $(".heart").attr("data-value");
    $(this).ajaxify(
      {
        ajax:
        {
          method: 'post',
          data:
          {
            'type'  : 'heart',
            'data'  : value
          },
          abort: true,
          success: function(e, data, x)
          {}
        }
      });
  });

  $(".btn.save-answer").on("ajaxify:success", function(_xhr, _data){
    // next_url = _data.msg.callback;
    // $(".btn-answers").children().remove();
    // $("<button class='btn.save-answer'><a href='{{base.url}}/" + next_url + "' style='color:black;' data-direct>سوال بعدی</a></button>").appendTo(".btn-container");
    // $("div.opt").fadeOut();
  });

  $(document).on('click', '.comment .continue', function(event){
   $(this).parents('.comment').children('p').addClass('full');
   event.preventDefault();
   event.stopPropagation();
  });

  $(document).on('click', '.full', function(event){
   event.preventDefault();
   event.stopPropagation();
  });

  $(document).on('click', 'body', function(){
    $('.full').removeClass('full');
  });

  $('.star').on({
   mouseenter: function () {
    var index = $(this).index();
    for (var i = 0; i <= index; i++)
    {
     $(this).parent('.stars').children('.star').eq(i).addClass('hover');
    }
   },
   mouseleave: function () {
    $(this).parent('.stars').children('.star').removeClass('hover');
   }
  });

  $('.star').on('click', function(){
   var index = $(this).index();
   $(this).parent('.stars').children('.star').removeClass('active');
   for (var i = 0; i <= index; i++)
   {
    $(this).parent('.stars').children('.star').eq(i).addClass('active');
   }
   $('#user-rate').attr('value', ++index);
  });
});
</script>
{%endblock%}
