{%extends template.poll.layout%}

{%block content%}
 <div class="main pad">
  <div class="in small poll-container" data-type="{{poll_type}}">
   {{block('poll_title')}}
   {{block('poll_toolbox')}}
   {{block('poll_file')}}
   {{block('poll_summary')}}
   {{block('poll_related')}}
   {{block('poll_hint')}}
   {{block('poll_options')}}
   {{block('poll_skip')}}
   {{block('poll_actions')}}
  </div>
  <div class="row" id="poll-result">{{block('poll_chart')}}</div>
  <div class="box">
   <div class="row auto" id="poll-extra">
    <h2 class="special-heading">{%trans "Description"%}</h2>
    <div class="span4" id="poll-similar">{{block('poll_similar')}}</div>
    <div class="span4" id="poll-info">{{block('poll_info')}}</div>
    <div class="span4" id="poll-filters">{{block('poll_filters')}}</div>
   </div>

   {%if false%}
    <div class="row" id="comments-box">
     <h2 class="special-heading">{%trans "Comments"%}</h2>
     {{block('poll_comments')}}
    </div>
   {%endif%}
  </div>
 </div>
{%endblock%}














{%block content2%}
   <div class="main pad box">
    <form method="post">
     <div class="row auto">
      <section class="span6 offset3" id="poll-box">
       {{block('poll_title')}}
       <div class="row auto toolbox">
        <div class="span6 interaction">{{block('poll_interaction')}}</div>
        <div class="span6">{%include template.share%}</div>
       </div>
       {{block('poll_content')}}
       {{block('poll_read_more')}}
       {{block('poll_guide')}}
       {{block('poll_options')}}
      </section>
      {{block('poll_buttons')}}
     </div>
    </form>

    {%if poll.stats%}
    <div class="row" id="poll-result">{{block('poll_chart')}}</div>
    {%endif%}

    <div class="row auto" id="poll-extra">
     <h2 class="special-heading">{%trans "Description"%}</h2>
     <div class="span4" id="poll-similar">{{block('poll_similar')}}</div>
     <div class="span4" id="poll-info">{{block('poll_info')}}</div>
     <div class="span4" id="poll-filters">{{block('poll_filters')}}</div>
    </div>

{%if false%}
    <div class="row" id="comments-box">
     <h2 class="special-heading">{%trans "Comments"%}</h2>
     {{block('poll_comments')}}
    </div>
{%endif%}
   </div>
{%endblock%}







{%block foot_js2%}
<script type="text/javascript">
function add_score_comment(_type, _data_id)
{
  $(this).ajaxify(
  {
    ajax:
    {
      method: 'post',
      data:
      {
        'type'  : _type,
        'data'  : _data_id
      },
      abort: true,
      success: function(debug)
      {
        if(debug.status)
        {
          return true;
        }
      }
    }
  });
}

function bookmark(_poll_id) {
  $.ajax(
  {
    type: 'get',
    // url: '@/polls',
    data:
    {
      'type'    : 'bookmark',
      'poll_id' : _poll_id
    },
    success: function(data)
    {}
  });
}

// function load_chart(_type)
// {
//   if(_type == 'result')
//   {
//     var result = {
//       chart: {
//         type: 'column',
//         backgroundColor: 'rgba(255, 255, 255, 0)'
//       },
//       exporting: {enabled: false},
//       credits: {enabled: false},
//       title : "",xAxis: { labels: { enabled: false }, categories: {{chart.categories | raw}}},
//       yAxis: {min: 0,title: {text: 'درصد',enabled: false},labels: {enabled: false},gridLineWidth: 0,minorGridLineWidth: 0,},
//       legend: {enabled: false },
//       tooltip: {
//         headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
//         pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
//         footerFormat: '</table>',
//         shared: false,
//         useHTML: true
//       },  plotOptions: {
//             column: {
//                 // stacking: 'normal',
//                 dataLabels: {
//                     enabled: true,
//                     color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
//                 }
//             }
//         },
//       series: {{chart.basic| raw }}
//     };
//     return result;
//   }

//   // stacked          = {{chart.stacked|json_encode(constant("JSON_UNESCAPED_UNICODE"))|raw}};
//   // drilldown_series = {{chart.drilldown_series|json_encode(constant("JSON_UNESCAPED_UNICODE"))|raw}};
//   // drilldown        = {{chart.drilldown|json_encode(constant("JSON_UNESCAPED_UNICODE"))|raw}};
//   // console.log(stacked);
//   // console.log(_type);
//   // console.log(stacked[_type])
//   x = stacked[_type];

//   data = {chart: {type: 'column'},
//     exporting: {enabled: false},
//     credits: {enabled: false},
//     legend: {enabled: false },
//     title: {text: '{{chart.title}}' },
//     xAxis: {labels: { enabled: false }, categories: {{chart.categories|raw}} },
//     yAxis: {min: 0,title: {text: 'مجموع رای دهنگان'},
//       stackLabels: {enabled: true,style: {fontWeight: 'bold',
//           color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
//         }
//       }
//     },
//     legend: {align: 'right',x: -30,verticalAlign: 'top',y: 25, floating: true,
//       backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
//       borderColor: '#CCC',
//       borderWidth: 1,
//       shadow: false
//     },
//     tooltip: {
//       headerFormat: '<b>{point.x}</b><br/>',
//       pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
//     },
//     plotOptions: {
//       column: {
//         stacking: 'normal',
//         dataLabels: {
//           enabled: true,
//           color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
//         }
//       }
//     },
//     series: eval(x)
//   };

//   return data;
// }

$(document).ready(function() {
  // $('#poll-result .chart').highcharts(load_chart('result'));

  // $(".tabs li").click(function(){
  //   var type = $(this).attr("chart-type");
  //   $('#poll-result .chart').highcharts(load_chart(type));
  // });

  $('.plus').on('click', function(){
    status = add_score_comment('plus', $(this).attr('data-comment-id'));
    if(status)
    {
      // $(this).html($(this).html() + 1);
    }
  });

  $('.minus').on('click', function(){
    add_score_comment('minus', $(this).attr('data-comment-id'));
    // $(this).html($(this).html() - 1);
  });

  $(".heart").on('click',function(){
    value = parseInt($(this).attr("data-value"));
    value = value + 1;
    if(value > 5)
    {
      value = 1;
    }
    $(this).attr("data-value", value);
    $(this).html(value);
    $(this).css("opacity", 0.2 * value);
  });

  $('.save-heart').on('click', function(){
    value = $(".heart").attr("data-value");
    $(this).ajaxify(
      {
        ajax:
        {
          method: 'post',
          data:
          {
            'type'  : 'heart',
            'data'  : value
          },
          abort: true,
          success: function(e, data, x)
          {}
        }
      });
  });

  $(".btn.save-answer").on("ajaxify:success", function(_xhr, _data){
    // next_url = _data.msg.callback;
    // $(".btn-answers").children().remove();
    // $("<button class='btn.save-answer'><a href='{{base.url}}/" + next_url + "' style='color:black;' data-direct>سوال بعدی</a></button>").appendTo(".btn-container");
    // $("div.opt").fadeOut();
  });

  $(document).on('click', '.comment .continue', function(event){
   $(this).parents('.comment').children('.comment-body').addClass('full');
   event.preventDefault();
   event.stopPropagation();
  });

  $(document).on('click', '.full', function(event){
   event.preventDefault();
   event.stopPropagation();
  });

  $(document).on('click', 'body', function(){
    $('.full').removeClass('full');
  });
});
</script>
{%endblock%}
