 {%extends display.main%}

{%block poll_title%}
{% spaceless %}
 <h2>{{post.post_title}}</h2>
{% endspaceless %}
{%endblock%}


{%block poll_interaction%}
{% spaceless %}
 <input type="checkbox" name="favorite" id="favorite">
 <label for="favorite" class="icon-star"></label>
 <input type="checkbox" name="heart" id="heart">
 <label for="heart" class="icon-heart like"></label>
{% endspaceless %}
{%endblock%}


{%block poll_content%}
{% spaceless %}
{%if post.post_content%}
 <p>{{post.post_content}}</p>
{%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_read_more%}
{% spaceless %}
{%if article%}
 <div class="read-more">
  <span>{%trans "Read More"%}</span>
  <a href="{{article.url}}">{{article.title}}</a>
 </div>
{%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_guide%}
{% spaceless %}
 <div class="poll-guide">{%trans "You can select just two options."%}</div>
{% endspaceless %}
{%endblock%}

{%block poll_options%}
{% spaceless %}
 {%if post.post_meta.opt%}{#check post meta exist#}
  {%if multiple_choice%}
   <ul>
   {%for key, value in post.post_meta.opt%}
    <li>
     <input type="checkbox" name="{{value.key}}" id="check_{{value.key}}" class="answer-link" data-key="{{value.key}}" value="{{value.txt}}">
     <label for="check_{{value.key}}" data-number="{{key + 1}}">{{value.txt}}</label>
    </li>
   {%endfor%}
   {%if descriptive%}
    <li>
     <input type="checkbox" id="check_other" class="answer-link" data-key="opt_{{post.post_meta.opt|length + 1}}" value="other">
     <label for="check_other" data-number="{{post.post_meta.opt|length + 1}}"><input type="text" name="opt_other"></label>
    </li>
   {%endif%}
   </ul>
  {%else%}{#muliple_choice not set load the radio mod#}
   <ul>
   {%for key, value in post.post_meta.opt%}
    <li>
     <span class="checkbox">
      <input type="radio" name="radio" id="radio_{{value.key}}" class="answer-link" data-key="{{value.key}}" value="{{value.key}}">
      <label class="check-box" for="radio_{{value.key}}" data-number="{{key + 1}}"></label>
     </span>
     <label for="radio_{{value.key}}" data-number="{{key + 1}}">
      {{value.txt}}
     </label>
    </li>
   {%endfor%}
   {%if descriptive%}
    <li>
     <input type="radio" name="radio" id="radio_other" class="answer-link" data-key="opt_{{post.post_meta.opt|length + 1}}" value="other">
     <label for="radio_other" data-number="{{post.post_meta.opt|length + 1}}"><input type="text" name="opt_other"></label>
    </li>
   {%endif%}
   </ul>
  {%endif%}{#multiple_choice check end#}
  <input type="submit" name="opt_0" value='{%trans "I am not willing to answer"%}' class="skip">
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_buttons%}
{% spaceless %}
 <div class="btn-container poll">
 {%if post.post_meta.opt%}{#check post meta exist#}
  <button class="btn secondary save-answer"
    {% if login %}{%else%} disabled="disabled" {%endif%}>{%trans "Save Answer"%}
  </button>
 {%else%}
  <a class="btn save-answer" href="ask" data-direct>{%trans "Ask Me"%}</a>
 {%endif%}
 </div>
{% endspaceless %}
{%endblock%}


{%block poll_chart%}
{% spaceless %}
 <div class="menu">
  <div class="menu-inside">
   <input type="radio" name="chart_result" id="chart_result" value="result" checked>
   <label for="chart_result"><span>{%trans "result"%}</span></label>
   {%for key, value in chart.stacked%}
   <input type="radio" name="chart_result" id="chart_{{key}}" value="{{key}}">
   <label for="chart_{{key}}"><span>{{key|trans}}</span></label>
   {%endfor%}
  </div>
 </div>
 {{block('chart')}}
{% endspaceless %}
{%endblock%}


{%block chart%}
{% spaceless %}
 <div class="chart"></div>
{% endspaceless %}
{%endblock%}


{%block poll_similar%}
{% spaceless %}

 <div class="title">{%trans "Similar Questions"%}</div>
 {%if similar_post()%}
  <ul>
   {%for key, value in similar_post()%}
   <li><a href="{{url.prefix}}/{{value.url}}">{{value.title}}</a></li>
   {%endfor%}
  </ul>
 {%else%}
  <div class="content">{%trans "There is no similar post"%}</div>
 {%endif%}

{% endspaceless %}
{%endblock%}


{%block poll_info%}
{% spaceless %}
{{block('poll_period')}}
{{block('poll_status')}}
{{block('poll_tags')}}
{% endspaceless %}
{%endblock%}


{%block poll_period%}
{% spaceless %}
 <div class="title">{%trans "Poll timespan"%}</div>
 {%if date_start or date_end%}
  <div class="content period">
   <span class="start-time">{{date_start}}</span><span>{%trans "to"%}</span><span class="end-time">{{date_end}}</span>
  </div>
 {%else%}
  <div class="content">{%trans "Not set"%}</div>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_status%}
{% spaceless %}
 <div class="title">{%trans "Status"%}</div>
 <div class="content status {{status}}">{{status}}</div>
{% endspaceless %}
{%endblock%}

{%block poll_tags%}
{% spaceless %}
 <div class="title">{%trans "Keyword"%}</div>
 {%if tags()%}
  <div class="content tags">{{tags({"html":true})}}</div>
 {%else%}
  <div class="content">{%trans "Not set"%}</div>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_filters%}
{% spaceless %}
 <div class="title">{%trans "Statistical population"%}</div>
 {%if filters%}
  {%for key, value in filters%}
   <span><i class="fa fa-2x fa-{{value.icon}}" aria-hidden="true"></i> {{value.filter}}</span>
  {%endfor%}
 {%else%}
  <div class="content no-data">{%trans "Not set"%}</div>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_comments%}
{% spaceless %}
 <div class="row auto">
  {{block('comments_overall')}}
  {{block('comment')}}
  {{block('comment')}}
 </div>
 <div class="row auto">
  {{block('user_comment')}}
  {{block('comment')}}
  {{block('comment')}}
 </div>
{% endspaceless %}
{%endblock%}


{%block comments_overall%}
{% spaceless %}
 <div class="span4">
 {%if rate.total%}
  <div class="overall">
   {%if site.currentlang == "fa"%}{{rate.total|persian}}{%else%}{{rate.total}}{%endif%}
  </div>

  <div class="stars total">
   {%for i in 1..rate.total%}
   <span class="icon-star star active"></span>
   {%endfor%}
   <span class="number">?</span>
  </div>

  <div class="bars">
   <div class="bar one" style="width:width:{{rate.rate5 * 20}}%"></div>
   <div class="bar two" style="width:{{rate.rate4 * 20}}%" ></div>
   <div class="bar three" style="width:{{rate.rate3 * 20}}%" ></div>
   <div class="bar four" style="width:{{rate.rate2 * 20}}%" ></div>
   <div class="bar five" style="width:{{rate.rate1 * 20}}%" ></div>
  </div>
 {%else%}
  <div>{%trans "There is nothing to display!"%}</div>
 {%endif%}
 </div>
{% endspaceless %}
{%endblock%}


{%block user_comment%}
{% spaceless %}
 <div class="span4 user-comment">
  <form method="post">
   <div class="title">{%trans "What is your opinion? Please rate this poll."%}</div>
   <textarea></textarea>
   <div class="row auto footer">
    <div class="span6">
      <div class="star-rating-wrap">
        <input class="star-rating-input" id="star-rating-5" type="radio" name="rating" value="5">
        <label class="star-rating-ico icon-star-o" for="star-rating-5" title="5 out of 5 stars"></label>
        <input class="star-rating-input" id="star-rating-4" type="radio" name="rating" value="4">
        <label class="star-rating-ico icon-star-o" for="star-rating-4" title="4 out of 5 stars"></label>
        <input class="star-rating-input" id="star-rating-3" type="radio" name="rating" value="3">
        <label class="star-rating-ico icon-star-o" for="star-rating-3" title="3 out of 5 stars"></label>
        <input class="star-rating-input" id="star-rating-2" type="radio" name="rating" value="2">
        <label class="star-rating-ico icon-star-o" for="star-rating-2" title="2 out of 5 stars"></label>
        <input class="star-rating-input" id="star-rating-1" type="radio" name="rating" value="1">
        <label class="star-rating-ico icon-star-o" for="star-rating-1" title="1 out of 5 stars"></label>
      </div>
    </div>
    <div class="span6">
      <button class="submit-comment">{%trans "Submit"%}</button>
    </div>
   </div>
  </form>
 </div>
{% endspaceless %}
{%endblock%}


{%block comment%}
{% spaceless %}
 <div class="span4">
  <div class="comment">
   <div class="comment-header">
    <div class="author">sahelekaj</div>
    <div class="stars">
     <span class="icon-star star active" aria-hidden="true"></span>
     <span class="icon-star star active" aria-hidden="true"></span>
     <span class="icon-star star active" aria-hidden="true"></span>
     <span class="icon-star star active" aria-hidden="true"></span>
     <span class="icon-star star active" aria-hidden="true"></span>
    </div>
    <div class="date">1395/02/18</div>
   </div>
   <div class="comment-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="row auto comment-footer">
     <div class="score minus">
      <span class="icon">-</span><span class="value">106</span>
     </div>
     <div class="score plus">
      <span class="value">358</span><span class="icon">+</span>
     </div>
     <div class="flag"><i class="icon-flag-o"></i></div>
     <span class="continue">{%trans "Continue"%}</span>
    </div>
   </div>
  </div>
 </div>
{% endspaceless %}
{%endblock%}
