{%extends display.main%}


{%block poll_title%}
{% spaceless %}
 {%if poll.title%}
  <h2>{{poll.title|raw}}</h2>
 {%else%}
  <h2>{%trans "Unfortunately there is no title to show!"%}</h2>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_toolbox%}
{% spaceless %}

 <div class="poll-toolbox">
  <div class="like-fav">
   <input type="checkbox" name="favorite" id="favorite" {% if poll.my_fav %} checked="checked" {% endif %}>
   <label for="favorite" class="icon-star icon-2x"></label>
   <input type="checkbox" name="heart" id="heart" {% if poll.my_like %} checked="checked" {% endif %}>
   <label for="heart" class="icon-heart icon-2x"></label>
  </div>
  {%include template.share%}
 </div>
{% endspaceless %}
{%endblock%}


{%block poll_file%}
{% spaceless %}
 {%if poll.file%}
  <img src="{{poll.file.url}}" alt="{{poll.title|raw}}" class="poll-image" data-type={{poll.file.type}}>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_summary%}
{% spaceless %}
 {%if poll.content%}
  <p class="poll-summary">{{poll.content}}</p>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_related%}
{% spaceless %}
 {%if article_titles%}
  <div class="poll-related">
   <div>{%trans "Read More"%}</div>
   <ul>
    {%for key, value in article_titles%}
     <li>
      <a href="${{key}}">{{value}}</a>
     </li>
    {%endfor%}
   </ul>
  </div>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_hint%}
{% spaceless %}
 {%if poll.options.multi%}
  <div class="poll-hint">
   <span>{%trans "You can select just two options."%}</span>
  </div>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_options%}
{% spaceless %}
 {%if poll.answers%}
 <ul class="poll-options" data-answer-type="{{poll_type}}">
 {% set myKey = 0 %}
  {%if poll.options.multi%}{# if muliple_choice #}
   {%for key, value in poll.answers%}
    {%if value.type == 'descriptive' %}

    <li>
     <label for="check_other">
      <div class="option-number" data-number='{% set myKey = myKey + 1%}{{myKey|fitNumber}}'></div>
      <div class="option-content">
       <input {% if answer_lock %} disabled="disabled" {% endif %} type="text" name="descriptive" placeholder="{{value.title}}" {% if poll.my_answer[value.key] %} value="{{poll.my_answer[value.key]}}" {% endif %}>
      </div>
      <span class="checkbox">
       <input {% if answer_lock %} disabled="disabled" {% endif %} type="checkbox" name="check_{{value.key}}" id="check_{{value.key}}" value="{{value.key}}" {% if poll.my_answer[value.key] %} checked="checked" {% endif %}>
       <label for="check_{{value.key}}"></label>
      </span>
     </label>
    </li>

    {%else%}

     <li>
      <label for="check_{{value.key}}">
       <div class="option-number" data-number='{% set myKey = myKey + 1%}{{myKey|fitNumber}}'></div>
       <div class="option-content">{{value.title}}</div>
       <div class="checkbox">
        <input {% if answer_lock %} disabled="disabled" {% endif %} type="checkbox" name="check_{{value.key}}" id="check_{{value.key}}" value="{{value.key}}" {% if poll.my_answer[value.key] %} checked="checked" {% endif %}>
        <label for="check_{{value.key}}"></label>
       </div>
      </label>
     </li>

    {%endif%}
   {%endfor%}
  {%else%}{# if not muliple_choice #}
   {%for key, value in poll.answers%}
    {%if value.type == 'descriptive' %}

     <li>
      <label for="radio_other">
       <div class="option-number" data-number='{% set myKey = myKey + 1%}{{myKey|fitNumber}}'></div>
       <div class="option-content">
        <input {% if answer_lock %} disabled="disabled" {% endif %} type="text" name="descriptive" placeholder="{{value.title}}" data-response='radio_other' {% if poll.my_answer[value.key] %} value="{{poll.my_answer[value.key]}}" {% endif %}>
       </div>
       <span class="checkbox">
        <input {% if answer_lock %} disabled="disabled" {% endif %} type="radio" name="anwserOpt" id="radio_{{value.key}}" value="{{value.key}}" {% if poll.my_answer[value.key] %} checked="checked" {% endif %}>
        <label for="radio_{{value.key}}"></label>
       </span>
      </label>
     </li>

    {%else%}

     <li>
      <label for="radio_{{value.key}}">
       <div class="option-number" data-number='{% set myKey = myKey + 1%}{{myKey|fitNumber}}'></div>
       <div class="option-content">{{value.title}}</div>
       <span class="checkbox">
        <input {% if answer_lock %} disabled="disabled" {% endif %} type="radio" name="anwserOpt" id="radio_{{value.key}}" value="{{value.key}}" {% if poll.my_answer[value.key] %} checked="checked" {% endif %}>
        <label for="radio_{{value.key}}"></label>
       </span>
      </label>
     </li>

    {%endif%}
   {%endfor%}
  {%endif%}
 </ul>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_skip%}
{% spaceless %}
 {%if poll.answers%}
  <div class="poll-skip">
   <input {% if answer_lock %} disabled="disabled" {% endif %} type="submit" id="skipAnswers" value='{%trans "I am not willing to answer"%}'>
  </div>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_actions%}
{% spaceless %}
 <div class="poll-actions">
  {%if poll.answers%}
   <button class="special-btn" id="saveAnswers" type="submit" {%if not login or answer_lock %} disabled {% endif %} >{%trans "Save Answer"%}</button>
  {%else%}
   <a class="special-btn" href="ask" data-direct>{%trans "Ask Me"%}</a>
  {%endif%}
 </div>
{% endspaceless %}
{%endblock%}







{%block poll_interaction2%}
{% spaceless %}
 <input type="checkbox" name="favorite" id="favorite">
 <label for="favorite" class="icon-star"></label>
 <input type="checkbox" name="heart" id="heart">
 <label for="heart" class="icon-heart like"></label>
{% endspaceless %}
{%endblock%}

{%block poll_content2%}
{% spaceless %}
{%if poll.content%}
 <p>{{poll.content}}</p>
{%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_read_more2%}
{% spaceless %}
{%if article_titles%}
 <div class="read-more">
  <span>{%trans "Read More"%}</span>
  {%for key, value in article_titles%}
  <a href="${{key}}">{{value}}</a>
  {%endfor%}
 </div>
{%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_guide2%}
{% spaceless %}
 {%if poll.options.multi%}
  <div class="poll-guide">{%trans "You can select just two options."%}</div>
 {%endif%}
{% endspaceless %}
{%endblock%}

{%block poll_options2%}
{% spaceless %}
 {%if poll.answers%}{#check post meta exist#}
  {%if poll.options.multi%}
   <ul>
   {%for key, value in poll.answers%}

   {%if value.type == 'descriptive' %}
    <li>
     <input type="checkbox" id="check_other" class="answer-link" data-key="opt_{{key}}" value="other">
     <label for="check_other" data-number="{{key}}"><input type="text" name="{{key}}" name="opt_other"></label>
    </li>
    {%else%}
    <li>
     <input type="checkbox" name="check_{{key}}" id="check_{{key}}"  class="answer-link" data-key="{{key}}" value="{{value.title}}">
     <label for="check_{{key}}" data-number="{{key}}">{{value.title}}</label>
    </li>
   {%endif%}

   {%endfor%}
   </ul>
  {%else%}{#muliple_choice not set load the radio mod#}
   <ul>
   {%for key, value in poll.answers%}

    {%if value.type == 'descriptive' %}
    <li>
     <input type="radio" name="radio" id="radio_other" class="answer-link" data-key="opt_{{key}}" value="other">
     <label for="radio_other" data-number="{{key}}"><input type="text" name="opt_other"></label>
    </li>
    {%else%}
    <li>
     <span class="checkbox">
      <input type="radio" name="radio" id="radio_{{key}}" class="answer-link" data-key="{{key}}"  value="{{key}}">
      <label class="check-box" for="radio_{{key}}" data-number="{{key}}"></label>
     </span>
     <label for="radio_{{key}}" data-number="{{key}}">
      {{value.title}}
     </label>
    </li>
   {%endif%}
   {%endfor%}
   </ul>
  {%endif%}
  <input type="submit" name="opt_0" value='{%trans "I am not willing to answer"%}' class="skip">
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_buttons2%}
{% spaceless %}
 <div class="btn-container poll">
 {%if poll.answers%}
  <button class="btn secondary save-answer"
    {% if login %}{%else%} disabled="disabled" {%endif%}>{%trans "Save Answer"%}
  </button>
 {%else%}
  <a class="btn save-answer" href="ask" data-direct>{%trans "Ask Me"%}</a>
 {%endif%}
 </div>
{% endspaceless %}
{%endblock%}


{%block poll_chart%}
{% spaceless %}
 <div class="menu">
  <div class="menu-inside">
   <input type="radio" name="chart_result" id="chart_result" value="result" checked>
   <label for="chart_result"><span>{%trans "result"%}</span></label>
   {%for key, value in chart.stacked%}
   <input type="radio" name="chart_result" id="chart_{{key}}" value="{{key}}">
   <label for="chart_{{key}}"><span>{{key|trans}}</span></label>
   {%endfor%}
  </div>
 </div>
 {{block('chart')}}
{% endspaceless %}
{%endblock%}


{%block chart%}
{% spaceless %}
 <div class="chart unselectable" data-type='column' data-vals='{{poll_total_stats|raw}}'></div>
{% endspaceless %}
{%endblock%}


{%block poll_similar%}
{% spaceless %}
 {% set similar =  similar_post({"post_id":poll.id|shortURL('decode'),"term_type" :"sarshomar%" , "termusage_foreign": "tag"})%}
 {% if similar %}
 <div class="title">{%trans "Similar Questions"%}</div>
  <ul>
   {%for key, value in similar%}
   <li><a href="{{url.base}}/{{value.url}}">{{value.title}}</a></li>
   {%endfor%}
  </ul>
  {% else %}
    {% set last_post =  post_search({"post_type":"poll","post_status" :"publish" , "post_privacy": "public", "order":"desc"}) %}
    {% if last_post %}
    <div class="title">{%trans "Last Questions"%}</div>
    <ul>
     {%for key, value in last_post%}
     <li><a href="{{url.base}}/{{value.post_url}}">{{value.post_title}}</a></li>
     {%endfor%}
    </ul>
    {%else%}
    <div class="title">{%trans "Similar Questions"%}</div>
    <div class="content">{%trans "There is no similar post"%}</div>
    {% endif %}
  {% endif %}
{% endspaceless %}
{%endblock%}


{%block poll_info%}
{% spaceless %}
{{block('poll_period')}}
{{block('poll_status')}}
{{block('poll_tags')}}
{% endspaceless %}
{%endblock%}


{%block poll_period%}
{% spaceless %}
 <div class="title">{%trans "Poll timespan"%}</div>
 {%if poll.schedule.start or poll.schedule.end %}
  <div class="content period">
   <span class="start-time">{{poll.schedule.start}}</span><span>{%trans "to"%}</span><span class="end-time">{{poll.schedule.end}}</span>
  </div>
 {%else%}
  <div class="content">{%trans "Not set"%}</div>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_status%}
{% spaceless %}
 <div class="title">{%trans "Status"%}</div>
 {% set myStatus = poll.status %}
 <div class="content status {{poll.status}}">{% trans myStatus %}</div>
{% endspaceless %}
{%endblock%}

{%block poll_tags%}
{% spaceless %}
 <div class="title">{%trans "Keyword"%}</div>
 {%if poll.tags%}
  <div class="content tags">
  {%for key, value in poll.tags%}
   <a href="#">{{value}}</a>
  {%endfor%}
  </div>
 {%else%}
  <div class="content">{%trans "Not set"%}</div>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_filters%}

{% spaceless %}
 <div class="title">{%trans "Statistical population"%}</div>
 {%if poll.filters%}
  {%for key, value in poll.filters%}
    {% if key == 'count' %}
    <!-- count member is {{value}} -->
      {% else %}
        {% for k, v in value%}
        <span><i class="fa fa-2x fa-{{k}}" aria-hidden="true"></i>{{v}}</span>
        {%endfor%}
    {% endif %}
  {%endfor%}
 {%else%}
  <div class="content no-data">{%trans "Not set"%}</div>
 {%endif%}
{% endspaceless %}
{%endblock%}


{%block poll_comments%}
{% spaceless %}
 <div class="row auto">
  {{block('comments_overall')}}
  {{block('comment')}}
  {{block('comment')}}
 </div>
 <div class="row auto">
  {{block('user_comment')}}
  {{block('comment')}}
  {{block('comment')}}
 </div>
{% endspaceless %}
{%endblock%}


{%block comments_overall%}
{% spaceless %}
 <div class="span4">
 {%if rate.total%}
  <div class="overall">
   {%if site.currentlang == "fa"%}{{rate.total | fitNumber}}{%else%}{{rate.total}}{%endif%}
  </div>

  <div class="stars total">
   {%for i in 1..rate.total%}
   <span class="icon-star star active"></span>
   {%endfor%}
   <span class="number">?</span>
  </div>

  <div class="bars">
   <div class="bar one" style="width:width:{{rate.rate5 * 20}}%"></div>
   <div class="bar two" style="width:{{rate.rate4 * 20}}%" ></div>
   <div class="bar three" style="width:{{rate.rate3 * 20}}%" ></div>
   <div class="bar four" style="width:{{rate.rate2 * 20}}%" ></div>
   <div class="bar five" style="width:{{rate.rate1 * 20}}%" ></div>
  </div>
 {%else%}
  <div>{%trans "There is nothing to display!"%}</div>
 {%endif%}
 </div>
{% endspaceless %}
{%endblock%}


{%block user_comment%}
{% spaceless %}
 <div class="span4 user-comment">
  <form method="post">
   <div class="title">{%trans "What is your opinion? Please rate this poll."%}</div>
   <textarea></textarea>
   <div class="row auto footer">
    <div class="span6">
      <div class="star-rating-wrap">
        <input class="star-rating-input" id="star-rating-5" type="radio" name="rating" value="5">
        <label class="star-rating-ico icon-star-o" for="star-rating-5" title="5 out of 5 stars"></label>
        <input class="star-rating-input" id="star-rating-4" type="radio" name="rating" value="4">
        <label class="star-rating-ico icon-star-o" for="star-rating-4" title="4 out of 5 stars"></label>
        <input class="star-rating-input" id="star-rating-3" type="radio" name="rating" value="3">
        <label class="star-rating-ico icon-star-o" for="star-rating-3" title="3 out of 5 stars"></label>
        <input class="star-rating-input" id="star-rating-2" type="radio" name="rating" value="2">
        <label class="star-rating-ico icon-star-o" for="star-rating-2" title="2 out of 5 stars"></label>
        <input class="star-rating-input" id="star-rating-1" type="radio" name="rating" value="1">
        <label class="star-rating-ico icon-star-o" for="star-rating-1" title="1 out of 5 stars"></label>
      </div>
    </div>
    <div class="span6">
      <button class="submit-comment">{%trans "Submit"%}</button>
    </div>
   </div>
  </form>
 </div>
{% endspaceless %}
{%endblock%}


{%block comment%}
{% spaceless %}
 <div class="span4">
  <div class="comment">
   <div class="comment-header">
    <div class="author">sahelekaj</div>
    <div class="stars">
     <span class="icon-star star active" aria-hidden="true"></span>
     <span class="icon-star star active" aria-hidden="true"></span>
     <span class="icon-star star active" aria-hidden="true"></span>
     <span class="icon-star star active" aria-hidden="true"></span>
     <span class="icon-star star active" aria-hidden="true"></span>
    </div>
    <div class="date">1395/02/18</div>
   </div>
   <div class="comment-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="row auto comment-footer">
     <div class="score minus">
      <span class="icon">-</span><span class="value">106</span>
     </div>
     <div class="score plus">
      <span class="value">358</span><span class="icon">+</span>
     </div>
     <div class="flag"><i class="icon-flag-o"></i></div>
     <span class="continue">{%trans "Continue"%}</span>
    </div>
   </div>
  </div>
 </div>
{% endspaceless %}
{%endblock%}
