{%extends display.election%}
{%block content%}

{{block('running')}}

{%if election_list%}
	<h5>{%trans "Election List"%}</h5>
	<div class="f">
		<div class="c5">{%trans "title" %}</div>
		<div>{%trans "status" %}</div>
		<div>{%trans "add en_url" %}</div>
		<div>{%trans "add fa_url" %}</div>
		<div>{%trans "add result" %}</div>
		<div>{%trans "add city result" %}</div>
	</div>
	{%for key, value in election_list%}
	<dif class="f">
		<div class="c5">{{value.title}}</div>
		<div>{{value.status}}</div>
		<div><a href="{{url.base}}/election/{{value.en_url}}">{%trans "En url"%}</a></div>
		<div><a href="{{url.base}}/election/{{value.fa_url}}">{%trans "Fa url"%}</a></div>
		<div><a href="{{url.base}}/election/data/report/{{value.id}}">{%trans "Add report"%}</a></div>
		<div><a href="{{url.base}}/election/data/result/{{value.id}}/place">{%trans "Add place"%}</a></div>
	</div>
	{%endfor%}
{%endif%}
{%endblock%}

{%block running%}
	{%if running%}
		<h5>{%trans "Running Election"%}</h5>
		{%for key, value in running%}
			<div class="f">
				<span>
				<h6>
					<a href="{{url.base}}/election/{{value.fa_url}}">{{value.title}}</a></h5>
				</h6>
				</span>
			</div>
		{%endfor%}
	{%endif%}
{%endblock%}