{%extends display.mvc%}

{%block head_css%}
 <link rel="stylesheet"       href="{{url.static}}css/responsive.css">
 <link rel="stylesheet"       href="{{url.static}}css/enter.css">
{%endblock%}


{%block foot_js%}

  <script src="{{url.static}}js/enter.js"></script>
{%endblock%}


{%block body%}
<div class='enter'>
 <h1 class='logo'>
  <a class='logo' href='{{url.base}}' tabindex='1'>
{%if site.currentlang =='fa'%}
   <img src='{{url.static}}images/logo/sarshomar-logo-fa.svg' alt='{{site.title}} | {{site.desc}}'>
{%else%}
   <img src='{{url.static}}images/logo/sarshomar-logo.svg' alt='{{site.title}} | {{site.desc}}'>
{%endif%}
   <span>{%trans "Sarshomar"%}</span>
  </a>
 </h1>

 <h2>
  <span class="notif" data-wait='{%trans "Please be patient, we are generating keys"%}'>{%trans "Enter to Sarshomar"%}</span>
  <span class="loader"><span></span><span></span><span></span></span>
 </h2>

 <div class='f field usernameBox'>
  <label for='username' class='c1 flex justify-center align-center'>
   <span class='hide'>{%trans "Mobile"%}</span>
   <span class='icon-mobile2'></span>
  </label>
  <input id='username' type='tel' class='c' maxlength="15" pattern=".{7,}" placeholder='{%trans "Mobile"%}' data-invalid='{%trans "Please enter valid mobile number"%}' value="{{get_mobile}}" autocomplete="off" >
 </div>

 <div class='f field passcodeBox'>
  <label for='passcode' class='c1 flex justify-center align-center'>
   <span class='hide'>{%trans "Password"%}</span>
   <span class='icon-key2'></span>
  </label>
  <input id='passcode' type='password' class='c' placeholder='{%trans "Password"%}' autocomplete="off" >
 </div>

 <div class='f field pinBox'>
  <label for='pin' class='c1 flex justify-center align-center'>
   <span class='hide'>{%trans "Pin"%}</span>
   <span>PIN</span>
  </label>
  <input id='pin' type='password' class='c' placeholder='{%trans "Pin"%}' autocomplete="off" >
 </div>

 <div class='f field codeBox'>
  <label for='code' class='c1 flex justify-center align-center'>
   <span class='hide'>{%trans "Code"%}</span>
   <span class="icon-barcode"></span>
  </label>
  <input id='code' type='number' class='c' placeholder='{%trans "Code"%}' autocomplete="off" >
 </div>

 <div class='field goBox'>
  <button id="go" type="submit">{%trans "Go"%}</button>
 </div>
</div>
{%endblock%}