{%extends display.mvc%}

{%block head_css%}
 <link rel="stylesheet"       href="{{url.static}}css/responsive.css">
 <link rel="stylesheet"       href="{{url.static}}css/enter.css">
{%endblock%}


{%block foot_js%}

  <script src="{{url.static}}js/enter.js"></script>
{%endblock%}


{%block body%}
<div class='f enter'>
 <div class='c3 x2 m4 s12 sidebox' autocomplete="off">

  <h1 class='logo'>
   <a class='logo' href='{{url.base}}' tabindex='1'>
{%if site.currentlang =='fa'%}
    <img src='{{url.static}}images/logo/sarshomar-logo-fa.svg' alt='{{site.title}} | {{site.desc}}'>
{%else%}
    <img src='{{url.static}}images/logo/sarshomar-logo.svg' alt='{{site.title}} | {{site.desc}}'>
{%endif%}
    <span>{%trans "Sarshomar"%}</span>
   </a>
  </h1>

  <h2>
   <span class="notif" data-wait='{%trans "Please be patient, we are generating keys"%}'>{%trans "Enter to Sarshomar"%}</span>
   <div class="loader"><span></span><span></span><span></span></div>
  </h2>

  <div class='usernameBox'>
   <label for='username'>{%trans "Mobile"%}</label>
   <input id='username' type='tel' required maxlength="15" pattern=".{7,}" placeholder='{%trans "Mobile"%}' data-invalid='{%trans "error in mobile..."%}' {%if get_mobile%} value="{{get_mobile}}"{%endif%} autocomplete="false" readonly>
  </div>

  <div class='passcodeBox'>
   <label for='passcode'>{%trans "Password"%}</label>
   <input id='passcode' type='password' placeholder='{%trans "Password"%}' autocomplete="false">
  </div>

  <div class='pinBox'>
   <label for='pin'>{%trans "Pin"%}</label>
   <input id='pin' type='password' placeholder='{%trans "Pin"%}' autocomplete="false">
  </div>

  <div class='goBox'>
   <label for='go'>{%trans "Go"%}</label>
   <button id="go" type="submit">{%trans "Go"%}</button>
  </div>

 </div>
</div>
{%endblock%}