{%extends display.main%} {%block content%}
<aside class='dashboard-aside'>
    <form method="post" class="ui-language">
            <select name="ui-language">
                <option value="">واحد مالی</option>
                <option value="en">تومان</option>
                <option value="fa">دلار</option>
            </select>
            <input type="submit" value="تعیین" class="try">
    </form>
</aside>
<div class="main billing" {% if verify_modal %} data-modal='billing-verify' {% endif %}>
    <div>
        <div class="in xxlarge">
            <div class="billing-stats row auto">
                <div class="billing-info span4">
                    <div class="icon">
                        <img alt="Coin" src="{{url.static}}images/gateway/coin.svg" class="flip-rtl" width="60" height="60">
                    </div>
                    <div>
                        <h5 class="title">{%trans "Your Money"%}</h5>
                        <div class="amount"><span>{{user_cash}}</span> <span>{%trans user_unit%}</span></div>
                    </div>
                </div>
                <div class="billing-info span4">
                    <div class="icon">
                        <img alt="Gift" src="{{url.static}}images/gateway/gift.svg" width="60" height="60">
                    </div>
                    <div>
                        <h5 class="title">{%trans "Your Gift"%}</h5>
                        <div class="amount"><span>{{user_cash_gift}}</span> <span>{%trans user_unit%}</span></div>
                    </div>
                </div>
                <div class="billing-info span4">
                    <div class="icon">
                        <img alt="Money bag" src="{{url.static}}images/gateway/money-bag.svg" width="60" height="60">
                    </div>
                    <div>
                        <h5 class="title">{%trans "Your Credit"%}</h5>
                        <div class="amount"><strong><span>{{user_cash + user_cash_gift}}</span> <span>{%trans user_unit%}</span></strong></div>
                    </div>
                </div>
            </div>
            <div class="billing-info charge-account-box">
                <div class="row auto">
                    <h3 class="title" id="charge-account">{%trans "Charge your account"%}</h3>
                    <div class="charge-amount">{%trans "Choose a gateway and enter an amount to charge your account"%}</div>
                    <div class="gateways">
                        <form class="row auto" method="post">
                            <div class="span6">
                        <label><span>
                            <input type="radio" name="bank" id="ZarinPal" value="ZarinPal" checked>
                            <img alt="ZarrinPal" src="{{url.static}}images/gateway/ZarinPal.svg" width="60" height="60">
                        </span></label>
                            </div>
                        <div class="span3 billing-buttons">
                            <label for="amount-number" class="currency-label">{%trans user_unit%}</label>
                            <input id="amount-number" class="amount-number" type="number" name="amount" value="{{amount}}" placeholder="{%trans "Amount"%}">
                            <button class="billing-btn" type="submit">{%trans "Confirm"%}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="billing-info promo-info">
                <div class="row auto promo-box">
                    <div class="span6">
                        <h3 class="title" id="promo-code">{%trans "Promo code"%}</h3>
                        <div class="promo-subtitle">{%trans "If you have a promo code, please enter it below to receive your credit."%}</div>
                    </div>
                    <div class="span3 promo-codes">
                        <form class="row auto" method="post">
                            <div class="span12 billing-buttons">
                                <input class="amount-number" type="text" name="promo" value="" placeholder="{%trans "Code"%}">
                                <button class="billing-btn" type="submit">{%trans "Submit"%}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="promo-msg-box">
                    <h3 class="promo-msg">
                        {%trans "Thanks for signing up! You’ve automatically redeemed a referral promo credit of $10.00."%}
                    </h3>
                </div>
            </div>

            <div class="default-tbl billing-history-table">
                <h3 id="billing-history">{%trans "Billing History"%}</h3>
                <div class="tbl">
                    <div class="tbl-header">
                        <span>{%trans "Date"%}</span>
                        <span>{%trans "Title"%}</span>
                        <span>{%trans "Type"%}</span>
                        <span>{%trans "Plus"%}</span>
                        <span>{%trans "Minus"%}</span>
                        <span>{%trans "Budget before"%}</span>
                        <span>{%trans "Budget"%}</span>
                    </div>
                    {% for key, value in history %}
                    <div>
                        <span>{{value.date|jdate}}</span>
                        <span>{{value.title}}</span>
                        <span>{{value.type}}</span>
                        <span><span>{{value.plus}}</span> <span>{{value.unit}}</span></span>
                        <span><span>{{value.minus}}</span> <span>{{value.unit}}</span></span>
                        <span><span>{{value.budgetbefore}}</span> <span>{{value.unit}}</span></span>
                        <span><span>{{value.budget}}</span> <span>{{value.unit}}</span></span>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="pagination">
                <a href="#!">1</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block modal%}
    {% if verify_modal %}
     <div class='modal visible' id='billing-verify'>
       <div class='modal-dialog'>
       <h3 class='modal-title'>{%trans "Transactions Detail"%}</h3>
       <div class='modal-body'>
       <p>
            تراکنش با موفیت ثبت شد <br>
            مبلغ
            {{amount}}
            {{user_unit}}
            به حساب شما منظور گردید
            <br>
            موجودی حساب شما هم اکنون
            {{user_cash + user_cash_gift}}
            {{user_unit}}
            است.
       </p>
        <div class="row auto btn-container center">
         <a href="{{url.base}}/@/billing" class="btn" data-direct>{%trans "OK"%}</button>
        </div>
       </div>
      </div>
     </div>
    {% endif %}
{%endblock%}