{%extends display.main%} {%block content%}
<aside class='dashboard-aside'>

</aside>
<div class="main billing">
    <div>
        <div class="in xxlarge">
            <div class="billing-stats row auto">
                <div class="billing-info span4">
                    <div class="icon">
                        <img alt="Coin" src="{{url.static}}images/gateway/coin.svg" class="flip-rtl" width="60" height="60">
                    </div>
                    <div>
                        <h5 class="title">{%trans "Your Money"%}</h5>
                        <div class="amount"><span>125</span> <span>{%trans "Toman"%}</span></div>
                    </div>
                </div>
                <div class="billing-info span4">
                    <div class="icon">
                        <img alt="Gift" src="{{url.static}}images/gateway/gift.svg" width="60" height="60">
                    </div>
                    <div>
                        <h5 class="title">{%trans "Your Gift"%}</h5>
                        <div class="amount"><span>10</span> <span>{%trans "Toman"%}</span></div>
                    </div>
                </div>
                <div class="billing-info span4">
                    <div class="icon">
                        <img alt="Money bag" src="{{url.static}}images/gateway/money-bag.svg" width="60" height="60">
                    </div>
                    <div>
                        <h5 class="title">{%trans "Your Credit"%}</h5>
                        <div class="amount"><strong><span>1127</span> <span>{%trans "Toman"%}</span></strong></div>
                    </div>
                </div>
            </div>
            <div class="billing-info charge-account-box">
                <div class="row auto">
                    <h3 class="title" id="charge-account">{%trans "Charge your account"%}</h3>
                    <div class="charge-amount">{%trans "Choose a gateway and enter an amount to charge your account"%}</div>
                    <div class="gateways">
                        <form class="row auto">
                            <div class="span6">
                        <label><span>
                            <input type="radio" name="bank" id="ZarinPal" value="ZarinPal" checked>
                            <img alt="ZarrinPal" src="{{url.static}}images/gateway/ZarinPal.svg" width="60" height="60">
                        </span></label>
                        <label><span>
                            <input type="radio" name="bank" id="Melli" value="Melli">
                            <img alt="Melli Bank" src="{{url.static}}images/gateway/Melli.svg" width="60" height="60">
                        </span></label>
                        <label><span>
                            <input type="radio" name="bank" id="Parsian" value="Parsian">
                            <img alt="Parsian Bank" src="{{url.static}}images/gateway/Parsian.svg" width="60" height="60">
                        </span></label>
                        <label><span>
                            <input type="radio" name="bank" id="Mellat" value="Mellat">
                            <img alt="Mellat Bank" src="{{url.static}}images/gateway/Mellat.svg" width="60" height="60">
                        </span></label>
                        <label><span>
                            <input type="radio" name="bank" id="Saman" value="Saman">
                            <img alt="Saman Bank" src="{{url.static}}images/gateway/Saman.svg" width="60" height="60">
                        </span></label>
                        <label><span>
                            <input type="radio" name="bank" id="Tejarat" value="Tejarat">
                            <img alt="Tejarat Bank" src="{{url.static}}images/gateway/Tejarat.svg" width="60" height="60">
                        </span></label>
                            </div>
                        <div class="span6 billing-buttons">
                            <input id="amount-number" class="amount-number" type="number" name="" value="{{amount}}" placeholder="Amount">
                            <label for="amount-number" class="currency-label">{%trans "Toman"%}</label>
                            <button class="billing-btn" type="submit">{%trans "Pay"%}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="billing-info promo-info">
                <div class="row auto promo-box">
                    <div class="span6">
                        <h3 class="title" id="promo-code">{%trans "Promo code"%}</h3>
                        <div class="promo-subtitle">{%trans "If you have a promo code, please enter it below to receive your credit."%}</div>
                    </div>
                    <div class="span6 promo-codes">
                        <form class="row auto">
                            <div class="span12 billing-buttons">
                                <input class="amount-number" type="text" name="" value="" placeholder="Code">
                                <button class="billing-btn" type="submit">{%trans "Submit"%}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="promo-msg-box">
                    <h3 class="promo-msg">
                        {%trans "Thanks for signing up! You’ve automatically redeemed a referral promo credit of $10.00."%}
                    </h3>
                </div>
            </div>

            <div class="default-tbl billing-history-table">
                <h3 id="billing-history">{%trans "Billing History"%}</h3>
                <div class="tbl method-table ltr">
                    <div class="tbl-header">
                        <span>{%trans "Date"%}</span>
                        <span>{%trans "Description"%}</span>
                        <span>{%trans "Amount"%}</span>
                        <span>{%trans "Remaining"%}</span>
                    </div>
                    <div>
                        <span>February 1, 2017</span>
                        <span>Invoice for January 2017</span>
                        <span><span>20015</span> <span>Toman</span></span>
                        <span><span>20015</span> <span>Toman</span></span>
                    </div>
                    <div>
                        <span>February 1, 2017</span>
                        <span>Invoice for January 2017</span>
                        <span><span>20015</span> <span>Toman</span></span>
                        <span><span>20015</span> <span>Toman</span></span>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="#!">1</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}