{%extends display.dash%}


{%block sidenav%}
{%if perm('admin:view')%}
    <li><a href="{{url.base}}/election/admin"><i class='icon-laptop'></i> <span>{% trans "Admin Dashboard" %}</span></a></li>
    <li><a href="{{url.base}}/election/admin/election"><i class='icon-check'></i> <span>{% trans "Election" %}</span></a></li>
    <li><a href="{{url.base}}/election/admin/candida"><i class='icon-user'></i> <span>{% trans "Candida" %}</span></a></li>
{%endif%}

    <li><a href="{{url.base}}/election/data"><i class='icon-bullhorn'></i> <span>{% trans "Add Data" %}</span></a></li>

    <li><a href="{{url.base}}/election" data-direct target="_blank"><i class='icon-chart-line'></i> <span>{% trans "View Election" %}</span></a></li>
{%endblock%}
