{%extends display.mvc%}

{%block head_css%}
 {%set codeUrl%}{%if url.tld == 'dev'%}http://code.ermile.dev/css/{%else%}https://code.ermile.com/css/{%endif%}{%endset%}
 <link rel="stylesheet"       href="{{codeUrl}}ermile-10.1.0.css">
 <link rel="stylesheet"       href="{{url.static}}{{'css/style-election.css' | filemtime(true)}}">
{%endblock%}

{%block foot_js%}{%endblock%}

{%block body%}
 {{block ('wrapperElection')}}
{%endblock%}

{%block wrapperElection%}
 {%block content%}{%endblock%}
{%endblock%}
