{%extends display.main%}

{%block content%}
<div class="main pad text-based">
  <div class="box">
   <h2 class="special-heading">api</h2>
   <div class="in">

     <h2>ارسال گروهی</h2>
     <div class="content">
      <p>اگر میخواهید چندین پیامک مختلف را از شماره های مختلف ارسال کنید ، این متد کارائی زیادی برای شما دارد . نکته قابل توجه در استفاده از این متد آن است که مقادیر به صورت آرایه (فرمت) <b>json</b> می شوند و باید تعداد اجزا آرایه ها با هم برابر باشد ، برای مثال : 3 ارسال کننده ، 3 پیام ، 3 گیرنده ، علاوه بر این متد فراخوانی حتما باید <b>post</b> باشد</p>
     </div>

     <h2>URL</h2>
     <div class="content">
      <p><a href="https://api.kavenegar.com/v1/Your-API-Key/sms/sendarray.json">https://api.kavenegar.com/v1/Your-API-Key/sms/sendarray.json</a></p>
     </div>

     <h2>Input</h2>
     <div>
      <ul>
        <li>
          <span>
            شماره های
          </span>
          <span>
            Array of String
          </span>
          <span>
            اجباری
          </span>
          <span>
            alreceptor
          </span>
        </li>
              <li>
          <span>
            شماره های
          </span>
          <span>
            Array of String
          </span>
          <span>
            اجباری
          </span>
          <span>
            alreceptor
          </span>
        </li>
              <li>
          <span>
            شماره های
          </span>
          <span>
            Array of String
          </span>
          <span>
            اجباری
          </span>
          <span>
            alreceptor
          </span>
        </li>
              <li>
          <span>
            شماره های
          </span>
          <span>
            Array of String
          </span>
          <span>
            اجباری
          </span>
          <span>
            alreceptor
          </span>
        </li>
      </ul>
     </div>

     <h2>Output</h2>

     <div>
      <ul>
        <li>
          <span>
            شماره های
          </span>
          <span>
            Array of String
          </span>
          <span>
            اجباری
          </span>
          <span>
            alreceptor
          </span>
        </li>
        <li>
          <span>
            شماره های
          </span>
          <span>
            Array of String
          </span>
          <span>
            اجباری
          </span>
          <span>
            alreceptor
          </span>
        </li>
        <li>
          <span>
            شماره های
          </span>
          <span>
            Array of String
          </span>
          <span>
            اجباری
          </span>
          <span>
            alreceptor
          </span>
        </li>
      </ul>
     </div>

   </div>
  </div>
</div>
{%endblock%}
