 {%extends display.main%}

 {%block content%}
   <div class="main pad text-base">
    <div class="box">
     <h2 class="special-heading"><a href="#">{%trans "About Us"%}</a></h2>
     <div class="row auto">
      <div class="span8 offset2">

       <h2>{%trans "What Is Sarshomar?"%}</h2>
       <div class="row reverse content">
        <p class="em">{%trans "Knowing what everyone, at any time and place, is thinking about has invariably been one of the most exciting needs of human beings."%}</p>
        <div class="span5">
         <img src="{{url.static}}images/art/about-01.png" alt='{%trans "What Is Sarshomar?"%}'>
        </div>
        <div class="span7">
         <p>{%trans "By means of an opinion poll, we can become informed of people's interests, viewpoints and problems, and take measures to improve, develop or solve them."%} {%trans "Having taken these measures, we can dominate the public opinions, attract them and lead them towards our own interests."%} {%trans "Sarshomar, having a broad and knowledge-oriented outlook, came into being to provide solutions in this respect."%}</p>
        </div>
       </div>

       <h2>{%trans "The Name Sarshomar"%}</h2>
       <div class="row content">
        <div class="span4">
         <img src="{{url.static}}images/art/about-02.png" alt='{%trans "The Name Sarshomar"%}'>
        </div>
        <div class="span8">
         <p>{%trans "In Persian, the person undertaking the task of census (Sarshomari) is called Sarshomar (headcounter)."%} {%trans "Predicting the vast number of our service users, we have been searching for a term attuned with that vastness as well as our goal."%} {%trans "Accordingly, having conducted extensive investigations, we selected the term '' Sarshomar '' as the trade name for the service."%}</p>
        </div>
       </div>

       <h2>{%trans "The Starting Point"%}</h2>
       <div class="row reverse content">
        <div class="span5">
         <img src="{{url.static}}images/art/about-03.png" alt='{%trans "The Starting Point"%}'>
        </div>
        <div class="span7">
         <p>{%trans "There have been various means to conduct an opinion poll and future will be no exception."%} {%trans "Sarshomar, having known this, decided to enter this field. Being concerned with questioning a particular statistical population along with inferring valid results was one of the major reasons for Sarshomar's birth."%}</p>
         <p>{%trans "To develop an international service equipped with unique facilities, we examined the available models; and aiming to eliminate the weaknesses and cover the unnoticed points, and placing our reliance on God, we embarked on the most comprehensive electronic opinion poll service."%}</p>
        </div>
       </div>

       <h2>{%trans "Services and Audiences"%}</h2>
       <div class="row content">
        <div class="span5">
         <img src="{{url.static}}images/art/about-04.png" alt='{%trans "Services and Audiences"%}'>
        </div>
        <div class="span7">
         <p>{%trans "Sarshomar's potential addressees and clients would include all legal as well as natural persons; all trading companies; educational and research centers; institutions and organizations; advertising agencies; website owners and developers; and all individuals in society from novice to expert."%}</p>
         <p>{%trans "You can use, according to your need, such unique characteristics as questioning the target statistical population, question charts, service provision through social networks and dozens of other ones."%} {%trans "Sarshomar, moreover, intends to award you precious prizes to show its appreciation for your contribution to promoting its quality and services."%}</p>
        </div>
       </div>

      </div>
     </div>
    </div>

    <div class="row" id="about-bottom">
     <div class="span4">
      <img src="{{url.static}}images/art/easy-access.png" alt='{%trans "Press"%}'>
      <h3>{%trans "Press"%}</h3>
      <p>{%trans "Would you like to follow Sarshomar's latest media coverage news?"%}</p>
      <a href="#">{%trans "View press section"%}</a>
     </div>

     <div class="span4">
      <img src="{{url.static}}images/art/valid-population.png" alt='{%trans "Contact Us"%}'>
      <h3>{%trans "Contact Us"%}</h3>
      <p>{%trans "If you have any questions, our contact and support center is always ready to help."%}</p>
      <a href="#">{%trans "Get in touch"%}</a>
     </div>

     <div class="span4">
      <img src="{{url.static}}images/art/knowledge-base.png" alt='{%trans "Contact Us"%}'>
      <h3>{%trans "Job Opportunities"%}</h3>
      <p>{%trans "We are constantly seeking to recruit the best. Are you willing to join us?"%}</p>
      <a href="#">{%trans "Join our team"%}</a>
     </div>
    </div>
   </div>
 {%endblock%}
