{%extends display.main%}

{%set pageDesc%}
{%trans "in preparation"%}
{%endset%}

{%block content%}
  <div class="main changelog">
    <div class="box">
    <h2 class="special-heading">{%trans "Changelog"%}</h2>
    </div>
   <div class="box in xxlarge">

     <div class="tbl">
    <div class="tbl-header">
        <span>{%trans "Date"%}</span>
        <span>{%trans "Description"%}</span>
    </div>
    <div>
        <span>24/07/2017</span>
        <span>

          <ul>
            <li>Fixed bug <a href="#!">#73792</a> (invalid foreach loop hangs script).</li>
            <li>Fixed bug <a href="#!">#73663</a> ("Invalid opcode 65/16/8" occurs with a variable created with list()).</li>
            <li>Fixed bug <a href="#!">#73092</a> (Unserialize use-after-free when resizing object's properties hash table). (CVE-2016-7479)</li>
            <li>Fixed bug <a href="#!">#69425</a> (Use After Free in unserialize()).</li>
            <li>Fixed bug <a href="#!">#73869</a> (Signed Integer Overflow gd_io.c). (CVE-2016-10168)</li>
          </ul>

        </span>
    </div>
    <div>
        <span>24/07/2017</span>
        <span>OK</span>
    </div>
    <div>
        <span>24/07/2017</span>
        <span>OK</span>
    </div>
</div>
   </div>
  </div>
{%endblock%}
