{%extends display.main%}

{%set pageDesc%}
{%trans "in preparation"%}
{%endset%}

{%block content%}
  <div class="main changelog">
    <div class="box">
    <h2 class="special-heading">{%trans "Changelog"%}</h2>
    </div>
   <div class="box in xxlarge">

     <div class="tbl">
    <div class="tbl-header">
        <span>{%trans "Date"%}</span>
        <span>{%trans "Description"%}</span>
    </div>
    <div>
        <span>10/02/2017</span>
        <span>{%trans "Sarshomar's 1st version released"%}</span>
    </div>
    <div>
        <span>10/02/2017</span>
        <span>{%trans "Sarshomar's beta version released"%}</span>
    </div>
    <div>
        <span>10/02/2017</span>
        <span>{%trans "Sarshomar's alpha version released"%}</span>
    </div>
    <div>
        <span>10/02/2017</span>
        <span>{%trans "Project Sarshomar started"%}</span>
    </div>
</div>
   </div>
  </div>
{%endblock%}
