{%extends display.main%}

{%block content%}
<div class="main">
  <div class="box">
    <style type="text/css">

    </style>


<div class="pie" style="animation-delay:-49s"></div>
<div class="pie" style="animation-delay:-40s"></div>



  </div>
</div>



{%block foot_js%}
<script type="text/javascript" src="/static/js/svgcheckbox.js"></script>

<script>
$(document).ready(function()
{
$$('.pie').forEach(function(pie) {
  var p = parseFloat(pie.textContent);
  pie.style.animationDelay = '-' + p + 's';
});

});

</script>


{%endblock%}


{%endblock%}
