{%extends display.main%}

{%block content%}
  <div class="box">
   <h2>{%trans "Vision"%}</h2>


   <div  autocomplete="off">

	   <span class="ac-custom ac-checkbox ac-checkmark">
	        <input type="checkbox" name="meta_descriptive" id="descriptive">
	        <label for="descriptive"></label>
	        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"></svg>
	   </span>


		<div>
	        <input type="checkbox" name="meta_score" id="score">
	        <label for="score">{%trans "Score"%}</label>
	        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"></svg>
		</div>

   </div>


  </div>
{%endblock%}


{%block foot_js%}
<script type="text/javascript" src="/static/js/svgcheckbox.js"></script>
{%endblock%}