{%extends display.main%}

{% block content %}
<div class="row auto">
  <div class="span6">
    <h1>{%trans "Elements"%}</h1>
    <h2>{%trans "Input"%}</h2>
    <h3>{%trans "Basic"%}</h3>

    <div class="element">
      <input class="input" type="text">
    </div>

    <h3>{%trans "Basic with placeholder"%}</h3>
    <div class="element">
      <input class="input" type="text" placeholder='{%trans "Please enter text"%}'>
    </div>

    <h3>{%trans "Basic with placeholder and icon"%}</h3>
    <div class="element">
      <input class="input" type="text" placeholder='{%trans "Please enter text"%}'>
      <span class="addon icon"><i class="icon-picture-o" aria-hidden="true"></i></span>
    </div>

    <h3>{%trans "Primary with icon"%}</h3>
    <div class="element">
      <label class="title" for="input_01">Question Title</label>
      <input class="input" type="text" id="input_01">
      <span class="addon icon"><i class="icon-picture-o" aria-hidden="true"></i></span>
    </div>

    <h3>{%trans "Primary with icon and placeholder"%}</h3>
    <div class="element">
      <label class="title" for="input_02">Question Title</label>
      <input class="input" type="text" id="input_02" placeholder='{%trans "Please enter text"%}'>
      <span class="addon icon"><i class="icon-picture-o" aria-hidden="true"></i></span>
    </div>

    <h3>{%trans "Success"%}</h3>
    <div class="element small success">
      <label class="title" for="input_04">Option 1</label>
      <input class="input" type="text" id="input_04" value='{%trans "Why men marry women?"%}'>
      <span class="addon icon"><i class="icon-picture-o" aria-hidden="true"></i></span>
    </div>

    <h3>{%trans "Warn"%}</h3>
    <div class="element small warn">
      <label class="title" for="input_05">Option 1</label>
      <input class="input" type="text" id="input_05" value='{%trans "Why men marry women?"%}'>
      <span class="addon icon"><i class="icon-picture-o" aria-hidden="true"></i></span>
    </div>

    <h3>{%trans "Fail"%}</h3>
    <div class="element small fail">
      <label class="title" for="input_06">Option 1</label>
      <input class="input" type="text" id="input_06" value='{%trans "Why men marry women?"%}'>
      <span class="addon icon"><i class="icon-picture-o" aria-hidden="true"></i></span>
    </div>

    <h3>{%trans "Disabled"%}</h3>
    <div class="element small disabled">
      <label class="title" for="input_07">Option 1</label>
      <input class="input" type="text" id="input_07" value='{%trans "Why men marry women?"%}' disabled="">
      <span class="addon icon"><i class="icon-picture-o" aria-hidden="true"></i></span>
    </div>

    <div class="row auto">
      <div class="span6"></div>
      <div class="span6">

        <div class="element">
          <label class="title" for="input_08">Question</label>
          <input class="input" type="text" id="input_08" value='{%trans "Why men marry women?"%}'>
          <span class="addon floating">
            <span><i class="icon-check" aria-hidden="true"></i></span>
          </span>
        </div>

        <div class="element">
          <label class="title" for="input_09">{%trans "Tags"%}</label>
          <input class="input" type="text" id="input_09">
          <span class="addon btn">
            <button type="button" name="button">{%trans "Add"%}</button>
          </span>
        </div>

        <div class="element">
          <label class="title" for="input_10">{%trans "Tags"%}</label>
          <input class="input" type="text" id="input_10">
          <div class="addon btn">
            <button type="button" name="button">{%trans "Add"%}</button>
          </div>
        </div>

        <div class="element">
          <label class="title" for="input_11">{%trans "Slug"%}</label>
          <input class="input text-left" type="text" id="input_11" value="http://link.com/short">
        </div>

        <div class="element input-slider">
          <label class="title" for="input_11">Slider</label>
          <input class="input" type="text" id="input_12" value="100" data-max="300" data-min="-150" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
