{%extends display.main%}

{%block content%}
<div class="main">
  <div class="box">



    <h4><a name="question" href="{{url.full}}#question" data-direct>{%trans "Question"%}</a></h4>
    <p>{%trans "Answer"%}</p>

    <h4><a name="what-is-sarshomar" href="{{url.full}}#what-is-sarshomar" data-direct>{%trans "What is Sarshomar?"%}</a></h4>
    <p>unique service is to gauge public opinion on the Internet.</p>

    <h4><a name="for-whom?" href="{{url.full}}#for-whom?" data-direct>{%trans "sarshomar for whom?"%}</a></h4>
    <p>{%trans "A number of revolutionary youth"%}</p>

    <h4><a name="have-sign-up" href="{{url.full}}#have-sign-up" data-direct>{%trans "To participate in surveys, census should I sign up?"%}</a></h4>
    <p>{%trans "No, registered in the census is optional and without registration, you can still enjoy all the features of the census."%}</p>

    <h4><a name="if-no-sign-up" href="{{url.full}}#if-no-sign-up" data-direct>{%trans "What happens if I do not register?"%}</a></h4>
    <p>{%trans "Your participation in the census is very valuable to us and all activities are recorded in the service and apply it to validate your vote in polls is you need to register."%}</p>

    <h4><a name="what-effect-My-participation" href="{{url.full}}#what-effect-My-participation" data-direct>{%trans "My participation in the census is what effect?"%}</a></h4>
    <p>{%trans "Your participation in surveys is very valuable to us and we will help in reaching your goals."%}</p>

    <h4><a name="what-different" href="{{url.full}}#what-different" data-direct>{%trans "survey services is different from the rest?"%}</a></h4>
    <p>{%trans "International Census survey is a service that will cure all the weaknesses of existing services and many other unique features such as the question of demographic targeting, tree questions and provide added services through social networks."%}</p>

    <h4><a name="Who-can-use" href="{{url.full}}#Who-can-use" data-direct>{%trans "Who can use the sarshomar?"%}</a></h4>
    <p>{%trans "All natural and legal persons can use the census."%}</p>

    <h4><a name="age-limit-for-activity" href="{{url.full}}#age-limit-for-activity" data-direct>{%trans "Is there an age restriction for activity in the census?"%}</a></h4>
    <p>{%trans "No, there is no age limit for activity."%}</p>

    <h4><a name="any-certain-degree" href="{{url.full}}#any-certain-degree" data-direct>{%trans "Are certain degree for census activities there?"%}</a></h4>
    <p>{%trans "No, by no means qualification does not matter and all parties can trade with any evidence of any census work."%}</p>

    <h4><a name="which-devices-to-use" href="{{url.full}}#which-devices-to-use" data-direct>{%trans "What devices can I use with the census?"%}</a></h4>
    <p>{%trans "Computers, laptops, tablets, phones and any other digital system that can connect to the Internet."%}</p>

    <h4><a name="install-software" href="{{url.full}}#install-software" data-direct>{%trans "Do I need to install special software to use the service census?"%}</a></h4>
    <p>{%trans "No, you do not have to install any software and accessories you can easily use all the services?"%}</p>

    <h4><a name="how-time-can-use" href="{{url.full}}#how-time-can-use" data-direct>{%trans "How long can I use the census?"%}</a></h4>
    <p>{%trans "Throughout the day you can use census."%}</p>

    <h4><a name="invite-friends" href="{{url.full}}#invite-friends" data-direct>{%trans "Can I invite my friends?"%}</a></h4>
    <p>{%trans "Yes, the activity is open to the public and you can invite family and friends to join the big family of the census"%}</p>

    <h4><a name="what-is-username" href="{{url.full}}#what-is-username" data-direct>{%trans "what is username?"%}</a></h4>
    <p>{%trans "You can use a custom user name."%}</p>

    <h4><a name="change-username" href="{{url.full}}#change-username" data-direct>{%trans "Can I replace my username?"%}</a></h4>
    <p>{%trans "Yes, if the name of the user you want you can change the service does not exist."%}</p>

    <h4><a name="updating-username" href="{{url.full}}#updating-username" data-direct>{%trans "Updating the user what is it used?"%}</a></h4>
    <p>{%trans "According to our results based on the accuracy of the information that users update your account information on our planned"%}</p>

    <h4><a name="password-what-could-be" href="{{url.full}}#password-what-could-be" data-direct>{%trans "Password What could it be?"%}</a></h4>
    <p>{%trans "The password should be a mixture of numbers and English letters."%}</p>

    <h4><a name="forget-password" href="{{url.full}}#forget-password" data-direct>{%trans "If I forget my password, what do I do?"%}</a></h4>
    <p>{%trans "The entrance to the site, to get the new password Forgot your action."%}</p>

    <h4><a name="multiple-accounts" href="{{url.full}}#multiple-accounts" data-direct>{%trans "Can I have multiple accounts?"%}</a></h4>
    <p>{%trans "No, this offense and if such action is in accordance with laws dealing census."%}</p>

    <h4><a name="edite-profile" href="{{url.full}}#edite-profile" data-direct>{%trans "Is it possible to edit the user profile there?"%}</a></h4>
    <p>{%trans "***"%}</p>

    <h4><a name="people-see-my-account-information" href="{{url.full}}#people-see-my-account-information" data-direct>{%trans "Do people see my account information?"%}</a></h4>
    <p>{%trans "***"%}</p>

    <h4><a name="enter-phonenumber" href="{{url.full}}#enter-phonenumber" data-direct>{%trans "Do not need to enter the phone number is?"%}</a></h4>
    <p>{%trans "Yes, users need to enter your mobile phone number is snack."%}</p>

    <h4><a name="change-phonenumber" href="{{url.full}}#change-phonenumber" data-direct>{%trans "Can my phone number, my replacement?"%}</a></h4>
    <p>{%trans "***"%}</p>

    <h4><a name="kind-of-activities" href="{{url.full}}#kind-of-activities" data-direct>{%trans "What are the activities in the census?"%}</a></h4>
    <p>{%trans "You can submit questions or reply to questions people have registered."%}</p>

    <h4><a name="add-question" href="{{url.full}}#add-question" data-direct>{%trans "Whether I can register my question?"%}</a></h4>
    <p>{%trans "Yes, you can submit your questions on the site, your blog or social networks, and its results will ask us."%}</p>

    <h4><a name="how-long-to-send-question" href="{{url.full}}#how-long-to-send-question" data-direct>{%trans "After the record how long it takes to be on?"%}</a></h4>
    <p>{%trans "Questions after review by experts on the site is up to x hours."%}</p>

    <h4><a name="limite-question" href="{{url.full}}#limite-question" data-direct>{%trans "Is the number of responses to questions are limited?"%}</a></h4>
    <p>{%trans "No, there is no limit to answer the questions."%}</p>

    <h4><a name="answer-instead-of-someone-else" href="{{url.full}}#answer-instead-of-someone-else" data-direct>{%trans "Can I answer the questions instead of someone else?"%}</a></h4>
    <p>{%trans "No, whoever he may only participate in Ntrsnjyha and if another account is logged and recorded by the census is one of the violations."%}</p>

    <h4><a name="how-know-participation" href="{{url.full}}#how-know-participation" data-direct>{%trans "How can I learn from the participation in the census?"%}</a></h4>
    <p>{%trans "You can use your account to have all its activities in graphical form."%}</p>

    <h4><a name="what-benefit" href="{{url.full}}#what-benefit" data-direct>{%trans "What is the benefit to the user is responsible for cooperation with the census?"%}</a></h4>
    <p>{%trans "Count in gratitude for your contribution in improving the quality of their service, exquisite gifts for your considered."%}</p>

    <h4><a name="get-gifts" href="{{url.full}}#get-gifts" data-direct>{%trans "How to Get gifts What is the census?"%}</a></h4>
    <p>{%trans "Awards will be contacted for users."%}</p>

    <h4><a name="just-for-iranian" href="{{url.full}}#just-for-iranian" data-direct>{%trans "Have you used this service to Iranians?"%}</a></h4>
    <p>{%trans "No, the census is an international service that the whole world can use it, be sure to explain that at the moment only in Farsi and English services that will be added over time."%}</p>

    <h4><a name="specific-rules" href="{{url.full}}#specific-rules" data-direct>{%trans "Are there specific rules for activities in the census?"%}</a></h4>
    <p>{%trans "Yes, it is sure to work, carefully read the rules and regulations of the census."%}</p>

    <h4><a name="publish-for-certain-people" href="{{url.full}}#publish-for-certain-people" data-direct>{%trans "Does our information is in the hands of certain people?"%}</a></h4>
    <p>{%trans "No, the questions and answers to questions and surveys is strictly confidential and will not be provided to any individual or organization."%}</p>

    <h4><a name="Why-should-trust" href="{{url.full}}#Why-should-trust" data-direct>{%trans "Why should I trust you?"%}</a></h4>
    <p>{%trans "***"%}</p>

    <h4><a name="how-safe" href="{{url.full}}#how-safe" data-direct>{%trans "How safe is the census?"%}</a></h4>
    <p>{%trans "***"%}</p>

    <h4><a name="How-information-encrypted" href="{{url.full}}#How-information-encrypted" data-direct>{%trans "How information is encrypted?"%}</a></h4>
    <p>{%trans "***"%}</p>

    <h4><a name="how-support" href="{{url.full}}#how-support" data-direct>{%trans "What are your support user?"%}</a></h4>
    <p>{%trans "Census support group for boarding in the service of their users."%}</p>

    <h4><a name="How-can-cut" href="{{url.full}}#How-can-cut" data-direct>{%trans "How can I cut his ties with the census?"%}</a></h4>
    <p>{%trans "You can easily remove Hsabkarbry choose the section in your account and stop its cooperation with the census."%}</p>




  </div>
</div>
{%endblock%}
