{%extends display.main%}

{%set pageDesc%}
{%trans "با ورود به جامعه سرشمار آیفون ببرید"%}
{%endset%}

{%block content%}
  <div class="main text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "با ورود به جامعه سرشمار آیفون ببرید"%}</h2>
    <div class="in">

     <div class="content">
      <p class="em">{%trans "با ورود به جامعه سرشمار آیفون ببرید"%} </p>

      <p><img src="{{url.static}}images/gift/iphone.png" alt='{%trans ""%}'></p>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
