{%extends display.main%}

{%block content%}
<div class="main pad">
	<div class="box">
		<style type="text/css">
		.ppContainer{}
		.ppContainer .ppBox{width:300px;margin:0 auto;text-align:center;position:relative}
		.ppContainer .ppBox::before,.ppContainer .ppBox::after{display:table;content:""}
		.ppContainer .ppBox::after{clear:both}
		.ppContainer .ppBox .ppa{float:left}
		.ppContainer .ppBox .checkbox{z-index:1}
		.ppContainer .ppBox .checkbox input+label{margin:0}
		.ppContainer .ppBox .bar{position:absolute;width:100%;left:0;right:0;bottom:0;height:2px;background-color:#d8d8d8}
		.ppContainer .ppBox .bar-load{position:absolute;width:55%;left:0;bottom:0;height:2px;background-color:#00667a;z-index:1;-webkit-transition:.3s;transition:.3s}
		</style>
		<div class="ppContainer">
			<div class="ppBox">

				<span class="checkbox" style="float:left">
					<input type="checkbox" id="a">
					<label for="a"></label>
				</span>

				<span class="checkbox">
					<input type="checkbox" id="b">
					<label for="b"></label>
				</span>

				<span class="checkbox" style="float:right">
					<input type="checkbox" id="c">
					<label for="c"></label>
				</span>

				<span class="bar"></span>

				<span class="bar-load"></span>

			</div>
		</div>
	</div>
</div>
{%endblock%}