{%extends display.main%}

{%block content%}
  <div class="main">

   <div class="box">
    <h2>{%trans "Social Responsibility"%}</h2>

    <p>
    مسئولیت اجتماعی به نقش ما در جهت حفظ، مراقبت و کمک به جامعه‌ای که در آن هستیم اشاره می‌کند و هدف آن کسب‌وکار مسئولانه‌ی همراه با تولید ثروت است. موضوع مسئولیت اجتماعی سازمان‌ها و شرکت‌ها نسبت به جامعه از جمله موضوعات مهمی است که در سال‌های اخیر مورد اهمیت قرار گرفته است.
    مسئولیت اجتماعی سازمان‌ها مرتبط با مسئولیت سازمان در برابر جامعه، انسان‌ها و محیطی است که در آن فعالیت می‌کند. این مسئولیت فراتر از قوانین مرسوم و منافع مالی سازمان بوده و پیشرفت منافع اجتماعی را دنبال می‌کند.
    </p>

    <h2>مسئولیت‌های اجتماعی سرشمار</h2>
    <p>
    براساس تعاریفی که از مسئولیت اجتماعی شد، سرشمار نیز خود را در قبال جامعه متعهد دانسته و در کنار تلاش جهت ارائه خدمات خلاقانه و اثربخش، همواره مسئولیت اجتماعی از مهم‌ترین ماموریت‌های سرشمار بوده و به‌امیدخدا خواهد بود.
    دوست‌دار محیط‌زیست
    با وجود پیشرفت تکنولوژی، متاسفانه همچنان علاقه به استفاده از کاغذ قابل پذیرش‌تر از روش‌های نوین است؛ یکی از اهداف سرشمار تلاش برای تغییر این عادت و کمک به حذف کاغذ از زندگی روزمره و درنتیجه حفظ محیط‌زیست است.
    سرشمار با حذف صددرصدی استفاده از کاغذ و ارائه خدمات به صورت الکترونیکی توانسته اقدامی مهم در زمینه حفظ محیط‌زیست داشته باشد. از میزان صرفه‌جویی سرشمار در مصرف کاغذ آگاه شوید.
    </p>
    <h2>فعالیت‌های خیرخواهانه</h2>
    <p>
    یکی از ارزشمندترین سرمایه‌‌ی سازمان‌های خیریه، فعالیت و مشارکت داوطلبانه افرادی است که مهارت و سرمایه خود را بدون هیچ چشم‌داشتی در اختیار آن‌ها قرار می‌دهند.
    سرشمار نیز با توجه به ماموریت خود در راستای کمک به فعالیت‌های خیرخواهانه، خدمات خود را با افتخار و به‌صورت رایگان دراختیار آنان قرار می‌دهد. برای استفاده از این خدمات، درخواست خود را همراه با مدارک احراز هویت به مرکز پشتیبانی سرشمار ارسال نمایید.
    </p>
    <h2>بکارگیری نیروهای باانگیزه</h2>
    <p>
    ویژگی چشم‌گیر و بارز هر سازمانی وجود نیروی‌ انسانی باانگیزه و متخصص است که نقشی بنیادین در رشد و توسعه دارند. ما هم در این راستا و برای خدمت به سرزمین‌مان، به دنبال جوانان ایرانی خلاق و باانگیزه هستیم تا با کمک هم برترین‌ها را بسازیم و اثرگذار باشیم. به ما بپیوندید و در مکانی متفاوت رشد کنید.
    ارائه آمار دقیق و ارتقای کیفی جامعه
    بخش زیادی از سوالات سرشمار با توجه به مشکلات موجود در جامعه‌ بوده و در تلاش برای بهبود آن است. آمار ارائه‌شده به صورت ساده و شفاف همراه با نمودار برای درک سریع آن توسط عموم جامعه ارائه می‌شود. هم‌چنین با هدف ارتقای کیفی جامعه مقالاتی برای ارائه راهکار در این راستا منتشر می‌شود.
    </p>
    <h2>مشتری‌مداری و کسب رضایت کامل</h2>
    <p>
    جلب مشارکت مردم و حضور ارزشمند آنان در سرشمار باعث افتخار ما بوده و به‌منظور قدردانی از این حمایت، سرشمار نیز خدمات متقابلی را برای افزایش رضایت مشتریان خود ارائه می‌کند. این خدمات در بازه‌های زمانی متفاوت ارائه‌شده و در راستای ماموریت مشتری‌مداری و ارج نهادن به این حضور گرانبها می‌باشد.
    </p>


   </div>
  </div>
{%endblock%}
