{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Social Responsibility"%}</h2>
    <div class="row">
     <div class="span2"></div>
     <div class="span8">
      <div class="content">
       <p class="em">مسئولیت اجتماعی به نقش ما در جهت حفظ، مراقبت و کمک به جامعه‌ای که در آن هستیم اشاره می‌کند و هدف آن کسب‌وکار مسئولانه‌ی همراه با تولید ثروت است.</p>
       <p> موضوع مسئولیت اجتماعی سازمان‌ها و شرکت‌ها نسبت به جامعه از جمله موضوعات مهمی است که در سال‌های اخیر مورد اهمیت قرار گرفته است. مسئولیت اجتماعی سازمان‌ها مرتبط با مسئولیت سازمان در برابر جامعه، انسان‌ها و محیطی است که در آن فعالیت می‌کند. این مسئولیت فراتر از قوانین مرسوم و منافع مالی سازمان بوده و پیشرفت منافع اجتماعی را دنبال می‌کند.</p>
      </div>

      <h2>مسئولیت‌های اجتماعی <b>سرشمار</b></h2>
      <div class="content">
       <p>
       براساس تعاریفی که از مسئولیت اجتماعی شد، <b>سرشمار</b> نیز خود را در قبال جامعه متعهد دانسته و در کنار تلاش جهت ارائه خدمات خلاقانه و اثربخش، همواره مسئولیت اجتماعی از مهم‌ترین ماموریت‌های <b>سرشمار</b> بوده و به‌امیدخدا خواهد بود.
       دوست‌دار محیط‌زیست
       با وجود پیشرفت تکنولوژی، متاسفانه همچنان علاقه به استفاده از کاغذ قابل پذیرش‌تر از روش‌های نوین است؛ یکی از اهداف <b>سرشمار</b> تلاش برای تغییر این عادت و کمک به حذف کاغذ از زندگی روزمره و درنتیجه حفظ محیط‌زیست است.
       <b>سرشمار</b> با حذف صددرصدی استفاده از کاغذ و ارائه خدمات به صورت الکترونیکی توانسته اقدامی مهم در زمینه حفظ محیط‌زیست داشته باشد. از میزان صرفه‌جویی <b>سرشمار</b> در مصرف کاغذ آگاه شوید.
       </p>
      </div>

      <h2>فعالیت‌های خیرخواهانه</h2>
      <div class="content">
       <p>
       یکی از ارزشمندترین سرمایه‌‌ی سازمان‌های خیریه، فعالیت و مشارکت داوطلبانه افرادی است که مهارت و سرمایه خود را بدون هیچ چشم‌داشتی در اختیار آن‌ها قرار می‌دهند.
       <b>سرشمار</b> نیز با توجه به ماموریت خود در راستای کمک به فعالیت‌های خیرخواهانه، خدمات خود را با افتخار و به‌صورت رایگان دراختیار آنان قرار می‌دهد. برای استفاده از این خدمات، درخواست خود را همراه با مدارک احراز هویت به مرکز پشتیبانی <b>سرشمار</b> ارسال نمایید.
       </p>
      </div>

      <h2>بکارگیری نیروهای باانگیزه</h2>
      <div class="content">
       <p>
       ویژگی چشم‌گیر و بارز هر سازمانی وجود نیروی‌ انسانی باانگیزه و متخصص است که نقشی بنیادین در رشد و توسعه دارند. ما هم در این راستا و برای خدمت به سرزمین‌مان، به دنبال جوانان ایرانی خلاق و باانگیزه هستیم تا با کمک هم برترین‌ها را بسازیم و اثرگذار باشیم. به ما بپیوندید و در مکانی متفاوت رشد کنید.
       ارائه آمار دقیق و ارتقای کیفی جامعه
       بخش زیادی از سوالات <b>سرشمار</b> با توجه به مشکلات موجود در جامعه‌ بوده و در تلاش برای بهبود آن است. آمار ارائه‌شده به صورت ساده و شفاف همراه با نمودار برای درک سریع آن توسط عموم جامعه ارائه می‌شود. هم‌چنین با هدف ارتقای کیفی جامعه مقالاتی برای ارائه راهکار در این راستا منتشر می‌شود.
       </p>
      </div>

      <h2>مشتری‌مداری و کسب رضایت کامل</h2>
      <div class="content">
       <p>
       جلب مشارکت مردم و حضور ارزشمند آنان در <b>سرشمار</b> باعث افتخار ما بوده و به‌منظور قدردانی از این حمایت، <b>سرشمار</b> نیز خدمات متقابلی را برای افزایش رضایت مشتریان خود ارائه می‌کند. این خدمات در بازه‌های زمانی متفاوت ارائه‌شده و در راستای ماموریت مشتری‌مداری و ارج نهادن به این حضور گرانبها می‌باشد.
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
{%endblock%}
