{%extends display.main%}

{%block content%}
<div class="main style-guide">
 <div class="box">
  <div class="in">
   <span class="special-btn">Button</span>
   <br>
   <button class="special-btn">Button btn</button>
   <br>
   <a class="special-btn" href="#">Anchor btn 1</a><a class="special-btn disabled" href="#">Anchor btn 2</a>
   <br>
   <div class="special-btn disabled">Test one</div><div class="special-btn">Test two</div><div class="special-btn">Test three</div>
  </div>
 </div>
</div>
{%endblock%}