{%extends display.main%}

{%block content%}
<div class="box">
  <form method="post">
		<div class="element">
			<label class="addon" for="name">{%trans "name"%}</label>
			<input class="input" type="text" name="name" id="name">
		</div>
		<div class="element">
			<label class="addon" for="email">{%trans "email"%}</label>
			<input class="input" type="email" name="email" id="email">
		</div>
		<div class="element">
			<label class="addon" for="content">{%trans "content"%}</label>
			<textarea name="content" id="content" class="input"></textarea>
		</div>
		<div class="element">
			<input class="input" type="submit" value='{%trans "submit"%}'>
		</div>
	</form>
</div>
{%endblock%}