{%extends display.main%}

{%block content%}
<form method="post">
  <div class="row">
    <div class="span4"></div>
    <div class="span4">
      <div class="element">
        <label class="title" for="short_url">{%trans "Short URL"%}</label>
        <input class="input text-left" type="text" id="short_url" value="{{short_url}}" readonly="readonly">
        <span class="addon btn">
          <a href="{{short_url}}" target="_blank" data-direct>
            <button>{%trans "Preview"%}</button>
          </a>
        </span>
      </div>

      {%if perm.sarshomar_knowledge.admin%}
      <div class="element">
        <label class="title" for="cat">{%trans "Category"%}</label>
         <select class="input" name="cat" id="cat">
            {%for key, value in cat%}
              {%if key == 0%}
                <option value="">{%trans "Please Select One Item"%}</option>
              {%endif%}
              <option value="{{value.id}}">{{value.term_title|raw}}</option>
            {%endfor%}
          </select>
      </div>

      <div class="element">
        <label class="title" for="article">{%trans "Article"%}</label>
        <select class="input" name="article" id="article">
          {%for key, value in article%}
            {%if key == 0%}
              <option value="">{%trans "Please Select One Item"%}</option>
            {%endif%}
            <option value="{{value.id}}">{{value.title|raw}}</option>
          {%endfor%}
        </select>
      </div>
      {%endif%}

      <div class="element">
        <label class="title">{%trans "Start Time"%}</label>
        <input class="input" type="text" name="start_time" value="{{poll.meta.start_time}}">
      </div>

      <div class="element">
        <label class="title">{%trans "End Time"%}</label>
        <input class="input" type="text" name="end_time" value="{{poll.meta.end_time}}">
      </div>

      <input type="hidden" name="tags" id="sp-tags" value="{% if tags %}{{tags|join(',') ~ ','}}{%endif%}">
      <div class="element">
        <label class="title" for="tags">{%trans "Tags"%}</label>
        <input class="input similar-tag" data-list="tag-list" data-split="sp-tags" type="text" id="tags">
        <span class="addon btn tag-add-btn">
          <button class="btn-add-tags" element-id="tags">{%trans "Add"%}</button>
        </span>
      </div>

      <div class="tags" id="tag-list">
      {%for key,value in tags%}
        <a><i class="fa fa-times remove-tags" data-split="sp-tags"></i>{{value}}</a>
      {%endfor%}
      </div>
    </div>

    <div class="btn-container center">
      <button>{%trans "Publish"%}</button>
    </div>
  </div>
</form>
{%endblock%}

{%block foot_js%}
<script type="text/javascript" src="/static/js/svgcheckbox.js"></script>
{%endblock%}
