{%extends display.main%}

{%block head_css%}
<style type="text/css">
.polls-head{border-bottom:1px solid #E0E0E0;}
.polls-head > div{color:#00667A;font-weight:bold;}
.polls-body{margin-bottom:2em;}
.polls-head > div, .polls-row > div{display:table-cell;padding:10px 5px;}
.polls-head > div:nth-child(2), .polls-row > div:nth-child(2){width:100%;}
.polls-row > div:nth-child(2) a{color:#00667A;font-weight:bold;}
.polls-head > div:not(:nth-child(2)), .polls-row > div:not(:nth-child(2)){min-width:60px;}
</style>
{%endblock%}

{%block content%}
<div class="main">
  <div class="row">
    <div class="span2"></div>
    <div class="span8">
      <div class="polls-head">
        <div>{%trans "Type"%}</div>
        <div>{%trans "Title"%}</div>
        <div>{%trans "Status"%}</div>
        <div>{%trans "Number"%}</div>
        <div>{%trans "Date"%}</div>
      </div>
      <div class="polls-body">
      {%for key, value in poll_list%}
        <ul>
          <li class="polls-row">
            <div>{%trans "Type"%}</div>
            <div>
              <a href="{{base.url}}/{{value.url}}">{{value.title}}</a>
            </div>
            <div>{{value.status}}</div>
            <div>{%trans "Number"%}</div>
            <div>{%trans "Date"%}</div>
          </li>
        </ul>
      {%endfor%}
      </div>
    </div>
  </div>
</div>
{%endblock%}
