{%extends display.main%}

{%block content%}
<aside>
	{{block('aside_gender')}}
	{{block('aside_marrital')}}
	{{block('aside_employment')}}
	{{block('aside_question')}}
	{{block('aside_according')}}
	{{block('aside_survey')}}
	{{block('aside_filters')}}
</aside>

<div class="main">
	<div class="row unselectable">
		<div class="span1"></div>
		<div class="span10">
			<div class="search-box">
				<input type="text" name="search" placeholder='{%trans "Search"%}' class="pollsearch" value="{{search_value}}" autocomplete='off'>
				<button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
			</div>
			<div class="search-result" data-xhr='search-result' id="search-result">
				{%include display.result%}
			</div>
		</div>
	</div>
</div>
{%endblock%}



{%block aside_question%}
	<div class="group">
		<input type="checkbox" id="question" class="full-line-title">
		<label for="question" data-title='{%trans "Question type"%}'></label>
		<div class="select-box" data-response='question'>
			<div class="checkbox">
				<input id="type1" type="checkbox" name='pollgender' value="poll" {%if checkbox.pollgender == 'poll' %}checked{%endif%}>
				<label for="type1" class="check-box"></label>
				<label for="type1">{%trans "Poll"%}</label>
			</div>
			<div class="checkbox">
				<input id="type2" type="checkbox" name='pollgender' value="quiz" {%if checkbox.pollgender == 'quiz' %}checked{%endif%}>
				<label for="type2" class="check-box"></label>
				<label for="type2">{%trans "Quiz"%}</label>
			</div>
			<div class="checkbox">
				<input id="type4" type="checkbox" name='pollgender' value="survey" {%if checkbox.pollgender == 'survey' %}checked{%endif%}>
				<label for="type4" class="check-box"></label>
				<label for="type4">{%trans "Survey"%}</label>
			</div>
		</div>
	</div>
{%endblock%}


{%block aside_according%}
	<div class="group">
		<input type="checkbox" id="according" class="full-line-title">
		<label for="according" data-title='{%trans "According to survey"%}'></label>
		<div class="select-box" data-response='according'>
			<div class="checkbox">
				<input id="multiplechoice" type="checkbox" name="polltype" value="multiplechoice" {%if checkbox.polltype == 'multiplechoice' %}checked{%endif%}>
				<label for="multiplechoice" class="check-box"></label>
				<label for="multiplechoice">{%trans "Multiplechoice"%}</label>
			</div>
			<div class="checkbox">
				<input id="descriptive" type="checkbox" name="polltype" value="descriptive" {%if checkbox.polltype == 'descriptive' %}checked{%endif%}>
				<label for="descriptive" class="check-box"></label>
				<label for="descriptive">{%trans "Descriptive"%}</label>
			</div>
			<div class="checkbox">
				<input id="notification" type="checkbox" name="polltype" value="notification" {%if checkbox.polltype == 'notification' %}checked{%endif%}>
				<label for="notification" class="check-box"></label>
				<label for="notification">{%trans "Notification"%}</label>
			</div>
			<div class="checkbox">
				<input id="upload" type="checkbox" name="polltype" value="upload" {%if checkbox.polltype == 'upload' %}checked{%endif%}>
				<label for="upload" class="check-box"></label>
				<label for="upload">{%trans "Upload"%}</label>
			</div>
			<div class="checkbox">
				<input id="starred" type="checkbox" name="polltype" value="starred" {%if checkbox.polltype == 'starred' %}checked{%endif%}>
				<label for="starred" class="check-box"></label>
				<label for="starred">{%trans "Starred"%}</label>
			</div>
			<div class="checkbox">
				<input id="numerical" type="checkbox" name="polltype" value="numerical" {%if checkbox.polltype == 'numerical' %}checked{%endif%}>
				<label for="numerical" class="check-box"></label>
				<label for="numerical">{%trans "Numerical"%}</label>
			</div>
			<div class="checkbox">
				<input id="sort" type="checkbox" name="polltype" value="sort" {%if checkbox.polltype == 'sort' %}checked{%endif%}>
				<label for="sort" class="check-box"></label>
				<label for="sort">{%trans "Sort"%}</label>
			</div>
		</div>
	</div>
{%endblock%}


{%block aside_survey%}
	<div class="group">
		<input type="checkbox" id="survey" class="full-line-title">
		<label for="survey" data-title='{%trans "Survey time"%}'></label>
		<div class="select-box" data-response='survey'>
			<div class="checkbox">
				<input id="time1" type="checkbox" name='status' value="publish" {%if checkbox.status == 'publish'%}checked{%endif%}>
				<label for="time1" class="check-box"></label>
				<label for="time1">{%trans "Publish"%}</label>
				{%if checkbox.status == 'publish'%}{%endif%}
			</div>
			<div class="checkbox">
				<input id="time2" type="checkbox" name='status' value="expired" {%if checkbox.status == 'expired'%}checked{%endif%}>
				<label for="time2" class="check-box"></label>
				<label for="time2">{%trans "Expire"%}</label>
				{%if checkbox.status == 'expired'%}{%endif%}
			</div>
		</div>
	</div>
{%endblock%}


{%block aside_marrital%}
		<input type="checkbox" id="marrital" class="full-line-title">
		<label for="marrital" data-title='{%trans "marrital"%}'></label>

		<div class="select-box" data-response='marrital'>
			<div class="checkbox">
				<input id="single" type="checkbox" name='status' value="single" {%if checkbox.status == 'publish'%}checked{%endif%}>
				<label for="single" class="check-box"></label>
				<label for="single">{%trans "single"%}</label>
				{%if checkbox.status == 'single'%}{%endif%}
			</div>
			<div class="checkbox">
				<input id="Married" type="checkbox" name='status' value="Married" {%if checkbox.status == 'expired'%}checked{%endif%}>
				<label for="Married" class="check-box"></label>
				<label for="Married">{%trans "Married"%}</label>
				{%if checkbox.status == 'Married'%}{%endif%}
			</div>
		</div>
{%endblock%}


{%block aside_employment%}
		<input type="checkbox" id="employment" class="full-line-title">
		<label for="employment" data-title='{%trans "Employment"%}'></label>

		<div class="select-box" data-response='employment'>
			<div class="checkbox">
				<input id="employee" type="checkbox" name='status' value="employee" {%if checkbox.status == 'publish'%}checked{%endif%}>
				<label for="employee" class="check-box"></label>
				<label for="employee">{%trans "employee"%}</label>
				{%if checkbox.status == 'employee'%}{%endif%}
			</div>
			<div class="checkbox">
				<input id="unemployed" type="checkbox" name='status' value="unemployed" {%if checkbox.status == 'expired'%}checked{%endif%}>
				<label for="unemployed" class="check-box"></label>
				<label for="unemployed">{%trans "unemployed"%}</label>
				{%if checkbox.status == 'unemployed'%}{%endif%}
			</div>
			<div class="checkbox">
				<input id="retired" type="checkbox" name='status' value="retired" {%if checkbox.status == 'expired'%}checked{%endif%}>
				<label for="retired" class="check-box"></label>
				<label for="retired">{%trans "retired"%}</label>
				{%if checkbox.status == 'retired'%}{%endif%}
			</div>
		</div>
{%endblock%}


{%block aside_gender%}
		<input type="checkbox" id="gender" class="full-line-title">
		<label for="gender" data-title='{%trans "Gender"%}'></label>

		<div class="select-box" data-response='gender'>
			<div class="checkbox">
				<input id="male" type="checkbox" name='status' value="male" {%if checkbox.status == 'publish'%}checked{%endif%}>
				<label for="male" class="check-box"></label>
				<label for="male">{%trans "male"%}</label>
				{%if checkbox.status == 'male'%}{%endif%}
			</div>
			<div class="checkbox">
				<input id="female" type="checkbox" name='status' value="female" {%if checkbox.status == 'expired'%}checked{%endif%}>
				<label for="female" class="check-box"></label>
				<label for="female">{%trans "female"%}</label>
				{%if checkbox.status == 'female'%}{%endif%}
			</div>
		</div>
{%endblock%}





{%block aside_filters%}

	<div class="group">
		<!-- <div class="full-line-title" data-title='{%trans "filters"%}'></div> -->
		<input type="checkbox" id="filters" class="full-line-title">
		<label for="filters" data-title='{%trans "Filters"%}'></label>
		<div class="select-box filters-box  {%if checkbox.marrital or checkbox.employmentstatus or checkbox.gender or checkbox.graduation or checkbox.country or checkbox.province or checkbox.religion or checkbox.language or checkbox.age %}actived{%endif%}" ata-response='filters'>

		<div class="options-box">
			<label for="graduation">{%trans "graduation"%}</label>
			<select name="graduation" id="graduation">
				<option value="">{%trans ""%}</option>
				<option value="illiterate" {%if checkbox.graduation == 'illiterate' %}selected{%endif%} %>{%trans "illiterate"%}</option>
				<option value="undergraduate" {%if checkbox.graduation == 'undergraduate' %}selected{%endif%} %>{%trans "undergraduate"%}</option>
				<option value="graduate" {%if checkbox.graduation == 'graduate' %}selected{%endif%} %>{%trans "graduate"%}</option>
				<option value="under diploma" {%if checkbox.graduation == 'under diploma' %}selected{%endif%} %>{%trans "under diploma"%}</option>
				<option value="diploma" {%if checkbox.graduation == 'diploma' %}selected{%endif%} %>{%trans "diploma"%}</option>
				<option value="2 year college" {%if checkbox.graduation == '2 year college' %}selected{%endif%} %>{%trans "2 year college"%}</option>
				<option value="bachelor" {%if checkbox.graduation == 'bachelor' %}selected{%endif%} %>{%trans "bachelor"%}</option>
				<option value="master" {%if checkbox.graduation == 'master' %}selected{%endif%} %>{%trans "master"%}</option>
				<option value="phd" {%if checkbox.graduation == 'phd' %}selected{%endif%} %>{%trans "phd"%}</option>
				<option value="other" {%if checkbox.graduation == 'other' %}selected{%endif%} %>{%trans "other"%}</option>
			</select>
			</div>
			<div class="options-box">
				<label for="country">{%trans "Country"%}</label>
				<input name="country" id="country" value="">
			</div>
			<div class="options-box">
				<label for="age">{%trans "Age"%}</label>
				<input name="age" id="age" value="">
			</div>
			<div class="options-box">
				<label for="province">{%trans "Province"%}</label>
				<input name="province" id="province" value="">
			</div>
			<div class="options-box">
				<label for="religion">{%trans "Religion"%}</label>
				<input name="religion" id="religion" value="">
			</div>
			<div class="options-box">
				<label for="language">{%trans "Language"%}</label>
				<input name="language" id="language" value="">
			</div>
		</div>
	</div>
{%endblock%}









{%block foot_js2%}
<script>
$(document).ready(function()
{
	$("aside input[type='checkbox'].full-line-title").click(function(){
			var label = $(this).next("aside input[type='checkbox'].full-line-title+label");
			var options_box = label.next(".select-box");
		if ($(this).is(':checked'))
		{
			//add actived and close classes to select-box on aside
			options_box.slideDown(function(){
				if(options_box.is(":visible"))
				{
					options_box.addClass( "actived" );
					options_box.removeClass( "closed" );
				}
				if(options_box.is(":hidden"))
				{
					options_box.addClass( "closed" );
					options_box.removeClass( "actived" );
				}
			});
		}
		else
		{
			//add actived and close classes to select-box on aside
			options_box.slideUp(function(){
				if(options_box.is(":visible"))
				{
					options_box.addClass( "acived" );
					options_box.removeClass( "closed" );
				}
				if(options_box.is(":hidden"))
				{
					options_box.addClass( "closed" );
					options_box.removeClass( "actived" );
				}
			});
		}
	});


 $("aside input[type=checkbox]").click(function(){
	$(this).parent('.ac-custom').toggleClass('selected');
 });

 $(document).on('click', '.star', function(){
	id = $(this).parent('li').attr("data-id");
	_self = $(this);
	$(this).ajaxify(
			{
				ajax:
				{
					data:
					{
						'type': 'faivorites',
						'id': id
					},
					abort: true,
					success: function(e, data, x)
					{
						$(_self).toggleClass("starred");
					},
					method: 'post'
				}
			});
 });

	$(document).on('change', 'select', function(){

		var new_url;
		var url        = window.location.pathname;
		var pattern    = new RegExp( name + '\=([^\/]*)');
		var exist_value_url = null;

		name  = $(this).attr('name');
		value = $(this).val();

		match = url.match(pattern);
		if(match !== null)
		{
			exist_value_url = match[1];
		}

		if(match !== null)
		{
			new_url = url.replace(pattern, name + '=' + value);
		}
		else if(value == '')
		{
			new_url = url.replace(pattern, '');
		}
		else
		{
			if(/\/$/.test(url))
			{
				new_url = url + name + '=' + value;
			}
			else
			{
				new_url = url + '/' + name + '=' + value;
			}
		}
		Navigate({ url: new_url });
	});

	$(document).on('change', 'input[type=checkbox]', function(){

		var new_url;
		var url        = window.location.pathname;
		var pattern    = new RegExp( name + '\=([^\/]*)');
		var is_checked = false;
		var exist_value_url = null;

		name  = $(this).attr('name');
		value = $(this).val();

		match = url.match(pattern);
		if(match !== null)
		{
			exist_value_url = match[1];
		}
		if($(this).prop("checked"))
		{
			is_checked = false;
		}
		else
		{
			is_checked = true;
		}

		if(is_checked)
		{
			new_url = url.replace(pattern, '');
		}
		else
		{
			if(match !== null)
			{
				new_url = url.replace(pattern, name + '=' + value);
			}
			else
			{
				if(/\/$/.test(url))
				{
					new_url = url + name + '=' + value;
				}
				else
				{
					new_url = url + '/' + name + '=' + value;
				}
			}
		}
		console.log(new_url);
		console.log(is_checked)
		Navigate({ url: new_url });
	});
});

</script>
{%endblock%}


