{%extends display.main%}

{%block content%}
  <aside>
   <div class="group">
    <div class="options-box">
      <span class="ac-custom ac-checkmark">
       <input id="questions1" type="checkbox" name='questions'>
       <label for="questions1">{%trans "سرشمار"%}</label>
      </span>
      <span class="ac-custom ac-checkmark">
       <input id="questions2" type="checkbox" name='questions'>
       <label for="questions2">{%trans "مردمی"%}</label>
     </span>
    </div>
   </div>
   <div class="group">
     <div class="full-line-title" data-title='{%trans "question type"%}'></div>
     <div class="options-box">
      <span class="ac-custom ac-checkmark reverse">
        <input id="type1" type="checkbox" name='type'>
        <label for="type1">{%trans "نظرسنجی"%}</label>
      </span>
      <span class="ac-custom ac-checkmark reverse">
       <input id="type2" type="checkbox" name='type'>
       <label for="type2">{%trans "آزمون‌آنلاین"%}</label>
      </span>
      <span class="ac-custom ac-checkmark reverse">
       <input id="type4" type="checkbox" name='type'>
       <label for="type4">{%trans "پرسشنامه"%}</label>
      </span>
    </div>
   </div>
   <div class="group">
    <div class="full-line-title" data-title='{%trans "according to survey"%}'></div>
    <div class="options-box">
     <span class="ac-custom ac-checkmark">
      <input id="accord1" type="checkbox">
      <label for="accord1">{%trans "گزینه‌ای"%}</label>
     </span>
     <span class="ac-custom ac-checkmark">
      <input id="accord2" type="checkbox">
      <label for="accord2">{%trans "تشریحی"%}</label>
     </span>
     <span class="ac-custom ac-checkmark">
      <input id="accord3" type="checkbox">
      <label for="accord3">{%trans "بارگذاری"%}</label>
     </span>
     <span class="ac-custom ac-checkmark">
      <input id="accord4" type="checkbox">
      <label for="accord4">{%trans "ستاره‌ای"%}</label>
     </span>
     <span class="ac-custom ac-checkmark">
      <input id="accord5" type="checkbox">
      <label for="accord5">{%trans "اطلاع‌رسانی"%}</label>
     </span>
     <span class="ac-custom ac-checkmark">
      <input id="accord6" type="checkbox">
      <label for="accord6">{%trans "شماره‌ای"%}</label>
     </span>
     <span class="ac-custom ac-checkmark">
      <input id="accord7" type="checkbox">
      <label for="accord7">{%trans "مرتب‌سازی"%}</label>
     </span>
    </div>
   </div>
   <div class="group">
    <div class="full-line-title" data-title='{%trans "survey time"%}'></div>
    <div class="options-box">
      <span class="ac-custom ac-checkmark reverse">
        <input id="time1" type="checkbox" name='time'>
        <label for="time1">{%trans "در حال انجام"%}</label>
      </span>
      <span class="ac-custom ac-checkmark reverse">
        <input id="time2" type="checkbox" name='time'>
        <label for="time2">{%trans "منقضی شده"%}</label>
      </span>
    </div>
   </div>
   <div class="group">
    <div class="full-line-title" data-title='{%trans "prize"%}'></div>
    <div class="options-box prize-box">
      <span class="ac-custom ac-checkmark" >
       <input id="prize1" type="checkbox" name='prize'>
       <label for="prize1">{%trans "پاسخ‌دهی"%}</label>
      </span>
      <span class="ac-custom ac-checkmark">
       <input id="prize2" type="checkbox" name='prize'>
       <label for="prize2">{%trans "قرعه‌کشی"%}</label>
      </span>
    </div>
   </div>
   <div class="group">
    <div class="full-line-title" data-title='{%trans "filters"%}'></div>
    <div class="options-box filters-box">
     <div class="select-box">
      <label for="education">{%trans "تأهل"%}</label>
       <select name="education inline" id="education">
        <option value="">{%trans "مجرد"%}</option>
        <option value="">{%trans "متأهل"%}</option>
      </select>
     </div>
     <div class="select-box">
       <label for="education">{%trans "شغل"%}</label>
       <select name="education inline">
        <option value="">{%trans "دولتی"%}</option>
        <option value="">{%trans "آزاد"%}</option>
        <option value="">{%trans "بیکار"%}</option>
       </select>
     </div>
     <div class="select-box">
      <label for="education">{%trans "جنسیت"%}</label>
      <select name="education inline">
        <option value="">{%trans "male"%}</option>
        <option value="">{%trans "female"%}</option>
      </select>
     </div>
     <div class="select-box">
      <label for="education">{%trans "تحصیلات"%}</label>
      <select name="education inline">
        <option value="">{%trans "دکتری"%}</option>
        <option value="">{%trans "فوق لیسانس"%}</option>
        <option value="">{%trans "لیسانس"%}</option>
        <option value="">{%trans "فوق دیپلم"%}</option>
        <option value="">{%trans "دیپلم"%}</option>
        <option value="">{%trans "سیکل"%}</option>
        <option value="">{%trans "ابتدایی"%}</option>
        <option value="">{%trans "بیسواد"%}</option>
      </select>
     </div>
     <div class="select-box">
      <label for="education">{%trans "کشور"%}</label>
        <select name="education inline">
        <option value="">{%trans "ایران"%}</option>
        <option value="">{%trans "عراق"%}</option>
        <option value="">{%trans "ترکیه"%}</option>
      </select>
     </div>
     <div class="select-box">
      <label for="education">{%trans "سن"%}</label>
      <select name="education inline">
        <option value="">{%trans "۲۰ سال"%}</option>
        <option value="">{%trans "بیش از ۲۰ سال"%}</option>
        <option value="">{%trans "کمتر از ۲۰ سال"%}</option>
      </select>
     </div>
    </div>
   </div>
  </aside>

<div class="main">

  <div class="row">
    <div class="span1"></div>
    <div class="span9">
     <div class="search-box">
      <input type="text" name="search" placeholder='{%trans "Search"%}' class="pollsearch" value="{{search_value}}" autocomplete='off'>
      <button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
     </div>
     <div class="search-result" data-xhr='search-result' id="search-result">
      {{block('search_result')}}
     </div>
     <div class="my-navigation">
      <nav class="ali-navigation auto">
       <a href="">></a>
       <a href="">{%trans "8"%}</a>
       <a href="">{%trans "7"%}</a>
       <a href="">{%trans "6"%}</a>
       <a href="" class="active">{%trans "5"%}</a>
       <a href="">{%trans "4"%}</a>
       <a href="">{%trans "3"%}</a>
       <a href="">{%trans "2"%}</a>
       <a href="">{%trans "1"%}</a>
       <a href=""><</a>
      </nav>
     </div>

    </div><!-- /.span9 -->
  </div>
</div>
{%endblock%}


{%block foot_js%}
<script type="text/javascript" src="/static/js/svgcheckbox.js"></script>
<script>
$(document).ready(function()
{
 $("aside .full-line-title").click(function()
 {
  $(this).next(".options-box").slideToggle();
 });

 $("aside input[type=checkbox]").click(function()
 {
  $(this).parent('.ac-custom').toggleClass('selected');
 });
});

</script>


{%endblock%}


{%block search_result%}
  {%if poll_list%}
      <div class="polls-head">
        <span class="fa fa-star star" aria-hidden="true"></span>
        <span class="type">{%trans "Type"%}</span>
        <span class="title">{%trans "Title"%}</span>
        <span class="comments-count">{%trans "Comments"%}</span>
        <span class="votes-count">{%trans "Votes"%}</span>
        <span class="date">{%trans "Date"%}</span>
      </div>
      <ul class="polls-body">
  {%for key, value in poll_list%}
        <li class="polls-row{%if value.status == 'draft'%}{{' star'}}{%endif%}">
          <span class="fa fa-star star" aria-hidden="true"></span>
          <span class="type" aria-hidden="true"><i class="fa fa-{{value.type}}"></i> </span>
          <span class="title"><a href="{{base.url}}/{{value.url}}">{{value.title|raw}}</a></span>
          <span class="comments-count"></span>
          <span class="votes-count"></span>
          <span class="date">{{value.date_modified|date('Y-m-d')}}</span>
        </li>
  {%endfor%}
      </ul>
      <!-- pagenation -->
    {% embed display.pagination %}{% endembed %}
      <!-- ./pagenation -->
  {%else%}
      <div class="msg error">{%trans "No Result Found"%}</div>
  {%endif%}

{%endblock%}