{%if poll_list%}
  <div class="polls-head">
    <span class="fa fa-star star" aria-hidden="true"></span>
    <span class="type">{%trans "Type"%}</span>
    <span class="title">{%trans "Title"%}</span>
    <span class="comments-count">{%trans "Comments"%}</span>
    <span class="votes-count">{%trans "Votes"%}</span>
    <span class="date">{%trans "Date"%}</span>
  </div>
  <ul class="polls-body">
{%for key, value in poll_list%}

    <li class="polls-row{%if value.status == 'draft'%}{{' star'}}{%endif%}" data-id="{{value.id}}">
      <input type="checkbox" name="favorite" id="fav{{key}}">
      <label for="fav{{key}}" class="fa fa-2x fa-star star"></label>
      <span class="type" aria-hidden="true"><i class="fa fa-{{value.type}}"></i> </span>
      <span class="title"><a href="{{url.prefix}}/{{value.url}}">{{value.title|raw}}</a></span>
      <span class="comments-count">{{value.comment_count | persian}}</span>
      <span class="votes-count">{{value.total | persian}}</span>
      <span class="date">{{value.date_modified| jdate('Y-m-d')}}</span>
    </li>
{%endfor%}
  </ul>
  <!-- pagenation -->
  <div class="pagination-container">
  {%include display.pagination%}
  </div>
  <!-- ./pagenation -->
{%else%}
  <div class="msg error">{%trans "No Result Found"%}</div>
{%endif%}