<div class='search-result' data-xhr='search-result' id='search-result'>
{%if poll_list%}
 <div class="polls-head">
{%if login%}
  <span class="star">
   <i class="icon-star"></i>
  </span>
{%endif%}
  <span class="type">{%trans "Type"%}</span>
  <span class="title">{%trans "Title"%}</span>
  <span class="comments-count">{%trans "Comments"%}</span>
  <span class="votes-count">{%trans "Votes"%}</span>
  <span class="date">{%trans "Date"%}</span>
 </div>
 <ul class="polls-body">

{%for key, value in poll_list%}
   <li class="polls-row{%if value.status == 'draft'%}{{' star'}}{%endif%}" data-id="{{value.id}}">
{%if login%}
    <span class="star">
     <input type="checkbox" name="favorite" id="fav{{key}}">
     <label for="fav{{key}}" class="icon-star"></label>
    </span>
{%endif%}
    <span class="type" aria-hidden="true"><i class="fa fa-{{value.type}}"></i> </span>
    <span class="title"><a href="{{url.prefix}}/{{value.url}}">{{value.title|raw}}</a></span>
    <span class="comments-count">{{value.comment_count | persian}}</span>
    <span class="votes-count">{{value.total | persian}}</span>
    <span class="date">{{value.date_modified| jdate('Y-m-d')}}</span>
   </li>
{%endfor%}

 </ul>


 <div class="pagination-container">
 {%include display.pagination%}
 </div>

{%else%}
 <div class="msg error">{%trans "No Result Found"%}</div>
{%endif%}
</div>