<div class='search-result' data-xhr='search-result' id='search-result'>
{%if poll_list%}
 <div class="polls-head">
{%if login%}
  <span class="star">
   <span class="icon-star"></span>
  </span>
{%endif%}
  <span class="type">{%trans "Type"%}</span>
  <span class="title">{%trans "Title"%}</span>
  <span class="comments-count">{%trans "Comments"%}</span>
  <span class="votes-count">{%trans "Votes"%}</span>
  <span class="date">{%trans "Date"%}</span>
  {%if my_poll %}
    <span class="show">{%trans "Show"%}</span>
  {%endif%}
 </div>
 <ul class="polls-body">

{%for key, value in poll_list.data%}
   <li class="{%if value.status == 'draft'%}{{' star'}}{%endif%}" data-id="{{value.id}}">
{%if login%}
    <span class="star">
     <input type="checkbox" name="favorite" id="fav{{key}}" {%if value.my_fav %}checked="checked"{%endif%}>
     <label for="fav{{key}}" class="icon-star"></label>
    </span>
{%endif%}
    <span class="type" aria-hidden="true"><span class="fa fa-{{value.type}}"></span> </span>
    <span class="title">
    {%set show_url = value.url %}
    {%set edit_url = '@/add/' ~ value.id %}
    {%if my_poll %}
      {%set url = edit_url %}
    {%else%}
      {%set url = show_url %}
    {%endif%}

    <a href="{{url}}">
      {% if value.title %}
        {{value.title|raw}}
      {%else%}
        <i>{% trans "(Untitled)"%}</i>
      {%endif%}
      </a>
    </span>
    <span class="comments-count">{{value.comment_count | fitNumber}}</span>
    <span class="votes-count">{{value.total | fitNumber}}</span>
    <span class="date">{{value.date_modified| jdate('Y-m-d')}}</span>
    {%if my_poll %}
    <span class="show"><a href="{{show_url}}" class="icon-home"></a></span>
    {%endif%}
   </li>
{%endfor%}

 </ul>


 <div class="pagination-container">
 {%include display.pagination%}
 </div>

{%else%}
 <div class="msg error">{%trans "No Result Found"%}</div>
{%endif%}
</div>