{%extends template.filter.layout%}


{%block content%}
   <div class="main pad box">
    <form method="post">
     <div class="row auto">
      {%include template.progress%}
      <div class="span9">
       <div class="row auto">
        <div class="span5">
         {{block('filter_gender')}}
         {{block('filter_marrital')}}
        </div>
        <div class="span7">
         {{block('filter_graduation')}}
         {{block('filter_employment')}}
        </div>
       </div>
       {{block('filter_degree')}}
       {{block('filter_age')}}
      </div>
      <div class="span3">{{block('filter_price')}}</div>
     </div>

     <div class="row auto">
      <div class="span6 btn-container">
       <button type="submit" class="btn primary">{%trans "Publish"%}</button>
      </div>
     </div>
    </form>
   </div>
{%endblock%}
