{%extends display.main%}

{%block content%}
<aside class='dashboard-aside'>

</aside>
<div class="main billing">
    <div>
        <div class="in xxlarge">

<div class="default-tbl billing-history-table">
                <h3 id="billing-history">{%trans "Security"%}</h3>
                <div class="tbl">
                    <div class="tbl-header">
                        <span>{%trans "Action"%}</span>
                        <span>{%trans "IP Address"%}</span>
                        <span>{%trans "Time"%}</span>
                    </div>
                    <div>
                        <span>....</span>
                        <span>214.32.16.108</span>
                        <span>27/08/1394 22:19:53</span>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="#!">1</a>
            </div>
</div>
</div>
</div>
</div>
{%endblock%}
