{% extends display.admin %}

{%block content%}
ADD ELECTION
<a href="{{url.base}}/election/admin/candida">candida</a>
{%if election_list%}
<h1>election list</h1>
<div class="tbl myTable">

	<div class="f th">
		<div>{%trans "id" %}</div>
		<div class="c2">{%trans "title" %}</div>
		<div>{%trans "eligible" %}</div>
		<div>{%trans "voted" %}</div>
		<div>{%trans "invalid" %}</div>
		<div>{%trans "cash" %}</div>
		<div>{%trans "start_time" %}</div>
		<div>{%trans "end_time" %}</div>
		<div>{%trans "jalali_year" %}</div>
		<div>{%trans "en_url" %}</div>
		<div>{%trans "fa_url" %}</div>
		<div>{%trans "cat" %}</div>
		<div>{%trans "win" %}</div>
		<div>{%trans "year" %}</div>
		<div>{%trans "desc" %}</div>
		<div>{%trans "status" %}</div>

	</div>
	<div class="f">
		{%for key, value in election_list%}
			<div><a href="{{url.base}}/election/admin/election/edit={{value.id}}">{{value.id}}</a></div>
			<div class="c2">{{value.title}}</div>
			<div>{{value.eligible}}</div>
			<div>{{value.voted}}</div>
			<div>{{value.invalid}}</div>
			<div>{{value.cash}}</div>
			<div>{{value.start_time}}</div>
			<div>{{value.end_time}}</div>
			<div>{{value.jalali_year}}</div>
			<div><a href="{{url.base}}/election/{{value.en_url}}">fff</a></div>
			<div><a href="{{url.base}}/election/{{value.fa_url}}">fff</a></div>
			<div>{{value.cat}}</div>
			<div>{{value.win}}</div>
			<div>{{value.year}}</div>
			<div>{{value.desc}}</div>
			<div>{{value.status}}</div>

	{%endfor%}
	</div>
</div>


{%endif%}
{%if edit_election%}
<h1>edit  election {{election.title}}</h1>
{%else%}
<h1>add new election</h1>
{%endif%}

<form method="post">
	<div class="f">
		<label for="title" class="c1">{%trans "title"%}</label>
		<input type="text" name="title" class="c5" id="title" placeholder="title" value="{{election.title}}">
	</div>

	<br>{%trans "title" %}:<input type="text" name="title" id="title" placeholder="title" value="{{election.title}}">
	<br>{%trans "eligible" %}:<input type="number" name="eligible" id="eligible" placeholder="eligible" value="{{election.eligible}}">
	<br>{%trans "voted" %}:<input type="number" name="voted" id="voted" placeholder="voted" value="{{election.voted}}">
	<br>{%trans "invalid" %}:<input type="number" name="invalid" id="invalid" placeholder="invalid" value="{{election.invalid}}">
	<br>{%trans "cash" %}:<input type="number" name="cash" id="cash" placeholder="cash" value="{{election.cash}}">
	<br>{%trans "start_time" %}:<input type="date" name="start_time" id="start_time" placeholder="start_time" value="{{election.start_time}}">
	<br>{%trans "end_time" %}:<input type="date" name="end_time" id="end_time" placeholder="end_time" value="{{election.end_time}}">
	<br>{%trans "jalali_year" %}:<input type="number" name="jalali_year" id="jalali_year" placeholder="jalali_year" value="{{election.jalali_year}}">
	<br>{%trans "year" %}:<input type="number" name="year" id="year" placeholder="year" value="{{election.year}}">
	<br>{%trans "desc" %}:<textarea name="desc" id="desc" placeholder="desc">{{election.desc}}</textarea>
	<br>{%trans "en_url" %}:<input type="text" name="en_url" id="en_url" placeholder="en_url" value="{{election.en_url}}">
	<br>{%trans "fa_url" %}:<input type="text" name="fa_url" id="fa_url" placeholder="fa_url" value="{{election.fa_url}}">
	<br>{%trans "cat" %}:<input type="text" name="cat" id="cat" placeholder="cat" value="{{election.cat}}">
	<br>{%trans "win" %}<select name="win">
		<option value="">{%trans "Please select one item"%}</option>
	{%for key, value in candidas%}
		<option value="{{value.id}}">{{value.name}} {{value.family}}</option>
	{%endfor%}
	</select>
	<br>
	{%trans "Status"%}<select name="status">
		<option value="awaiting" {%if election.status == 'awaiting' %}selected{%endif%}>{%trans "awaiting"%}</option>
		<option value="running" {%if election.status == 'running' %}selected{%endif%}>{%trans "running"%}</option>
		<option value="done" {%if election.status == 'done' %}selected{%endif%}>{%trans "done"%}</option>
	</select>
	<br><input type="submit" value="save">
</form>
{%endblock%}