{%extends display.mvc%}
{%block body%}
ADD ELECTION
{%if election_list%}
<h1>election list</h1>
<table border="1">
<tr>
		<th>{%trans "id" %}</th>
		<th>{%trans "title" %}</th>
		<th>{%trans "eligible" %}</th>
		<th>{%trans "voted" %}</th>
		<th>{%trans "invalid" %}</th>
		<th>{%trans "cash" %}</th>
		<th>{%trans "start_time" %}</th>
		<th>{%trans "end_time" %}</th>
		<th>{%trans "jalali_year" %}</th>
		<th>{%trans "year" %}</th>
		<th>{%trans "desc" %}</th>
		<th>{%trans "status" %}</th>
	</tr>

{%for key, value in election_list%}
	<tr>
		<td><a href="{{url.base}}/election/admin/election/edit={{value.id}}">{{value.id}}</a></td>
		<td>{{value.title}}</td>
		<td>{{value.eligible}}</td>
		<td>{{value.voted}}</td>
		<td>{{value.invalid}}</td>
		<td>{{value.cash}}</td>
		<td>{{value.start_time}}</td>
		<td>{{value.end_time}}</td>
		<td>{{value.jalali_year}}</td>
		<td>{{value.year}}</td>
		<td>{{value.desc}}</td>
		<td>{{value.status}}</td>
	</tr>
{%endfor%}
</table>
{%endif%}
{%if edit_election%}
<h1>edit  election {{election.title}}</h1>
{%else%}
<h1>add new election</h1>
{%endif%}

<form method="post">
	<br>{%trans "title" %}:<input type="text" name="title" id="title" placeholder="title" value="{{election.title}}">
	<br>{%trans "eligible" %}:<input type="number" name="eligible" id="eligible" placeholder="eligible" value="{{election.eligible}}">
	<br>{%trans "voted" %}:<input type="number" name="voted" id="voted" placeholder="voted" value="{{election.voted}}">
	<br>{%trans "invalid" %}:<input type="number" name="invalid" id="invalid" placeholder="invalid" value="{{election.invalid}}">
	<br>{%trans "cash" %}:<input type="number" name="cash" id="cash" placeholder="cash" value="{{election.cash}}">
	<br>{%trans "start_time" %}:<input type="date" name="start_time" id="start_time" placeholder="start_time" value="{{election.start_time}}">
	<br>{%trans "end_time" %}:<input type="date" name="end_time" id="end_time" placeholder="end_time" value="{{election.end_time}}">
	<br>{%trans "jalali_year" %}:<input type="number" name="jalali_year" id="jalali_year" placeholder="jalali_year" value="{{election.jalali_year}}">
	<br>{%trans "year" %}:<input type="number" name="year" id="year" placeholder="year" value="{{election.year}}">
	<br>{%trans "desc" %}:<textarea name="desc" id="desc" placeholder="desc">{{election.desc}}</textarea>
	<br>
	{%trans "Status"%}<select name="status">
		<option value="awaiting" {%if election.status == 'awaiting' %}selected{%endif%}>{%trans "awaiting"%}</option>
		<option value="running" {%if election.status == 'running' %}selected{%endif%}>{%trans "running"%}</option>
		<option value="done" {%if election.status == 'done' %}selected{%endif%}>{%trans "done"%}</option>
	</select>
	<br><input type="submit" value="save">
</form>
{%endblock%}