{%extends display.main%} {%block content%}
<div class="main pad">
    <div class="box">
    <div class="search-box">
        <input type="text" name="search" placeholder='{%trans "Search"%}' value="{{search_value}}" autocomplete="off">
        <label class="search-label">
         <span class="icon-search"></span>
        </label>
       </div>
        <div class="default-tbl">
            <div class="tbl admin-log">
                <div class="tbl-header">
                    <span><a href="{{url.base}}/admin/logs/{{order_url.priority}}">{% trans "Priority"%}</a></span>
                    <span><a href="{{url.base}}/admin/logs/{{order_url.type}}">{% trans "Category"%}</a></span>
                    <span><a href="{{url.base}}/admin/logs/{{order_url.caller}}">{% trans "Caller"%}</a></span>
                    <span><a href="{{url.base}}/admin/logs/{{order_url.user_id}}">{% trans "User"%}</a></span>
                    <span><a href="{{url.base}}/admin/logs/{{order_url.data}}">{% trans "Log data"%}</a></span>
                    <span><a href="{{url.base}}/admin/logs/{{order_url.desc}}">{% trans "Desc"%}</a></span>
                    <span>{% trans "Meta" %}</span>
                    <span><a href="{{url.base}}/admin/logs/{{order_url.createdate}}">{% trans "Date"%}</a></span>
                </div>
                {%for key, value in log_list%}
                <div>
                    <span>
                        <label class="red">{{value.priority}}</label>
                    </span>
                    <span title="{{value.type}}">{{value.type}}</span>

                    <span title="{{value.caller}}">
                        <a href="{{url.base}}/admin/logs/caller={{value.caller}}">{{value.title}}</a>
                    </span>
                    <span title="{{value.user_id}}">
                        <a href="{{url.base}}/admin/users/user={{value.user_id}}" title='{%trans "User data"%}'><span class="icon-pencil"></span></a>
                        <a href="{{url.base}}/admin/logs/user={{value.user_id}}" title='{%trans "Find this user in logs"%}'>{{value.user_id}}</a>
                    </span>
                    <span title="{{value.data}}">{{value.data}}</span>
                    <span title="{{value.desc}}">{{value.desc}}</span>
                    <span>
                        <a data-modal="meta_{{value.id}}" >{{value.meta|length}}</a>
                        <span class="modal" id="meta_{{value.id}}">
                            <div class="modal-dialog">
                            <div class="modal-title">{%trans "Log meta"%}</div>
                            <div class="modal-body log-modal">
                                <code class="json ltr">
                                {% if value.meta is iterable %}
                                    {{value.meta|json_encode(constant('JSON_UNESCAPED_UNICODE'))}}
                                {%else%}
                                    {{value.meta}}
                                {%endif%}
                                </code>
                            </div>
                            </div>
                        </span>
                    </span>
                    <span>
                        <a href="{{url.base}}/admin/logs/date={{value.createdate|date('Ymd', false)}}">
                            {{value.createdate|jdate("Y-m-d")}}
                        </a>
                        <a href="{{url.base}}/admin/logs/date={{value.createdate|date('YmdHis', false)}}">
                            {{value.createdate|jdate(" H:i:s")}}
                        </a>
                    </span>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="pagination-container">
    {%include display.pagination%}
 </div>
</div>

{%endblock%}