{% extends template.knowledge.layout%}
{%block content%}

   <div class="main pad">
    <div class="box">
     <div class="row unselectable">
      <div class="in {%if my_poll or xlarge%}xlarge{%endif%}">
       <div class="search-box">
        <input type="text" name="search" placeholder='{%trans "Search"%}' value="{{search_value}}" autocomplete="off">
        <label class="search-label">
         <span class="icon-search"></span>
        </label>
       </div>
        {%include display.result%}
      </div>
     </div>
    </div>
   </div>
{%endblock%}




















{%block old_admin%}
<div class="box content-management polls-management">
	<div class="main admin-section">

    <div class="overall-charts">
        <div class="f">
			<!--mini polls card-->
            <div class="c12 overall-stats unselectable f align-content-between">
                <!--item-->
                <div class="c2 plus-pad">
                    <a href="{{url.base}}/admin/knowledge">
                        <div class="stat">
                            <div>
                                <h5 class="num">98745</h5>
                                <div class="title" title="Total Polls"><i class="ico icon-question"></i> {% trans "Total Polls" %}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--/item-->
				<!--item-->
                <div class="c2 plus-pad">
                    <a href="{{url.base}}/admin/knowledge/status=publish">
                        <div class="stat">
                            <div>
                                <h5 class="num">98745</h5>
                                <div class="title" title="Published"><i class="ico icon-check"></i> {% trans "Published" %}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c2 plus-pad">
                    <a href="{{url.base}}/admin/knowledge/status=spam">
                        <div class="stat">
                            <div>
                                <h5 class="num">14537</h5>
                                <div class="title" title="Spam Polls"><i class="ico icon-ban"></i> {% trans "Spam Polls" %}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c2 plus-pad">
                    <a href="{{url.base}}/admin/knowledge/status=awaiting">
                        <div class="stat">
                            <div>
                                <h5 class="num">35</h5>
                                <div class="title" title="Telegram Users"><i class="ico icon-list"></i> {% trans "Awaiting Polls" %}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c2 plus-pad">
                    <a href="{{url.base}}/admin/knowledge/status=draft">
                        <div class="stat ">
                            <div>
                                <h5 class="num">5415</h5>
                                <div class="title" title="Telegram Users"><i class="ico icon-pencil"></i> {% trans "Draft Polls" %}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--/item-->
				<!--item-->
                <div class="c2 plus-pad">
                    <a href="{{url.base}}/admin/knowledge/status=trash">
                        <div class="stat ">
                            <div>
                                <h5 class="num">5415</h5>
                                <div class="title" title="Trash"><i class="ico icon-trash-o"></i> {% trans "Trash" %}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--/item-->
            </div>
    <!--//mini polls card-->
        </div>
    </div>
	<div class="plus-pad ">
		<div id="load-modal" data-modal2="words-check"></div>
		{%for key, value in poll_list.data%}
		<div class="card border-{{value.status}} {{value.type}} {%if value.meta.review == 'ok' %}accepted{%endif%}">
			<div class="poll-content">
				<div class="top-content">
					<div class="row auto">
						<div class="span10">
							<div class="poll-question">
								<h6 class="poll-word-{{value.id}} poll-title">
								    {%set myTitle%}
								      {% if value.title %}{{value.title|raw}}{%else%}<i>{% trans "Untitled"%}</i>{%endif%}
								    {%endset%}
									<a target="_blank" href="{{addUrl}}/{{value.id}}">{{myTitle}}</a>
									<a target="_blank" href="{{value.url}}"><i class="icon-external-link"></i></a>
								</h6>
								<div class="poll-question-options">
									<ul>
										{%for k, v in value.answers%}
										<li class="poll-word-{{value.id}}">{{v.title}}</li>
										{%endfor%}
										<div class="clearfix"></div>
									</ul>
									{%if value.summary%}
										<span>{%trans "Summary"%}:<div class="poll-description">{{value.summary}}</div></span>
									{%endif%}
									{%if value.description%}
										<span>{%trans "Description"%}:<div class="poll-description">{{value.description}}</div></span>
									{%endif%}

								</div>
							</div>
						</div>
						<div class="poll-management-options span2">
							<div class="btn-group">
								<button class="accept change-status btn btn-success" title="OK" data-id="{{value.id}}" status="publish">{%trans "Publish" %}</button>
								<button class="reject change-status btn btn-danger " title="draft" data-id="{{value.id}}" status="draft">{%trans "Draft" %}</button>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-content">
					<div class="row auto">
						<div class="span7">
							<span class="label label-status label-{{value.status}}">{{value.status}}</span>
							<span class="content-properties">
								{% if value.language %}
									{% if value.language=='fa' %}
									{% trans "Persian" %}
									{% else %}
									{{value.language }}
									{%endif%}
								{%endif%}
								<!-- <span>|</span>
								{% trans "parent" %} {{value.parent }} -->
								<span>|</span>
								{% if value.sarshomar %}
									{% trans "sarshomar" %}
								{%else%}
									{% trans "Public" %}
								{%endif%}
								<!-- <span>|</span>
								{% trans "survey" %} {{value.survey }} -->
								<!-- <span>|</span>
								{% trans "gender" %} {{value.gender }} -->
								<span>|</span>
								{% trans "Privacy type" %}:{{value.privacy }}
							<!-- 	<span>|</span>
								{% trans "total" %}	{{value.total }} -->
								</span>
						</div>
						<div class="span2">
						<label for="homepage_{{value.id}}" class="label">{%trans "Show in home page"%}</label>
						<input class="set_homepage" type="checkbox" name="homepage" id="homepage_{{value.id}}" data-id="{{value.id}}" {%if value.id|shortURL('decode') in poll_list.homepage %} checked="checked" {%endif%}>
						</div>
						<div class="span2 star-rating">
							<div class="star-rating-wrap">
								<input class="star-rating-input" id="star-rating-5" type="radio" name="rating" value="5">
								<label class="star-rating-ico icon-star-o" for="star-rating-5" title="5 out of 5 stars"></label>
								<input class="star-rating-input" id="star-rating-4" type="radio" name="rating" value="4">
								<label class="star-rating-ico icon-star-o" for="star-rating-4" title="4 out of 5 stars"></label>
								<input class="star-rating-input" id="star-rating-3" type="radio" name="rating" value="3">
								<label class="star-rating-ico icon-star-o" for="star-rating-3" title="3 out of 5 stars"></label>
								<input class="star-rating-input" id="star-rating-2" type="radio" name="rating" value="2">
								<label class="star-rating-ico icon-star-o" for="star-rating-2" title="2 out of 5 stars"></label>
								<input class="star-rating-input" id="star-rating-1" type="radio" name="rating" value="1">
								<label class="star-rating-ico icon-star-o" for="star-rating-1" title="1 out of 5 stars"></label>
							</div>
						</div>
						<div class="span3">
							<div class=" value-options">
								<input type="number" class="poll-value" id="vip-value-{{value.id}}" value="{{value.vip}}" placeholder="{%trans 'value' %}">
								<button class="btn icon-check confirm-poll-status confirm-poll-value" id="save-vip" data-id="{{value.id}}">
							</button>
								<select id="other-status" class="change-poll-status">
								<option value="" disabled selected>Select</option>
								<option value="stop">stop</option>
								<option value="pause">pause</option>
								<option value="trash">trash</option>
								<option value="publish">publish</option>
								<option value="draft">draft</option>
								<option value="enable">enable</option>
								<option value="disable">disable</option>
								<option value="deleted">deleted</option>
								<option value="schedule">schedule</option>
								<option value="expired">expired</option>
								<option value="awaiting">awaiting</option>
								<option value="filtered">filtered</option>
								<option value="blocked">blocked</option>
								<option value="spam">spam</option>
								<option value="violence">violence</option>
								<option value="pornography">pornography</option>
								<option value="other">other</option>
							</select>
								<button class="btn change-status icon-check confirm-poll-status" id="save-other" data-id="{{value.id}}">
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
</div>



	<div class="paginate">
		<!-- pagenation -->
		{% embed display.pagination %}{% endembed %}
	</div>
</div>
{%endblock%} {%block foot_js%}
<script type="text/javascript">
	$(document).ready(function () {
		$(document).on('click', "#save-words", function () {
			spam_words = new Array;
			$(".is-tag").each(function () {
				if ($(this).hasClass('tag-red')) {
					spam_words.push($(this).html());
				}
			});
			$(this).ajaxify({
				ajax: {
					method: 'post',
					data: {
						'spam-word': spam_words,
						'status': status
					},
					abort: true,
					success: function (e, data, x) {
						return true;
					}
				}
			});
		});

		$(this).on('change', '#other-status', function () {
			$(this).parent('div').children('.btn').attr("status", $(this).val());
		});

		$(document).on('click', '#save-vip', function () {
			id = $(this).attr("data-id");
			value = $("#vip-value-" + id).val();
			$(this).ajaxify({
				ajax: {
					method: 'post',
					data: {
						'id': id,
						'vip-value': value
					},
					abort: true,
					success: function (e, data, x) {

					}
				}
			});
		});

		$(document).on('click', '.set_homepage', function () {
			id = $(this).attr("data-id");
			checked = $(this).prop("checked");
			$(this).ajaxify({
				ajax: {
					method: 'post',
					data: {
						'id': id,
						'type': 'homepage',
						'checked' : checked
					},
					abort: true,
					success: function (e, data, x)
					{

					}
				}
			});
		});

		$(document).on('click', '.change-status', function () {
			id = $(this).attr("data-id");
			status = $(this).attr("status");

			console.log(status);

			if (status !== "publish" || status !== "ok") {
				$('#load-modal').click();
				words = "";
				$('.poll-word-' + id).each(function () {
					var val = $(this).html();
					console.log(val);
					val = val.split(/\s/);
					for (a in val) {
						if (val[a] != '') {
							words += "<a class='is-tag'>" + val[a] + "</a>";
						}
					}
				});
				$('#words-list').html('');
				$('#words-list').append($(words));

			}
			$(this).ajaxify({
				ajax: {
					method: 'post',
					data: {
						'id': id,
						'status': status
					},
					abort: true,
					success: function (e, data, x) {

					}
				}
			});
		});
		$(document).on('click', '.is-tag', function () {
			$(this).toggleClass('tag-red');
		});
	});
</script>
{%endblock%} {%block head_css%} {{parent()}}
<style type="text/css">
	.tag-red {
		background: #c62828 !important;
	}
</style>
{%endblock%} {%block modal%}
<div class='modal' id='words-check'>
	<div class='modal-dialog' method="post" action="{{base.url}}/account/login">
		<h3 class='modal-title'>به کدامین کلمه فیلترش کردی؟</h3>
		<p class='modal-body'>
			<div class='tags' id="words-list"></div>
			<dir>
				<div class="try" id="save-words">save</div>
			</dir>
		</p>
	</div>
</div>
{%endblock%}