{%extends display.main%}

{%block content%}
   <aside class='dashboard-aside'>
    <img src="http://sarshomar.dev/static/images/profile.svg" alt="">
    <div class="personal-info">
     <span class="name">{{login.displayname}}</span>
     <span class="mobile">{{login.mobile}}</span>
    </div>
    <div class="progress" data-percent="{{complete_profile}}">
     <div class="bar"></div>
     <div class="detail">
     {%if complete_profile < 10 %}
      {%trans "Your profile is not complete!"%}
     {%elseif complete_profile < 50%}
      {%trans "Allow user to sort answers"%}
     {%else%}
      {%trans "Thank you for completing profile"%}
     {%endif%}
      <br><a href="@/profile" class="try">{%trans "Complete Profile"%}</a></div>
    </div>
   </aside>

   <div class="main padding dashboard">
    <div class="row auto first-line">
     <div class='span2 card number'><h3>{%trans "Referred count"%}</h3><span>{{dashboard.user_referred}}</span></div>
     <div class='span2 card number'><h3>{%trans "Referred valid count"%}</h3><span>{{dashboard.user_verified}}</span></div>
     <div class='span2 card number'><h3>{%trans "Comments count"%}</h3><span>{{dashboard.comment_count}}</span></div>
     <div class='span2 card number'><h3>{%trans "Draft count"%}</h3><span>{{dashboard.draft_count}}</span></div>
     <div class='span2 card number'><h3>{%trans "Total Poll published"%}</h3><span>{{dashboard.publish_count}}</span></div>
     <div class='span2 card number'><h3>{%trans "Total Like taken"%}</h3><span>{{dashboard.poll_answered|number_format}}</span></div>
    </div>

    <div class="row auto">
     <div class="span6 card">
      <h3>{%trans "Summary of your activity in Sarshomar"%}</h3><span><div class="chart" id='chart-answered'></div></span>
     </div>
     <div class="span6">
      <div class="row auto">
       <div class='span6 card list fix'>
        <h3>{%trans "Quick Access"%}</h3>
        <span>
         <a href='/@/add'>{%trans "Create new poll"%}</a>
         <a href='/@/$'>{%trans "My polls"%}</a>
         <a href='/ask'>{%trans "Ask me"%}</a>
        </span>
       </div>
       <div class='span6 card number bold fix'><h3>{%trans "Your credit"%}</h3><span>{{dashboard.poll_answered * 10|number_format}}<i>{%trans "$"%}</i></span></div>
      </div>
      <div class="row auto">
       <div class='card activity'>
        <h3>{%trans "Last activity"%}</h3>
        <span>

        </span>
       </div>
      </div>
     </div>
    </div>
   </div>
{%endblock%}


{%block foot_js%}
 <script type="text/javascript">
  $(function ()
  {
    // Highcharts.chart('#chart-answered',
    $('#chart-answered').highcharts(
    {
      chart:{type:'pie',},
      title:{text:''},
      plotOptions:{pie:{innerSize:100,depth:45,allowPointSelect:true,cursor:'pointer',showInLegend:true,}},
      credits:{enabled:false},
      tooltip:{enabled:false},
      series:[{name:'{%trans "Question Answered"%}',
        data:[['{%trans "Remained"%}', {{dashboard.sarshomar_poll}}],['{%trans "Skip"%}', {{dashboard.poll_skipped}}],{name:'{%trans "Answered"%}',y:{{dashboard.poll_answered}},sliced:true,selected:true}]
      }]
    });
  });
 </script>
{% endblock %}
