{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <div class="row">
     <div class="span2"></div>
     <div class="span8">
      <h2>تعیین جامعه آماری هدف</h2>
      <div class="content">
       <p>از برجسته‌ترین ویژگی‌های ارائه‌شده در سرشمار، امکان تعیین جامعه آماری هدف است. بدین‌منظور می‌توانید سوال یا تبلیغات را به صورت هدفمند و دقیقا براساس نیاز ارائه کنید و بازخوردهای آن را از هدف مشخص‌شده بدون دغدغه و در کمترین زمان دریافت کنید.</p>
       <p>به‌عنوان مثال می‌توانید سوالی را از مردان متاهل زیر ۲۵ سال دارای مدرک کارشناسی و کارشناسی‌ارشد شاغل بپرسید. تصور کنید که در سرشمار می‌توانید تبلیغات خود را به صورت هدفمند تنها برای زنان مجرد رده سنی ۱۸ تا ۳۰ سال بفرستید.</p>
      </div>
     </div>
    </div>
   </div>
  </div>
{%endblock%}
