{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <div class="row">
     <div class="span2"></div>
     <div class="span8">
      <h2>دسترسی آسان</h2>
      <div class="content">
       <p>سوالات تشریحی مطرح کنید و پاسخ‌های دقیق‌ و کامل‌ به‌دست آورید. علاوه بر سوالات گزینه‌ای معمول، برای ارتباط تکمیلی با مخاطبان، امکان افزودن سوالات تشریحی و دریافت پاسخ‌هایی تشریحی از مخاطبان وجود دارد.</p>
       <p>به عنوان مثال این ویژگی در مراکز علمی برای برگزاری آزمون و در سازمان‌ها و مراکز تجاری برای دریافت نظرات و پیشنهادات مخاطبان کاربرد ویژه‌ای دارد.</p>
      </div>
     </div>
    </div>
   </div>
  </div>
{%endblock%}
