{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Guest"%}</h2>
    <div class="text-based-container">

      <h2>قبل از ثبت‌نام امتحان کنید</h2>
      <div class="content">
       <p class="em">برخلاف همه سایت‌ها و سرویس‌هایی که تاکنون دیده‌اید، اجباری به ثبت‌نام در <b>سرشمار</b> وجود ندارد.</p>
       <p>با ویژگی قبل از ثبت‌نام امتحان کنید بدون نیاز به ثبت‌نام و به صورت کاربر مهمان، <b>سرشمار</b> را بررسی‌کرده و درصورتی که ما را برترین یافتید، ثبت‌نام کنید.</p>
       <p>در حالت کاربر مهمان تمامی ویژگی‌های <b>سرشمار</b> برای بررسی در اختیار شماست. شما می‌توانید سوال یا پرسش‌نامه خود را ثبت‌کرده و یا به سوالات <b>سرشمار</b> پاسخ دهید. فعالیت‌ها و مشارکت شما در حالت مهمان ذخیره شده و نزد ما برای مدتی محفوظ است،‌ اما برای انتشار سوال یا اثرگذاری نتایج دریافتی از شما در نظرسنجی‌ها، نیاز به ثبت‌نام داریم.دلیل عدم انتشار سوالات ثبت‌شده و عدم اثرگذاری نتایج شما در حالت کاربر مهمان، جلوگیری از ایجاد نتایج غیرواقعی و انتشار سوالات نامناسب است.</p>
       <img src="{{url.static}}images/miniature/guest.png" alt='{%trans "Guest"%}'>
       <p class="em">پس از ثبت‌نام و تایید حساب‌کاربری، مشارکت‌های ذخیره‌شده شما هم‌چنان در اختیار شماست و <b>سرشمار</b> به‌پاس تثبیت حضورتان، هدیه‌ای را برای این اقدام ارزشمند در حساب‌کاربری شما لحاظ خواهد کرد.</p>
       <p>با تکمیل ثبت‌نام علاوه بر دریافت هدیه‌ی ثبت‌نام، براساس فعالیت‌های انجام‌شده از هدایای تعیین‌شده در <b>سرشمار</b> برخوردار خواهید شد.</p>

       {%if not login%}

       <div class="guest-box">
        <a class="try" href='{{url.base}}/signup' data-direct>{%trans "Register"%}</a>
        <input type="checkbox" id="guest-button">
        <label class="try" for="guest-button">{%trans "Guest"%}</label>
       </div>

       {%endif%}

       <div class="captcha-box" data-response='guest-button' data-response-hide>
        <h3>لطفا شماره داخل کادر را اینجا وارد کنید</h3>
        <div class="captcha-container">
         <div>
          <div class="captcha">{{captcha}}</div>
         </div>
         <div class="form-container">
          <form method="post" action="{{url.base}}/@">
           <input type="text" name="captcha">
           <input type="submit" class="try submit">
          </form>
         </div>
        </div>
       </div>
      </div>

    </div>
   </div>
  </div>
{%endblock%}
