{%extends display.main%}

{%block content%}
  <div class="main pad">
   <div class="box">
    <div class="feature-items">
     <a href="{{url.base}}/features/multimedia" class="feature-item">
      <p class="title">{%trans "Multimedia Questions"%}</p>
      <p class="description">{%trans "Possibility of using new and modern methods for asking questions."%}</p>
     </a>
     <a href="{{url.base}}/features/export-results" class="feature-item">
      <p class="title">{%trans "Exit from the result"%}</p>
      <p class="description">{%trans "Possibility of exporting results in any format of your choice."%}</p>
     </a>
     <a href="{{url.base}}/features/population-breakdown" class="feature-item">
      <p class="title">{%trans "Observe the result in separation of Statistical population"%}</p>
      <p class="description">{%trans "Receive comparing graph and tables separately from   requested option."%}</p>
     </a>
     <a href="{{url.base}}/features/essay-type-questions" class="feature-item">
      <p class="title">{%trans "Descriptive Question (Open Question)"%}</p>
      <p class="description">{%trans "Ask a descriptive question and get the complete and exact answer."%}</p>
     </a>
     <a href="{{url.base}}/features/language-localization" class="feature-item">
      <p class="title">{%trans "Multi Languages"%}</p>
      <p class="description">{%trans "All services are provided in both Persian and English languages."%}</p>
     </a>
     <a href="{{url.base}}/features/try-before-registering" class="feature-item">
      <p class="title">{%trans "Optional Registration"%}</p>
      <p class="description">{%trans "Registration in Sarshumar is optional"%}</p>
     </a>
     <a href="{{url.base}}/features/without-disturbance" class="feature-item">
      <p class="title">{%trans "Without Advertisement"%}</p>
      <p class="description">{%trans "There are no annoying advertisements."%}</p>
     </a>
     <a href="{{url.base}}/features/social-networks" class="feature-item">
      <p class="title">{%trans "Providing services through Telegram"%}</p>
      <p class="description">{%trans "Use Sarshomar bot in your Telegram channels and groups"%}</p>
     </a>
     <a href="{{url.base}}/features/target-statistical-population" class="feature-item">
      <p class="title">{%trans "Determining the Statistical population"%}</p>
      <p class="description">{%trans "Compare from sightly Statistical population."%}</p>
     </a>
     <a href="{{url.base}}/features/tree" class="feature-item">
      <p class="title">{%trans "Question Tree"%}</p>
      <p class="description">{%trans "Tree is a device to organize the questions."%}</p>
     </a>
     <a href="{{url.base}}/features/privatization-results" class="feature-item">
      <p class="title">{%trans "Analyzing descriptive result"%}</p>
      <p class="description">{%trans "providing analyzed text  from the result of questions."%}</p>
     </a>
    </div>
   </div>
  </div>
{%endblock%}
