{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <div class="row">
     <div class="span2"></div>
     <div class="span8">
      <h2>بومی‌سازی برای زبان شما</h2>
      <div class="content">
       <p><b>سرشمار</b> برای ایجاد حس مطلوب به شما از هیچ اقدامی دریغ نمی‌کند. در این راستا ما به مرور زمان درحال افزایش پشتیبانی از زبان‌های بیشتری هستیم تا شما بتوانید به زبان خودتان با <b>سرشمار</b> کار کنید.</p>
       <p>در صورت تمایل برای کمک به ما در راستای بومی‌سازی زبان‌های بیشتر، با <b>سرشمار</b> تماس بگیرید.</p>
      </div>
     </div>
    </div>
   </div>
  </div>
{%endblock%}
