{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <div class="row">
     <div class="span2"></div>
     <div class="span8">
      <h2>سوالات چندرسانه‌ای</h2>
      <div class="content">
       <p>استفاده از محتوای چندرسانه‌ای در سوالات یکی از جذاب‌ترین ویژگی‌های ارائه‌شده در <b>سرشمار</b> است. به‌عنوان مثال می‌توانید یک فیلم کوتاه شصت ثانیه‌ای درباره محیط‌زیست پخش کرده و نظر تشریحی مخاطبان را درباره آن دریافت کنید.</p>
      </div>
     </div>
    </div>
   </div>
  </div>
{%endblock%}
