{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <div class="row">
     <div class="span2"></div>
     <div class="span8">
      <h2>بدون مزاحمت</h2>
      <div class="content">
       <p><b>سرشمار</b> مخالف پیام‌های آزاردهنده است و تلاش ما بر این است در حین کار با این سرویس حس مطلوبی در شما ایجاد کنیم. به‌صورت پیش‌فرض تمام پیام‌ها در <b>سرشمار</b> غیر‌فعال بوده و مدیریت آن به صورت کامل در اختیار شماست.</p>
       <p>بدین مفهوم که <b>سرشمار</b> هیچ‌گاه شروع‌کننده ارتباط نبوده و تنها پس از درخواست از طرف شما، پیام‌ها برایتان ارسال می‌گردد. البته امکان سفارشی‌سازی دریافت اطلاع‌رسانی‌ها برای شما ممکن بوده و درصورت تمایل می‌توانید آن را فعال کنید. پس نگران مزاحمت از طرف <b>سرشمار</b> نباشید.</p>
      </div>
     </div>
    </div>
   </div>
  </div>
{%endblock%}
