{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <div class="row">
     <div class="span2"></div>
     <div class="span8">
      <h2>مشاهده نتایج نموداری به تفکیک جامعه آماری</h2>
      <div class="content">
       <p>نمودارها ابزار قدرتمندی هستند که شاید مطالعه آنها چند دقیقه بیشتر طول نکشد اما می‌توانند مقدار زیادی اطلاعات پیچیده را بطور ساده و اثرگذار به شما ارائه دهند.</p>
       <p>نمودار و جداول نظرسنجی‌ در <b>سرشمار</b> به تفکیک جامعه‌آماری پاسخ‌دهندگان و فاکتورهای اساسی آنان در دسترس است. این فاکتورهای اساسی شامل جنسیت، بازه‌سنی، وضعیت‌تاهل، مدرک‌تحصیلی، وضعیت‌تحصیلی و محل سکونت است.</p>
      </div>
     </div>
    </div>
   </div>
  </div>
{%endblock%}
