{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <div class="row">
     <div class="span2"></div>
     <div class="span8">
      <h2>درختواره سوالات</h2>
      <div class="content">
       <p>منظور از درختواره، اتصال سوالی به سوالی دیگر است. بدین‌منظور می‌توانید گزینه‌های موردنظر برای ایجاد اتصال را در هنگام تعریف سوال مشخص کنید.</p>
       <p>به‌عنوان مثال سوال مربوط به حجامت را فقط از کاربرانی بپرسید که در سوال استفاده از طب‌سنتی ایرانی گزینه مثبت را انتخاب کرده‌اند. یا به صورت معکوس سوالی در مورد چرایی عدم استفاده از طب‌سنتی را از کسانی بپرسید که آن سوال گزینه منفی را انتخاب کرده‌اند.</p>
       <p>بدین ترتیب با کمک ویژگی درختواره و بهره‌بردن از دانش عظیم سرشمار، می‌توانید سوال یا پیام خود را به صورت هدفمند هدایت کرده و به دست مخاطبان موردنظر برسانید.</p>
      </div>
     </div>
    </div>
   </div>
  </div>
{%endblock%}
