{%extends display.main%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <div class="row">
     <div class="span2"></div>
     <div class="span8">
      <h2>ارائه خدمات از طریق شبکه‌های اجتماعی</h2>
      <div class="content">
       <p>یکی از بهترین و برترین ویژگی‌های <b>سرشمار</b> ارائه خدمات از طریق شبکه‌های اجتماعی است. خدمات <b>سرشمار</b> با توجه به ویژگی‌های قابل ارائه در هر شبکه‌ی اجتماعی ارائه‌شده و به صورت یکپارچه در دسترس است.</p>
       <p>یکی از اهداف ارائه خدمات <b>سرشمار</b> در شبکه‌های اجتماعی، دسترسی آسان و عدم نیاز به نصب نرم‌افزار در دستگاه دیجیتالی شماست که به‌راحتی امکان دستیابی شما به خدمات <b>سرشمار</b> را امکان‌پذیر می‌سازد.</p>
      </div>
     </div>
    </div>
   </div>
  </div>
{%endblock%}
