<img class="brand-intro" src="{{url.static}}images/page-logo/brand-intro-half.svg" alt='{%trans "Brand Intro"%}'>
<h3 class="bh">{%trans "Drawing logo"%}</h3>
<div class="f fix brand-colors-container">
 <div class="c8">
  <img class="brand-blueprint" src="{{url.static}}images/page-logo/brand-blueprint.png" alt='{%trans "Brand Blueprint"%}'>
 </div>
 <div class="c4 flex f-column justify-around brand-colors">
  <ul class="brand-color-one">
   <li>
    <span>C</span>
    <span>91</span>
    <span>R</span>
    <span>0</span>
   </li>
   <li>
    <span>M</span>
    <span>84</span>
    <span>G</span>
    <span>102</span>
   </li>
   <li>
    <span>Y</span>
    <span>40</span>
    <span>B</span>
    <span>122</span>
   </li>
   <li>
    <span>K</span>
    <span>14</span>
    <span>#</span>
    <span>00667a</span>
   </li>
  </ul>

  <ul class="brand-color-two">
   <li>
    <span>C</span>
    <span>0</span>
    <span>R</span>
    <span>255</span>
   </li>
   <li>
    <span>M</span>
    <span>0</span>
    <span>R</span>
    <span>255</span>
   </li>
   <li>
    <span>Y</span>
    <span>0</span>
    <span>B</span>
    <span>255</span>
   </li>
   <li>
    <span>K</span>
    <span>0</span>
    <span>#</span>
    <span>ffffff</span>
   </li>
  </ul>

  <ul class="brand-color-three">
   <li>
    <span>C</span>
    <span>12</span>
    <span>R</span>
    <span>204</span>
   </li>
   <li>
    <span>M</span>
    <span>100</span>
    <span>G</span>
    <span>16</span>
   </li>
   <li>
    <span>Y</span>
    <span>89</span>
    <span>B</span>
    <span>48</span>
   </li>
   <li>
    <span>K</span>
    <span>4</span>
    <span>#</span>
    <span>cc1030</span>
   </li>
  </ul>
 </div>
</div>

<img class="logo-blueprint" src="{{url.static}}images/page-logo/logo-blueprint-fa.png" alt='{%trans "Logo blueprint"%}'>
<img class="logo-blueprint" src="{{url.static}}images/page-logo/logo-blueprint.png" alt='{%trans "Logo blueprint"%}'>
<h3 class="bh">{%trans "Explanations about the logo"%}</h3>
<div class="l1">
 <p>نشانه (لوگو)، شناخت سریع و الهام بدون درنگ می‌باشد که معرف هویت، شخصیت، فکر و فلسفه درونی یک مجموعه است. نشانه، چهره و مشخصه یک برند است که باید با موضوع، مفهوم و خصوصیات آن همخوانی داشته باشد، طوری که مخاطب با نگاه کردن به آن به سرعت با خصوصیات و فعالیت آن آشنا شود.</p>
 <p class="em">نشانه باید در نهایت زیبایی ساده باشد، طراحی زیبا و کارآمد آن می‌تواند اهمیت بسزایی در محبوبیت آن برند در نظر مخاطبان داشته باشد.</p>
</div>

<div class="l2">
 <ul>
  <li>
   <h4>{%trans "Square"%}</h4>
   <p><span class="img-square"></span>برخلاف دایره که نماد حرکت و بی‌انتهایی بود، مربع نماد سکون، آرامش و ایستایی است. نماد برابری، برادری، پایداری و هر آنچه استحکام را القا می‌کند. مربع نماد زمین در برابر آسمان است که نشانگر کمال، قدرت، صراحت و قاطعیت است. چهار ضلع مساوی مربع می‌تواند نماد چهار جهت اصلی شمال، جنوب، شرق و غرب یا چهار فصل یا چهار مرحله زندگی از کودکی تا جوانی و میانسالی و پیری باشد.</p>
  </li>

  <li>
   <h4>{%trans "Circle"%}</h4>
   <p><span class="img-circle"></span>دایره نشان دهنده‌ حرکت و زمان است، حرکتی بدون آغاز و پایان. شکل کاملی که نشانگر یکپارچگی و وحدت، تفکر عمیق، نرمی و لطافت، تکرار، ‌درون‌گرایی و آرامش است. دایره نمادی کامل از حرکت جاودانه و نامتناهی، شب و روز، زوج و فرد، خیر و شر، بالا و پایین و ... است و به همین جهت ابدیت را القا می‌کند.</p>
  </li>

  <li>
   <h4>{%trans "Pomegranate"%}</h4>
   <p><img src="{{url.static}}images/page-logo/pomegranate.svg" alt='{%trans "Pomegranate"%}'>انار درخت بومی ایران است و گیاه‌شناسان خاستگاه آن را ایران می‌دانند و این خود یکی از دلایل مهم توجه ایرانیان (مخصوصا هنرمندان) از دوران باستان تاکنون به انار بوده است. انار نماد وحدت و کثرت بوده و به خاطر دانه‌های فراوانش نماد افزایش، اطمینان و شکوفایی نیز شناخته می‌شود. انار از مقدس‌ترین درختان می‌باشد به‌طوری‌که در ادیان، ملل و فرهنگ‌های گوناگون به فراوان از آن یاد شده است. در قرآن و تورات از انار به عنوان یک میوه بهشتی یاد شده و در یونان باستان، رم باستان، هندوستان، ارمنستان و آیین زرتشت نیز مورد توجه فراوان بوده و هست.</p>
  </li>

  <li>
   <h4 class="line blue">{%trans "Blue"%}</h4>
   <p>رنگی آرام، عمیق، شکیبا و احترام برانگیز است، رنگ آبی رنگی معنوی و نماد اعتماد است.</p>
  </li>

  <li>
   <h4 class="line white">{%trans "White"%}</h4>
   <p>رنگی پاک و خالص که القا کننده آرامش است، رنگ سفید نماد روحانی بودن، پاکی و صداقت است.</p>
  </li>

  <li>
   <h4 class="line red">{%trans "Red"%}</h4>
   <p>رنگ قرمز رنگی جذاب است که نشان از قدرت، شور جوانی و تولد دوباره دارد، این رنگ نمادی از زندگی و هیجان است.</p>
  </li>
 </ul>

 <p>ما سعی کردیم که از دو شکل ساده و کامل، از دو رنگ سرد و گرم و از انار، این میوه زیبای ایرانی نشانه‌ای برای خود انتخاب کنیم که الحمدلله با کار مداوم و تلاش فراوان نشانه‌ای خلق شد که در عین سادگی و زیبایی مفهوم مجموعه سرشمار در آن نهفته است، نشانه‌ای که با افتخار نشان‌دهنده سرشمار محصول تمام ایرانی می‌باشد و ما به آن افتخار می‌کنیم و خواهیم کرد.</p>
</div>