<h3 class="bh">{%trans "Download our logo"%}</h3>
<div class="l1">
 <p>شما می‌توانید نشان‌واره ما را به‌صورت تک و یا با لوگوتایپ فارسی و یا لاتین از اینجا دریافت کنید.</p>
</div>
<div class="l2">
 <img class="img-test" src=" {{url.static}}images/page-logo/sarshomar-brand.svg" alt='{%trans "Sarshomar"%}'>
 <img class="img-test" src="{{url.static}}images/page-logo/sarshomar-logo-fa.svg" alt='{%trans "Sarshomar"%}'>
 <img class="img-test" src="{{url.static}}images/page-logo/sarshomar-logo.svg" alt='{%trans "Sarshomar"%}'>
</div>
<div class="l1">
 <p>شما می‌توانید نشان‌واره ما را با توجه به نیاز خود با رنگ زمینه سرشمار و یا با رنگ زمینه سفید مورد استفاده قرار دهید. گاهی به ندرت پیش می‌آید که نشان‌واره باید به صورت تک رنگ مورد استفاده قرار گیرد و ما آن را برای شما آماده کرده‌ایم ولی تا جایی که امکان دارد از نشان‌واره رنگی ما استفاده کنید.</p>
</div>
<div class="l1">
 <p>نشان‌واره ما همراه لوگوتایپ در رنگ و زمینه‌های تیره و روشن در اختیار شما قرار داده شده است.</p>
</div>