{%extends display.main%}

{%block content%}
<style type="text/css">
/*.in{background-color:rgba(0,0,0,0.1)}*/
.in .l1{margin:0 36px/*;background-color:rgba(0,0,0,0.2)*/}
.in .l2{margin:0 36px 0 66px/*;background-color:rgba(0,0,0,0.3)*/}
.in::before,.in::after,.l1::before,.l1::after,.l2::before,.l2::after{display:table;content:''}
.in::after,.l1::after,.l2::after{clear:both}
.rtl .in .l2{margin:0 66px 0 36px}

.brand-intro{display:block;max-width:100%;margin-bottom:4em}

.bh{font-weight:bold;line-height:2;padding:0;padding-left:1em;color:#0c7c78;border:none;border-left:4px solid #aaa}
.rtl .bh{padding:0;padding-right:1em;border:none;border-right:4px solid #aaa}

.brand-blueprint{display:block;width:100%}

.brand-colors{}
.brand-colors [class*="brand-color"]{padding-left:1rem/*;margin-left:2em*/}
.brand-colors .brand-color-one{border-left:10px solid #00667a/*;margin-top:3em*/}
.brand-colors .brand-color-two{border-left:10px solid #ffffff}
.brand-colors .brand-color-three{border-left:10px solid #cc1030/*;margin-bottom:3em*/}

.brand-colors ul li{direction:ltr;text-align:left}
.brand-colors ul li span{display:inline-block;min-width:2.6em}
.brand-colors ul li span:nth-child(2n+1){font-weight:bold}
.logo-blueprint{display:block;max-width:100%;max-height:20rem;margin:auto}
h5{position:relative}
h5::before{position:absolute;top:-1px;bottom:0;left:-30px;width:20px;height:20px;margin:auto;content:'';border-radius:2px;background-color:#37aaa7}
.rtl h5::before{left:auto;right:-30px}
.pomegranate{float:right;width:10rem;margin:0 0 2rem 2rem}
.rtl .pomegranate{float:left;margin:0 2rem 2rem 0}
.logo-square,.logo-circle{width:15rem;height:15rem;border:5px solid #b7b7b7}
.logo-circle{border-radius:50%}
.logo-exp h5,.logo-exp p{padding:0 20px}
.logo-exp h5{position:relative}
.logo-exp h5::before{content:'';width:15px;height:15px;background-color:#37aaa7;border-radius:2px;position:absolute;left:0;top:0;bottom:0;margin:auto}
.p-pomegranate{padding-right:0 !important}
/*p:last-of-type{margin-bottom:0}*/
</style>
<div class="main pad">
 <div class="in">
  <img class='brand-intro' src="{{url.static}}images/page-logo/brand-intro-half.svg" alt='{%trans "Brand Intro"%}'>
  <h4 class="bh">{%trans "Drawing logo"%}</h4>
  <div class="f fix">
   <div class="c8">
    <img class='brand-blueprint' src="{{url.static}}images/page-logo/brand-blueprint.png" alt='{%trans "Brand Blueprint"%}'>
   </div>
   <div class="c4 flex f-column justify-between brand-colors">
    <ul class="brand-color-one">
     <li>
      <span>C</span>
      <span>91</span>
      <span>R</span>
      <span>0</span>
     </li>
     <li>
      <span>M</span>
      <span>84</span>
      <span>G</span>
      <span>102</span>
     </li>
     <li>
      <span>Y</span>
      <span>40</span>
      <span>B</span>
      <span>122</span>
     </li>
     <li>
      <span>K</span>
      <span>14</span>
      <span>#</span>
      <span>00667a</span>
     </li>
    </ul>

    <ul class="brand-color-two">
     <li>
      <span>C</span>
      <span>0</span>
      <span>R</span>
      <span>255</span>
     </li>
     <li>
      <span>M</span>
      <span>0</span>
      <span>R</span>
      <span>255</span>
     </li>
     <li>
      <span>Y</span>
      <span>0</span>
      <span>B</span>
      <span>255</span>
     </li>
     <li>
      <span>K</span>
      <span>0</span>
      <span>#</span>
      <span>ffffff</span>
     </li>
    </ul>

    <ul class="brand-color-three">
     <li>
      <span>C</span>
      <span>12</span>
      <span>R</span>
      <span>204</span>
     </li>
     <li>
      <span>M</span>
      <span>100</span>
      <span>G</span>
      <span>16</span>
     </li>
     <li>
      <span>Y</span>
      <span>89</span>
      <span>B</span>
      <span>48</span>
     </li>
     <li>
      <span>K</span>
      <span>4</span>
      <span>#</span>
      <span>cc1030</span>
     </li>
    </ul>
   </div>
  </div>
  <img class="logo-blueprint" src="{{url.static}}images/page-logo/logo-blueprint-fa.png" alt="Logo Blueprint Persian">
  <img class="logo-blueprint" src="{{url.static}}images/page-logo/logo-blueprint.png" alt="Logo Blueprint">
  <h4 class="bh">{%trans "Explanations about the logo"%}</h4>
  <div class="l1">
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <ul class="l2">
   <li>
    <h5>{%trans "Title"%}</h5>
    <p><img class="pomegranate" src="{{url.static}}images/page-logo/pomegranate.svg" alt='{%trans "Pomegranate"%}'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   </li>
  </ul>
 </div>
</div>
{%endblock%}