<h3 class="bh">{%trans "How to use"%}</h3>
<div class="l1">
 	<p>نشانه رنگی ما را می‌توانید در پسزمینه‌های روشن و تیره و رنگی ملایم مورد استفاده قرار دهید. لطفا نشان‌واره سرشمار را در زمینه مناسب قرار دهید و بسته به پس‌زمینه نشان‌واره‌ای که ما آن را برای شما در آن زمینه قرار دادیم مورد استفاده قرار دهید.</p>
 	<div class="brands-back-grediants">
{%if site.currentlang =='fa'%}
		<div class="">
			 <img src="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-1024.jpg" alt=''>
		</div>
		<div class="ba-gr-yellow">
			<img src="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-1024.png" alt=''>
		</div>
		<div class="">
			 <img src="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-back-colored-1024.jpg" alt=''>
		</div>
		<div class="ba-gr-blue">
			<img src="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-type-white-1024.png" alt=''>
		</div>
{%else%}
		<div class="">
			 <img src="{{url.static}}images/brand/en/jpg/sarshomar-brand-1024.jpg" alt=''>
		</div>
		<div class="ba-gr-yellow">
			<img src="{{url.static}}images/brand/en/png/sarshomar-brand-1024.png" alt=''>
		</div>
		<div class="">
			<img src="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-1024.jpg" alt=''>
		</div>
		<div class="ba-gr-blue">
			<img src="{{url.static}}images/brand/en/png/sarshomar-brand-type-white-1024.png" alt=''>
		</div>
{%endif%}
 	</div>
</div>


<div class="l1">
 	<p>کوچک‌ترین حد مجاز استفاده از نشان‌واره ما در وب 40px در 40px و در صورت چاپ 20mm در 20mm می‌باشد.</p>
	<div class="row two-logo">
		<div class="span6">
	 		<img src="{{url.static}}images/page-logo/brand-view.png" alt=''>
		</div>
		<div class="span6">
	 		<img src="{{url.static}}images/page-logo/brand-print.png" alt=''>
		</div>
	</div>
</div>

<div class="l1">
 	<p>کوچک‌ترین حد مجاز استفاده از نشان‌واره فارسی ما در وب 40px در 110px و در لاتین 40px در 180px است.</p>
 	<div class="row">
 		<div class="span7 en-brand">
 			<img src="{{url.static}}images/page-logo/logo-view.png" alt=''>
 		</div>
 		<div class="span5">
 			<img src="{{url.static}}images/page-logo/logo-view-fa.png" alt=''>
 		</div>

 	</div>
</div>

<div class="l1">
 <p>و در صورت استفاده از نشان‌واره ما در چاپ فارسی 20mm در 55mm و در لاتین 20mm در 90mm می‌باشد.</p>
  	<div class="row">
 		<div class="span7 en-brand">
 			<img src="{{url.static}}images/page-logo/logo-print.png" alt=''>
 		</div>
 		<div class="span5">
 			<img src="{{url.static}}images/page-logo/logo-print-fa.png" alt=''>
 		</div>
 	</div>
</div>

<div class="l1">
 <p>فضای خالی مناسب برای بهتر دیده شدن و قرارگیری مناسب نشان‌واره ما، ۲۵٪ خود نشان‌واره می‌باشد. به این صورت که از هر طرف ۲۵٪ باید فاصله داشته باشد پس لطفا به طرز قرارگیری آن دقت کنید.</p>

 	<div class="three-brand-logo">
 		<div>
			 <img src="{{url.static}}images/page-logo/brand-spacing.png" alt=''>
 		</div>
 		<div>
		 	<img src="{{url.static}}images/page-logo/logo-spacing-fa.png" alt=''>
 		</div>
 		<div>
		 	<img src="{{url.static}}images/page-logo/logo-spacing.png" alt=''>
 		</div>
 	</div>
</div>