{%extends display.main%}
{%block content%}
<div class="main pad-large" id="wrong-usage-main">
 <div class="box">
  <div class="in">
   <h3 class="bh">{%trans "Wrong usage"%}</h3>
   <div class="l1">
    <p>نشان‌واره‌ی ما بیانگر فکر و شخصیت ما می‌باشد و مورد احترام است. پس از شما خواهش می‌کنیم که به نشان‌واره‌ی ما صدمه نزنید و آن را تحریف نکنید. در صورتی که نوع خاصی از نشان‌واره را خواستید و آن را اینجا نیافتید با سرشمار تماس بگیرید و نیاز خود را برطرف کنید.</p>
   </div>
   <div class="l2">
    <p>نشان‌واره‌ی ما را از حد استاندارد کوچکتر نکنید، آن را برش ندهید، آن را به متن، شکل و یا کادر نچسبانید و یا زیر متن یا شکل دیگر قرارش ندهید.</p>

    <img src="{{url.static}}images/page-logo/wrong-set-01.png" alt='{%trans "Wrong"%}'>

    <p>نشان‌واره‌ی ما رنگ مشخص و قالب خاص خود را دارد پس لطفا رنگ نشانه را تغییر ندهید، نشان‌واره‌ی ما را طراحی نکنید، جلوه‌های ویژه و یا سایه روی آن اعمال نکنید.</p>
    <img src="{{url.static}}images/page-logo/wrong-set-02.png" alt='{%trans "Wrong"%}'>

    <p>نشان‌واره‌ی ما را کج نکنید، فرمش را تغییر ندهید و یا موج به آن ندهید.</p>
    <img src="{{url.static}}images/page-logo/wrong-set-03.png" alt='{%trans "Wrong"%}'>

    <p>نشان‌واره‌ی ما از اشکال دقیق و خاص و منظمی تشکیل شده است. پس لطفا آن را دستکاری نکنید.</p>
    <img src="{{url.static}}images/page-logo/wrong-set-04.png" alt='{%trans "Wrong"%}'>

    <p>لطفا اندازه‌ی تایپ را کوچک‌تر و بزرگ‌تر نکنید.</p>
    <img src="{{url.static}}images/page-logo/wrong-set-05.png" alt='{%trans "Wrong"%}'>

    <p>محل قرارگیری لوگوتایپ ما را تغییر ندهید.</p>
    <img src="{{url.static}}images/page-logo/wrong-set-06.png" alt='{%trans "Wrong"%}'>

    <p>رنگ و یا نوشتار ما را تغییر ندهید.</p>
    <img src="{{url.static}}images/page-logo/wrong-set-07.png" alt='{%trans "Wrong"%}'>

    <p>در صورت استفاده از نشا‌‌ن‌واره همراه با لوگوتایپ در انتخاب گزینه دقت کنید و آن را در زمینه‌ی نامناسب قرار ندهید.</p>
    <img src="{{url.static}}images/page-logo/wrong-set-08.png" alt='{%trans "Wrong"%}'>
   </div>
  </div>
 </div>
</div>
{%endblock%}