{%extends template.add.layout%}

{%block content%}

   <div class="main pad box">
    {%include template.progress%}
    <form method="post">
     <div class="row auto">
      <div class="span2"></div>
      <div class="span8" id='question-add'>
       <div class="row">
        {{block('feature_tabs')}}
        {{block('feature_title')}}
        <ul class="tab">
         <li id="tab-multiple_choice" class="active">
          {{block('feature_opts')}}
          <div class="row auto">
          {{block('feature_choicemode')}}
           <div class="span4 checkbox-group">
            {{block('feature_randomsort')}}
            {{block('feature_other')}}
           </div>
           <div class="span4 checkbox-group">
            {{block('feature_score')}}
           </div>
           <div class="span4 checkbox-group">
            {{block('feature_trueanswer')}}
           </div>
          </div>
          {{block('feature_completeprofile')}}
          {{block('feature_multiplerange')}}
         </li>

         <li id="tab-descriptive">
          {{block('feature_textformat')}}
         </li>

         <li id="tab-notification">

         </li>

         <li id="tab-upload">
          {{block('feature_fileformat')}}
          {{block('feature_filesize')}}
         </li>

         <li id="tab-range">
          {{block('feature_numberformat')}}
          {{block('feature_numbersize')}}
          {{block('feature_starsize')}}
         </li>
        </ul>

        {{block('feature_timing')}}
        {{block('feature_tree')}}
        {{block('feature_summary')}}
        {{block('feature_content')}}
       </div>
      </div>
      <input type="hidden" name="poll_type" value="">
     </div>
     {{block('feature_btn')}}
    </form>
   </div>
{%endblock%}

{%block foot_js%}
    <script type="text/javascript">
      // $('.page-progress a').click(function() {
      //  if ($(this).attr('href') == '') {
      //   send_name = $(this).attr('send-name');
      //   if (send_name == 'add') {
      //    return false;
      //   }
      //   $('button[send-name=' + send_name + ']').click();
      //  }
      // });
    </script>
{%endblock%}
