{%extends template.add.layout%}


{%block step1%}
<div class="in">
  {%use "content_u/add/step1.html"%}
        {{block('feature_tabs_old')}}
        {{block('feature_title')}}
        <div data-response="poll_type" data-response-where="multiple" data-response-effect="slide" {%if poll.type != 'multiple' and poll.type is not null%} data-response-hide2 {%endif%}>
         {{block('feature_opts')}}
         {{block('feature_choicemode')}}
         <div class="row auto">
          <div class="span4">{{block('feature_randomsort')}}</div>
{%if false%}
          <div class="span4">{{block('feature_score')}}</div>
{%endif%}
          <div class="span4">{{block('feature_trueanswer')}}</div>
          <div class="span4">{{block('feature_other')}}</div>
         </div>
{%if false%}
         <div class="row auto">
          <div class="span4" data-response='score' {% if not poll.have_score %} data-response-hide {% endif %}>{{block('feature_score_advance')}}</div>
         </div>
{%endif%}
         {{block('feature_multiplerange2')}}
         {{block('feature_multiplerange')}}
        </div>

        <div data-response="poll_type" data-response-where="descriptive" data-response-effect="slide" {%if poll.type != 'descriptive'%}data-response-hide{%endif%}>
         {{block('feature_textformat')}}
         {{block('feature_textlength')}}
        </div>

        <div data-response="poll_type" data-response-where="notification" data-response-effect="slide" {%if poll.type != 'notification'%}data-response-hide{%endif%}>

        </div>

        <div data-response="poll_type" data-response-where="upload" data-response-effect="slide" {%if poll.type != 'upload'%}data-response-hide{%endif%}>
         {{block('feature_fileformat')}}
         {{block('feature_filesize')}}
        </div>

        <div data-response="poll_type" data-response-where="range" data-response-effect="slide" {%if poll.type != 'range'%}data-response-hide{%endif%}>
         {{block('feature_numberformat')}}
         {{block('feature_numbersize')}}
         {{block('feature_starsize')}}
        </div>

        {{block('feature_completeprofile')}}
        {{block('feature_timing2')}}
        {{block('feature_tree')}}
        {{block('feature_branding')}}
        {{block('feature_summary')}}
        {{block('feature_content')}}
</div>
{%endblock%}



{%block step2%}
    {%use "content_u/add/step2.html"%}
     {{block('filter_public')}}
      <div class="row auto poll-filters" data-response='filter_privacy' data-response-where='private' data-response-effect='slide' {% if poll.privacy == 'private' %}{%else%}data-response-hide{%endif%}>
      <div class="in msg info">برای جمع‌آوری نظرات در سوالات خصوصی، انتشار و به اشتراک گذاری سوال را خودتان باید انجام دهید.</div>
     {{block('feature_poll_password')}}
     </div>

     <div class="row auto poll-filters" data-response='filter_privacy' data-response-where='public' {% if poll.privacy == 'public' %}{%else%}data-response-hide{%endif%} data-response-effect='slide'>
     <div class="in msg warning">سوالات عمومی به دلیل انتشار در وب‌سایت نیاز به بررسی دارند. لطفا تنها در صورت نیاز سوال را به صورت عمومی ثبت کنید.</div>
     {{block('filter_person_count')}}
      <div class="span12">
        <div id='filter-conditions'>
         <div class="row auto">
          <div class="span5">
           {{block('filter_gender')}}
           {{block('filter_marrital')}}
          </div>
          <div class="span7">
           {{block('filter_graduation')}}
           {{block('filter_employment')}}
          </div>
         </div>
         {{block('filter_degree')}}
         {{block('filter_range')}}
        </div>
        </div>
     </div>

{%endblock%}



{%block step3%}
<div class="row auto">
  {%include "content_u/add/step3.html"%}
 </div>
{%endblock%}