{%extends display.main%}


{%block feature_tabs%}
{% spaceless %}
	<div class="type">
		<ul class="tabs">
			<li data-tab="multiple_choice" class="active"><i class="fa fa-check"></i> <span>{%trans "Multiple Choice"%}</span></li>
			<li data-tab="descriptive"><i class="fa fa-pencil"></i> <span>{%trans "Descriptive"%}</span></li>
			<li data-tab="notification"><i class="fa fa-bell"></i> <span>{%trans "Notification"%}</span></li>
			<li data-tab="upload"><i class="fa fa-upload"></i> <span>{%trans "Upload"%}</span></li>
			<li data-tab="range"><i class="fa fa-star"></i> <span>{%trans "Range / Star"%}</span></li>
		</ul>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_title%}
{% spaceless %}
	<div class="large element">
		<label class="title" for="title" autocomplete="off">{%trans "Title"%}</label>
		<input class="input" type="text" name="title" id="title" autocomplete="off" value="{{poll.title}}">
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_opts%}
{% spaceless %}
	<div class="input-group">
	{%if answers is iterable%}
		{%for key, value in answers%}
			<div class="small element" data-number="{{key + 1}}" data-id="{{value.id}}">
				<label class="title" for="answer{{key + 1}}">Answer {{key + 1}}</label>
				<input class="input" type="text" name="answers_{{key + 1}}" id="answer{{key + 1}}" autocomplete="off" value="{{value.option_value}}" data-id={{value.id}}>
				<input type="hidden" name="answer_true_{{key + 1}}" value="{{value.meta.true}}">
				<input type="hidden" name="answer_type_{{key + 1}}" value="{{value.meta.type}}">
				<span class="fa fa-times delete"></span>
			</div>
		{%endfor%}
	{%else%}{# if no answer found #}
		<div class="small element" data-number="1">
			<label class="title" for="answer1">{%trans "Answer"%} 1</label>
			<input class="input" type="text" name="answers_1" id="answer1" autocomplete="off">
			<input type="hidden" name="answer_true_1" data-true="true">
			<input type="hidden" name="answer_type_1" data-type="type" value="text">
			<span class="fa fa-check check"></span>
			<span class="score"><input class="score" type="number" name=""></span>
			<span class="fa fa-picture-o icon"></span>
			<span class="fa fa-times delete"></span>
		</div>
		<div class="small element" data-number="2">
			<label class="title" for="answer2">{%trans "Answer"%} 2</label>
			<input class="input" type="text" name="answers_2" id="answer2" autocomplete="off">
			<input type="hidden" name="answer_true_2" data-true="true">
			<input type="hidden" name="answer_type_2" data-type="type"value="text">
			<span class="fa fa-check check"></span>
			<span class="score"><input class="score" type="number" name=""></span>
			<span class="fa fa-picture-o icon"></span>
			<span class="fa fa-times delete"></span>
		</div>
	{%endif%}
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_tree%}
{% spaceless %}
	<div class="checkbox">
		<input type="checkbox" name="meta_tree" id="tree" {%if poll_tree_title %}checked{%endif%}>
		<label for="tree" class="check-box"></label>
		<label for="tree">{%trans "Tree"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_score%}
{% spaceless %}
	<div class="checkbox" data-response='choicemode' data-response-where='one|multi'>
		<input type="checkbox" name="meta_score" id="score" {%if poll.meta.score%}checked{%endif%}>
		<label for="score" class="check-box"></label>
		<label for="score">{%trans "Options has score"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_ordering%}
{% spaceless %}
	<div class="checkbox">
		<input type="checkbox" name="meta_ordering" id="ordering" {%if poll.meta.order%}checked{%endif%}>
		<label for="ordering" class="check-box"></label>
		<label for="ordering">{%trans "Allow user to order Answers"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_choicemode%}
{% spaceless %}
	<div class="element switch">
		<input type="radio" name="choicemode" value="one" id="one" checked="checked">
		<label for="one">{%trans "One Choice"%}</label>

		<input type="radio" name="choicemode" value="multi" id="multi">
		<label for="multi">{%trans "Multi Choice"%}</label>

		<input type="radio" name="choicemode" value="ordering" id="ordering">
		<label for="ordering">{%trans "Ordering"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_other%}
{% spaceless %}
	<div class="checkbox" data-response='choicemode' data-response-where='one|multi'>
		<input type="checkbox" name="meta_descriptive" id="descriptive" {%if poll.meta.descriptive%}checked{%endif%}>
		<label for="descriptive" class="check-box"></label>
		<label for="descriptive">{%trans "Allow to type other answer"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_multiplerange%}
{% spaceless %}
... range of answer allow to select ...
{% endspaceless %}
{%endblock%}


{%block feature_randomsort%}
{% spaceless %}
	<div class="checkbox">
		<input type="checkbox" name="meta_random_sort" id="random_sort" {%if poll.meta.random_sort%}checked{%endif%}>
		<label for="random_sort" class="check-box"></label>
		<label for="random_sort">{%trans "Randomize sort options"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_hiddenresult%}
{% spaceless %}
	{%if perm.hidden_result.admin%}
		<div class="checkbox">
			<input type="checkbox" name="meta_hidden_result" id="hidden_result" {%if poll.meta.hidden_result%}checked{%endif%}>
			<label for="hidden_result" class="check-box"></label>
			<label for="hidden_result">{%trans "Hidden result"%}</label>
		</div>
	{%endif%}
{% endspaceless %}
{%endblock%}


{%block feature_trueanswer%}
{% spaceless %}
	<div class="checkbox" data-response='choicemode' data-response-where='one|multi'>
		<input type="checkbox" name="meta_true_answer" id="true_answer" {%if poll.meta.true_answer%}checked{%endif%} >
		<label for="true_answer" class="check-box"></label>
		<label for="true_answer">{%trans "Has correct option"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_completeprofile%}
{% spaceless %}
	{% if perm.complete_profile.admin %}
	<div class="row auto">
		<div class="checkbox span4">
			<input type="checkbox" id="complete-profile">
			<label for="complete-profile" class="check-box"></label>
			<label for="complete-profile">{%trans "Complete Profile"%}</label>
		</div>
		<select class="complete-profile span4" name="meta_profile" data-response='complete-profile' data-response-hide>
			<option value="">{%trans "Complete Profile"%}</option>
			{%for key, value in profile_lock%}{%set t_value = key %}
			<option value="{{key}}" data-value="{{value}}">{%trans t_value%}</option>
			{%endfor%}
		</select>
	</div>
	{%endif%}
{% endspaceless %}
{%endblock%}


{%block feature_treebox%}
{% spaceless %}
	<div class="tree-container" data-response='tree' data-response-where='true' data-response-effect='slide'>
		<input type="hidden" name="parent_tree_id" value="{{poll_tree_id}}">
		<input type="hidden" name="parent_tree_opt" value="{{poll_tree_opt}}">
		<div class="row tree-fields">
			<div class="span8"><input type="text" name="" autocomplete="off" placeholder='{%trans "Search"%}'></div>
			<div class="span4">
			<select id="repository">
				<option value="sarshomar" >{%trans "Sarshomar" %}</option>
				<option value="personal" >{%trans "Personal" %}</option>
			</select>
			</div>
		</div>
		<ul class="tree-result-list">
			<li>
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
				<ul class="options">
					<li>
						<span class="checkbox">
							<input type="checkbox" name="" id="x1">
							<label class="check-box" for="x1"></label>
						</span>
						<label for="x1">Lorem ipsum dolor sit amet, consectetur adipisicing
					tempor incididunt ut labore et dolore magna aliqua.</label>
					</li>
					<li>
						<span class="checkbox">
							<input type="checkbox" name="" id="x2">
							<label class="check-box" for="x2"></label>
						</span>
						<label for="x2">Lorem ipsum dolor sit amet, consectetur adipisicing
						tempor incididunt ut labore et dolore magna aliqua.</label>
					</li>
					<li>
						<span class="checkbox">
							<input type="checkbox" name="" id="x3">
							<label class="check-box" for="x3"></label>
						</span>
						<label for="x3">Lorem ipsum dolor sit amet, consectetur adipisicing
					tempor incididunt ut labore et dolore magna aliqua.</label>
					</li>
					<li>
						<span class="checkbox">
							<input type="checkbox" name="" id="x4">
							<label class="check-box" for="x4"></label>
						</span>
						<label for="x4">Lorem ipsum dolor sit amet, consectetur adipisicing
					tempor incididunt ut labore et dolore magna aliqua.</label>
					</li>
				</ul>
			</li>
			<li><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit</div></li>
			<li><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit</div></li>
			<li><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit</div></li>
			<li><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit</div></li>
		</ul>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_summary%}
{% spaceless %}
	<div class="panel-text">
		<div class="title">
			<span><i class="fa fa-plus"></i> Summary</span>
		</div>
		<textarea name="summary">{{poll.meta.desc}}</textarea>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_content%}
{% spaceless %}
	<div class="panel-text">
		<div class="title">
			<span><i class="fa fa-plus"></i> Description</span>
		</div>
		<textarea name="description" data-resizable>{{poll.content}}</textarea>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_btn%}
{% spaceless %}
	<div class="row auto">
		<div class="span7">
			<div class="btn-container">
				<input type="hidden" name="n" value="v" id="submit-form">
				<nav>
					{%if survey_mod%}
					<button class="btn" send-name="add_poll" value="add_poll">{%trans "Add Poll"%}</button>
					{%else%}
					<button class="btn" send-name="survey" value="survey">{%trans "Add Another Poll and Convert to Survery"%}</button>
					{%endif%}
					<button class="btn primary" send-name="filter" value="filter">{%trans "Next Step"%}</button>
				</nav>
			</div>
		</div>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_textformat%}
{% spaceless %}
	<select class="text-format" name="text-format">
		<option value="any">{%trans "Any Text"%}</option>
		<option value="tel">{%trans "Phone Number"%}</option>
		<option value="email">{%trans "Email"%}</option>
		<option value="website">{%trans "Website"%}</option>
		<option value="number">{%trans "Number"%}</option>
		<option value="password">{%trans "Password"%}</option>
		<option value="regular">{%trans "Custom"%}</option>
	</select>
	<input type="text" name="text-custom" id="text-custom" autocomplete="off" value="" data-response='tree'>

{% endspaceless %}
{%endblock%}


{%block feature_fileformat%}
{% spaceless %}
	<select class="file-format" name="file-format">
		<option value="any">{%trans "Any File"%}</option>
		<option value="document">{%trans "Document"%}</option>
		<option value="photo">{%trans "Photo"%}</option>
		<option value="video">{%trans "Video"%}</option>
		<option value="audio">{%trans "Audio"%}</option>
		<option value="pdf">{%trans "PDF"%}</option>
		<option value="doc">{%trans "Word"%}</option>
		<option value="xls">{%trans "Excel"%}</option>
		<option value="ppt">{%trans "PowerPoint"%}</option>
		<option value="txt">{%trans "Text"%}</option>
		<option value="regular">{%trans "Custom"%}</option>
	</select>
{% endspaceless %}
{%endblock%}


{%block feature_filesize%}
{% spaceless %}
...Range...
{% endspaceless %}
{%endblock%}


{%block feature_numberformat%}
{% spaceless %}
Star<br/>
Like<br/>
Number<br/>

{% endspaceless %}
{%endblock%}


{%block feature_numbersize%}
{% spaceless %}
...Number Range...
{% endspaceless %}
{%endblock%}


