{%extends display.main%}


{%block feature_tabs%}
{% spaceless %}
	<div class="menu">
		<div class="menu-inside">
			<input type="radio" name="poll_type" id="type_multiple" value="multiple" {% if poll.type == 'multiple' or poll.type is null%}checked{%endif%} >
			<label for="type_multiple"><i class="fa fa-check"></i> <span>{%trans "Multiple Choice"%}</span></label>
			<input type="radio" name="poll_type" id="type_descriptive" value="descriptive" {% if poll.type == 'descriptive' %}checked{%endif%}>
			<label for="type_descriptive"><i class="fa fa-pencil"></i> <span>{%trans "Descriptive"%}</span></label>
			<input type="radio" name="poll_type" id="type_notification" value="notification" {% if poll.type == 'notification' %}checked{%endif%}>
			<label for="type_notification"><i class="fa fa-bell"></i> <span>{%trans "Notification"%}</span></label>
			<input type="radio" name="poll_type" id="type_upload" value="upload" {% if poll.type == 'upload' %}checked{%endif%}>
			<label for="type_upload"><i class="fa fa-upload"></i> <span>{%trans "Upload"%}</span></label>
			<input type="radio" name="poll_type" id="type_range" value="range" {% if poll.type == 'range' %}checked{%endif%}>
			<label for="type_range"><i class="fa fa-star"></i> <span>{%trans "Range / Star"%}</span></label>
		</div>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_title%}
{% spaceless %}
	<div class="element">
		<label class="title large" for="title" autocomplete="off">{%trans "Title"%}</label>
		<input class="input" type="text" name="title" id="title" autocomplete="off" value="{{poll.title}}">
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_opts%}
{% spaceless %}
	<ul class="input-group sortable">
	{%if answers is iterable and answers is not empty%}
		{%for key, value in answers%}
		<li>
			<div class="element" data-row="{{key + 1}}">
				<label class="title small" for="answer{{key + 1}}">{%trans "Answer"%} <b>{{key + 1 |persian}}</b></label>
				<input class="input" type="text" name="answer{{key + 1}}" id="answer{{key + 1}}" autocomplete="off" value="{{value.option_value}}" >
				<span class="fa fa-check check" data-response-hide data-response='true_answer'></span>
				<span class="score" data-response-hide data-response='score'><input class="score" type="number" name="score{{key + 1}}"></span>
				<span class="fa fa-picture-o icon" data-response-hide></span>
				<span class="fa fa-times delete" tabindex="0"></span>
			</div>
		</li>
		{%endfor%}
	{%else%}{# if no answer found #}
		<li>
			<div class="element" data-row="1">
				<label class="title small" for="answer1">{%trans "Answer"%} <b>{{1 |persian}}</b></label>
				<input class="input" type="text" name="answer1" id="answer1" autocomplete="off">
				<span class="fa fa-check check" data-response-hide data-response='true_answer'></span>
				<span class="score" data-response-hide data-response='score'><input class="score" type="number" name="score1"></span>
				<span class="fa fa-picture-o icon" data-response-hide></span>
				<span class="fa fa-times delete" tabindex="0"></span>
			</div>
		</li>
		<li>
			<div class="element" data-row="2">
				<label class="title small" for="answer2">{%trans "Answer"%} <b>{{2 |persian}}</b></label>
				<input class="input" type="text" name="answer2" id="answer2" autocomplete="off">
				<span class="fa fa-check check" data-response-hide data-response='true_answer'></span>
				<span class="score" data-response-hide data-response='score'><input class="score" type="number" name="score2"></span>
				<span class="fa fa-picture-o icon" data-response-hide></span>
				<span class="fa fa-times delete" tabindex="0"></span>
			</div>
		</li>
	{%endif%}
	</ul>
{% endspaceless %}
{%endblock%}


{%block feature_score%}
{% spaceless %}
	<div class="checkbox" data-response='choicemode' data-response-where='one|multi'>
		<input type="checkbox" name="meta_score" id="score" {%if poll.meta.score%}checked{%endif%}>
		<label for="score" class="check-box"></label>
		<label for="score">{%trans "Options has score"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_ordering%}
{% spaceless %}
	<div class="checkbox">
		<input type="checkbox" name="meta_ordering" id="ordering" {%if poll.meta.ordering%}checked{%endif%}>
		<label for="ordering" class="check-box"></label>
		<label for="ordering">{%trans "Allow user to order Answers"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_choicemode%}
{% spaceless %}
	<div class="element switch">
		<input type="radio" name="meta_choicemode" value="one" id="one" {%if poll.meta.choicemode == 'one' or poll.meta.choicemode is null %}checked{%endif%}>
		<label for="one">{%trans "One Choice"%}</label>

		<input type="radio" name="meta_choicemode" value="multi" id="multi" {%if poll.meta.choicemode == 'multi'%}checked{%endif%}>
		<label for="multi">{%trans "Multi Choice"%}</label>

		<input type="radio" name="meta_choicemode" value="ordering" id="ordering" {%if poll.meta.choicemode == 'ordering'%}checked{%endif%}>
		<label for="ordering">{%trans "Ordering"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_other%}
{% spaceless %}
	<div class="checkbox" data-response='meta_choicemode' data-response-where='one|multi'>
		<input type="checkbox" name="meta_descriptive" id="descriptive" {%if poll.meta.descriptive%}checked{%endif%}>
		<label for="descriptive" class="check-box"></label>
		<label for="descriptive">{%trans "Allow to type other answer"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_multiplerange%}
{% spaceless %}
	<div class="range-slider multiple-range" data-type="horizontal" data-response='meta_choicemode' data-response-where='multi' data-response-hide></div>
{% endspaceless %}
{%endblock%}


{%block feature_randomsort%}
{% spaceless %}
	<div class="checkbox">
		<input type="checkbox" name="meta_random_sort" id="random_sort" {%if poll.meta.random_sort%}checked{%endif%}>
		<label for="random_sort" class="check-box"></label>
		<label for="random_sort">{%trans "Randomize sort options"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_hiddenresult%}
{% spaceless %}
	{%if perm.hidden_result.admin%}
		<div class="checkbox">
			<input type="checkbox" name="meta_hidden_result" id="hidden_result" {%if poll.meta.hidden_result%}checked{%endif%}>
			<label for="hidden_result" class="check-box"></label>
			<label for="hidden_result">{%trans "Hidden result"%}</label>
		</div>
	{%endif%}
{% endspaceless %}
{%endblock%}


{%block feature_trueanswer%}
{% spaceless %}
	<div class="checkbox" data-response='meta_choicemode' data-response-where='one|multi'>
		<input type="checkbox" name="meta_true_answer" id="true_answer" {%if poll.meta.true_answer%}checked{%endif%} >
		<label for="true_answer" class="check-box"></label>
		<label for="true_answer">{%trans "Has correct option"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_completeprofile%}
{% spaceless %}
	{% if perm.complete_profile.admin %}
	<div class="row auto">
		<div class="checkbox span4">
			<input type="checkbox" id="complete-profile" {%if poll.meta.profile%}checked{%endif%}>
			<label for="complete-profile" class="check-box"></label>
			<label for="complete-profile">{%trans "Complete Profile"%}</label>
		</div>
		<select class="complete-profile span4" name="meta_profile" id="complete-profile-dropdown" data-response='complete-profile' data-response-hide data-response-focus>
			<option value="">{%trans "Complete Profile"%}</option>
			{%for key, value in profile_lock if value%}{%set t_value = key %}
			<option value="{{key}}" data-value="{{value}}">{%trans t_value%}</option>
			{%endfor%}
		</select>
	</div>
	{%endif%}
{% endspaceless %}
{%endblock%}


{%block feature_tree%}
{% spaceless %}
	<div class="checkbox">
		<input type="checkbox" name="meta_tree" id="tree" {%if poll_tree_title %}checked{%endif%}>
		<label for="tree" class="check-box"></label>
		<label for="tree">{%trans "Tree"%}</label>
	</div>
	<div class="tree-container" data-response='tree' data-response-where='true' data-response-effect='slide' {%if not poll_tree_title %}data-response-hide{%endif%}>
		<input type="hidden" name="parent_tree_id" value="{{poll_tree_id}}">
		<input type="hidden" name="parent_tree_opt" value="{{poll_tree_opt}}">
		<div class="row auto tree-fields">
			<div class="span8">
				<input type="text" name="tree-search" id='tree-search' autocomplete="off" placeholder='{%trans "Search"%}' data-response-focus>
			</div>
			<div class="span4">
				<select id="tree-search-in">
					<option value="all" >{%trans "All" %}</option>
					<option value="sarshomar" >{%trans "Sarshomar" %}</option>
					<option value="personal" >{%trans "Personal" %}</option>
				</select>
			</div>
		</div>
		<ul class="tree-result-list" data-xhr="tree">
{%include template.add.tree%}
		</ul>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_timing%}
{% spaceless %}
	<div class="range-slider timing-range" data-type="horizontal" data-min='10' data-unit='180' data-infinity="min"></div>
{% endspaceless %}
{%endblock%}


{%block feature_summary%}
{% spaceless %}
	<div class="panel-text" tabindex='80'>
		<div class="title">
			<a href="#summary"><i class="fa fa-plus"></i> {%trans "Summary"%}</a>
		</div>
		<textarea name="summary">{{poll.meta.desc}}</textarea>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_content%}
{% spaceless %}
	<div class="panel-text" tabindex='81'>
		<div class="title">
			<a href="#description"><i class="fa fa-plus"></i> {%trans "Description"%}</a>
		</div>
		<textarea name="description" data-resizable>{{poll.content}}</textarea>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_btn%}
{% spaceless %}
	<div class="row auto">
		<div class="span7">
			<div class="btn-container">
				<input type="hidden" name="n" value="v" id="submit-form">
				<nav>
					{%if survey_mod%}
					<button class="btn" send-name="add_poll" value="add_poll">{%trans "Add Poll"%}</button>
					{%else%}
					<button class="btn" send-name="survey" value="survey">{%trans "Add Another Poll and Convert to Survery"%}</button>
					{%endif%}
					<button class="btn primary" send-name="filter" value="filter">{%trans "Next Step"%}</button>
				</nav>
			</div>
		</div>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_textformat%}
{% spaceless %}
	<div class="input-group">
		<div class="element select">
			<label class="title small" for="text-format">{%trans "Text Format"%}</label>
			<select class="text-format input" name="meta_text_format" id='text-format'>
				<option value="any" {%if poll.meta.text_format == 'any' %}selected{%endif%}>{%trans "Any Text"%}</option>
				<option value="tel" {%if poll.meta.text_format == 'tel' %}selected{%endif%}>{%trans "Phone Number"%}</option>
				<option value="email" {%if poll.meta.text_format == 'email' %}selected{%endif%}>{%trans "Email"%}</option>
				<option value="website" {%if poll.meta.text_format == 'website' %}selected{%endif%}>{%trans "Website"%}</option>
				<option value="number" {%if poll.meta.text_format == 'number' %}selected{%endif%}>{%trans "Number"%}</option>
				<option value="password" {%if poll.meta.text_format == 'password' %}selected{%endif%}>{%trans "Password"%}</option>
				<option value="regular" {%if poll.meta.text_format == 'regular' %}selected{%endif%}>{%trans "Custom"%}</option>
			</select>
		</div>
		<div data-response='text-format' data-response-where='regular' data-response-effect='slide' {%if poll.meta.text_format_custom is null %}data-response-hide{%endif%}>
			<div class="element">
				<label class="title small" for="text-custom">{%trans "Regular"%}</label>
				<input class="input" type="text" name="meta_text_format_custom" id="text-custom" autocomplete="off" value="{{poll.meta.text_format_custom}}" data-response-focus>
			</div>
		</div>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_fileformat%}
{% spaceless %}
	<div class="input-group">
		<div class="element select">
			<label class="title small" for="file-format">{%trans "File Format"%}</label>
				<select class="file-format input" name="meta_file_format" id='file-format'>
					<option value="any" {%if poll.meta.file_format == 'any' %}selected{%endif%}>{%trans "Any File"%}</option>
					<option value="document" {%if poll.meta.file_format == 'document' %}selected{%endif%}>{%trans "Document"%}</option>
					<option value="photo" {%if poll.meta.file_format == 'photo' %}selected{%endif%}>{%trans "Photo"%}</option>
					<option value="video" {%if poll.meta.file_format == 'video' %}selected{%endif%}>{%trans "Video"%}</option>
					<option value="audio" {%if poll.meta.file_format == 'audio' %}selected{%endif%}>{%trans "Audio"%}</option>
					<option value="pdf" {%if poll.meta.file_format == 'pdf' %}selected{%endif%}>{%trans "PDF"%}</option>
					<option value="doc" {%if poll.meta.file_format == 'doc' %}selected{%endif%}>{%trans "Word"%}</option>
					<option value="xls" {%if poll.meta.file_format == 'xls' %}selected{%endif%}>{%trans "Excel"%}</option>
					<option value="ppt" {%if poll.meta.file_format == 'ppt' %}selected{%endif%}>{%trans "PowerPoint"%}</option>
					<option value="txt" {%if poll.meta.file_format == 'txt' %}selected{%endif%}>{%trans "Text"%}</option>
					<option value="regular" {%if poll.meta.file_format == 'regular' %}selected{%endif%}>{%trans "Custom"%}</option>
				</select>
		</div>
		<div data-response='file-format' data-response-where='regular' data-response-effect='slide'  {%if poll.meta.file_format_custom is null%}data-response-hide{%endif%}>
			<div class="element">
				<label class="title small" for="file-custom">{%trans "Regular"%}</label>
				<input class="input" type="text" name="meta_file_format_custom" id="file-custom" autocomplete="off" value="{{poll.meta.file_format_custom}}" data-response-focus>
			</div>
		</div>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_filesize%}
{% spaceless %}
{% spaceless %}
	<div class="range-slider filesize-range" data-type="horizontal"></div>
{% endspaceless %}
{% endspaceless %}
{%endblock%}


{%block feature_numberformat%}
{% spaceless %}
	<div class="element switch">
		<input type="radio" name="meta_rangemode" value="number" id="rangemodenumber" {% if poll.meta.rangemode == 'number'%}checked{%endif%}>
		<label for="rangemodenumber">{%trans "Range Number"%}</label>
		<input type="radio" name="meta_rangemode" value="star" id="rangemodestar" {% if poll.meta.rangemode == 'star'%}checked{%endif%}>
		<label for="rangemodestar">{%trans "Star"%}</label>
		<input type="radio" name="meta_rangemode" value="like" id="rangemodelike" {% if poll.meta.rangemode == 'like'%}checked{%endif%}>
		<label for="rangemodelike">{%trans "Like"%}</label>
	</div>
{% endspaceless %}
{%endblock%}


{%block feature_numbersize%}
{% spaceless %}
	<div class="range-slider numbersize-range" data-type="horizontal" data-response='meta_rangemode' data-response-where='number' data-response-effect='slide'>--Number</div>
{% endspaceless %}
{%endblock%}


{%block feature_starsize%}
{% spaceless %}
	<div class="range-slider starsize-range" data-type="horizontal" data-response='meta_rangemode' data-response-where='star' data-response-effect='slide' data-response-hide>--Star</div>
{% endspaceless %}
{%endblock%}

