{%extends display.main%}


{%block content%}
{% spaceless %}
   <div class="main pad box">
    {%include template.progress%}
     <div class="row auto">
      <div class="span2"></div>

      <div class="span8" id='question-add'>

       <div class="stepAdd">
        {%block step1%}1{%endblock%}
       </div>

       <div class="stepFilter">
        {%block step2%}2{%endblock%}
       </div>

       <div class="stepPublish">
        {%block step3%}3{%endblock%}
       </div>

      </div>

     </div>
     {{block('feature_btn')}}
   </div>
   {{block('modalCrop')}}
{% endspaceless %}
{%endblock%}
