{%block filter_gender%}
 <div class="element switch" data-respnse-group='gender' data-response-where-not='false'>
  <label class="title large badge {%if filters.gender%}active{%endif%}" for="gender" data-ratio="20" data-response='gender' data-response-class='active'>{%trans "Gender"%}</label>
  <div class="switch-container">
   <input type="checkbox" name="male" value="male" id="male" {%if filters.gender.male%}checked{%endif%}>
   <label for="male">{%trans "Male"%}</label>
   <input type="checkbox" name="female" value="female" id="female" {%if filters.gender.female%}checked{%endif%}>
   <label for="female">{%trans "Female"%}</label>
  </div>
 </div>
{%endblock%}



{%block filter_graduation%}
 <div class="element switch" data-respnse-group='graduation' data-response-where-not='false'>
  <label class="title large badge {%if filters.graduation%}active{%endif%}" for="graduation" data-ratio="25" data-response='graduation' data-response-class='active'>{%trans "Graduation"%}</label>
  <div class="switch-container">
   <input type="checkbox" name="illiterate" id="illiterate" {%if filters.graduation.illiterate%}checked{%endif%}>
   <label for="illiterate">{%trans "Illiterate"%}</label>
   <input type="checkbox" name="undergraduate" id="undergraduate" {%if filters.graduation.undergraduate%}checked{%endif%}>
   <label for="undergraduate">{%trans "Undergraduate"%}</label>
   <input type="checkbox" name="graduate" id="graduate" {%if filters.graduation.graduate%}checked{%endif%}>
   <label for="graduate">{%trans "Graduate"%}</label>
  </div>
 </div>
{%endblock%}


{%block filter_marrital%}
 <div class="element switch" data-respnse-group='marrital' data-response-where-not='false'>
  <label class="title large badge {%if filters.marrital%}active{%endif%}" for="marrital" data-ratio="35" data-response='marrital' data-response-class='active'>{%trans "Marrital"%}</label>
  <div class="switch-container">
   <input type="checkbox" name="single" value="single" id="single" {%if filters.marrital.single%}checked{%endif%}>
   <label for="single">{%trans "Single"%}</label>
   <input type="checkbox" name="married" value="married" id="married" {%if filters.marrital.married%}checked{%endif%}>
   <label for="married">{%trans "Married"%}</label>
  </div>
 </div>
{%endblock%}


{%block filter_employment%}
 <div class="element switch" data-respnse-group='employmentstatus' data-response-where-not='false'>
  <label class="title large badge {%if filters.employmentstatus%}active{%endif%}" for="employmentstatus" data-ratio="30" data-response='employmentstatus' data-response-class='active'>{%trans "Employment"%}</label>
  <div class="switch-container">
   <input type="checkbox" name="employee" id="employee" {%if filters.employmentstatus.employee%}checked{%endif%}>
   <label for="employee">{%trans "Employee"%}</label>
   <input type="checkbox" name="unemployed" id="unemployed" {%if filters.employmentstatus.unemployed%}checked{%endif%}>
   <label for="unemployed">{%trans "Unemployed"%}</label>
   <input type="checkbox" name="retired" id="retired" {%if filters.employmentstatus.retired%}checked{%endif%}>
   <label for="retired">{%trans "Retired"%}</label>
  </div>
 </div>
{%endblock%}


{%block filter_degree%}
 <div class="element switch" data-respnse-group='degree' data-response-where-not='false'>
  <label class="title large badge {%if filters.degree%}active{%endif%}" for="degree" data-ratio="60" data-response='degree' data-response-class='active'>{%trans "Degree"%}</label>
  <div class="switch-container">
   <input type="checkbox" name="under diploma" id="under diploma" {% if filters.degree['under diploma']%}checked{%endif%}>
   <label for="under diploma">{%trans "Under diploma"%}</label>
   <input type="checkbox" name="diploma" id="diploma" {% if filters.degree['diploma']%}checked{%endif%}>
   <label for="diploma">{%trans "Diploma"%}</label>
   <input type="checkbox" name="2 year college" id="2 year college" {% if filters.degree['2 year college']%}checked{%endif%}>
   <label for="2 year college">{%trans "2 year college"%}</label>
   <input type="checkbox" name="bachelor" id="bachelor" {% if filters.degree['bachelor']%}checked{%endif%}>
   <label for="bachelor">{%trans "Bachelor"%}</label>
   <input type="checkbox" name="master" id="master" {% if filters.degree['master']%}checked{%endif%}>
   <label for="master">{%trans "Master"%}</label>
   <input type="checkbox" name="phd" id="phd" {% if filters.degree['phd']%}checked{%endif%}>
   <label for="phd">{%trans "PHD"%}</label>
   <input type="checkbox" name="other" id="other" {% if filters.degree['other']%}checked{%endif%}>
   <label for="other">{%trans "Other"%}</label>
  </div>
 </div>
{%endblock%}

{%block filter_range%}
 <div class="element switch" data-respnse-group='range' data-response-where-not='false'>
  <label class="title large badge {%if filters.range%}active{%endif%}" for="range" data-ratio="40" data-response='range' data-response-class='active'>{%trans "Range"%}</label>
  <div class="switch-container">
   <input type="checkbox" name="-13" id="-13" {% if filters.range['-13']%}checked{%endif%}>
   <label for="-13">{%trans "Under 13"%}</label>
   <input type="checkbox" name="14-17" id="14-17" {% if filters.range['14-17']%}checked{%endif%}>
   <label for="14-17">{%trans "14-17"%}</label>
   <input type="checkbox" name="18-24" id="18-24" {% if filters.range['18-24']%}checked{%endif%}>
   <label for="18-24">{%trans "18-24"%}</label>
   <input type="checkbox" name="25-30" id="25-30" {% if filters.range['25-30']%}checked{%endif%}>
   <label for="25-30">{%trans "25-30"%}</label>
   <input type="checkbox" name="31-44" id="31-44" {% if filters.range['31-44']%}checked{%endif%}>
   <label for="31-44">{%trans "31-44"%}</label>
   <input type="checkbox" name="45-59" id="45-59" {% if filters.range['45-59']%}checked{%endif%}>
   <label for="45-59">{%trans "45-59"%}</label>
   <input type="checkbox" name="60+" id="60+" {% if filters.range['60+']%}checked{%endif%}>
   <label for="60+">{%trans "Above 60"%}</label>
  </div>
 </div>
{%endblock%}


{%block filter_age%}
 <div class="element no-pad {%if filters.age%}active{%endif%}">
  <label class="title large badge" for="age" data-ratio="50">{%trans "Age"%}</label>
  <div class="element-slider">
   <div class="range-slider" id='rangeage' data-max='100' data-min='14' ></div>
  </div>
 </div>
{%endblock%}


{%block filter_price%}
 <div class="pay-info">
  <div class="title row auto">
   <div class="span6">
    <div class="price">
     <span class="value" data-basePrice='100'>--</span><span class="unit">Rials</span>
    </div>
    <div class="free">{%trans "It's free"%}</div>
   </div>

   <div class="span6">
    <div class="cash-container">
     <div class="cash-title">{%trans "Your Cash"%}</div>
     <div class="cash">
      <span class="value">{{user_cash}} </span>
      <span class="unit">{%trans unit%}</span>
     </div>
    </div>
   </div>
  </div>
  <div>

   <div class="range-slider" id='rangepersons' data-type="vertical" data-max='10000' data-unit='100' data-infinity="min" data-fix-mount='on' data-max-limit='9000'
   data-max-default='{%if member%}{{member}}{%else%}100{%endif%}'
   data-step='50'
   data-step='[{"start": 0, "end": 100, "step": 10},{"start": 100, "end": 1000, "step": 100},{"start": 1000, "end": 10000, "step": 1000},{"start": 10000, "end": 100000, "step": 10000},{"start": 100000, "end": 1000000, "step": 100000}]'
   data-show-title='[{"min": "{%trans "Private"%}"}, {"max": "{%trans "Ultimate"%}"}]'
   ></div>
  </div>
 </div>
{%endblock%}