{%block content%}
 <div class="span1"></div>
 <div class="span6">
  {% if perm.sarshomar_knowledge.admin %}
  <div class="element no-pad">
   <label class="title large" for="cat0">{%trans "Category"%}</label>
   <div class="element-in">
    <input type="text" id="cat0" placeholder='{%trans "Category"%}' class='input category autoList' data-find='cat' data-parent="" {% if cats[0] %} value="{{cats[0]}}" data-val="{{poll.options.cat}}"{% endif %} maxlength="140" title="{{cat_title}}">
   </div>
  </div>

{%if false%}
  <div class="element no-pad">
   <label class="title large" for="cat1">{%trans "Sub Category"%}</label>
   <div class="element-in">
    <input type="text" id="cat1" placeholder='{%trans "Sub Category"%}' class='input category autoList' data-find='profile' data-parent="#cat0"  {% if cats[1] %} value="{{cats[1]}}" {% else %} disabled {% endif %} maxlength="140">
   </div>
  </div>

  <div class="element no-pad">
   <label class="title large" for="cat2">{%trans "Child Category"%}</label>
   <div class="element-in">
    <input type="text" id="cat2" placeholder='{%trans "Child Category"%}' class='input category autoList' data-find='profile' data-parent="#cat1"  {% if cats[2] %} value="{{cats[2]}}" {% else %} disabled {% endif %} maxlength="140">
   </div>
  </div>
  {%endif%}
{%endif%}

  <div class="tagDetector separate" id="article" data-restrict='list' {% if article_titles %} data-val="{{article_titles|keys|json_encode()}}" {% endif %}>
   <div class="element no-pad">
    <label class="title large" for="article-input">{%trans "Article"%}</label>
    <div class="element-in">
     <input class="input dropdown tagInput autoList" id="article-input" data-find='article' data-call='addNewTags' maxlength="140">
    </div>
   </div>
   <div class="tagBox">
   {%if article_titles%}
      {%for i, value in article_titles %}
        <span data-val="{{i}}">
         {{value}}
        </span>
      {%endfor%}

    {%endif%}
   </div>
  </div>

  <div class="tagDetector separate" id="tags" {%if perm.sarshomar_knowledge.admin%}{%else%}data-limit='5'{%endif%} {% if poll.tags %} data-val='{{poll_tags_code|raw}}' {% endif %}>
   <div class="element no-pad" >
    <label class="title large" for="tag-input">{%trans "Tags"%}</label>
    <div class="element-in">
     <input class="input dropdown tagInput autoList" id="tag-input" data-find='tag' data-call='addNewTags' maxlength="44">
    </div>
   </div>
   <div class="tagBox">
     {%if poll.tags%}
      {%for i, value in poll.tags %}
        <span data-val="{{value.code}}">
         {{value.title}}
        </span>
      {%endfor%}
    {%endif%}
   </div>
  </div>

  <div class="element switch">
   <label class="title large">{%trans "Language"%}</label>
   {% set lang_list = langList({'all' : true}) %}
   {%for key, value in lang_list%}
   <input type="radio" name="ui-language" value="{{key}}" id="language-{{key}}" {% if poll.language == key%} checked="checked" {% endif %}{%if not poll.language and site.currentlang == key %}checked{%endif%}>
   <label for="language-{{key}}">{{value}}</label>
   {%endfor%}
  </div>

  <div class="element no-pad ltr-element">
   <label class="title large" for="short_url">{%trans "Short URL"%}</label>
   <input class="input" type="text" id="short_url" value='{{poll.short_url}}' readonly maxlength="50">
   <button class="btn" data-copy='#short_url'><span class="icon-link"></span></button>
  </div>
 </div>

 <div class="span4">
  <div class="tbl" id='totalPrice'{% if perm.free_account.view%} data-free{%endif%}>
   <div class="tbl-header">
    <span>{%trans "Title"%}</span>
    <span>{%trans "Price"%} <span>{%trans "Toman"%}</span></span>
   </div>

   <div id='prAdd' class="hide">
    <span>{%trans "Register Question"%}</span>
    <span class='pr' data-val=0> {{0 | number_format | fitNumber}}</span>
   </div>

   <div id='prPerson' class="hide">
    <span>{%trans "Society"%}</span>
    <span class='pr' data-basePrice='100'>{{0 | number_format | fitNumber}}</span>
   </div>

   <div id='prFilter' class="hide">
    <span>{%trans "Filter"%}<b>30%</b></span>
    <span class='pr'>{{0 | number_format | fitNumber}}</span>
   </div>

   <div id='prBrand' class="hide" data-val='10'>
    <span>{%trans "Branding"%}<b>x10</b></span>
    <span class='pr'>{{0 | number_format | fitNumber}}</span>
   </div>

   <div id='prTotal' class="tbl-footer">
    <span>{%trans "Total Price"%}</span>
    <span class='pr'>{{0 | number_format | fitNumber}}</span>
   </div>

   <div id='prCash' class="tbl-footer">
    <span><a href="{{url.base}}/@/billing">{%trans "Cash"%}</a></span>
    <span class='pr'>{{10 | number_format | fitNumber}}</span>
   </div>


   <div id='prBalance' class="tbl-footer">
    <span>{%trans "Balance"%}</span>
    <span class='pr ltr'>{{0 | number_format | fitNumber}}</span>
   </div>

  </div>
  <div class="action">
    <a href="{{url.base}}/@/billing" class="special-btn charge hide">{%trans "Charge Account"%}</a>
    <a class="special-btn changeStatus hide" data-publish='{%trans "Publish it"%}' data-draft='{%trans "Draft it"%}'>-</a>
  </div>
 </div>
{%endblock%}
