{%block content%}
<div class="">
 <form method="post">
  <div class="">
   <div class="">
    {% if perm.sarshomar_knowledge.admin %}
    <div class="checkbox">
      <input type="checkbox" name="homepage" id="homepage" {% if homepage %}checked{% endif %}>
      <label for="homepage" class="check-box"></label>
      <label for="homepage">{% trans "Show result in home page" %}</label>
    </div>

    <div class="element select no-pad">
     <label class="title large" for="category">{%trans "Category"%}</label>
     <select class="input" name="category" id="category">
      {%for key, value in cat%}
      <option value="{{value.id}}">{{value.term_title|raw}}</option>
      {%endfor%}
     </select>
    </div>
    {%endif%}

    <div class="element dropdown no-pad">
     <label class="title large" for="article">{%trans "Article"%}</label>
     <div class="dropdown-wrapper tagDetector">
       <div class="dropdown-tags tagBox"></div>
       <input class="input dropdown tagInput autoList" id="article" data-find='article'>
     </div>
    </div>

    <div class="element dropdown no-pad">
     <label class="title large" for="tag">{%trans "Tags"%}</label>
     <div class="dropdown-wrapper tagDetector" {%if perm.sarshomar_knowledge.admin%}{%else%}data-limit='5'{%endif%}>
       <div class="dropdown-tags tagBox"></div>
       <input class="input dropdown tagInput autoList" id="tag" data-find='tag'>
     </div>
    </div>

    <div class="element no-pad">
     <label class="title large" for="language">{%trans "Language"%}</label>
     <!-- <input class="input" type="text" name="language" id="language" value="{{language}}"> -->

     {% set lang_list = langList({'all' : true}) %}
     <select name="ui-language" class="input">
      <option value="">{%trans "Default language"%}</option>
      {%for key, value in lang_list%}
      <option value="{{key}}" {%if ui_language == key %}selected="selected"{%endif%}>{{value}}</option>
      {%endfor%}
     </select>

    </div>

    <div class="element no-pad ltr">
     <label class="title large" for="short_url">{%trans "Short URL"%}</label>
     <input class="input" type="text" name="short_url" id="short_url">
     <button class="btn"><span class="icon-link"></span></button>
    </div>

    {% include template.social %}
   </div><!-- /.span8 -->
  </div><!-- /.row -->
 </form>
</div>
{%endblock%}