{%block content%}
 <form method="post">
 {% if perm.sarshomar_knowledge.admin %}
 <div class="checkbox">
   <input type="checkbox" name="homepage" id="inHomepage" {% if homepage %}checked{% endif %}>
   <label for="inHomepage" class="check-box"></label>
   <label for="inHomepage">{% trans "Show result in home page" %}</label>
 </div>

 <div class="element select no-pad">
  <label class="title large" for="category">{%trans "Category"%}</label>
  <input type="text" id="cat0" placeholder='{%trans "Main Category"%}' class='category autoList' data-find='cat' data-call='fillCategory' data-parent="~">
  <input type="text" id="cat1" placeholder='{%trans "Sub Category"%}' class='category autoList' data-find='cat' data-parent="abc">
  <input type="text" id="cat2" placeholder='{%trans "child Category"%}' class='category autoList' data-find='cat' data-parent="abc">


{%if false%}
  <select class="input" name="category" id="category">
   {%for key, value in cat%}
   <option value="{{value.id}}">{{value.term_title|raw}}</option>
   {%endfor%}
  </select>
{%endif%}

 </div>
 {%endif%}

 <div class="element dropdown no-pad">
  <label class="title large" for="article">{%trans "Article"%}</label>
  <div class="dropdown-wrapper tagDetector" id="article">
    <div class="dropdown-tags tagBox"></div>
    <input class="input dropdown tagInput autoList" data-find='article' data-call='addNewTags'>
  </div>
 </div>

 <div class="element dropdown no-pad">
  <label class="title large" for="tag">{%trans "Tags"%}</label>
  <div class="dropdown-wrapper tagDetector" id="tags" {%if perm.sarshomar_knowledge.admin%}{%else%}data-limit='5'{%endif%}>
    <div class="dropdown-tags tagBox"></div>
    <input class="input dropdown tagInput autoList" data-find='tag' data-call='addNewTags'>
  </div>
 </div>

 <div class="element switch">
  {% set lang_list = langList({'all' : true}) %}
  {%for key, value in lang_list%}
  <input type="radio" name="ui-language" value="{{key}}" id="language-{{key}}" {%if site.currentlang == key %}checked{%endif%}>
  <label for="language-{{key}}">{{value}}</label>
  {%endfor%}
 </div>

 <div class="element no-pad ltr">
  <label class="title large" for="short_url">{%trans "Short URL"%}</label>
  <input class="input" type="text" name="short_url" id="short_url">
  <button class="btn"><span class="icon-link"></span></button>
 </div>

 </form>
{%endblock%}
