{%block filter_public%}
<div class="element switch privacy">
 <input type="radio" name="filter_privacy" value="private" id="privacy_private" {%if poll.privacy!='public'%}checked{%endif%}>
 <label for="privacy_private">{%trans "Private"%}</label>

 <input type="radio" name="filter_privacy" value="public" id="privacy_public" {%if poll.privacy=='public' %}checked{%endif%}>
 <label for="privacy_public">{%trans "Public"%}</label>
</div>
{%endblock%}


{%block filter_gender%}
 <div class="element switch" data-respnse-group='gender' data-response-where-not='false'>
  <label class="title large badge {%if poll.filters.gender%}active{%endif%}" data-ratio="{{20 | number_format | fitNumber}}" data-ratio-val="20" data-response='gender' data-response-class='active'>{%trans "Gender"%}</label>
  <div class="switch-container">
   <input type="checkbox" value="male" id="male" {%if poll.filters.gender.male%}checked{%endif%}>
   <label for="male">{%trans "Male"%}</label>
   <input type="checkbox" value="female" id="female" {%if poll.filters.gender.female%}checked{%endif%}>
   <label for="female">{%trans "Female"%}</label>
  </div>
 </div>
{%endblock%}



{%block filter_graduation%}
 <div class="element switch" data-respnse-group='graduation' data-response-where-not='false'>
  <label class="title large badge {%if poll.filters.graduation%}active{%endif%}" data-ratio="{{25 | number_format | fitNumber}}" data-ratio-val="25" data-response='graduation' data-response-class='active'>{%trans "Education"%}</label>
  <div class="switch-container">
   <!-- <input type="checkbox" value="illiterate" id="illiterate" {%if poll.filters.graduation.illiterate%}checked{%endif%}> -->
   <!-- <label for="illiterate">{%trans "Illiterate"%}</label> -->
   <input type="checkbox" value="undergraduate" id="undergraduate" {%if poll.filters.graduation.undergraduate%}checked{%endif%}>
   <label for="undergraduate">{%trans "Undergraduate"%}</label>
   <input type="checkbox" value="graduate" id="graduate" {%if poll.filters.graduation.graduate%}checked{%endif%}>
   <label for="graduate">{%trans "Graduate"%}</label>
  </div>
 </div>
{%endblock%}


{%block filter_marrital%}
 <div class="element switch" data-respnse-group='marrital' data-response-where-not='false'>
  <label class="title large badge {%if poll.filters.marrital%}active{%endif%}" data-ratio="{{35 | number_format | fitNumber}}" data-ratio-val="35" data-response='marrital' data-response-class='active'>{%trans "Marrital"%}</label>
  <div class="switch-container">
   <input type="checkbox" value="single" id="single" {%if poll.filters.marrital.single%}checked{%endif%}>
   <label for="single">{%trans "Single"%}</label>
   <input type="checkbox" value="married" id="married" {%if poll.filters.marrital.married%}checked{%endif%}>
   <label for="married">{%trans "Married"%}</label>
  </div>
 </div>
{%endblock%}


{%block filter_employment%}
 <div class="element switch" data-respnse-group='employmentstatus' data-response-where-not='false'>
  <label class="title large badge {%if poll.filters.employmentstatus%}active{%endif%}" data-ratio="{{30 | number_format | fitNumber}}" data-ratio-val="30" data-response='employmentstatus' data-response-class='active'>{%trans "Employment"%}</label>
  <div class="switch-container">
   <input type="checkbox" value="employee" id="employee" {%if poll.filters.employmentstatus.employee%}checked{%endif%}>
   <label for="employee">{%trans "Employed"%}</label>
   <input type="checkbox" value="unemployed" id="unemployed" {%if poll.filters.employmentstatus.unemployed%}checked{%endif%}>
   <label for="unemployed">{%trans "Unemployed"%}</label>
   <input type="checkbox" value="retired" id="retired" {%if poll.filters.employmentstatus.retired%}checked{%endif%}>
   <label for="retired">{%trans "Retired"%}</label>
  </div>
 </div>
{%endblock%}


{%block filter_degree%}
 <div class="element switch" data-respnse-group='degree' data-response-where-not='false'>
  <label class="title large badge {%if poll.filters.degree%}active{%endif%}" data-ratio="{{60 | number_format | fitNumber}}" data-ratio-val="60" data-response='degree' data-response-class='active'>{%trans "Degree"%}</label>
  <div class="switch-container">
   <input type="checkbox" value="under diploma" id="underdiploma" {% if poll.filters.degree['under diploma']%}checked{%endif%}>
   <label for="underdiploma">{%trans "Under diploma"%}</label>
   <input type="checkbox" value="diploma" id="diploma" {% if poll.filters.degree['diploma']%}checked{%endif%}>
   <label for="diploma">{%trans "Diploma"%}</label>
   <input type="checkbox" value="2 year college" id="2yearcollege" {% if poll.filters.degree['2 year college']%}checked{%endif%}>
   <label for="2yearcollege">{%trans "2 year college"%}</label>
   <input type="checkbox" value="bachelor" id="bachelor" {% if poll.filters.degree['bachelor']%}checked{%endif%}>
   <label for="bachelor">{%trans "Bachelor"%}</label>
   <input type="checkbox" value="master" id="master" {% if poll.filters.degree['master']%}checked{%endif%}>
   <label for="master">{%trans "Master"%}</label>
   <input type="checkbox" value="phd" id="phd" {% if poll.filters.degree['phd']%}checked{%endif%}>
   <label for="phd">{%trans "PHD"%}</label>
   <!-- <input type="checkbox" value="other" id="other" {% if poll.filters.degree['other']%}checked{%endif%}>
   <label for="other">{%trans "Other"%}</label> -->
  </div>
 </div>
{%endblock%}

{%block filter_range%}
 <div class="element switch" data-respnse-group='range' data-response-where-not='false'>
  <label class="title large badge {%if poll.filters.range%}active{%endif%}" data-ratio="{{40 | number_format | fitNumber}}" data-ratio-val="40" data-response='range' data-response-class='active'>{%trans "Age Range"%}</label>
  <div class="switch-container">
   <input type="checkbox" value="-13" id="-13" {% if poll.filters.range['-13']%}checked{%endif%}>
   <label for="-13" class="ltr">{%trans "Under 13"%}</label>
   <input type="checkbox" value="14-17" id="14-17" {% if poll.filters.range['14-17']%}checked{%endif%}>
   <label for="14-17">{%trans "14-17"%}</label>
   <input type="checkbox" value="18-24" id="18-24" {% if poll.filters.range['18-24']%}checked{%endif%}>
   <label for="18-24">{%trans "18-24"%}</label>
   <input type="checkbox" value="25-30" id="25-30" {% if poll.filters.range['25-30']%}checked{%endif%}>
   <label for="25-30">{%trans "25-30"%}</label>
   <input type="checkbox" value="31-44" id="31-44" {% if poll.filters.range['31-44']%}checked{%endif%}>
   <label for="31-44">{%trans "31-44"%}</label>
   <input type="checkbox" value="45-59" id="45-59" {% if poll.filters.range['45-59']%}checked{%endif%}>
   <label for="45-59">{%trans "45-59"%}</label>
   <input type="checkbox" value="60+" id="60+" {% if poll.filters.range['60+']%}checked{%endif%}>
   <label for="60+" class="ltr">{%trans "Above 60"%}</label>
  </div>
 </div>
{%endblock%}


{%block filter_age%}
 <div class="element no-pad {%if poll.filters.age%}active{%endif%}">
  <label class="title large badge" for="age" data-ratio="{{50 | number_format | fitNumber}}" data-ratio-val="50">{%trans "Age"%}</label>
  <div class="element-slider">
   <div class="range-slider" id='rangeage' data-max='100' data-min='14' ></div>
  </div>
 </div>
{%endblock%}


{%block filter_person_count%}
<div class="element range no-pad has-margin-top align-end">
 <label class="title large">{%trans "Number of people"%}</label>
 <div class="element-slider">
  <input type="text" class="rangeSlider" id="rangepersons"
  data-grid=true data-keyboard=true data-keyboard-step=1
  data-from-shadow=true data-max-postfix="+" data-grid-margin=true data-force-edges=true
  data-min=0
  data-max="{{persons.max}}"
  data-step="{{persons.step}}"
  data-from="{{persons.from}}"
  {%if persons.limit is defined and persons.limit != persons.max%} data-from-max="{{persons.limit}}"{%endif%}
  />
 </div>
</div>
{%endblock%}
