{%block feature_tabs%}
<div class="menu">
 <div class="menu-inside">
  <input type="radio" name="poll_type" id="type_multiple" value="multiple" {% if poll.type == 'multiple' or poll.type is null%}checked{%endif%} >
  <label for="type_multiple"><i class="icon-check"></i> <span>{%trans "Multiple Choice"%}</span></label>
{%if false%}
  <input type="radio" name="poll_type" id="type_descriptive" value="descriptive" {% if poll.type == 'descriptive' %}checked{%endif%}>
  <label for="type_descriptive"><i class="icon-pencil"></i> <span>{%trans "Descriptive"%}</span></label>
  <input type="radio" name="poll_type" id="type_notification" value="notification" {% if poll.type == 'notification' %}checked{%endif%}>
  <label for="type_notification"><i class="icon-bell"></i> <span>{%trans "Notification"%}</span></label>
  <input type="radio" name="poll_type" id="type_upload" value="upload" {% if poll.type == 'upload' %}checked{%endif%}>
  <label for="type_upload"><i class="icon-upload"></i> <span>{%trans "Upload"%}</span></label>
  <input type="radio" name="poll_type" id="type_range" value="range" {% if poll.type == 'range' %}checked{%endif%}>
  <label for="type_range"><i class="icon-star"></i> <span>{%trans "Range / Star"%}</span></label>
{%endif%}
 </div>
</div>
{%endblock%}


{%block feature_title%}
<div class="ultra title-item">
 <div class="data">
  <div class="element">
   <label class="title large" for="title">{%trans "Title"%}</label>
   <div class="element-in">
    <input class="input" type="text" id="title" placeholder='{%trans "Title of question"%}' autocomplete="off" value="{{poll.title}}">
    <div class="file">
     <input type="file" id="file_title">
     <label class="label-file icon-pic" for="file_title"></label>
    </div>
   </div>
  </div>
  <div class="modules">
{%if false%}
   <div class="module score-module" data-response='meta_score' data-response-hide>
    <label for="scoreTitle">{%trans "Score"%}</label>
    <input type="text" class='scoreCat' placeholder='{%trans "Category"%}' data-response='meta_score_advance' data-response-hide>
    <input type="number" class='scoreVal' id="scoreTitle" placeholder='{%trans "Score"%}'>
   </div>
{%endif%}
   <div class="module audio"></div>
  </div>
 </div>
 <div class="preview">
{%if poll.meta.attachment_id%}
  <img src="{{attachment({"id" : poll.meta.attachment_id, "url" : true})}}">
{%endif%}
 </div>
</div>
{%endblock%}


{%block feature_opts%}
<ul class="input-group sortable drag-big">
{%for key, value in answers%}
{% set myKey = key + 1 %}

{%if value.type == 'descriptive' %}
  {% set other = true %}
{%else%}
  {% set other = false %}
{%endif%}

 <li class="multi-line" data-row="{{myKey}}" {% if other %} data-type="other" {% endif %}>
  <div class="ultra">
   <div class="data">
    <div class="element">
     <label class="title small" for="answer{{myKey}}">{%if other%}<b>{{myKey | persian}}</b> {%trans "Other"%}{%else%}{%trans "Answer"%} <b>{{myKey | persian}}</b>{%endif%}</label>
     <div class="element-in">
      <input class="input" type="text" id="answer{{myKey}}"
        {% if other %}
          placeholder='{%trans "text given from user"%}'
        {% else %}
          placeholder='{%trans "Answer"%} {{myKey | persian}}'
        {% endif %}
      autocomplete="off" value="{{value.title}}">

      <!-- <span class="checkbox true" data-response='meta_true_answer' {% if not poll.have_true_answer%}data-response-hide{%endif%}>
       <input type="checkbox" id="true{{myKey}}" {%if value.true %}checked{%endif%}>
       <label class="check-box" for="true{{myKey}}"></label>
      </span> -->

      <span class="element-checkbox true" data-response='meta_true_answer' {% if not poll.have_true_answer%}data-response-hide{%endif%}>
       <input type="checkbox" class="checkbox true" id="true{{myKey}}" {%if value.true %}checked{%endif%}>
       <label for="true{{myKey}}"></label>
      </span>

      <div class="file">
       <input type="file" id="file{{myKey}}">
       <label class="label-file icon-pic" for="file{{myKey}}"></label>
      </div>
     </div>
    </div>
    <div class="modules">
{% if perm.complete_profile.admin %}

     <div class="module profile-module tagDetector" id="profileTag{{myKey}}" data-restrict='list' data-response='complete-profile' {% if not edit_mode or poll.profile %}{%else%}data-response-hide{% endif %}>
      <div class="tagBox"></div>
      <div class="module-in">
       <label for="profileTag{{myKey}}Input">{%trans "Profile"%}</label>
       <input class='tagInput autoList' id="profileTag{{myKey}}Input" placeholder='{%trans "Search in Profiles"%}' data-find='profile' data-call='addNewTags'>
      </div>
     </div>

{%endif%}
     <div class="module score-module" data-response='meta_score' {% if not poll.have_score%}data-response-hide{%endif%}>
      <label for="score{{myKey}}">{%trans "Score"%}</label>
      <input type="text" class='scoreCat' placeholder='{%trans "Category"%}' data-response='meta_score_advance' {% if not poll.have_score%}data-response-hide{%endif%} value="{{value.groupscore}}">
      <input type="number" class='scoreVal' id="score{{myKey}}" placeholder='{%trans "Score"%}' value="{{value.score}}">
     </div>
     <div class="module audio"></div>
    </div>
   </div>
   <div class="preview"></div>
   <span class="icon-times delete"></span>
  </div>
 </li>
 {%endfor%}
</ul>
{%endblock%}



{%block feature_score%}
<!-- <div class="checkbox">
 <input type="checkbox" id="score" {%if poll.have_score%}checked{%endif%}>
 <label for="score" class="check-box"></label>
 <label for="score">{%trans "Options has score"%}</label>
</div> -->

<input type="checkbox" class="checkbox" id="score" {%if poll.have_score%}checked{%endif%}>
<label for="score"></label>
<label for="score">{%trans "Options has score"%}</label>
{%endblock%}


{%block feature_score_advance%}
<!-- <div class="checkbox" data-response='meta_score' data-response-hide>
 <input type="checkbox" id="score-advance" {%if poll.have_score%}checked{%endif%}>
 <label for="score-advance" class="check-box"></label>
 <label for="score-advance">{%trans "Advance score"%}</label>
</div> -->

<input type="checkbox" class="checkbox" id="score-advance" {%if poll.have_score%}checked{%endif%}>
<label for="score-advance"></label>
<label for="score-advance">{%trans "Advance score"%}</label>
{%endblock%}


{%block feature_ordering%}
<!-- <div class="checkbox">
 <input type="checkbox" id="ordering" {%if poll.meta.ordering%}checked{%endif%}>
 <label for="ordering" class="check-box"></label>
 <label for="ordering">{%trans "Allow user to sort answers"%}</label>
</div> -->

<input type="checkbox" class="checkbox" id="ordering" {%if poll.meta.ordering%}checked{%endif%}>
<label for="ordering"></label>
<label for="ordering">{%trans "Allow user to sort answers"%}</label>
{%endblock%}


{%block feature_choicemode%}
<div class="element switch">
 <input type="radio" name="meta_choicemode" value="one" id="one" {%if not poll.options.multi and not poll.options.ordering %}checked{%endif%}>
 <label for="one">{%trans "One Choice"%}</label>

 <input type="radio" name="meta_choicemode" value="multi" id="multi" {%if poll.options.multi%}checked{%endif%}>
 <label for="multi">{%trans "Multi Choice"%}</label>

 <input type="radio" name="meta_choicemode" value="ordering" id="ordering" {%if poll.options.ordering %}checked{%endif%}>
 <label for="ordering">{%trans "Ordering"%}</label>
</div>
{%endblock%}


{%block feature_other%}
<!-- <div class="checkbox" data-response='meta_choicemode' data-response-where='one|multi'>
 <input type="checkbox" id="descriptive" {%if have_other_opt%}checked{%endif%} data-title='{%trans "other"%}' data-subtitle='{%trans "text given from user"%}'>
 <label for="descriptive" class="check-box"></label>
 <label for="descriptive">{%trans "Allow to type other answer"%}</label>
</div> -->

<input type="checkbox" class="checkbox" data-response='meta_choicemode' data-response-where='one|multi' id="descriptive" {%if have_other_opt%}checked{%endif%} data-title='{%trans "other"%}' data-subtitle='{%trans "text given from user"%}'>
<label for="descriptive"></label>
<label for="descriptive">{%trans "Allow to type other answer"%}</label>
{%endblock%}


{%block feature_branding%}
<!-- <div class="checkbox">
 <input type="checkbox" id="meta_branding" {%if poll.brand.title%}checked{%endif%}>
 <label for="meta_branding" class="check-box"></label>
 <label for="meta_branding">{%trans "Branding"%}</label>
</div> -->

<div class="checkbox-block">
 <input type="checkbox" class="checkbox" id="meta_branding" {%if poll.brand.title%}checked{%endif%}>
 <label for="meta_branding"></label>
 <label for="meta_branding">{%trans "Branding"%}</label>
</div>

<div data-response='meta_branding' {%if not poll.brand.title%}data-response-hide{%endif%} data-response-effect='fade'>
 <div class="element-branding">
  <input type="text" id="answer_brand" placeholder='{%trans "Branding"%}' autocomplete="off" data-response-focus value="{{poll.brand.title}}">
 </div>

 <div class="element-branding-url">
  <input type="text" id="answer_brand_url" placeholder='{%trans "URL"%}' autocomplete="off" value={{poll.brand.url}}>
 </div>
</div>
{%endblock%}


{%block feature_multiplerange%}
<div class="element no-pad" {%if not poll.options.multi%}data-response-hide{%endif%} data-response='meta_choicemode' data-response-where='multi' data-response-effect='slide'>
 <label class="title large">{%trans "Choice Range"%}</label>
 <div class="element-slider">
  <div class="range-slider" id='multiple-range' data-type="horizontal" data-max-title='{%trans "Ultimate"%}'
  {% if poll.options.multi.min%} data-min-default="{{poll.options.multi.min}}" {%endif%}
  {% if poll.options.multi.max%} data-max-default="{{poll.options.multi.max}}"{%endif%}
  data-min='1' data-max='5'
  data-show-title='[{"min": "{%trans "One"%}"}, {"max": "{%trans "Max"%}"}]'
  data-fix-mount='on'
  >
  </div>
 </div>
</div>
{%endblock%}


{%block feature_randomsort%}
<!-- <div class="checkbox">
 <input type="checkbox" id="random_sort" {%if poll.options.random_sort%}checked{%endif%}>
 <label for="random_sort" class="check-box"></label>
 <label for="random_sort">{%trans "Randomize sort options"%}</label>
</div> -->

<input type="checkbox" class="checkbox" id="random_sort" {%if poll.options.random_sort%}checked{%endif%}>
<label for="random_sort"></label>
<label for="random_sort">{%trans "Randomize sort options"%}</label>
{%endblock%}


{%block feature_hiddenresult%}
 {%if perm.hidden_result.admin%}
 <!-- <div class="checkbox">
  <input type="checkbox" id="hidden_result" {%if poll.hidden_result%}checked{%endif%}>
  <label for="hidden_result" class="check-box"></label>
  <label for="hidden_result">{%trans "Hidden result"%}</label>
 </div> -->

 <input type="checkbox" class="checkbox" id="hidden_result" {%if poll.hidden_result%}checked{%endif%}>
 <label for="hidden_result"></label>
 <label for="hidden_result">{%trans "Hidden result"%}</label>
 {%endif%}
{%endblock%}


{%block feature_trueanswer%}
<!-- <div class="checkbox" data-response='meta_choicemode' data-response-where='one|multi'>
 <input type="checkbox" id="true_answer" {%if poll.have_true_answer%}checked{%endif%} >
 <label for="true_answer" class="check-box"></label>
 <label for="true_answer">{%trans "Has correct option"%}</label>
</div> -->

<input type="checkbox" class="checkbox" id="true_answer" {%if poll.have_true_answer%}checked{%endif%} >
<label for="true_answer"></label>
<label for="true_answer">{%trans "Has correct option"%}</label>
{%endblock%}


{%block feature_completeprofile%}
 {% if perm.complete_profile.admin %}
 <div class="row auto">
  <div class="span4 checkbox-block">
   <input type="checkbox" class="checkbox" id="complete-profile" data-response-get='id' {% if not edit_mode or poll.profile %}checked{% endif %}>
   <label for="complete-profile" class="check-box"></label>
   <label for="complete-profile">{%trans "Complete Profile"%}</label>
  </div>
 </div>
 {%endif%}
{%endblock%}


{%block feature_tree%}
<!-- <div class="checkbox">
 <input type="checkbox" id="tree" data-response-get='id' {%if poll_tree_title %}checked{%endif%}>
 <label for="tree" class="check-box"></label>
 <label for="tree">{%trans "Tree"%}</label>
</div> -->

<div class="checkbox-block">
 <input type="checkbox" class="checkbox" id="tree" data-response-get='id' {%if poll_tree_title %}checked{%endif%}>
 <label for="tree"></label>
 <label for="tree">{%trans "Tree"%}</label>
</div>

<div class="tree-container" data-response='tree' data-response-effect='slide' {%if not poll_tree_title %}data-response-hide{%endif%} data-scroll='off'>
 <div class="element no-pad">
  <label class="title large">{%trans "Tree"%}</label>
  <div class="element-in">
   <input type="text" class="input autoList" data-find='tree' id='tree-search' autocomplete="off" placeholder='{%trans "Search"%}' data-response-focus data-maxItems='5' data-call='fillTree'>
  </div>
 </div>

  <div class="tree-result-list"></div>
</div>


<!-- <div class="tree-container" data-response='tree' data-response-effect='slide' {%if not poll_tree_title %}data-response-hide{%endif%} data-scroll='off'>
 <div class="row auto tree-fields">
  <input type="text" class="autoList" data-find='tree' id='tree-search' autocomplete="off" placeholder='{%trans "Search"%}' data-response-focus>
 </div>
 <ul class="tree-result-list"></ul>
</div> -->
{%endblock%}


{%block feature_tree_old%}
<!-- <div class="checkbox">
 <input type="checkbox" id="tree" data-response-get='id' {%if poll_tree_title %}checked{%endif%}>
 <label for="tree" class="check-box"></label>
 <label for="tree">{%trans "Tree"%}</label>
</div> -->

<input type="checkbox" class="checkbox" id="tree" data-response-get='id' {%if poll_tree_title %}checked{%endif%}>
<label for="tree"></label>
<label for="tree">{%trans "Tree"%}</label>


<div class="tree-container" data-response='tree' data-response-where='true' data-response-effect='slide' data-response-timing='slow' data-response-notfix {%if not poll_tree_title %}data-response-hide{%endif%} data-scroll='off'>
 <input type="hidden" value="{{poll_tree_opt}}">
 <div class="row auto tree-fields">
  <input type="text" id='tree-search' autocomplete="off" placeholder='{%trans "Search"%}' data-response-focus>
 </div>
 <ul class="tree-result-list" data-xhr="search-result"></ul>
</div>
{%endblock%}


{%block feature_timing%}
<div class="element no-pad">
 <label class="title large">{%trans "Time"%}</label>
 <div class="element-slider">
  <div class="range-slider timing-range" id='meta_rangetiming' data-type="horizontal" data-min='10' data-unit='180' data-infinity="min"
  {% if poll.meta.rangetiming_min%}data-min-default="{{poll.meta.rangetiming_min}}"{%endif%}
  {% if poll.meta.rangetiming_max%}data-max-default="{{poll.meta.rangetiming_max}}"{%endif%}
  ></div>
 </div>
</div>
{%endblock%}


{%block feature_summary%}
<div class="panel-text">
 <input type="checkbox" id="summary-show">
 <label for="summary-show">
  <i class="icon-minus" data-response='summary-show' data-response-class='icon-plus' data-response-class-false='icon-minus'></i><span>{%trans "Summary"%}</span>
 </label>
</div>
<textarea id='summary' placeholder='{%trans "Summary"%}' data-response="summary-show" {%if not poll.summary%}data-response-hide{%endif%} data-response-effect='slide'>{{poll.summary}}</textarea>
{%endblock%}


{%block feature_content%}
<div class="panel-text">
 <input type="checkbox" id="desc-show">
 <label for="desc-show">
  <i class="icon-minus" data-response='desc-show' data-response-class='icon-plus' data-response-class-false='icon-minus'></i><span>{%trans "Description"%}</span>
 </label>
</div>
<textarea id='description' placeholder='{%trans "Description"%}' data-response="desc-show" {%if not poll.description%}data-response-hide{%endif%} data-response-effect='slide' data-resizable>{{poll.description}}</textarea>
{%endblock%}


{%block feature_textformat%}
<div class="input-group">
 <div class="element select">
  <label class="title small" for="text-format">{%trans "Text Format"%}</label>
  <select class="text-format input" id='text-format'>
  <option value="any" {%if poll.meta.text_format == 'any' %}selected{%endif%}>{%trans "Any Text"%}</option>
  <option value="tel" {%if poll.meta.text_format == 'tel' %}selected{%endif%}>{%trans "Phone Number"%}</option>
  <option value="email" {%if poll.meta.text_format == 'email' %}selected{%endif%}>{%trans "Email"%}</option>
  <option value="website" {%if poll.meta.text_format == 'website' %}selected{%endif%}>{%trans "Website"%}</option>
  <option value="number" {%if poll.meta.text_format == 'number' %}selected{%endif%}>{%trans "Number"%}</option>
  <option value="password" {%if poll.meta.text_format == 'password' %}selected{%endif%}>{%trans "Password"%}</option>
  <option value="regular" {%if poll.meta.text_format == 'regular' %}selected{%endif%}>{%trans "Custom"%}</option>
  </select>
 </div>
 <div>
  <div class="element" data-response='meta_text_format' data-response-where='regular' data-response-effect='slide' data-response-notfix {%if poll.meta.text_format_custom is null %}data-response-hide{%endif%}>
  <label class="title small" for="text-custom">{%trans "Regular"%}</label>
  <input class="input" type="text" id="text-custom" autocomplete="off" value="{{poll.meta.text_format_custom}}" data-response-focus>
  </div>
 </div>
</div>

{%endblock%}


{%block feature_textlength2%}
<div data-response="meta_text_format" data-response-where='any|number' {%if poll.meta.text_format != 'any' and poll.meta.text_format != 'number' and poll.meta.text_format %}data-response-hide{%endif%}>
 <div class="element no-pad">
 <label class="title large">{%trans "Something"%}</label>
 <div class="element-slider">
  <div class="range-slider textlength-range" data-type="horizontal" id="meta_textlength"
  {% if poll.meta.textlength_min%}
   data-min-default="{{poll.meta.textlength_min}}"
  {%endif%}
  {% if poll.meta.textlength_max%}
   data-max-default="{{poll.meta.textlength_max}}"
  {%endif%}></div>
 </div>
 </div>
</div>
{%endblock%}


{%block feature_fileformat%}
<div class="input-group">
 <div class="element select">
  <label class="title small" for="file-format">{%trans "File Format"%}</label>
  <select class="file-format input" id='file-format'>
   <option value="any" {%if poll.meta.file_format == 'any' %}selected{%endif%}>{%trans "Any File"%}</option>
   <option value="document" {%if poll.meta.file_format == 'document' %}selected{%endif%}>{%trans "Document"%}</option>
   <option value="photo" {%if poll.meta.file_format == 'photo' %}selected{%endif%}>{%trans "Photo"%}</option>
   <option value="video" {%if poll.meta.file_format == 'video' %}selected{%endif%}>{%trans "Video"%}</option>
   <option value="audio" {%if poll.meta.file_format == 'audio' %}selected{%endif%}>{%trans "Audio"%}</option>
   <option value="pdf" {%if poll.meta.file_format == 'pdf' %}selected{%endif%}>{%trans "PDF"%}</option>
   <option value="doc" {%if poll.meta.file_format == 'doc' %}selected{%endif%}>{%trans "Word"%}</option>
   <option value="xls" {%if poll.meta.file_format == 'xls' %}selected{%endif%}>{%trans "Excel"%}</option>
   <option value="ppt" {%if poll.meta.file_format == 'ppt' %}selected{%endif%}>{%trans "PowerPoint"%}</option>
   <option value="txt" {%if poll.meta.file_format == 'txt' %}selected{%endif%}>{%trans "Text"%}</option>
   <option value="regular" {%if poll.meta.file_format == 'regular' %}selected{%endif%}>{%trans "Custom"%}</option>
  </select>
 </div>
 <div data-response='meta_file_format' data-response-where='regular' data-response-effect='slide'  {%if poll.meta.file_format_custom is null%}data-response-hide{%endif%}>
  <div class="element">
  <label class="title small" for="file-custom">{%trans "Regular"%}</label>
  <input class="input" type="text" id="file-custom" autocomplete="off" value="{{poll.meta.file_format_custom}}" data-response-focus>
  </div>
 </div>
</div>
{%endblock%}


{%block feature_filesize%}
<div class="element no-pad">
 <label class="title large">{%trans "File Size"%}</label>
 <div class="element-slider">
  <div class="range-slider filesize-range" data-type="horizontal" id="meta_filesize"
  {% if poll.meta.filesize_min%}
   data-min-default="{{poll.meta.filesize_min}}"
  {%endif%}
  {% if poll.meta.filesize_max%}
   data-max-default="{{poll.meta.filesize_max}}"
  {%endif%}></div>
 </div>
</div>
{%endblock%}


{%block feature_numberformat%}
<div class="element switch">
 <input type="radio" value="number" id="rangemodenumber"
  {% if poll.meta.rangemode == 'number'%}
  checked
  {%elseif poll.meta.rangemode%}
  {%else%}
  checked
  {%endif%}>
 <label for="rangemodenumber">{%trans "Range Number"%}</label>
 <input type="radio" name="meta_rangemode" value="star" id="rangemodestar"
  {% if poll.meta.rangemode == 'star'%}checked{%endif%}>
 <label for="rangemodestar">{%trans "Star"%}</label>
 <input type="radio" name="meta_rangemode" value="like" id="rangemodelike"
  {% if poll.meta.rangemode == 'like'%}checked{%endif%}>
 <label for="rangemodelike">{%trans "Like"%}</label>
</div>
{%endblock%}


{%block feature_numbersize%}
<div class="element no-pad" data-response='meta_rangemode'
  data-response-where='number' data-response-effect='slide'>
 <label class="title large">{%trans "Number Size"%}</label>
 <div class="element-slider">
  <div class="range-slider numbersize-range" data-type="horizontal" id="meta_numbersize"
  {% if poll.meta.numbersize_min%}
   data-min-default="{{poll.meta.numbersize_min}}"
  {%endif%}
  {% if poll.meta.numbersize_max%}
   data-max-default="{{poll.meta.numbersize_max}}"
  {%endif%}></div>
 </div>
</div>
{%endblock%}


{%block feature_starsize%}
<div class="element no-pad" data-response='meta_rangemode' data-response-where='star' data-response-effect='slide' data-response-hide>
 <label class="title large">{%trans "Star size"%}</label>
 <div class="element-slider">
  <div class="range-slider starsize-range" data-type="horizontal" id="meta_starsize" data-infinity='min' data-max='10'
  {% if poll.meta.starsize_max%}
   data-max-default="{{poll.meta.starsize_max}}"
  {%endif%}></div>
 </div>
</div>
{%endblock%}



{%block modalCrop%}
<div class='modal' id='modal-preview' data-always>
 <div class='modal-dialog'>
  <h3 class='modal-title'>{%trans "Fit to best size"%}</h3>
  <div class='modal-body'>
  <div class="row">
   <div class="span12">
    <div class="finalPreview"></div>
   </div>
<!--
   <div class="span3">
   <div class="img-preview preview-large"></div>
   <div class="img-preview preview-medium"></div>
   <div class="img-preview preview-small"></div>
   </div>
-->
  </div>
  <br />
  <div class="row auto btn-container center">
   <div class='btn'>{%trans "Apply"%}</div>
  </div>
  </div>
 </div>
</div>
{%endblock%}