<ul class="tree-result-list" data-xhr="tree">
{%block search_result%}
{%for key, value in poll_list%}
	<li>
		<input type="radio" value="{{value.id|shortURL('encode')}}" name="parent_tree_id" id="tree-i{{key}}" class='notshown'>
		<label for="tree-i{{key}}">{{value.title|raw}}</label>

		<ul class="options">
{%for i, opt in value.meta.opt%}
			<li data-id='{{i}}'>
				<span class="checkbox">
					<input type="checkbox" value="{{opt.key}}" id="x{{key}}-{{i}}">
					<label class="check-box" for="x{{key}}-{{i}}"></label>
				</span>
				<label for="x{{key}}-{{i}}">{{opt.txt}}</label>
			</li>
{%endfor%}
		</ul>
	</li>
{%endfor%}

<div class="pagination-container">
	{%include display.pagination%}
</div>
{%endblock%}

</ul>
