<ul class="tree-result-list" data-xhr="tree">
{%block search_result%}
{%for key, value in poll_list%}
	<li data-id='{{value.id}}'>
		<div>{{value.title|raw}}</div>
		<ul class="options">
{%for i, opt in value.meta.opt%}
			<li data-id='{{i}}'>
				<span class="checkbox">
					<input type="checkbox" value="{{opt.key}}" id="x{{key}}-{{i}}">
					<label class="check-box" for="x{{key}}-{{i}}"></label>
				</span>
				<label for="x{{key}}-{{i}}">{{opt.txt}}</label>
			</li>
{%endfor%}
		</ul>
	</li>
{%endfor%}

<div class="pagination-container">
	{%include display.pagination%}
</div>
{%endblock%}

</ul>
