{% spaceless %}
<div class="page-progress" data-current='{{step.current}}'>
	<a href="{{url.baseContent}}/add">
		<span class="checkbox {%if step.add%}active{%endif%}" data-label='{%trans "Add"%}'>
			<input type="checkbox" name="step-add" disabled {%if step.add and step.current != 'add'%}checked{%endif%}>
			<label class="check-box" for="a_add"></label>
		</span>
	</a>
	<a href="{{url.baseContent}}/add/">
		<span class="checkbox {%if step.filter%}active{%endif%}" data-label='{%trans "Filter"%}'>
			<input type="checkbox" name="step-filter" disabled {%if step.filter and step.current != 'filter'%}checked{%endif%}>
			<label class="check-box" for="filter"></label>
		</span>
	</a>
	<a href="{{url.baseContent}}/add/">
		<span class="checkbox {%if step.publish%}active{%endif%}" data-label='{%trans "Publish"%}'>
			<input type="checkbox" name="step-publish"disabled {%if step.publish and step.current != 'publish'%}checked{%endif%}>
			<label class="check-box" for="publish"></label>
		</span>
	</a>
</div>
{% endspaceless %}