{% spaceless %}
<div class="page-progress {{loadMode}}" data-current='{{step.current}}'>
	{%if step.link_add%}<a href="{{url.baseContent}}/{{step.link_add}}">{%endif%}
		<span class="checkbox {%if step.add%}active{%endif%}" data-label='{%trans "Add"%}'>
			<input type="checkbox" name="step-add" disabled {%if step.add and step.current != 'add'%}checked{%endif%}>
			<label class="check-box" for="a_add"></label>
		</span>
	{%if step.link_add%}</a>{%endif%}
	{%if step.link_filter%}<a href="{{url.baseContent}}/{{step.link_filter}}">{%endif%}
		<span class="checkbox {%if step.filter%}active{%endif%}" data-label='{%trans "Filter"%}'>
			<input type="checkbox" name="step-filter" disabled {%if step.filter and step.current != 'filter'%}checked{%endif%}>
			<label class="check-box" for="filter"></label>
		</span>
	{%if step.link_filter%}</a>{%endif%}
	{%if step.link_publish%}<a href="{{url.baseContent}}/{{step.link_publish}}">{%endif%}
		<span class="checkbox {%if step.publish%}active{%endif%}" data-label='{%trans "Publish"%}'>
			<input type="checkbox" name="step-publish"disabled {%if step.publish and step.current != 'publish'%}checked{%endif%}>
			<label class="check-box" for="publish"></label>
		</span>
	{%if step.link_publish%}</a>{%endif%}
</div>
{% endspaceless %}