{%extends display.election%}

{% block content %}
 {{block('win')}}
 {{block('rivals')}}
<div class="container">
 {{block('result')}}
 {{block('province_result')}}
 {{block('city_result')}}
 {{block('time_line')}}
</div>
{% endblock %}


{%block win%}
{% if false %}
 <div class="president-elect">
  <div class="image round">
   <img src="{{url.static}}images/election/1.png" align="سید مصطفی میرسلیم">
  </div>
  <!-- <h2>سید مصطفی میرسلیم</h2> -->
  <h2>Mostafa Mirsalim</h2>
  <!-- <h3>کاندیدای منتخب دوازدهمین دوره‌ی ریاست جمهوری ایران</h3> -->
  <h3>Winner of 12th election of Islamic Republic of IRAN</h3>
 </div>
{% endif %}
{%endblock%}

{%block rivals%}
 <div class="top-two-candidates">
  <div class="container">
   <div class="flex justify-between top-two-container">
    <div class="flex align-center first candidate">
     <div class="image round medium"><img src="{{url.static}}{{result.rival[0]['file_url']}}" alt="{{result.rival[0]['name']}} {{result.rival[0]['family']}}"></div>
     <h4>{{result.rival[0]['fame']}}</h4>
    </div>
    <div class="flex align-center second candidate">
     <h4>{{result.rival[1]['fame']}}</h4>
     <div class="image round medium"><img src="{{url.static}}{{result.rival[1]['file_url']}}" alt="{{result.rival[0]['name']}} {{result.rival[0]['family']}}"></div>
    </div>
   </div>

   <div class="flex status-bar">
    <div class="first" style="width:{{result.rival[0]['percent']}}%">
     <div class="percentage">
      <span>{{result.rival[0]['total']|number_format|fitNumber}}</span>
     </div>
    </div>
    <div class="gap" style="width:{{(100 - (result.rival[0]['percent'] + result.rival[1]['percent']))}}%"></div>
    <div class="second" style="width:{{result.rival[1]['percent']}}%">
     <div class="percentage">
      <span>{{result.rival[1]['total']|number_format|fitNumber}}</span>
     </div>
    </div>
    <div class="indicator"></div>
   </div>
  </div>
 </div><!-- /.top-two -->
{%endblock%}

{%block result%}
{%if result%}
 <div class="candidates">
  {%for key, value in result.result%}
   <div class="candidate">
    <div class="f">
     <div class="c1">
      <div class="image round low">
       <img src="{{url.static}}{{value.file_url}}" alt="">
      </div>
     </div>
     <div class="c2 name">
      <span>{{value.name}}</span>
      <span class="bold">{{value.family}}</span>
     </div>
     <div class="c7 bar-container">
      <div class="bar">
       <div class="bar-progress" style="width: {{value.percent}}%"></div>
      </div>
     </div>
     <div class="c2 votes-container">
      <span>{{value.total|number_format|fitNumber}}</span>
     </div>
    </div>
   </div>
  {%endfor%}
 </div>
{%endif%}
{%endblock%}


{%block province_result%}
<div class="city-results">
 <div class="f header">
  <div class="c">{%trans "Province"%}</div>
  {%for k, v in result.candida_id%}
  <div class="c">{{v}}</div>
  {%endfor%}
  </div>
  {%for key, value in result.result_by_city.province%}
  <div class="f">
  <div class="c">{{value.location.local_name}}</div>
  {%for k, v in value.data%}
  <div class="c">{{v}}</div>
  {%endfor%}
  </div>
  {%endfor%}
 </div>

{%endblock%}



{%block city_result%}
<div class="city-results">
 <div class="f header">
  <div class="c">{%trans "City"%}</div>
  {%for k, v in result.candida_id%}
  <div class="c">{{v}}</div>
  {%endfor%}
  </div>
  {%for key, value in result.result_by_city.city%}
  <div class="f">
  <div class="c">{{value.location.local_name}}</div>
  {%for k, v in value.data%}
  <div class="c">{{v}}</div>
  {%endfor%}
  </div>
  {%endfor%}
 </div>

{%endblock%}






{%block senario%}
{%if result.senario%}
 <div class="chart" id="" data-vals='[{"key"":۱۳۹۶-۰۲-۰۶","value":2},{"key":"۱۳۹۶-۰۲-۰۳","value":3}]' style="width:100%;direction:ltr;height: 300px;margin-bottom: 5em"></div>
{%endif%}
{%endblock%}


{%block time_line%}
{%if result.time_line%}
  <div class="timeline">
  {%for key, value in result.time_line%}
  <div class="circle {%if value.en_url == url.path or value.fa_url == url.path%}active{%endif%}">
   <div class="image round low">
    <img src="{{url.static}}images/election/1.png">
   </div>
  </div>
  {%endfor%}
 </div>
{%endif%}
{%endblock%}
