{%extends display.mvc%}

{%block head_css%}
 {%set codeUrl%}{%if url.tld == 'dev'%}http://code.ermile.dev/css/{%else%}https://code.ermile.com/css/{%endif%}{%endset%}
 <link rel="stylesheet"       href="{{codeUrl}}ermile-10.1.0.css">
 <link rel="stylesheet"       href="{{url.static}}{{'css/style-election.css' | filemtime(true)}}">
{%endblock%}

{%block content%}
 {{block('header')}}
 <div class="box-top unselectable">
  <h1 class="page-title">{%trans "Presidents of Islamic Republic of Iran"%}</h1>
 </div>
 {{block('all')}}
{%endblock%}

{%block header%}
<header class="flex justify-between s-column s-align-center">
 {%if site.currentlang == 'en'%}
  <a href="{{url.base}}" class="logo" data-direct><img src="{{url.static}}images/logo/logo-en.svg"></a>
 {%else%}
  <a href="{{url.base}}" class="logo" data-direct><img src="{{url.static}}images/logo/logo-fa.svg"></a>
 {%endif%}

 <nav class="flex align-center">
  <a href="{{url.base}}/e">{%trans "All Elections"%}</a>
  <a href="{{url.base}}/election/iran/president/candida">{%trans "All Candidates"%}</a>
 </nav>
</header>
{%endblock%}

{%block top%}
<div class="box-top unselectable"></div>
{%endblock%}

{%block all%}
 <div class="container unselectable">
  <div class="election-tbl">


   {%if site.currentlang == 'en'%}
     <div class="f th">

      <div class="c1 s2 all-center">{%trans "Year"%}</div>
      <div class="c1 s2 all-center">{%trans "Turnout"%}</div>
      <div class="c1 s0 all-center"></div>
      <div class="c2 s3 all-center">{%trans "President elected"%}</div>
      <div class="c6 s2 all-center">{%trans "Percentage"%}</div>
      <div class="c1 s3 all-center">{%trans "Popular vote"%}</div>

     </div>

    {%for key, value in result%}
    <div class="tr">
     <div class="tp" style="width:{{value.win_present_all}}%"></div>
     <div class="f">
      <div class="c1 s6 all-center year">
       <a href="{{value.election_en_url}}"><span>{{value.year|fitNumber}}</span></a>
      </div>

      <div class="c1 s6 all-center turnout">
       <span title='{%trans "Percent of total eligible"%} {{value.win_present_all|number_format|fitNumber}}%'>{{value.work_present|number_format|fitNumber}}%</span>
      </div>

      <div class="c1 s6 all-center">
        <a href="{{value.election_en_url}}">
         <div class="image round low">
         {%if value.win_url%}
          <img src='{{dlUrl}}{{value.win_url}}' alt='{{value.en_name}} {{value.en_fame}}'>
         {%else%}
          <img src='{{dlUrl}}/files/election/unknown.png' alt='{%trans "Unknown"%}'>
         {%endif%}
         </div>
        </a>
      </div>

      <div class="c2 s6 vertical-center">
       <h4 class="first-name">{%if value.en_family == value.en_fame%}{{value.en_name}}{%else%}{{value.en_name}} {{value.en_family}}{%endif%}</h4>
       <h4 class="last-name">{%if value.en_fame%}{{value.en_fame}}{%elseif value.en_family%}{{value.en_family}}{%else%}-{%endif%}</h4>
      </div>

      <div class="c6 s6 all-center">
       <div class="percentage-container">
        <div class="percentage-value">{%if value.win_present is defined and value.win_present%}{{value.win_present|fitNumber}}%{%else%}{%endif%}</div>
        <div class="percentage-bar">
         <div class="percentage-progress" style="width:{{value.win_present}}%"></div>
        </div>
       </div>
      </div>

      <div class="c1 s6 all-center text-center">
       <span title='{%trans "Eligible"%} {{value.eligible|number_format|fitNumber}}'>{{value.voted|number_format|fitNumber}} {%trans "Votes"%}</span>
      </div>

     </div>
    </div>
    {%endfor%}

   {%else%}

     <div class="f th">
      <div class="c1 s2 all-center">{%trans "Year"%}</div>
      <div class="c1 s2 all-center">{%trans "Turnout"%}</div>
      <div class="c1 s0 all-center"></div>
      <div class="c2 s3 all-center">{%trans "President elected"%}</div>
      <div class="c6 s2 all-center">{%trans "Percentage"%}</div>
      <div class="c1 s3 all-center">{%trans "Popular vote"%}</div>
     </div>

    {%for key, value in result%}
    <div class="tr">
     <div class="tp" style="width:{{value.win_present_all}}%"></div>
     <div class="f">
      <div class="c1 s6 all-center year">
       <a href="{{value.fa_url}}"><span>{{value.jalali_year|fitNumber}}</span></a>
      </div>

      <div class="c1 s6 all-center turnout">
       <span title='{%trans "Percent of total eligible"%} {{value.win_present_all|number_format|fitNumber}}%'>{{value.work_present|number_format|fitNumber}}%</span>
      </div>

      <div class="c1 s6 all-center">
        <a href="{{value.fa_url}}">
         <div class="image round low">
         {%if value.win_url%}
          <img src='{{dlUrl}}{{value.win_url}}' alt='{{value.name}} {{value.fame}}'>
         {%else%}
          <img src='{{dlUrl}}/files/election/unknown.png' alt='{%trans "Unknown"%}'>
         {%endif%}
         </div>
        </a>
      </div>

      <div class="c2 s6 vertical-center">
       <h4 class="first-name">{%if value.family == value.fame%}{{value.name}}{%else%}{{value.name}} {{value.family}}{%endif%}</h4>
       <h4 class="last-name">{%if value.fame%}{{value.fame}}{%elseif value.family%}{{value.family}}{%else%}-{%endif%}</h4>
      </div>

      <div class="c6 s6 all-center">
       <div class="percentage-container">
        <div class="percentage-value">{%if value.win_present is defined and value.win_present%}{{value.win_present|fitNumber}}%{%else%}{%endif%}</div>
        <div class="percentage-bar">
         <div class="percentage-progress" style="width:{{value.win_present}}%"></div>
        </div>
       </div>
      </div>

      <div class="c1 s6 all-center text-center">
       <span title='{%trans "Eligible"%} {{value.eligible|number_format|fitNumber}}'>{{value.voted|number_format|fitNumber}} {%trans "Votes"%}</span>
      </div>

{%if false%}
      <div class="c1 s6 all-center">
       <span>{{value.win_present_all|number_format|fitNumber}}%</span>
      </div>
{%endif%}
     </div>
    </div>
    {%endfor%}
   {%endif%}


  </div>
 </div>
{%endblock%}
