{%extends display.election%}
{%block content%}

{%if candida_list%}
<h1>{%trans "Candida List" %}</h1>
<div class="dt">
	<div class="f th">
		<div class="c2">{%trans "election" %}</div>
		<div class="c">{%trans "Name" %}</div>
		<div class="c">{%trans "En Name" %}</div>
		<div class="c">{%trans "Family" %}</div>
		<div class="c">{%trans "En Family" %}</div>
		<div class="c">{%trans "Father" %}</div>
		<div class="c">{%trans "En Father" %}</div>
		<div class="c">{%trans "Fame" %}</div>
		<div class="c">{%trans "En Fame" %}</div>
		<div class="c">{%trans "Nationalcode" %}</div>
		<div class="c">{%trans "Brith date" %}</div>
		<div class="c">{%trans "Election code" %}</div>
		<div class="c">{%trans "Desc" %}</div>
		<div class="c">{%trans "File_url" %}</div>
		<div class="c">{%trans "File_url_2" %}</div>
		<div class="c">{%trans "Win url" %}</div>
	</div>
		{%for key, value in candida_list%}
	<div class="f">
		<div class="c2">{{value.title}}</div>
		<div class="c"><a href="{{url.base}}/election/admin/candida/edit={{value.id}}"><b>{{value.name}}</b></a></div>
		<div class="c">{{value.en_name}}</div>
		<div class="c">{{value.family}}</div>
		<div class="c">{{value.en_family}}</div>
		<div class="c">{{value.father}}</div>
		<div class="c">{{value.en_father}}</div>
		<div class="c">{{value.fame}}</div>
		<div class="c">{{value.en_fame}}</div>
		<div class="c">{{value.nationalcode|fitNumber}}</div>
		<div class="c">{{value.birthdate|jdate("Y-m-d")}}</div>
		<div class="c">{{value.electioncode|fitNumber}}</div>
		<div class="c">{{value.desc}}</div>
		<div class="c">{% if value.file_url %}<img height="100" width="100" src="{{url.root}}{{value.file_url}}">{% else %}<b>-</b>{% endif %}</div>
		<div class="c">{% if value.file_url_2 %}<img height="100" width="100" src="{{url.root}}{{value.file_url_2}}">{% else %}<b>-</b>{% endif %}</div>
		<div class="c">{% if value.win_url %}<img height="100" width="100" src="{{url.root}}{{value.win_url}}">{% else %}<b>-</b>{% endif %}</div>
	</div>
		{%endfor%}
</div>
{%endif%}

{%if edit_candida%}
<h1>{%trans "Edit candida data"%} {{candida.title}}</h1>
{%else%}
<h1>{%trans "Add new candida"%}</h1>
{%endif%}
<form method="post" enctype="multipart/form-data" class="df">
	<div class="f">
		<label class="c1" for="election_id">{%trans "election_id"%}</label>
		<select name="election_id" id="election_id" class="c5">
			<option  selected>{%trans "Please select one item"%}</option>
			{%for key, value in election_list%}
			<option value="{{value.id}}" {%if candida.election_id == value.id %}selected{%endif%}>{{value.title}}</option>
			{%endfor%}
		</select>
	</div>
	<div class="f">
		<label class="c1" for="name">{%trans "name"%}</label>
		<input type="text" name="name" id="name"  value="{{candida.name}}" placeholder='{%trans "Name"%}' class="c5">
	</div>

	<div class="f">
		<label class="c1" for="en_name">{%trans "En Name"%}</label>
		<input type="text" name="en_name" id="en_name"  value="{{candida.en_name}}" placeholder='{%trans "en_name"%}' class="c5">
	</div>

	<div class="f">
		<label class="c1" for="family">{%trans "family"%}</label>
		<input type="text" name="family" id="family"  value="{{candida.family}}" placeholder='{%trans "Family"%}' class="c5">
	</div>
	<div class="f">
		<label class="c1" for="en_family">{%trans "En Family"%}</label>
		<input type="text" name="en_family" id="en_family"  value="{{candida.en_family}}" placeholder='{%trans "En Family"%}' class="c5">
	</div>

	<div class="f">
		<label class="c1" for="father">{%trans "Father"%}</label>
		<input type="text" name="father" id="father"  value="{{candida.father}}" placeholder='{%trans "Father"%}' class="c5">
	</div>
	<div class="f">
		<label class="c1" for="en_father">{%trans "En Father"%}</label>
		<input type="text" name="en_father" id="en_father"  value="{{candida.en_father}}" placeholder='{%trans "En Father"%}' class="c5">
	</div>
	<div class="f">
		<label class="c1" for="fame">{%trans "fame"%}</label>
		<input type="text" name="fame" id="fame"  value="{{candida.fame}}" placeholder='{%trans "Fame"%}' class="c5">
	</div>
	<div class="f">
		<label class="c1" for="en_fame">{%trans "En Fame"%}</label>
		<input type="text" name="en_fame" id="en_fame"  value="{{candida.en_fame}}" placeholder='{%trans "En Fame"%}' class="c5">
	</div>
	<div class="f">
		<label class="c1" for="birthdate">{%trans "birthdate"%}</label>
		<input type="text" name="birthdate" id="birthdate"  value="{{candida.birthdate}}" placeholder='{%trans "Birth date"%}' class="c5">
	</div>
	<div class="f">
		<label class="c1" for="nationalcode">{%trans "nationalcode"%}</label>
		<input type="number" name="nationalcode"  id="nationalcode" value="{{candida.nationalcode}}" placeholder='{%trans "National code"%}' class="c5">
	</div>
	<div class="f">
		<label class="c1" for="electioncode">{%trans "electioncode"%}</label>
		<input type="text" name="electioncode"  id="electioncode" value="{{candida.electioncode}}" placeholder='{%trans "Election code"%}' class="c5">
	</div>
	<div class="f">
		<label class="c1" for="file_url">{%trans "file_url"%}</label>
    	<input type="file" name="file_url" class="c5" >
	</div>
	<div class="f">
		<label class="c1" for="file_url_2">{%trans "file_url_2"%}</label>
      	<input type="file" name="file_url_2" class="c5" >
	</div>
	<div class="f">
		<label class="c1" for="win_url">{%trans "win_url"%}</label>
    	<input type="file" name="win_url" class="c5" >
	</div>
	<div class="f">
		<label class="c1" for="status">{%trans "status"%}</label>
		<select name="status" id="status" class="c5">
		<option value="active" {%if candida.status == 'active' %}selected{%endif%}>{%trans "active"%}</option>
		<option value="cancel" {%if candida.status == 'cancel' %}selected{%endif%}>{%trans "cancel"%}</option>
	</select>
	</div>
	<div class="f">
		<label class="c1" for="desc">{%trans "desc"%}</label>
		<textarea name="desc" id="desc" placeholder="Desc" class="c5">{{candida.desc}}</textarea>
	</div>
	<div class="f">
		<label for="submit" class="c1">{%trans "Save"%}</label>
		{%if edit_candida%}
			<input type="submit" value='{%trans "Update"%}' class="c5">
		{%else%}
			<input type="submit" value='{%trans "Save"%}' class="c5">
		{%endif%}
	</div>
</form>
{%endblock%}