/* Initial CSS */
html,body{height:100%;background:url(https://ermile.com/static/images/pattern/shattered_@2X.png)}
body{display:-webkit-box !important;display:-webkit-flex !important;display:-ms-flexbox !important;display:-moz-box !important;display:flex !important;-webkit-box-pack:center !important;-webkit-justify-content:center !important;-ms-flex-pack:center !important;-moz-box-pack:center !important;justify-content:center !important;-webkit-box-align:center !important;-webkit-align-items:center !important;-ms-flex-align:center !important;-moz-box-align:center !important;align-items:center !important}
.hidden{display:none}

/* Custom CSS */
.login{width:75%;max-width:768px;padding:2em;background-color:#fff}

.login .field{margin-bottom:1em}
.login .field label{display:block}
.login .field label span{display:inline-block;padding:.5rem 0}
.login .field input,.login button{font-size:1em}
.login .field input{width:100%;padding:.5rem 1rem;border:1px solid #afafaf}
.login .field input.disabled,.login .field input[disabled]{pointer-events:none;opacity:.45}
.login .field input.ltr{text-align:left}
.login .field input.center{text-align:center}
.login button{width:100%;/*margin-top:1rem;*/padding:.5rem;cursor:pointer;border:none;border-radius:3px;outline:none}

/* Fancy Title */
.login .fancy{position:relative;text-align:center;margin-bottom:1em}
.login .fancy:before{background:#ddd;content:"";display:block;height:1px;position:absolute;top:50%;width:100%;left:0}
.login .fancy span{background:#fff;padding:0 15px;position:relative;z-index:1}

/* Logo */
.login .logo{width:50%;max-width:250px}

.login .notif{margin-bottom:1em}
.login .notif .notif-loader{text-align:center;display:inline-block;margin:0 2px;padding-top:1px;vertical-align:middle}
.login .notif .notif-loader span{display:inline-block;width:3px;height:3px;margin:0;opacity:0;border-radius:100%;background-color:#a9a9a9}
.login .notif .notif-loader span:nth-child(1){-webkit-animation:opacitychange 1s ease-in-out infinite;animation:opacitychange 1s ease-in-out infinite}
.login .notif .notif-loader span:nth-child(2){-webkit-animation:opacitychange 1s ease-in-out 0.33s infinite;animation:opacitychange 1s ease-in-out 0.33s infinite}
.login .notif .notif-loader span:nth-child(3){-webkit-animation:opacitychange 1s ease-in-out 0.66s infinite;animation:opacitychange 1s ease-in-out 0.66s infinite}
@-webkit-keyframes opacitychange{
  0%,100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
  60%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
}
@keyframes opacitychange{
  0%,100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
  60%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
}

.login .other-ways{margin-bottom:1rem}