/* Initial CSS */
body{background-color:#d7d8d8;background-image:url(../images/shattered_@2X.png)}

/* Layout */
.enter{max-width:550px;margin:0 auto;padding:2rem;background-color:rgba(255,255,255,0.2)}
.enter .logo{display:block;width:250px;margin:0 auto}
.enter .logo img{display:block;width:100%}
.enter .logo span{display:none !important}

.enter h2{font-size:1.2em;margin:0 auto 0rem;padding:1em;text-align:center}
.enter h2 .loader{display:block}
.enter h2 .loader span{display:inline-block;width:3px;height:3px;margin:0;opacity:0;border-radius:100%;background-color:#a9a9a9}
.enter h2 .loader span:nth-child(1){-webkit-animation:opacitychange 1s ease-in-out infinite;animation:opacitychange 1s ease-in-out infinite}
.enter h2 .loader span:nth-child(2){-webkit-animation:opacitychange 1s ease-in-out 0.33s infinite;animation:opacitychange 1s ease-in-out 0.33s infinite}
.enter h2 .loader span:nth-child(3){-webkit-animation:opacitychange 1s ease-in-out 0.66s infinite;animation:opacitychange 1s ease-in-out 0.66s infinite}
@-webkit-keyframes opacitychange{
 0%,100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
 60%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
}
@keyframes opacitychange{
 0%,100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
 60%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
}

.enter .field{margin:0 auto 2rem;border-radius:3px;overflow:hidden}
.enter .field:not(.goBox){border:1px solid #6f6f6f}
.enter .field label{background-color:#fff;color:#6f6f6f}
.enter .field label span[class*="icon-"]{font-size:2em}
.enter .field label span:not([class*="icon-"]){font-weight:bold;font-size:1.2em}
.enter .field input,.enter button{font-size:1.2em;-webkit-transition:0.3s;transition:0.3s}
.enter .field input{width:100%;padding:1em 2em;border:none;background-color:#fff;direction:ltr}
.enter .field input.disabled,.enter .field input[disabled]{pointer-events:none;opacity:.45}
.enter .field input.ltr{text-align:left}
.enter .field input.center{text-align:center}
.enter button{display:block;width:100%;/*margin:0 auto;*/padding:1em 2em;cursor:pointer;border:none;border-radius:3px;outline:none;background-color:#2196f3;color:#fff}

.typed-cursor{opacity:1;-webkit-animation:blink 0.7s infinite;-moz-animation:blink 0.7s infinite;animation:blink 0.7s infinite}
@keyframes blink{
 0%{opacity:1}
 50%{opacity:0}
 100%{opacity:1}
}
@-webkit-keyframes blink{
 0%{opacity:1}
 50%{opacity:0}
 100%{opacity:1}
}
@-moz-keyframes blink{
 0%{opacity:1}
 50%{opacity:0}
 100%{opacity:1}
}

.typer__cursor--blink{-webkit-animation:blink 1s infinite;-moz-animation:blink 1s infinite;animation:blink 1s infinite}
@-webkit-keyframes blink{
 0%{opacity:1}
 100%{opacity:0}
}
@-moz-keyframes blink{
 0%{opacity:1}
 100%{opacity:0}
}
@keyframes blink{
 0%{opacity:1}
 100%{opacity:0}
}