/**
 * In the Name of God
 * Sarshomar Responsive Styles
 * Version:1.0.0
 * Author:Ermile
 * Author URI:Ermile.com
 */
@charset "utf-8";


/* media */
@media only screen and (max-width:1000px) {
  .features li .normal span{ font-size:.27em; }
  .features li h3{font-size:.22em;}
  .features li p{font-size:13px;}
  .features li img{padding:42px; padding-top:27px;}
  .features li{width:200px;height:200px}
  .features li .normal span{ padding-top:78px; }
  @-webkit-keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 104deg); transform:rotate3d(-1, 0, 0, 104deg);}}
  @keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 104deg); transform:rotate3d(-1, 0, 0, 104deg);}}
  @-webkit-keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 104deg); transform:rotate3d(0, -1, 0, 104deg);}}
  @keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 104deg); transform:rotate3d(0, -1, 0, 104deg);}}
  @-webkit-keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 104deg); transform:rotate3d(1, 0, 0, 104deg);}}
  @keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 104deg); transform:rotate3d(1, 0, 0, 104deg);}}
  @-webkit-keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 104deg); transform:rotate3d(0, 1, 0, 104deg);}}
  @keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 104deg); transform:rotate3d(0, 1, 0, 104deg);}}
}

@media only screen and (max-width:768px) {
  .features li h3{font-size:.22em;}
  .features li p{font-size:12px}
  .features li .normal span{ font-size:.22em; }
}

@media only screen and (max-width:480px) {
  .features li .normal span{ font-size:.25em; }
  .features li .normal span {padding-top:26px;}
  .features li img{padding:36px; padding-top:25px;}
  .features li {width:144px; height:144px;}
  .features li .normal span{ font-size:.2em; }
  .features li h3{font-size:.2em;}
  .features li p{font-size:10px}
  @-webkit-keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 100.2deg); transform:rotate3d(-1, 0, 0, 100.2deg);}}
  @keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 100.2deg); transform:rotate3d(-1, 0, 0, 100.2deg);}}
  @-webkit-keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 100.2deg); transform:rotate3d(0, -1, 0, 100.2deg);}}
  @keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 100.2deg); transform:rotate3d(0, -1, 0, 100.2deg);}}
  @-webkit-keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 100.2deg); transform:rotate3d(1, 0, 0, 100.2deg);}}
  @keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 100.2deg); transform:rotate3d(1, 0, 0, 100.2deg);}}
  @-webkit-keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 100.2deg); transform:rotate3d(0, 1, 0, 100.2deg);}}
  @keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 100.2deg); transform:rotate3d(0, 1, 0, 100.2deg);}}
  .features .info{padding-top:8px; padding:12px; }
}

@media only screen and (max-width:350px) {
  .features .info{padding:5px;padding-top:2px;}
  .features li {width:130px; height:130px;}
  .features li .normal span {padding-top:8px;}
  .features .card.span4 { width:100%!important;margin-right:0%!important;}
  .row:before, .row:after{ display:initial;}
  .row>[class*=span]:nth-child(even), .row .row>[class*=span]:nth-child(even){ margin-right:0!important;}
  @-webkit-keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 99.22deg); transform:rotate3d(-1, 0, 0, 99.22deg);}}
  @keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 99.22deg); transform:rotate3d(-1, 0, 0, 99.22deg);}}
  @-webkit-keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 99.22deg); transform:rotate3d(0, -1, 0, 99.22deg);}}
  @keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 99.22deg); transform:rotate3d(0, -1, 0, 99.22deg);}}
  @-webkit-keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 99.22deg); transform:rotate3d(1, 0, 0, 99.22deg);}}
  @keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 99.22deg); transform:rotate3d(1, 0, 0, 99.22deg);}}
  @-webkit-keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 99.22deg); transform:rotate3d(0, 1, 0, 99.22deg);}}
  @keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 99.22deg); transform:rotate3d(0, 1, 0, 99.22deg);}}
}
/************************************************************** Media Queries */

/* #Large Desktop ======================================== Design for a width of 1400 until 1823px*/
@media screen and (min-width: 1400px){

}

/* #Tablet (Portrait) =================================== Design for a width of 768px until 959px */
@media only screen and (max-width:959px){
  header #header-profile .login{background-color: transparent;color: #888;}
  header #header-profile{padding: 0;}
}
/* #Mobile (Landscape) =================================== Design for a width 480px until 767px*/
@media only screen and (max-width: 767px) {
}

/* #Mobile (Portrait) ================================== Design for a width until 479px */
@media only screen and (max-width: 479px){
header .logo{float:none; display:block; width:100%; background-image: none;background-color:#00667a;text-align: center;}
header{border:none;text-align: center;}
header #header-box{border-right: 8px solid transparent;border-left: 8px solid transparent;border-top: 8px solid transparent;height:auto;-webkit-border-image: url(../images/border.png) 8 stretch;}
header #header-profile{width: 30%;}
header #header-quick a{padding: 15px 7px;}
.wrapper{padding: 0;}
nav.breadcrumb{display: none;}
#homepage .box{padding:0 20px;}
#intro-box p{font-size:1.6em;}
#random-chart h3 {padding: 1em .2em;font-size: 1.3em;}
#random-chart h3 a{font-size: 1.4em;font-weight: 500;}
.special-heading{display: none;}
#worldSvgObject{display: none;}
.chart{background-color: #f4f4f4;}
}

@media only screen and (max-width: 320px){

}













