/**
 * In the Name of God
 * Sarshomar Responsive Styles
 * Version:1.0.0
 * Author:Ermile
 * Author URI:Ermile.com
 */
@charset "utf-8";


/* media */
@media only screen and (max-width:1000px) {
  .features li .normal span{ font-size:.27em; }
  .features li h3{font-size:.22em;}
  .features li p{font-size:13px;}
  .features li img{padding:42px; padding-top:27px;}
  .features li{width:200px;height:200px}
  .features li .normal span{ padding-top:78px; }
  @-webkit-keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 104deg); transform:rotate3d(-1, 0, 0, 104deg);}}
  @keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 104deg); transform:rotate3d(-1, 0, 0, 104deg);}}
  @-webkit-keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 104deg); transform:rotate3d(0, -1, 0, 104deg);}}
  @keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 104deg); transform:rotate3d(0, -1, 0, 104deg);}}
  @-webkit-keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 104deg); transform:rotate3d(1, 0, 0, 104deg);}}
  @keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 104deg); transform:rotate3d(1, 0, 0, 104deg);}}
  @-webkit-keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 104deg); transform:rotate3d(0, 1, 0, 104deg);}}
  @keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 104deg); transform:rotate3d(0, 1, 0, 104deg);}}
}

@media only screen and (max-width:768px) {
  .features li h3{font-size:.22em;}
  .features li p{font-size:12px}
  .features li .normal span{ font-size:.22em; }
}

@media only screen and (max-width:480px) {
  .features li .normal span{ font-size:.25em; }
  .features li .normal span {padding-top:26px;}
  .features li img{padding:36px; padding-top:25px;}
  .features li {width:144px; height:144px;}
  .features li .normal span{ font-size:.2em; }
  .features li h3{font-size:.2em;}
  .features li p{font-size:10px}
  @-webkit-keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 100.2deg); transform:rotate3d(-1, 0, 0, 100.2deg);}}
  @keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 100.2deg); transform:rotate3d(-1, 0, 0, 100.2deg);}}
  @-webkit-keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 100.2deg); transform:rotate3d(0, -1, 0, 100.2deg);}}
  @keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 100.2deg); transform:rotate3d(0, -1, 0, 100.2deg);}}
  @-webkit-keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 100.2deg); transform:rotate3d(1, 0, 0, 100.2deg);}}
  @keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 100.2deg); transform:rotate3d(1, 0, 0, 100.2deg);}}
  @-webkit-keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 100.2deg); transform:rotate3d(0, 1, 0, 100.2deg);}}
  @keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 100.2deg); transform:rotate3d(0, 1, 0, 100.2deg);}}
  .features .info{padding-top:8px; padding:12px;}
}

@media only screen and (max-width:350px) {
  .features .info{padding:5px;padding-top:2px;}
  .features li {width:130px; height:130px;}
  .features li .normal span {padding-top:8px;}
  .features .card.span4 { width:100%!important;margin-right:0%!important;}
  .row:before, .row:after{ display:initial;}
  .row>[class*=span]:nth-child(even), .row .row>[class*=span]:nth-child(even){ margin-right:0!important;}
  @-webkit-keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 99.22deg); transform:rotate3d(-1, 0, 0, 99.22deg);}}
  @keyframes out-top { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(-1, 0, 0, 99.22deg); transform:rotate3d(-1, 0, 0, 99.22deg);}}
  @-webkit-keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 99.22deg); transform:rotate3d(0, -1, 0, 99.22deg);}}
  @keyframes out-right { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, -1, 0, 99.22deg); transform:rotate3d(0, -1, 0, 99.22deg);}}
  @-webkit-keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 99.22deg); transform:rotate3d(1, 0, 0, 99.22deg);}}
  @keyframes out-bottom { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(1, 0, 0, 99.22deg); transform:rotate3d(1, 0, 0, 99.22deg);}}
  @-webkit-keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 99.22deg); transform:rotate3d(0, 1, 0, 99.22deg);}}
  @keyframes out-left { from { -webkit-transform:rotate3d(0, 0, 0, 0deg); transform:rotate3d(0, 0, 0, 0deg);} to { -webkit-transform:rotate3d(0, 1, 0, 99.22deg); transform:rotate3d(0, 1, 0, 99.22deg);}}
}

/************************************************************** Media Queries */
/* #Large Desktop ======================================== Design for a width of 1400 until 1823px*/
@media screen and (min-width: 1400px){}
/* #Tablet (Portrait) =================================== Design for a width of 768px until 959px */
@media only screen and (max-width:959px){
  header #header-profile > a{color:#888;}
  header .logo img{width: 6.3em;}
  .profile .info{display: none;}
  .rtl .special-heading::after{display:none;}
  .special-heading::after{display: none;}
/**********************************Knowledge***************************/
.main .search-box{margin:2em;}
.polls-head > .comments-count{display: none;}
.polls-head > .votes-count{display: none;}
.polls-row > .comments-count{display: none;}
.polls-row > .votes-count{display: none;} 
#search-result .polls-body{font-size:1.2em;}
#search-result .polls-head{font-size: 1.2em;}
.polls-row .date{font-size: 1em;}
.pagination-container{font-size: 1.4em;}
.pagination a.next::after{top: -1px;}
}
/* #Mobile (Landscape) =================================== Design for a width 480px until 767px*/
@media only screen and (max-width: 767px){

/**********************************homepage-1***************************/
  /*--header--*/
  header{border:none;}
  .rtl header{border:none;}
  header .logo{background-image:none;background-color: #00667a;width: 100%;text-align: center; }
  .rtl header .logo{background-image:none;background-color: #00667a;width: 100%;text-align: center; }
  header .logo img{width: 8em;}
  header #header-box{display: block;width: 100%;height: 50px;}
  header #header-quick{display: none;}
  header #header-top{background-color:#00667a;}
  header #header-profile > a{color:#eee;}
  header #header-profile {padding-right: 0;}
  nav.breadcrumb{display: none;}
  /*--wrapper--*/
  #map{display: none;}
  .wrapper{padding: 0;border-bottom: 8px solid transparent;border-top: 8px solid transparent;margin-top: 10px;display: block}
  #intro-box p{font-size:1.6em;}
  #random-chart h3{text-align: left;padding: 1em .2em;}
  #random-chart h3 a{font-size: 2em;font-weight: 500;}
  .special-heading::after{display: none;}
  /*--customer--*/
  #customers-box{padding: 3em ;}
  .wrapper #customers-box .customer{width: 90%; text-align: left;margin: 0em auto;padding: 3em 0;}
  .rtl .wrapper #customers-box .customer{width: 90%; text-align: left;margin: 0em auto;padding: 3em 0;}
  #customers-box .customer p{width: 90%;margin:0 auto;text-align: left;font-size: 1.6em;}
  #customers-box .customer h3::before{display: none;}
  #customers-box .customer h3::after{display: none;}
  /*--features--*/
  #features-box{display: none;} 
  /*--inestimable--*/
  #inestimable{margin:0;padding: 25px 10px;}
  #inestimable::before{display: none;}
  #inestimable::after{display: none;}
  #inestimable img{display: none;}
  .row.auto > [class*=span]:last-child, .row.auto .endline{text-align: center;}
  /*--footer--*/
  footer{border-top: 0;}
  footer #footer-links{border-bottom:0;}
  footer #footer-links a{padding: .5em;display: inline-block;}
  footer #footer-links section h4{text-align: left;}
  footer #footer-nav .eco img{display: none;}
  footer #footer-note .counter, footer #footer-note .love{display: inline-block !important;width:50% !important; margin-top:5px !important; }

/**********************************dashbord***************************/

  .wrapper>aside{display: block;width: 100%;text-align: center;padding-top: 5em;}
  .wrapper>aside img{width: 70%;}
  .dashboard .progress{margin-top: 40px;}
  .personal-info{font-size: 1.5em;}
  .progress{font-size: 1.4em}
  .progress::before{font-size: 1.2em;top:0;color:#555;}
  .progress>.detail{font-size: 1.4em;position:initial;background-color:#f4f4f4;margin-top: 0;padding-top: 2em;}
  .card h3{font-size:1.7em;}
  .card>span a{font-size: 1.5em;}
  .main{display: block;width: 100%;}

/**********************************profile***************************/

#profile .profile-image{margin: 0 auto;display: block;width: 60%;height: auto;}
#profile .tabs{padding-left:0;}
#profile .tab{padding: 2em;}
#profile .tabs li{display: inline-block;width:32%;border-top-right-radius: 6px;border-bottom-right-radius: 6px;}
#profile .tabs li.active{width: 32%;}
#profile .tabs li::before{display: none;}

/**********************************Knowledge***************************/
aside .group .options-box .ac-custom{display: inline-block;font-size: 1.5em;}
.polls-row .date{display: none;}
}

/* #Mobile (Portrait) ================================== Design for a width until 479px */
@media only screen and (max-width: 479px){
  .profile .info{display: none;}
  #homepage .box{padding: 1em;}
  #homepage .wrapper{border-top: 8px solid transparent;-webkit-border-image: url(../images/border.png) 8 stretch;}
  /*--header--*/
  header .logo img{width: 8em;}
  /*--footer--*/
  footer #footer-nav .eco img{padding-top:40px;display: inline-block;}
  /**********************************dashbord***************************/
  
  /**********************************profile***************************/
#profile .tabs li{width: 80%;}
#profile .tabs li.active{width: 80%;}
.element .title:before{display: none;}
  /**********************************profile***************************/

 }
  /*================================== 
  @media only screen and (max-width: 320px){}













