@media only screen and (min-width: 768px) and (max-width: 959px) {
    .special-heading::after {display: none;}
    .customers-container .customer {width: 75%;}
    header #header-profile #add-question .header-link-text{display:none}
    header #header-profile #add-question .header-link-icon{display:inline-block;width:20px;text-align:center}
    .society-dist .span7 {display: none;}
    .society-dist .span5 {width: 100%;}
}


@media only screen and (max-width: 767px) {
 .in{width:100%}
 header{display:block;height:auto;border:none}
 header .logo{background-image:none;display:block;width:100%;padding:1em;text-align:center;background-color:#00667a}
 .rtl header .logo{background-image:none}
 header .logo h1{/*display:none*/}
 header #header-box{border-style:solid;border-width:8px 8px 0;-o-border-image:url(../images/border.png) 8 stretch;border-image:url(../images/border.png) 8 stretch}
 header #header-top{border:none;height:auto;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}

 header #header-quick{text-align:center;width:80%;margin:0 auto;border-bottom:1px solid #e5a428}
 header #header-quick>a{margin-top:0;font-size:1.2em}

 header #header-profile{display:-ms-flexbox;display:-webkit-box;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;margin:0;padding:1em}

 header #header-profile #add-question{}
 header #header-profile #add-question .header-link-text{display:none}
 header #header-profile #add-question .header-link-icon{display:inline-block;width:20px;text-align:center}

 header #header-bottom{display:none}

 #homepage .wrapper .box{padding:0}

 #intro-box{text-align:center;padding:3em 0}
 #intro-box h2{padding-top:0}
 #intro-box p{margin:0;margin-bottom:1em;padding:0 15px}

 #random-chart{margin:0!important}
 #random-chart h3 a{font-weight:500}

.map-container {display: none;}
 #map{display:none}

 .customers-container{border-top:1px solid #f4f4f4}
 .customers-container .customer{display:block;width:100%;text-align:center}
 .customers-container .customer-img{margin:0 auto 2em;width:60%}
 .customers-container .customer-content{width:90%}
 .customers-container .customer-content,
 .rtl .customers-container .customer.reverse .customer-content,
 .customers-container .customer.reverse .customer-content,
 .rtl .customers-container .customer-content{margin:0 auto;text-align:center}
 .customers-container .customer:not(:last-child) .customer-content p{margin-bottom:2em}


 #inestimable{padding:25px;text-align:center;height:150px}
 #inestimable:before,#inestimable:after{width:100px}
 #inestimable:before{background-image:url(../images/svg/home/inestimable-left-img-mobile.svg);left:-10px}
 #inestimable:after{background-image:url(../images/svg/home/inestimable-right-img-mobile.svg);right:-10px}
 #inestimable .launch{display:none}
 #inestimable h3{font-size:1.6em}
 #inestimable h4{font-size:1.4em}
 #inestimable .vision {font-size: 2em;}
 #inestimable a {font-size: 12px;}
 #inestimable .special-button::before, #inestimable .special-button::after {top: -3px;font-size: 36px;}
 #inestimable .special-button::before {left: -5px;}
 #inestimable .special-button::after {right: -5px;}

 footer #footer-nav .eco{height:60px}
 footer #footer-links a{display:inline-block;margin-right:1em}
 .rtl footer #footer-links a{margin-right:0;margin-left:1em}
 footer #footer-note {flex-wrap: wrap;}
footer #footer-note>div {flex: 1 0 50%;order: 2;}
footer #footer-note>.counter {flex: 0 1 100%;order: 1;}
footer #footer-links {display: flex;flex-direction: row;flex-wrap: wrap}
footer #footer-links nav {flex: 0 1 50%;}
footer #footer-links nav:nth-child(2) {flex: 0 1 100%;}
footer #footer-links #footer-news {flex: 0 1 70%;}
footer #footer-links .enamad {flex: 0 1 30%;}
.enamad {order: 10;}




/************************************************************** add question */
.page-progress {width: 100%;}
.menu .menu-inside label:before,.menu .menu-inside label:after {display: none;}
.menu .menu-inside {background-color: transparent;}
.menu .menu-inside label {border-radius: 0;margin-bottom: 6px;}
.menu .menu-inside label:not(:first-of-type) {margin-right: auto;margin-left: 6px;}
.rtl .menu .menu-inside label:not(:first-of-type) {margin-left: auto;margin-right: 6px;}
.menu {padding: 0;}
.menu .menu-inside label i {display: none;}
.rtl .element,.element {padding-left: 0;padding-right: 0;}
.ultra .data {width: 100%;}
.ultra.title-item {margin-bottom: 3em;}
.ultra .element {/*flex-direction: row;flex-wrap: wrap;*/display:block;line-height:normal}
.ultra .element input[type=text] {-ms-flex-preferred-size: 87%;flex-basis: 87%;border-radius: 5px 0 0 5px;height: 30px}
.rtl .ultra .element input[type=text] {border-radius: 0 5px 5px 0;}
.ultra .data:after {content: '';position: absolute;width: 95%;height: 1px;background: #00667a;top: 19px;right: 0;}
.rtl .ultra .data:after {content: '';position: absolute;width: 95%;height: 1px;background: #00667a;top: 19px;left: 0; right: auto}
/*.ultra .element .title {margin-right: 8px; border-radius: 5px;height: 20px;line-height: 20px;font-size: 10px;min-width: 80px;}*/
.element .title:before,.element .title:after{display:none}
/*body .ultra .element .title:before {position: absolute;top: 3px;left: -12px;display: inline;width: 13px;height: 15px;content: '';-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-ms-transform: rotate(-180deg);-o-transform: rotate(-180deg);transform: rotate(-180deg);background-image: url(../images/svg/input-before.svg);background-repeat: no-repeat;opacity: 1;border: 0;}*/
/*.element .title:after {top: 3px;height: 15px;}*/
.element .input:focus~.score, .element .input:focus~.check, .element .input:focus~.icon, .element .input:focus~.checkbox {background-color: transparent;}
.rtl .input-group,.input-group {padding-right: 0;padding-left: 0;}
/*.file:after {content: '';position: absolute;height: 1px;background: #00667a;z-index: 99999;width: 95%;left: 0;bottom: 100%;top: 19px;}*/
.rtl .element .checkbox {background: transparent;position: absolute;left: 0;top: -1px;height: 20px;padding: 0;}
.ltr .element .checkbox {background: transparent;position: absolute;right: 0;top: -1px;height: 20px;padding: 0;}
.checkbox .check-box {height: 18px;width: 18px;}
.checkbox .check-box:before, .checkbox .check-box:after {width: 3px;}
.checkbox .check-box:before {top: 13px;left: 8px;}
.checkbox .check-box:after {top: 6px;left: 1px;}
@-webkit-keyframes dothabottomcheck{0%{height:0;}100%{height:8px;}}
@keyframes dothabottomcheck{0%{height:0;}100%{height:8px;}}
@-webkit-keyframes dothatopcheck{0%{height:0;}50%{height:0;}100%{height:20px;}}
@keyframes dothatopcheck{0%{height:0;}50%{height:0;}100%{height:20px;}}
.sortable li {margin-bottom: 3em;}
.element.switch label:not(.title) {line-height: 20px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.range-slider {height: 20px;}
.element .title.small {font-size: 10px;font-size: 11px;height: 20px;display: inline-block;line-height: 20px;}
.element .title.large {min-height: 20px;display: inline-block;line-height: 20px;min-width: 80px;font-size: 12px}
.range-slider .dynamic-range .max:after, .range-slider .dynamic-range .min:after {width: 20px;height: 20px;}
.range-slider .dynamic-range .max {right: -20px;bottom: -24px;}
.range-slider .dynamic-range .max.active:before {width: 20px;height: 20px;}
.range-slider .dynamic-range .max.active:before {top: 0px;}
.ultra .module {width: 100%;margin-bottom: 5px;}
.sortable .element .title:hover:before {border: 0;top: 3px;left: -12px;display: inline;width: 13px;height: 15px;}
.dynamic-range span:after {left: -5px;}
.dynamic-range span:before {left: 0px;}
.btn-container:before {display: none}
.rtl .btn-container,.btn-container {text-align: center;}
.sortable .isChosen {will-change: initial !important;}
.ultra .isChosen .element .title {background: #0d879e;}
.ultra .isChosen .element .title:before,.ultra .isChosen .element .title:after {color: #0d879e;}
.ultra .modules {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;max-height: none;}
.element .file input[type="file"] {display: none;}
/************************************************************** filter question */
.poll-filters {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;}
.pay-info {margin-bottom: 2em;}
.switch .title.large {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.range-slider[data-type=vertical] .dynamic-range .max {top: -10px;}
.range-slider[data-type=vertical] .dynamic-range .max span::after {height: 24px;background-color: #00667a;border-radius: 5px 0 0 5px;top: -2px;left: 26px;}
.range-slider[data-type=vertical] .dynamic-range span::before {border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 6px solid #00667a;left: 13px;top: 2px;height: 16px;}
.stepPublish .element {display: flex;flex-direction: column;flex-wrap: wrap;}
.stepPublish .element label {align-self: flex-start;}
/************************************************************** Text based */
.special-heading:after {display: none;}
.text-based-container {width: 100%;}
.text-based .special-heading {font-size: 18px;}
.special-heading {padding-left: 34px;}
.rtl .special-heading {padding-left: 0;padding-right: 34px;}
.special-heading::before {width: 40px;}
.em {padding: 1.5em 1em;}



}

@media only screen and (max-width: 319px) {
 body{display:none}
 html:before{content:":\\";position:absolute;right:0;left:0;font-size:100vw;color:#f4f4f4;text-align:center;}
}

@media print {
 .wrapper, footer, header, header #header-top{border:none;}
 .container, .wrapper{width:100%;max-width:100%;}
 #inestimable{display:none}
 footer{background-color:#eee}
}
