body#home{ background-image: url(/static/images/back.png); background-color: #f4f4f4 }
#site-start{
	color:#403B33;
	text-align: center;
	position: relative;
	top:20vh;
}
#site-start h1{
	font-size: 10em;
	margin-bottom: 0;
	line-height: 1.5em;
}
.rtl #site-start h1{
	font-weight: 700;
}

header h1{
	font-size: 4em;
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid #eee;
}
section{
	margin-bottom: 100px;
	overflow: hidden;
}
section ul{list-style:square inside none;padding: 0 1em;}
section ul li{padding:0.3em 0;font-size:1.3em;}
section ul ul{list-style-type: circle}
section ul ul ul{list-style-type: disc}
section h2{
	font-weight: 700;
	background-color: #eee;
	padding: 5px 1em;
	border-color: #39a;
	border-style: solid;
    border-width: 0;
	border-left-width: 10px;
}
.rtl h2{
    border-width: 0;
	border-right-width: 10px;
}
.content{
	padding: 0 2%;
}

nav.breadcrumb {width: 100%;background: #f9f9f9;padding: 6px 15px;display:inline-block;}
nav.breadcrumb a{font-size: 1em;line-height:12px;color: #99a0aa;float:left;font-weight:700}
.rtl nav.breadcrumb a{float:right;}
nav.breadcrumb a:hover {color: #656d78;}
nav.breadcrumb a:last-child {color: #656d78;}
nav.breadcrumb > a + a:before {content: ">";color: #99a0aa;padding: 0px 8px;float:left;}
.rtl nav.breadcrumb > a + a:before {float:right;}
nav#page-nav{display: block;position: relative;width:100%;float:left;padding:10px 5%;transition:0.3s;font-size: 1.3em}
nav#page-nav:hover{background-color:rgba(238, 238, 238, 0.4);}
nav#page-nav a:hover{color:#000;}
.rtl nav#page-nav #nav-next{float:left;display: block }
.rtl nav#page-nav #nav-prev{float:right;display: block }

nav.nav ul li {
	display: inline-block;
}

nav.nav ul li:not(:last-child) {
	margin-right: 1em;
}

.rtl nav.nav ul li:not(:last-child) {
	margin-left: 1em;
}

/*map*/
#demo-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: 560px;
}
#mapBox {
    width: 80%;
    float: left;
}
#container {
    height: 500px;
}
#sideBox {
    float: right;
    width: 16%;
    margin: 100px 1% 0 1%;
    padding-left: 1%;
    border-left: 1px solid silver;
    display: none;
}
#infoBox {
    margin-top: 10px;
}
.or-view-as {
    margin: 0.5em 0;
}
#up {
    height: 20px;
    max-width: 400px;
    margin: 0 auto;
}
#up a {
    cursor: pointer;
    padding-left: 40px;
}
.selector {
    height: 40px;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}
.selector .prev-next {
    position: absolute;
    padding: 0 10px;
    font-size: 30px;
    line-height: 20px;
    background: white;
    font-weight: bold;
    color: #999;
    top: -2px;
    display: none;
    border: none;
}
.selector .custom-combobox {
    display: block;
    position: absolute;
    left: 40px;
    right: 110px;
}
.selector .custom-combobox .custom-combobox-input {
    position: absolute;
    font-size: 14px;
    color: silver;
    border-radius: 0;
    height: 24px;
    display: block;
    background: url(https://www.highcharts.com/samples/graphics/search.png) 5px 5px no-repeat white;
    padding: 1px 5px 1px 30px;
    width: 100%;
}
.selector .custom-combobox .ui-autocomplete-input:focus {
    color: black;
}
.selector .custom-combobox .ui-autocomplete-input.valid {
    color: black;
}
.selector .custom-combobox-toggle {
    position: absolute;
    display: block;
    right: -78px;
    border-radius: 0;
}

.selector #btn-next-map {
    right: -12px;
}
.ui-autocomplete {
    max-height: 500px;
    overflow: auto;
}
.ui-autocomplete .option-header {
    font-style: italic;
    font-weight: bold;
    margin: 5px 0;
    font-size: 1.2em;
    color: gray;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.ui-button-icon-only .ui-button-text {
    height: 26px;
    padding: 0 !important;
    background: white;
}
#infoBox .button {
    border: none;
    border-radius: 3px;
    background: #a4edba;
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 3px;
    line-height: 30px;
}

/* In the Name of God */
/* Start */
/*.chart {
    direction: ltr;
}

.chart * {
    font-family: IRANSans, Tahoma, sans-serif;
}

.chart .highcharts-title {
    font-size: 1em !important;
}

.top-chart {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
}

.top-chart .highcharts-title {
    font-weight: bold;
}

.map-wrapper { background-color: #fff; padding: 2em 5em 0 }
.map-wrapper object {}

nav.navigation { margin: 3em auto; float: right; direction: rtl }
body.rtl nav.navigation { float: left; }
nav.navigation ul li { display: inline-block; padding: 5px 7px }
nav.navigation ul li a { color: #434348; font-size: 1.6em; font-weight: 700 }

.row.logo-chart { padding: 2em 5em }
.row.logo-chart .logo-wrapper { background-color: blue }
.row.logo-chart .logo-wrapper img { width: 50% }
.row.logo-chart .logo-wrapper span { color: #3e96ae; font-weight: bold; display: inline-block }

.row-info { background-color: #f1f0f0; padding-top: 3em }
.row-info .row { padding-bottom: 3em }
.row-info .row .span2 { text-align: center }
.row-info h2 { margin-bottom: unset }
.row-info p { text-align: center; color: #adadad; margin-bottom: unset }
.row-info img { width: 80% }
.row-info .row-one h2 { color: #e67e27; }
.row-info .row-two h2 { color: #20a286 }
.row-info .row-three h2 { color: #f37977 }
.row-info .row-four h2 { color: #20a286 }
.row-info .row-five h2 { color: #e67e27 }
.row-info .row-six h2 { color: #20a286 }
.row-info .row:nth-child(even) h2 { text-align: left; }

.art-bg { height: 70em; background-color: #ffffff; background-image: url(/static/images/art.svg); background-repeat: no-repeat; background-position: center center; background-size: 130% 130%; }
.art-bg .circle { width: 60%; height: 60%; background-image: url(/static/images/circle.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% 100%; margin: 0 auto; position: relative; top: 20% }

.tick {
    background-color: #f1f0f0;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

.tick > img { width: 14%; margin-bottom: 1em }

.tick .text {
    width: 70%;
    margin: 0 auto;
    color: #20a286;
    position: relative;
}

.tick .text:before {
    width: 100%;
    height: 0.2em;
    background-color: #20a286;
    position: absolute;
    bottom: -0.5em;
    content: "";
    border-radius: 1em;
    right: 0;
}

.question { padding-top: 2em; padding-bottom: 2em; text-align: center; background-color: #52bfc7 }
.question p { color: #fff; margin-bottom: 1em }
.question .button { max-width: 10em; padding-top: 0.5em; padding-bottom: 0.5em; background-color: transparent !important; border: 1px solid #fff }
.question .button:hover { background-color: #fff !important; color: #52bfc7 }

.footer { background-color: #404040 }
.footer > .container { padding-right: 5em; padding-left: 5em }
.footer nav { border-bottom: 1px solid #777; margin-bottom: 2em }
.footer nav ul li { display: inline-block; padding-top: 1.5em; padding-bottom: 1.5em }
.footer nav ul li:not(:last-child) { margin-left: 4em }
.footer nav ul li a { font-size: 1.2em; font-weight: 700; color: #aaa }
.footer nav ul li a:hover { color: #fff }
.footer .list-footer li { list-style: none; padding: 0.2em 0; font-size: 1.2em }
.footer .list-footer a { color: #aaa }
.footer .list-footer a:hover { color: #fff }
.footer .list-footer p { font-size: 1em; color: #888; margin-bottom: 0; max-width: 60% }
.footer .list-footer.news a { font-weight: 700 }
.footer .eco-wrapper { position: relative }
.footer .eco-wrapper span { float: right; color: #aaaaaa; font-weight: bold; font-size: 1.2em; margin-right: 4em }
body.rtl .footer .eco-wrapper span { float: left; margin-left: 4em }
.footer .eco-wrapper img { width: 5em; position: absolute; right: 0; bottom: 0 }
body.rtl .footer .eco-wrapper img { left: 0; right: unset }

.footer .extra { padding-top: 1.5em; padding-bottom: 1.5em; border-top: 1px solid #777; margin-top: 1em }
.footer .extra .made-in-iran { float: left; font-size: 1.2em; color: #aaaaaa }
.footer .extra .counter { float: right; font-size: 1.2em; color: #aaaaaa }
body.rtl .footer .extra .made-in-iran { float: left; font-size: 1.2em; color: #aaaaaa }
body.rtl .footer .extra .counter { float: right; font-size: 1.2em; color: #aaaaaa }*/
/* End */

/* Poll */
#poll .comments { background-color: #E7E7E7; padding: 5em 0 }
#poll .comments h4 { color: #767676 }
#poll .comments .average-score { color: #767676; font-size: 6em; margin-bottom: -.3em }
#poll .comments .fa-star { color: #E2B31E }
#poll .comments .stars-number { padding: 0 .5em; font-size: 1.4em; vertical-align: middle }
#poll .comments .bars { margin-top: 2em; margin-bottom: 5em }
#poll .comments .bars > div { height: 1em; border-radius: .3em }
#poll .comments .bars > div:not(:last-child) { margin-bottom: 1em }
#poll .comments .bar-one { width: 15em; background-color: #62B138 }
#poll .comments .bar-two { width: 4em; background-color: #859E1F }
#poll .comments .bar-three { width: 11em; background-color: #BC982C }
#poll .comments .bar-four { width: 3em; background-color: #C15D31 }
#poll .comments .bar-five { width: 2em; background-color: #B13838 }
#poll .comments .comment .title { font-size: 1.2em; color: #767676; margin-bottom: .5em }
#poll .comments .comment .user { color: #767676; margin-top: .5em }
#poll .comments .comment .content p { color: #767676; font-size: 1.2em; margin-bottom: 1em; text-align: justify }
#poll .comments .comment .content p:last-child { margin-bottom: 0 }
.rtl .comments .comment .continue { text-align: left; padding: 0 2% }
#poll .details { padding: 5em 0 }

#poll .register-box { background-color: #E7E7E7 }
#poll .register-box .container { background-color: #52BFC7; padding: 5em 0; text-align: center }
#poll .register-box p { color: #fff; margin-bottom: 1em; font-size: 3em; margin-bottom: 0 }
#poll .register-box .button { max-width: 10em; padding: 1em 0; font-size: 1.4em; color: #959597 }

/* Footer */
footer { background-color: #404040 }
footer .container { padding: 0 3em }
footer nav.horizontal { border-bottom: 1px solid #777777; margin-bottom: 2em }
footer nav.horizontal > a { color: #aaa; padding-top: 1em; padding-bottom: 1em; display: inline-block; font-size: 1.4em; font-weight: bold }
.ltr footer nav.horizontal > a:not(:last-child) { margin-right: 3em }
.rtl footer nav.horizontal > a:not(:last-child) { margin-left: 3em }
footer nav.span2 > a { display: block; color: #888; font-size: 1.2em; margin-bottom: .2em }
footer nav.news > a { display: block; font-size: 1.2em; color: #A5A5A5; font-weight: bold; margin-bottom: .2em }
footer nav.news > p { margin-bottom: 0; font-size: 1em; color: #A5A5A5; margin-bottom: .5em }
footer .footnote { padding: 2em 1em; font-size: 1em; border-top: 1px solid #777777; margin-top: 1em; color: #aaa }
footer .counter { float: right; font-weight: bold }
footer .made-in-ir { float: left }
footer .eco { position: relative }
footer .eco div { position: absolute; right: 1em; bottom: 0 }
.rtl footer .eco div { left: 1em; right: auto }
footer .eco span { color: #aaa; font-size: 1.2em }
footer .eco img { width: 3em; margin-bottom: -.5em }

/* Poll Page */
/*.navbar { margin-top: 1em; background-color: red }
.navbar > ul { float: left; direction: rtl }
.navbar > ul > li { display: inline-block; padding: 2em 1em }
.navbar > ul > li > a { font-size: 1.2em; color: #797979 }
.navbar .logo { display: inline-block; float: right }
.navbar .logo img { width: 5em; vertical-align: text-bottom }
.navbar .logo span { color: #3e96ae; font-size: 1.6em }

.question-box { margin-top: 6em; padding: 1em }
.question-title { font-weight: bold; font-size: 2.2em; margin-bottom: 0.5em }
.share-box { float: left; margin-left: 1em }
.share-box > li { display: inline-block;  background-color: #b7b7b7; transition: all 0.15s ease-in-out }
.share-box > li > a { display: block; width: 20px; height: 20px; line-height: 20px; color: #fff; text-align: center }
.share-box > li > a > .fa { font-size: 1.4em; vertical-align: sub }
.share-box .telegram:hover { background-color: #2798ba }

.description { clear: both; margin-top: 5em; width: 60%; padding-right: 3em }
.description > p { color: #767676; font-size: 1.4em; margin-bottom: 0 }

.read-more { margin-top: 3em; padding-right: 3em; }
.read-more > span { color: #454545; font-weight: 700; font-size: 1.4em }
.read-more > a { color: #767676; font-size: 1.4em }

.similar-questions .title { font-size: 1.8em; font-weight: 700; color: #454545; margin-bottom: 1em; margin-top: 0.8em }
.similar-questions > ul > li:not(:last-child) { margin-bottom: 1em }
.similar-questions > ul > li > a { color: #767676; font-size: 1.2em }
.filters-nav {}*/

/* Media Queries */
/* Large Screens */
@media only screen and (min-width : 1824px) {
    .row-info .row-one img { margin-top: 6em }
    .tick { font-size: 3em }
    .question { font-size: 3em }
}

/* Large Desktop */
@media screen and (max-width : 1823px) {
    .row-info .row-one img { margin-top: 5em }
    .tick { font-size: 3em }
    .question { font-size: 3em }
}

/* Normal Desktop */
@media only screen and (max-width:1399px) {
    .question { font-size: 3em }
}

/* Small Desktop */
@media only screen and (max-width:1199px) {
    .tick { font-size: 2em }
    .question { font-size: 2em }
}

/* Tablet (Portrait) */
@media only screen and (max-width:959px) {
    .row-info .row-one img { margin-top: 2em }
}

/* Mobile (Landscape) */
@media only screen and (max-width: 767px) {
    .row-info .row-one img { margin-top: 0 }
    .row-info img { width: 30% }
}

/* Mobile */
@media only screen and (max-width: 479px) {
    .row-info img { width: 40% }
    .tick { font-size: 1.3em }
    .question { font-size: 1.3em }
    .footer .extra, body.rtl .footer .extra { text-align: center }
    .footer .extra .made-in-iran, .footer .extra .counter, body.rtl .footer .extra .made-in-iran, body.rtl .footer .extra .counter { float: none }
}







.sp-tags{width:100%;border:1px solid #ddd;max-width:100%;max-height:200px;}
#sp-tags{display:none;}
#tag-add{width:85%;border:1px solid #ddd;padding:0 8px;height:30px;border-radius:3px 0 0 3px;}
.rtl #tag-add{border-radius:0 3px 3px 0}
#tag-add-btn{width:15%;float:right;font-size:1em;padding: 5px 0;margin: 0;height:30px;border-radius:0 3px 3px 0;}
.rtl #tag-add-btn{float:left;padding: 9px 0;border-radius:3px 0 0 3px;}
#tag-list{font-size:1em;margin-top:10px;line-height:2em;}
#tag-list span{display: inline-block;max-width: 100%;overflow: hidden;background: #F3F3F3;color: #999;padding: 0 5px;border-radius: 3px;border: 1px solid #DDD;margin:0 5px 0 0;cursor:default;transition: all .2s ease-in;-webkit-transition: all .2s ease-in;-o-transition: all .2s ease-in;-moz-transition: all .2s ease-in;}
#rtl #tag-list span{float: right;}
#tag-list span:hover{color: #666;}
#tag-list span i{color:#bbb;margin-right:5px;cursor:pointer;vertical-align: middle;transition: all .2s ease-in;-webkit-transition: all .2s ease-in;-o-transition: all .2s ease-in;-moz-transition: all .2s ease-in;}
.rtl #tag-list span i{margin-left:5px;}
#tag-list span i:hover{color:#DF2D2D;}
.tags-list{font-size:1.3em}
.tags-list span{position:relative;background-color:#F4F4F4; margin:0 5px;padding:10px 0;border-radius:1px;overflow:hidden;}
.tags-list a{padding:5px 10px;display:inline-block;margin-bottom:10px;transition:.3s;}
.tags-list a:hover{background-color: #ECECEC}
