@charset "utf-8";

body{color:#333;background-color:#f4f4f4}

.image{position:relative;display:inline-block;overflow:hidden;vertical-align:middle}
.image::before{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;content:''}
.image.round{border:1em solid #fff;border-radius:50%;background-color:#fff;box-shadow:0 0 10px 2px #ddd}
.image.round.medium{border:.5em solid #fff}
.image.round.low{border:.25em solid #fff}
.image>img{display:block}

.box-top{margin-bottom:5em;padding:5em 0;border-top:3px solid #eeeff0;border-bottom:3px solid #eeeff0;background-image:url(../images/election/asanoha.png)}

.top-one{text-align:center}
.top-one .image{max-width:20em}
.top-one h2{font-size:4em;text-shadow:0 0 2px #666;margin:0}
.top-one h3{margin:0;margin-bottom:5rem}

.top-two{}
.top-two p{font-weight:bold;font-size:2.5em;text-align:center}

.top-two .top-two-container{margin-bottom:2em}
.top-two .top-two-container .image{max-width:15em}

.top-two .status-bar{position:relative;height:5em;border:3px solid #eeeff0;background-color:#fff}

.top-two .status-bar .indicator,.top-two .status-bar::before{width:1px;position:absolute;right:0;left:0;margin:auto;border-left:2px dashed #f4f4f4}
.top-two .status-bar .indicator{height:100%;bottom:0;}
/*.top-two .status-bar::before{content:'';height:15px;top:-15px}*/


.top-two .top-two-container .candidate .data{padding:0 2rem 2rem}
.top-two .top-two-container .candidate .data h4{font-size:3em;margin:0}
.top-two .top-two-container .candidate .data .vote-count{font-size:1.2em;font-weight:700}

.top-two .status-bar .first,.top-two .status-bar .second{position:relative}
.top-two .status-bar .first{background-color:#239f40}
.top-two .status-bar .gap{background-color:#fff}
.top-two .status-bar .second{background-color:#da0000}

.top-two .status-bar .first .percentage,.top-two .status-bar .second .percentage{position:absolute;top:50%;margin-top:-1.25rem;font-size:3em;font-weight:700;color:#fff;text-shadow:0 0 1px #000;display:block}
.top-two .status-bar .first .percentage{left:1rem;}
.rtl .top-two .status-bar .first .percentage{right:1rem;left:auto;}
.top-two .status-bar .second .percentage{right:1rem;}
.rtl .top-two .status-bar .second .percentage{right:auto;left:1rem;}



.toolbox{margin-bottom:2em;padding:0 3px}
.toolbox i{position:relative;display:inline-block;width:14px;height:14px;vertical-align:middle;border:3px solid #bb1919;border-radius:50%}
.toolbox i::before{position:absolute;top:1px;left:1px;width:6px;height:6px;content:'';-webkit-animation:pulse 1.7s cubic-bezier(.25, .1, .25, 1) infinite;-moz-animation:pulse 1.7s cubic-bezier(.25, .1, .25, 1) infinite;-o-animation:pulse 1.7s cubic-bezier(.25, .1, .25, 1) infinite;animation:pulse 1.7s cubic-bezier(.25, .1, .25, 1) infinite;border-radius:50%;background-color:#bb1919}
.toolbox .live .title,.toolbox .live .last-update{font-size:1.2em;font-weight:700;display:inline-block;padding:0 .25rem;vertical-align:middle}
.toolbox .live .title{color:#bb1919}
@-webkit-keyframes pulse{
  0%{opacity:1;}
  50%{opacity:.3;}
  100%{opacity:1;}
}
@-moz-keyframes pulse{
  0%{opacity:1;}
  50%{opacity:.3;}
  100%{opacity:1;}
}
@-o-keyframes pulse{
  0%{opacity:1;}
  50%{opacity:.3;}
  100%{opacity:1;}
}
@keyframes pulse{
  0%{opacity:1;}
  50%{opacity:.3;}
  100%{opacity:1;}
}

.d-title{font-size:2em;font-weight:700;margin-bottom:2rem}
.d-title::before{display:inline-block;width:5px;height:40px;margin-right:1rem;content:'';vertical-align:middle;background-color:#ddd}
.rtl .d-title::before{margin-right:0;margin-left:1rem}

.candidates{margin:0 auto 5em;border:2px solid #ddd}
.candidates .candidate{padding:1em 2em;background-color:#fff}
.candidates .candidate:not(:last-of-type){border-bottom:1px solid #ddd}
.candidates .candidate .name{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-align:center;align-items:center}
.candidates .candidate .name span{display:block;margin:.5rem 1rem}
.candidates .candidate .name .bold{font-size:2em;font-weight:700}
.candidates .candidate .name span:not(.bold){font-size:1.2em}

.candidates .candidate .bar-container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-align:center;align-items:center}
.candidates .candidate .bar{width:90%;margin:0 auto;height:1.5em;background:#e5e5e5 url(../images/election/striped.png);border:1px solid #e0e0e0}
.candidates .candidate .bar-percent{margin-bottom:2rem;font-weight:700;font-size:1.2em}
.candidates .candidate .bar .bar-progress{width:50%;height:100%;background-color:#007dd6;position:relative}
.candidates .candidate .bar .bar-progress::before{content:attr(data-percent);position:absolute;top:-2em;left:0;font-weight:500;color:#666}

.candidates .candidate .votes-container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-align:center;align-items:center}
.candidates .candidate .votes-container span{font-weight:700;font-size:1.2em;color:#666}

#chartdiv{height:300px;width:100%;direction:ltr}
.city-results{margin:0 auto 5em;border:2px solid #ddd;background-color:#fff}
.city-results .header{font-weight:700;background-color:#ebebeb;border-bottom:3px solid #ddd}
.city-results .f{transition:0.3s}
.city-results .f [class*='c']{padding:1rem;font-size:1.2em}
.city-results .f:not(.header):not(:last-of-type){border-bottom:1px solid #ebebeb}
.city-results .f:not(.header):hover{background-color:#f0a000}

.timeline{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;-moz-box-pack:justify;justify-content:space-between;position:relative;margin-bottom:5em}
.timeline::before{height:3px;content:'';width:100%;left:0;right:0;background-color:#666;position:absolute;top:50%;margin-top:-1em;top:0;bottom:0;margin:auto}
.timeline .circle{width:5em;height:5em;z-index:2}
.timeline .circle .image{max-width:100%}
