{%extends display.mvc%}

{%block content%}
<div class="row auto">
    <div class="span4"></div>
    <div class="span4">
        <form action="profile" method="post" class="form inline">

            <div class="field">
                <label>displayname</label>
                <input type="text" name="displayname" value="{{profile.displayname}}" disabled="disabled">
            </div>

            <div class="field">
                <label>gender</label>

                male:<input type="radio" name="gender" value="male">
                female:<input type="radio" name="gender" value="female">
            </div>
            <div class="field">
                <label>marrital_status</label>
                single<input type="radio" name="marrital_status" value="single">
                marrital<input type="radio" name="marrital_status" value="marrital">
            </div>

            <div class="field">
                <label>birthdate</label>
                <input type="text" name="birthdate" value="{{profile.birthdate}}">
            </div>
            <div class="field">
                <label>graduation</label>
                <input type="text" name="graduation" value="{{profile.graduation}}">
            </div>

            <div class="field">
                <label>city</label>
                <input type="text" name="city" value="{{profile.city}}">
            </div>

            <div class="field">
                <label>language            </label>
                <input type="text" name="language" value="{{profile.language}}">
            </div>

            <div class="field">
                <label></label>
                <input type="submit" value="به روز رسانی اطلاعات">
            </div>
        </form>
    </div>
</div>
{%endblock%}