{%extends display.main%}

{%block content2%}
   <aside>
    <ul class="tabs">
     <li data-tab="personal" class="active">{%trans "Personal"%}</li>
     <li data-tab="education">{%trans "Education"%}</li>
     <li data-tab="job">{%trans "Job"%}</li>
     <li data-tab="location">{%trans "Location"%}</li>
     <li data-tab="user">{%trans "User"%}</li>
     <li data-tab="family">{%trans "Family"%}</li>
     <li data-tab="favorites">{%trans "Favorites"%}</li>
    </ul>
   </aside>

   <input type="hidden" name="initial" value="">

   <ul class="tab">
    <li id="tab-personal">
     <div class="row">
      <img src="/static/images/svg/general/profile.svg" alt='{%trans "Profile Photo"%}' class="profile-image">
      <div class="element {%if profile.firstname%}has-data{%else%}no-data{%endif%}">
       <label for="firstname" class="title">{%trans "First Name"%}</label>
       <input type="text" name="firstname" id="firstname" value="{{profile.firstname}}" class="input" disabled>
      </div>
      <div class="element {%if profile.lastname%}has-data{%else%}no-data{%endif%}">
       <label for="lastname" class="title">{%trans "Last Name"%}</label>
       <input type="text" name="lastname" id="lastname" value="{{profile.lastname}}" class="input" disabled>
      </div>
      <div class="element {%if profile.displayname%}has-data{%else%}no-data{%endif%}">
       <label for="displayname" class="title">{%trans "Display Name"%}</label>
       <input type="text" name="displayname" id="displayname" value="{{profile.displayname}}" class="input" disabled>
      </div>
      <div class="element {%if profile.email%}has-data{%else%}no-data{%endif%}">
       <label for="email" class="title">{%trans "Email"%}</label>
       <input type="text" name="email" id="email" value="{{profile.email}}" class="input" disabled>
      </div>
      <div class="element {%if profile.mobile%}has-data{%else%}no-data{%endif%}">
       <label for="mobile" class="title">{%trans "Mobile"%}</label>
       <input type="text" name="mobile" id="mobile" value="{{profile.mobile}}" class="input" disabled>
      </div>
      <div class="element {%if profile.birthyear%}has-data{%else%}no-data{%endif%}">
       <label for="birthyear" class="title">{%trans "Birth Year"%}</label>
       <input type="text" name="birthyear" id="birthyear" value="{{profile.birthyear}}" class="input" disabled>
      </div>
      <div class="element {%if profile.birthmonth%}has-data{%else%}no-data{%endif%}">
       <label for="birthmonth" class="title">{%trans "Birth Month"%}</label>
       <input type="text" name="birthmonth" id="birthmonth" value="{{profile.birthmonth}}" class="input" disabled>
      </div>
      <div class="element {%if profile.birthday%}has-data{%else%}no-data{%endif%}">
       <label for="birthday" class="title">{%trans "Birthday"%}</label>
       <input type="text" name="birthday" id="birthday" value="{{profile.birthday}}" class="input" disabled>
      </div>
      <div class="element {%if profile.uilanguage%}has-data{%else%}no-data{%endif%}">
       <label for="uilanguage" class="title">{%trans "UI Language"%}</label>
       <input type="text" name="uilanguage" id="uilanguage" value="{{profile.uilanguage}}" class="input autocomplete" >
      </div>
      <div class="element {%if profile.religion%}has-data{%else%}no-data{%endif%}">
       <label for="religion" class="title">{%trans "Religion"%}</label>
       <input type="text" name="religion" id="religion" value="{{profile.religion}}" class="input autocomplete" >
      </div>
     </div>
    </li>
    <li id="tab-education">
     <div class="row">
      <div class="element {%if profile.graduation%}has-data{%else%}no-data{%endif%}">
       <label for="graduation" class="title">{%trans "Graduation"%}</label>
       <select class="input" disabledname="graduation" id="graduation">
        <option value="">{%trans "Please Select One Item"%}</option>
        <option {%if profile.graduation == 'illiterate' %}selected{%endif%} value="illiterate">{%trans "Illiterate"%}</option>
        <option {%if profile.graduation == 'undergraduate' %}selected{%endif%} value="undergraduate">{%trans "Undergraduate"%}</option>
        <option {%if profile.graduation == 'graduate' %}selected{%endif%} value="graduate">{%trans "Graduate"%}</option>
       </select>
      </div>
      <div class="element {%if profile.educationtype%}has-data{%else%}no-data{%endif%}">
       <label for="educationtype" class="title">{%trans "Education Type"%}</label>
       <select name="educationtype" id="educationtype" class="input" disabled>
        <option value="">{%trans "Please Select One Item"%}</option>
        <option {%if profile.educationtype == 'academic' %}selected{%endif%} value="academic">{%trans "Academic"%}</option>
        <option {%if profile.educationtype == 'howzeh' %}selected{%endif%} value="howzeh">{%trans "Howzeh"%}</option>
       </select>
      </div>
      <div class="element {%if profile.course%}has-data{%else%}no-data{%endif%}">
       <label class="title" for="course">{%trans "Course"%}</label>
       <input class="input autocomplete" type="text" name="course" id="course" value="{{profile.course}}" >
      </div>
      <div class="element {%if profile.degree%}has-data{%else%}no-data{%endif%}">
       <label for="degree" class="title">{%trans "Degree"%}</label>
       <select name="degree" id="degree" class="input" disabled>
        <option value="">{%trans "Please Select One Item"%}</option>
        <option {%if profile.degree == 'under diploma' %}selected{%endif%} value="under diploma">{%trans "Under Diploma"%}</option>
        <option {%if profile.degree == 'diploma' %}selected{%endif%} value="diploma">{%trans "Diploma"%}</option>
        <option {%if profile.degree == '2 year college' %}selected{%endif%} value="2 year college">{%trans "2 Year College"%}</option>
        <option {%if profile.degree == 'bachelor' %}selected{%endif%} value="bachelor">{%trans "Bachelor"%}</option>
        <option {%if profile.degree == 'master' %}selected{%endif%} value="master">{%trans "Master"%}</option>
        <option {%if profile.degree == 'phd' %}selected{%endif%} value="phd">{%trans "PHD"%}</option>
        <option {%if profile.degree == 'other' %}selected{%endif%} value="other">{%trans "Other"%}</option>
       </select>
      </div>
      <div class="element {%if profile.howzeh%}has-data{%else%}no-data{%endif%}">
       <label for="howzeh" class="title">{%trans "Howzeh"%}</label>
       <input type="text" name="howzeh" id="howzeh" value="{{profile.howzeh}}" class="input autocomplete" >
      </div>
      <div class="element {%if profile.howzehdegree%}has-data{%else%}no-data{%endif%}">
       <label for="howzehdegree" class="title">{%trans "Howzeh Degree"%}</label>
       <input type="text" name="howzehdegree" id="howzehdegree" value="{{profile.howzehdegree}}" class="input autocomplete" >
      </div>
      <div class="element {%if profile.howzehcourse%}has-data{%else%}no-data{%endif%}">
       <label for="howzehcourse" class="title">{%trans "Howzeh Course"%}</label>
       <input type="text" name="howzehcourse" id="howzehcourse" value="{{profile.howzehcourse}}" class="input autocomplete" >
      </div>
      <div class="element {%if profile.educationcity%}has-data{%else%}no-data{%endif%}">
       <label for="educationcity" class="title">{%trans "Education City"%}</label>
       <input type="text" name="educationcity" id="educationcity" value="{{profile.educationcity}}" class="input autocomplete" >
      </div>
     </div>
    </li>
    <li id="tab-job">
     <div class="row">
      <div class="element {%if profile.employmentstatus%}has-data{%else%}no-data{%endif%}">
       <label for="employmentstatus" class="title">{%trans "Employment Status"%}</label>
       <select name="employmentstatus" id="employmentstatus" class="input" disabled>
        <option value="">{%trans "Please Select One Item"%}</option>
        <option {%if profile.employmentstatus == 'employee'%}selected{%endif%} value="employee">{%trans "Employee"%}</option>
        <option {%if profile.employmentstatus == 'unemployed'%}selected{%endif%} value="unemployed">{%trans "Unemployed"%}</option>
        <option {%if profile.employmentstatus == 'retired'%}selected{%endif%} value="retired">{%trans "Retired"%}</option>
       </select>
      </div>
      <div class="element {%if profile.industry%}has-data{%else%}no-data{%endif%}">
       <label for="industry" class="title">{%trans "Industry"%}</label>
       <input type="text" name="industry" id="industry" value="{{profile.industry}}" class="input autocomplete" >
      </div>
      <div class="element {%if profile.company%}has-data{%else%}no-data{%endif%}">
       <label for="company" class="title">{%trans "Company"%}</label>
       <input type="text" name="company" id="company" value="{{profile.company}}" class="input autocomplete" >
      </div>
      <div class="element {%if profile.jobcity%}has-data{%else%}no-data{%endif%}">
       <label for="jobcity" class="title">{%trans "Job City"%}</label>
       <input type="text" name="jobcity" id="jobcity" value="{{profile.jobcity}}" class="input autocomplete" >
      </div>
      <div class="element {%if profile.jobtitle%}has-data{%else%}no-data{%endif%}">
       <label for="jobtitle" class="title">{%trans "Job Title"%}</label>
       <input type="text" name="jobtitle" id="jobtitle" value="{{profile.jobtitle}}" class="input autocomplete" >
      </div>
     </div>
    </li>
    <li id="tab-location">
     <div class="row">
      <div class="group">
       <div class="floating-title" data-title='{%trans "Birth"%}'></div>
       <div class="element {%if profile.birthcountry%}has-data{%else%}no-data{%endif%}">
        <label for="birthcountry" class="title">{%trans "Birth Country"%}</label>
        <input type="text" name="birthcountry" id="birthcountry" value="{{profile.birthcountry}}" class="input autocomplete" >
       </div>
       <div class="element {%if profile.birthprovince%}has-data{%else%}no-data{%endif%}">
        <label for="birthprovince" class="title">{%trans "Birth Province"%}</label>
        <input type="text" name="birthprovince" id="birthprovince" value="{{profile.birthprovince}}" class="input autocomplete" >
       </div>
       <div class="element {%if profile.birthcity%}has-data{%else%}no-data{%endif%}">
        <label for="birthcity" class="title">{%trans "Birth City"%}</label>
        <input type="text" name="birthcity" id="birthcity" value="{{profile.birthcity}}" class="input autocomplete" >
       </div>
      </div>
      <div class="group">
       <div class="floating-title" data-title='{%trans "Current"%}'></div>
       <div class="element {%if profile.country%}has-data{%else%}no-data{%endif%}">
        <label for="country" class="title">{%trans "Country"%}</label>
        <input type="text" name="country" id="country" value="{{profile.country}}" class="input autocomplete" >
       </div>
       <div class="element {%if profile.province%}has-data{%else%}no-data{%endif%}">
        <label for="province" class="title">{%trans "Province"%}</label>
        <input type="text" name="province" id="province" value="{{profile.province}}" class="input autocomplete" >
       </div>
       <div class="element {%if profile.city%}has-data{%else%}no-data{%endif%}">
        <label for="city" class="title">{%trans "City"%}</label>
        <input type="text" name="city" id="city" value="{{profile.city}}" class="input autocomplete" >
       </div>
       <div class="element {%if profile.village%}has-data{%else%}no-data{%endif%}">
        <label for="village" class="title">{%trans "Village"%}</label>
        <input type="text" name="village" id="village" value="{{profile.village}}" class="input autocomplete" >
       </div>
       <div class="element {%if profile.housestatus%}has-data{%else%}no-data{%endif%}">
        <label for="housestatus" class="title">{%trans "House Status"%}</label>
        <select name="housestatus" id="housestatus" class="input" disabled>
         <option value="">{%trans "Please Select One Item"%}</option>
         <option {%if profile.housestatus == 'owner'%}selected{%endif%} value="owner">{%trans "Owner"%}</option>
         <option {%if profile.housestatus == 'tenant'%}selected{%endif%} value="tenant">{%trans "Tenant"%}</option>
         <option {%if profile.housestatus == 'homeless'%}selected{%endif%} value="homeless">{%trans "Homeless"%}</option>
        </select>
       </div>
      </div>
     </div>
    </li>
    <li id="tab-user">
     <div class="row">
      <h2>{%trans "User"%}</h2>
     </div>
    </li>
    <li id="tab-family">
     <div class="row">
      <div class="group">
       <div class="floating-title" data-title='{%trans "Personal"%}'></div>
       <div class="element {%if profile.gender%}has-data{%else%}no-data{%endif%}">
        <label for="gender" class="title">{%trans "Gender"%}</label>
        <select name="gender" id="gender" class="input" disabled>
         <option value="">{%trans "Please Select One Item"%}</option>
         <option {%if profile.gender == 'male'%}selected{%endif%} value="male">{%trans "Male"%}</option>
         <option {%if profile.gender == 'female'%}selected{%endif%} value="female">{%trans "Female"%}</option>
        </select>
       </div>
       <div class="element {%if profile.marrital%}has-data{%else%}no-data{%endif%}">
        <label for="marrital" class="title">{%trans "Marrital"%}</label>
        <select name="marrital" id="marrital" class="input" disabled>
         <option value="">{%trans "Please Select One Item"%}</option>
         <option {%if profile.marrital == 'single'%}selected{%endif%} value="single">{%trans "Single"%}</option>
         <option {%if profile.marrital == 'married'%}selected{%endif%} value="married">{%trans "Married"%}</option>
        </select>
       </div>
       <div class="element {%if profile.girlchild%}has-data{%else%}no-data{%endif%}">
        <label for="girlchild" class="title">{%trans "Girl Child"%}</label>
        <input type="text" name="girlchild" id="girlchild" value="{{profile.girlchild}}" class="input" disabled>
       </div>
       <div class="element {%if profile.boychild%}has-data{%else%}no-data{%endif%}">
        <label for="boychild" class="title">{%trans "Boy Child"%}</label>
        <input type="text" name="boychild" id="boychild" value="{{profile.boychild}}" class="input" disabled>
       </div>
      </div>
     </div>
    </li>
    <li id="tab-favorites">
     <div class="row">
      <div class="element {%if profile.internetusage%}has-data{%else%}no-data{%endif%}">
       <label for="internetusage" class="title">{%trans "Internet Usage"%}</label>
       <select name="internetusage" id="internetusage" class="input" disabled>
        <option value="">{%trans "Please Select One Item"%}</option>
        <option {%if profile.internetusage == 'low'%}selected{%endif%} value="low">{%trans "Low"%}</option>
        <option {%if profile.internetusage == 'mid'%}selected{%endif%} value="mid">{%trans "Mid"%}</option>
        <option {%if profile.internetusage == 'high'%}selected{%endif%} value="high">{%trans "High"%}</option>
       </select>
      </div>
      <div class="element {%if profile.skills%}has-data{%else%}no-data{%endif%}">
       <label for="skills" class="title">{%trans "Skills"%}</label>
       <input type="text" name="skills" id="skills" value="{{profile.skills}}" class="input autocomplete" >
      </div>
      <div class="element {%if profile.languages%}has-data{%else%}no-data{%endif%}">
       <label for="languages" class="title">{%trans "Languages"%}</label>
       <input type="text" name="languages" id="languages" value="{{profile.languages}}" class="input autocomplete" >
      </div>
      <div class="element no-data">
       <label for="books" class="title">{%trans "Books"%}</label>
       <input type="hidden" name="books" id="sp-books" value="{% if profile.books %}{{profile.books|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="books" class="input autocomplete similar-tag" data-split="sp-books" data-list="books-list">
      </div>
      <div class="tags" id="books-list">
        {%for key, value in profile.books%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-books"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="writers" class="title">{%trans "Writers"%}</label>
       <input type="hidden" name="writers" id="sp-writers" value="{% if profile.writers %}{{profile.writers|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="writers" class="input autocomplete similar-tag" data-split="sp-writers" data-list="writers-list">
      </div>
      <div class="tags" id="writers-list">
        {%for key, value in profile.writers%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-writers"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="films" class="title">{%trans "Films"%}</label>
       <input type="hidden" name="films" id="sp-films" value="{% if profile.films %}{{profile.films|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="films" class="input autocomplete similar-tag" data-split="sp-films" data-list="films-list">
      </div>
      <div class="tags" id="films-list">
        {%for key, value in profile.films%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-films"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="actors" class="title">{%trans "Actors"%}</label>
       <input type="hidden" name="actors" id="sp-actors" value="{% if profile.actors %}{{profile.actors|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="actors" class="input autocomplete similar-tag" data-split="sp-actors" data-list="actors-list">
      </div>
      <div class="tags" id="actors-list">
        {%for key, value in profile.actors%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-actors"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="genre" class="title">{%trans "Genre"%}</label>
       <input type="hidden" name="genre" id="sp-genre" value="{% if profile.genre %}{{profile.genre|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="genre" class="input autocomplete similar-tag" data-split="sp-genre" data-list="genre-list">
      </div>
      <div class="tags" id="genre-list">
        {%for key, value in profile.genre%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-genre"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="musics" class="title">{%trans "Musics"%}</label>
       <input type="hidden" name="musics" id="sp-musics" value="{% if profile.musics %}{{profile.musics|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="musics" class="input autocomplete similar-tag" data-split="sp-musics" data-list="musics-list">
      </div>
      <div class="tags" id="musics-list">
        {%for key, value in profile.musics%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-musics"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="artists" class="title">{%trans "Artists"%}</label>
       <input type="hidden" name="artists" id="sp-artists" value="{% if profile.artists %}{{profile.artists|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="artists" class="input autocomplete similar-tag" data-split="sp-artists" data-list="artists-list">
      </div>
      <div class="tags" id="artists-list">
        {%for key, value in profile.artists%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-artists"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="sports" class="title">{%trans "Sports"%}</label>
       <input type="hidden" name="sports" id="sp-sports" value="{% if profile.sports %}{{profile.sports|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="sports" class="input autocomplete similar-tag" data-split="sp-sports" data-list="sports-list">
      </div>
      <div class="tags" id="sports-list">
        {%for key, value in profile.sports%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-sports"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="sportmans" class="title">{%trans "Sportmans"%}</label>
       <input type="hidden" name="sportmans" id="sp-sportmans" value="{% if profile.sportmans %}{{profile.sportmans|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="sportmans" class="input autocomplete similar-tag" data-split="sp-sportmans" data-list="sportmans-list">
      </div>
      <div class="tags" id="sportmans-list">
        {%for key, value in profile.sportmans%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-sportmans"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="habbits" class="title">{%trans "Habbits"%}</label>
       <input type="hidden" name="habbits" id="sp-habbits" value="{% if profile.habbits %}{{profile.habbits|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="habbits" class="input autocomplete similar-tag" data-split="sp-habbits" data-list="habbits-list">
      </div>
      <div class="tags" id="habbits-list">
        {%for key, value in profile.habbits%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-habbits"></i>{{value}}</a>
        {%endfor%}
      </div>

      <div class="element no-data">
       <label for="devices" class="title">{%trans "Devices"%}</label>
       <input type="hidden" name="devices" id="sp-devices" value="{% if profile.devices %}{{profile.devices|join(',') ~ ','}}{%endif%}" class="input autocomplete" >
       <input type="text" id="devices" class="input autocomplete similar-tag" data-split="sp-devices" data-list="devices-list">
      </div>
      <div class="tags" id="devices-list">
        {%for key, value in profile.devices%}
          <a><i class='fa fa-times remove-tags' data-id="{{key}}" data-split="sp-devices"></i>{{value}}</a>
        {%endfor%}
      </div>

     </div>
    </li>
   </ul>
{%endblock%}

{%block foot_js%}
<script type="text/javascript">
   btns = $('<span class="addon btn save"><button>{%trans "Save"%}</button></span><span class="addon btn cancel"><button>{%trans "Cancel"%}</button></span>');
   $(document).on('click', '.remove-tags', function(){
      id = $(this).attr('data-id');
      $(this).ajaxify(
      {
        ajax:
        {
          data:
          {
            'type': 'remove-tag',
            'id': id
          },
          abort: true,
          success: function(e, data, x)
          {

          },
          method: 'post'
        }
      });
   });
</script>
{%endblock%}




{%block foot_js_old%}
<script type="text/javascript">
  // Profile
  route(/\@\/profile/, function() {
    var initial  = $('input[name="initial"]');
    var isNormal = false;

    // dblclick
    $(this).on('dblclick', '.element.has-data', function()
    {
      // if double clicked input has not class similar-tag
      if (!$(this).children('.input').hasClass('similar-tag')) {
        isNormal = true;
        initial.val( $(this).children('.input').val() );
      }
      $(this).removeClass('has-data').append(btns).children('.input').removeAttr('disabled').focus();
    });

    // click
    $(this).on('click', '.element.no-data', function()
    {
      // if clicked input has not class similar-tag
      if (!$(this).children('.input').hasClass('similar-tag')) {
        isNormal = true;
        initial.val("");
      }
      $(this).removeClass('no-data').append(btns).children('.input').removeAttr('disabled').focus();
    });

     //  $(this).on('focus', '.element .input', function(event) {
     //   $(this).unbind('blur.sarshomarblur');
     //   $(this).bind('blur.sarshomarblur', function(e){
     //     $(this).unbind('blur.sarshomarblur');
     //     var element = $(this).parents('.element');
        // var val     = $(this).parents('.element').children('.input').val();
        // if ( isNormal )
        // {
        //  if ( initial.val() )
        //  {
        //    element.addClass('has-data');
        //  }
        //  else
        //  {
        //    element.addClass('no-data');
        //  }
        //  element.children('.input').attr('disabled', '');
        //  element.children('.btn').remove();
        //  element.children('.input').val( initial.val() );
        // }
     //   });
     //  });

    $(this).on('click', '.btn.save button', function(event) {
      var element = $(this).parents('.element');
      var val     = $(this).parents('.element').children('.input').val();
      var name    = $(this).parents('.element').children('.input').attr("name");
      $(this).ajaxify({
        ajax: {
          data: {
            'name': name,
            'value': val
          },
          abort: true,
          success: function(e, data, x) {
            if ( val && isNormal )
            {
              element.addClass('has-data');
              element.children('.input').attr('disabled', 'disabled');
              element.children('.btn').remove();
            }
            else if ( (!val) && isNormal)
            {
              element.addClass('no-data');
              element.children('.input').attr('disabled', 'disabled');
              element.children('.btn').remove();
            }
          },
          method: 'post'
        }
      });
    });

    $(this).on('click', '.btn.cancel button', function(event) {
      var element = $(this).parents('.element');
      var val     = $(this).parents('.element').children('.input').val();
      if ( initial.val() )
      {
        element.addClass('has-data');
      }
      else
      {
        element.addClass('no-data');
      }
      element.children('.input').attr('disabled', '');
      element.children('.btn').remove();
      element.children('.input').val( initial.val() );
    });
  });
</script>
{%endblock%}
