{%extends display.mvc%}
{%block content%}

<script type="text/javascript">
	function answer(_poll_id, _answer_id, _text){
		$.ajax({
			type : 'post',
			url : 'polls',
			data : {
				'poll_id' : _poll_id,
				'answer_id' : _answer_id,
				'answer_text' : _text
			},
			success :function (data) {
				console.log(document.write(data));
			}
		});

	}
</script>
{%for key, value in datatable%}
{%if value is iterable %}
	{%for k, v in value%}
		<a onclick="answer({{datatable['id']}},{{k}},'{{v}}')" style="cursor:pointer;">{{v}}</a>
		<br>
	{%endfor%}
{%else%}
	{{value}}
{%endif%}
<hr>
{%endfor%}
{%endblock%}
