{%extends display.main%}

{%block head_css%}
<style type="text/css">
#polls .panel { margin-top: 10vh }
#polls .panel .panel-heading { font-size: 1.4em }
#polls .panel a { font-size: 2em }
</style>
{%endblock%}

{%block content%}
<div class="container">
	<div class="row auto">
		<div class="span2"></div>
		<div class="span8">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{datatable.question}}
				</div>
				<a  style="font-size: 20px; cursor: pointer;" onclick="bookmark({{datatable['id']}})">book mark this poll </a>
				<div class="panel-body">
					<p>{{datatable.question}}</p>
					<ul>
						{%for key, value in datatable.opt%}
							<li>
								<a onclick="answer({{datatable['id']}},'{{key}}','{{value}}')" style="cursor:pointer">{{value}}</a>
							</li>
						{%endfor%}
					</ul>
				</div>
				<div class="panel-footer">
					{{datatable.tags}}
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function answer(_poll_id, _answer_id, _text) {
    $.ajax({
        type: 'post',
        url: '@/polls',
        data: {
            'poll_id': _poll_id,
            'answer_key': _answer_id,
            'answer_text': _text
        },
        success: function(data) {
            console.log(document.write(data));
        }
    });
}


function bookmark(_poll_id) {
    $.ajax({
        type: 'post',
        url: '@/polls',
        data: {
        	'type' : 'bookmark',
            'poll_id': _poll_id
        },
        success: function(data) {
           console.log(data);
        }
    });
}
</script>
{%endblock%}
