{%extends display.main%}

{%block head_css%}
<style type="text/css">
</style>
{%endblock%}

{%block content%}
<div class="main pad box">
 <form method="post">
  {%include template.progress%}
  <div class="row auto">
   <div class="span8 offset2">
    {% if perm.sarshomar_knowledge.admin %}
    <div class="checkbox">
      <input type="checkbox" name="homepage" id="homepage" {% if homepage %}checked{% endif %}>
      <label for="homepage" class="check-box"></label>
      <label for="homepage">{% trans "Show result in home page" %}</label>
    </div>

    <div class="element select no-pad">
     <label class="title large" for="category">{%trans "Category"%}</label>
     <select class="input" name="category" id="category">
      {%for key, value in cat%}
      <option value="{{value.id}}">{{value.term_title|raw}}</option>
      {%endfor%}
     </select>
    </div>
    {%endif%}

    <div class="element dropdown no-pad">
     <label class="title large" for="article">{%trans "Article"%}</label>
     <div class="dropdown-wrapper">
       <input type="hidden" name="">
       <div class="dropdown-tags">
         <a href="#">Choice 1<i class="fa fa-times"></i></a>
         <a href="#">Choice 2<i class="fa fa-times"></i></a>
         <a href="#">Choice 3<i class="fa fa-times"></i></a>
       </div>
       <input class="input dropdown" name="article" id="article">
     </div>
    </div>

    <div class="element dropdown no-pad">
     <label class="title large" for="tags">{%trans "Tags"%}</label>
     <div class="dropdown-wrapper">
       <input type="hidden" name="">
       <div class="dropdown-tags">
        <a href="#">Choice 1<i class="fa fa-times"></i></a>
        <a href="#">Choice 2<i class="fa fa-times"></i></a>
       </div>
       <input class="input dropdown" name="tags" id="tags">
     </div>
    </div>

    <div class="element no-pad">
     <label class="title large" for="language">{%trans "Language"%}</label>
     <input class="input" type="text" name="language" id="language" value="{{language}}">
    </div>

    <div class="element no-pad ltr">
     <label class="title large" for="short_url">{%trans "Short URL"%}</label>
     <input class="input" type="text" name="short_url" id="short_url">
     <button class="btn"><span class="fa fa-link"></span></button>
    </div>


    <div class="social-container">
      <a href="" class="fa fa-2x fa-twitter"></a>
      <a href="" class="fa fa-2x fa-rss"></a>
      <a href="" class="fa fa-2x fa-facebook"></a>
      <a href="" class="fa fa-2x fa-dribbble"></a>
      <a href="" class="fa fa-2x fa-google-plus"></a>
      <a href="" class="fa fa-2x fa-pinterest-p"></a>
    </div>
   </div><!-- /.span8 -->
  </div><!-- /.row -->

  <div class="row">
   <div class="span6 btn-container">
    <button class="btn primary" type="submit">{%trans "Publish"%}</button>
   </div>
  </div><!-- /.row -->
 </form>
</div>
{%endblock%}
