{%extends display.main%}

{%block head_css%}
<style type="text/css">
</style>
{%endblock%}

{%block content%}
<div class="main pad box">
 {%include template.progress%}
 <div class="row auto">
  <div class="span8 offset2">
   {%if perm.sarshomar_knowledge.admin%}
   <div class="element select no-pad">
    <label class="title large" for="category">{%trans "Category"%}</label>
    <select class="input" name="category" id="category">
     {%for key, value in cat%}
     <option value="{{value.id}}">{{value.term_title|raw}}</option>
     {%endfor%}
    </select>
   </div>
   {%endif%}
  </div>
 </div>
</div>
{%endblock%}
