{%extends display.main%} {%block content%} {%include "content_admin/main/sidebar.html"%}
<div class="main admin-section">


    <!--<div class="chart" data-vals='[{"key":"Manchester","value":100},{"key":"Liverpool","value":20},{"key":"Real Madrid","value":40},{"key":"Barcelona","value":70},{"key":"Juventus","value":100},{"key":"Bayern","value":60}]'
    data-format='abc' >
    </div>-->


    <div class="overall-charts">
        <div class="f">
            <!--item 8-->
            <div class="c8 plus-pad">
                <div class="card simple simple-border">
                    <div class="title-box f align-center justify-between nowrap">
                        <h5 class="card-title unselectable">
                            Visits
                        </h5>
                        <span>
                        <a href="#!" class="more">More</a>
                        </span>

                    </div>

                    <div>
                        <div id="visitReg" style="width: 100%; height: 209px; background-color: #FFFFFF;"></div>
                    </div>
                </div>
            </div>
            <!--/item-->
            <div class="c4 overall-stats unselectable f align-content-start a-gutters">
                <!--item-->

                <div class="c12 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">121454</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> Total</div>
                        </div>
                    </div>
                    </a>
                </div>

                <!--/item-->

                <!--item-->

                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">2657</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-meh-o"></i> Unique</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">369</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-meh-o"></i> Today</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
            </div>

            <div class="c4 overall-stats unselectable f align-content-start a-gutters">
                <!--item-->
                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">14766</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> Total</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat ">
                        <div>
                            <h5 class="num">1246</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> Unique</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">678</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-meh-o"></i> Today</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">1234</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-meh-o"></i> last week</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
            </div>

            <!--item 8-->
            <div class="c8 plus-pad">
                <div class="card simple simple-border">
                    <div class="title-box f align-center justify-between nowrap">
                        <h5 class="card-title unselectable">
                            Visitors
                        </h5>
                        <span>
                        <a href="#!" class="more">More</a>
                        </span>

                    </div>

                    <div>
                        <div id="visitReg" style="width: 100%; height: 209px; background-color: #FFFFFF;"></div>
                    </div>
                </div>
            </div>
            <!--/item-->

            <!--item 8-->
            <div class="c8 plus-pad">
                <div class="card simple simple-border">
                    <div class="title-box f align-center justify-between nowrap">
                        <h5 class="card-title unselectable">
                            Registeration
                        </h5>
                        <span>
                        <a href="#!" class="more">More</a>
                        </span>

                    </div>

                    <div>
                        <div id="visitReg" style="width: 100%; height: 357px; background-color: #FFFFFF;"></div>
                    </div>
                </div>
            </div>
            <!--/item-->

            <div class="c4 overall-stats unselectable f align-content-start a-gutters">
                <!--item-->
                <div class="c12 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">98745</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> Successful</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">14537</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> Verified</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat">
                        <div>
                            <h5 class="num">5415</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> Guests</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">154</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-meh-o"></i> Telegram</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c6 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">155</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-meh-o"></i> API</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
            </div>




            <!--item 12-->
            <div class="c12 plus-pad">
                <div class="card simple simple-border">
                    <div class="title-box f align-center justify-between nowrap">
                        <h5 class="card-title unselectable">
                            Polls
                        </h5>
                        <span>
                        <a href="#!" class="more">More</a>
                        </span>

                    </div>

                    <div>
                        <div id="polls-chart" style="width: 100%; height: 330px; background-color: #FFFFFF;"></div>
                    </div>
                </div>
            </div>
            <!--/item-->



            <div class="c12 overall-stats unselectable f align-content-start a-gutters">
                <!--item-->
                <div class="c4 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">98745</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> Total Polls</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c4 plus-pad">
                    <a href="#!">
                    <div class="stat f align-center">
                        <div>
                            <h5 class="num">14537</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> Spam Polls</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
                <!--item-->
                <div class="c4 plus-pad">
                    <a href="#!">
                    <div class="stat ">
                        <div>
                            <h5 class="num">5415</h5>
                            <div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> Draft Polls</div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--/item-->
            </div>




 <!--item 6-->
            <div class="c6 plus-pad">
                <div class="card simple simple-border">
                    <div class="title-box f align-center justify-between nowrap">
                        <h5 class="card-title unselectable">
                            Answers
                        </h5>
                        <span>
                        <a href="#!" class="more">More</a>
                        </span>

                    </div>

                    <div>
                        <div id="visitReg" style="width: 100%; height: 220px; background-color: #FFFFFF;"></div>
                    </div>
                </div>
            </div>
            <!--/item-->

 <!--item 6-->
            <div class="c6 plus-pad">
                <div class="card simple simple-border">
                    <div class="title-box f align-center justify-between nowrap">
                        <h5 class="card-title unselectable">
                            Transactions
                        </h5>
                        <span>
                        <a href="#!" class="more">More</a>
                        </span>

                    </div>

                    <div>
                        <div id="visitReg" style="width: 100%; height: 220px; background-color: #FFFFFF;"></div>
                    </div>
                </div>
            </div>
            <!--/item-->






        </div>
    </div>

    <div class="f latest-box">
        <!--item-->
        <div class="c6 plus-pad">
            <div class="card simple simple-border">
                <div class="title-box f align-center justify-between nowrap">
                    <h5 class="card-title unselectable">
                        Latest Polls
                    </h5>
                    <span>
                        <a href="#!" class="more">More</a>
                    </span>

                </div>

                <div>
                    <ul>
                        <a href="#!" class="p1">
                            <li class="f nowrap align-center">
                                <i class="q-status"></i>
                                <span>Just use the box-shadow and play with it to get the best result for you?</span>
                            </li>
                        </a>
                        <a href="#!" class="p1">
                            <li class="f nowrap align-center">
                                <i class="q-status red "></i>
                                <span>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa?</span>
                            </li>
                        </a>
                        <a href="#!" class="p1">
                            <li class="f nowrap align-center">
                                <i class="q-status yellow"></i>
                                <span>Quam diu etiam furor iste tuus nos eludet? (How long, O Catiline, will you abuse our patience?</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <!--/item-->

        <!--item-->
        <div class="c6 plus-pad">
            <div class="card simple simple-border">
                <div class="title-box f align-center justify-between nowrap">
                    <h5 class="card-title unselectable">
                        Trending Polls
                    </h5>
                    <span>
                        <a href="#!" class="more">More</a>
                    </span>

                </div>

                <div>
                    <ul>
                        <a href="#!" class="p1">
                            <li class="f nowrap align-center">
                                <i class="q-status"></i>
                                <span>Just use the box-shadow and play with it to get the best result for you?</span>
                            </li>
                        </a>
                        <a href="#!" class="p1">
                            <li class="f nowrap align-center">
                                <i class="q-status "></i>
                                <span>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa?</span>
                            </li>
                        </a>
                        <a href="#!" class="p1">
                            <li class="f nowrap align-center">
                                <i class="q-status"></i>
                                <span>Quam diu etiam furor iste tuus nos eludet? (How long, O Catiline, will you abuse our patience?</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <!--/item-->
    </div>


</div>
{%endblock%} {%block foot_js%} {%if visitors%}
<script type="text/javascript">
    function abc(_option) {
                    _option.colors = ["#000"]
                    console.log(_option);

                    return _option;
                }

                setTimeout(function () {
                    AmCharts.makeChart("polls-chart",
				{
					"type": "serial",
					"categoryField": "category",
					"plotAreaBorderColor": "#AAB3B3",
					"sequencedAnimation": false,
					"startDuration": 1,
					"borderColor": "#CC0000",
					"fontFamily": "iransans",
					"categoryAxis": {
						"gridPosition": "start",
						"axisColor": "#AAB3B3",
						"color": "#888888",
						"gridColor": "#AAB3B3",
						"titleColor": "#AAB3B3"
					},
					"trendLines": [],
					"graphs": [
						{
							"balloonText": "[[value]] [[title]]",
							"fillAlphas": 1,
							"fillColors": "#E03D3D",
							"id": "AmGraph-1",
							"title": "اسپم",
							"type": "column",
							"valueField": "column-1"
						},
						{
							"balloonText": "[[value]] [[title]]",
							"fillAlphas": 1,
							"fillColors": "#FFD600",
							"id": "AmGraph-2",
							"title": "پیش‌نویس",
							"type": "column",
							"valueField": "column-2"
						},
						{
							"balloonText": "[[value]] [[title]]",
							"fillAlphas": 1,
							"fillColors": "#72DE6E",
							"id": "AmGraph-3",
							"title": "منتشرشده",
							"type": "column",
							"valueField": "column-3"
						},
						{
							"balloonText": "[[value]] [[title]]",
							"id": "AmGraph-4",
							"title": "graph 4",
							"valueField": "column-4"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-2",
							"position": "top",
							"stackType": "regular",
							"totalTextColor": "#AAB3B3",
							"axisColor": "#AAB3B3",
							"color": "#888888",
							"gridColor": "#AAB3B3",
							"titleColor": "#888888",
							"titleRotation": -4
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [],
					"dataProvider": [
						{
							"category": "۱ مهر",
							"column-1": "8",
							"column-2": 5,
							"column-3": "7"
						},
						{
							"category": "۲ مهر",
							"column-1": 6,
							"column-2": 7,
							"column-3": "7"
						},
						{
							"category": "۳ مهر",
							"column-1": 2,
							"column-2": 3,
							"column-3": "7"
						},
						{
							"category": "۴ مهر",
							"column-1": "4",
							"column-2": "5",
							"column-3": "5"
						},
						{
							"category": "۵ مهر",
							"column-1": "1",
							"column-2": "8",
							"column-3": "1"
						},
						{
							"category": "۶ مهر",
							"column-1": "7",
							"column-2": "5",
							"column-3": "3"
						},
						{
							"category": "۷ مهر",
							"column-1": "8",
							"column-2": "8",
							"column-3": "8"
						},
						{
							"category": "۸ مهر",
							"column-1": "1",
							"column-2": "1",
							"column-3": "1"
						},
						{
							"category": "۹ مهر",
							"column-1": "4",
							"column-2": "8",
							"column-3": "2"
						},
						{
							"category": "۱۰ مهر",
							"column-1": "8",
							"column-2": "6",
							"column-3": "4"
						}
					]
				}
			);
                }, 300);
</script>
{%endif%} {%endblock%}