{%extends display.admin%}

{%block content%}
	<div class="f">
		<div class="c3 s6">
			<div class="card">
				<div class="card-data">
					<img src="{{url.static}}images/admin/elections.svg">
					<span>{{number_static.polls.total|number_format|fitNumber}}</h5></span>
				</div>
				<div class="card-desc">{% trans "Total Polls" %}</div>
			</div>
		</div>

		<div class="c3 s6">
			<div class="card">
				<div class="card-data">
					<img src="{{url.static}}images/admin/spam.svg">
					<span>{{number_static.polls.spam|number_format|fitNumber}}</span>
				</div>
				<div class="card-desc">{% trans "Spam Polls" %}</div>
			</div>
		</div>

		<div class="c3 s6">
			<div class="card">
				<div class="card-data">
					<img src="{{url.static}}images/admin/hourglass.svg">
					<span>{{number_static.polls.awaiting|number_format|fitNumber}}</span>
				</div>
				<div class="card-desc">{% trans "Awaiting Polls" %}</div>
			</div>
		</div>

		<div class="c3 s6">
			<div class="card">
				<div class="card-data">
					<img src="{{url.static}}images/admin/draft.svg">
					<span>{{number_static.polls.draft|number_format|fitNumber}}</span>
				</div>
				<div class="card-desc">{% trans "Draft Polls" %}</div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="card chart2">
			<h3>{% trans "Polls" %}</h3>
			<div class="chart" data-vals='{{chart_polls}}' data-format='pollsChart' style="width: 100%; height: 330px; background-color: #FFFFFF;"></div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c8 s12">
			<div class="card chart2">
				<h3>{% trans "Registration" %}</h3>
				<div class="chart" data-vals='{{chart_users}}' data-format='admin_smoothedLine' style="width: 100%; height: 357px; background-color: #FFFFFF;"></div>
			</div>
		</div>
		<div class="c4 s12">
			<div class="f">
				<div class="c12 s12">
					<div class="card">
						<h3>{% trans "Successfull" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/checked.svg">
							<span>{{number_static.users.total|number_format|fitNumber}}</span>
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Verified" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/user-verification-symbol-for-interface.svg">
							<span>{{(number_static.verify.mobile +  number_static.verify.complete)|number_format|fitNumber}}</span>
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Guests" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/guest.svg">
							<span>{{number_static.users.total_guest|number_format|fitNumber}}</span>
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Telegram" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/telegram.svg">
							<span>{{(number_static.users.telegram_guest +  number_static.users.telegram)|number_format|fitNumber}}</span>
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "API" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/api.svg">
							<span>{{number_static.users.api|number_format|fitNumber}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c4 s12">
			<div class="f">
				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Total" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/list.svg">
							<span>{{number_static.visitor.total|number_format|fitNumber}}</span>
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Unique" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/award.svg">
							<span>{{number_static.visitor.unique|number_format|fitNumber}}</span>
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Today" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/24-hours-delivery.svg">
							<span>{{number_static.visitor.today|number_format|fitNumber}}</span>
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Last week" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/weekly-calendar.svg">
							<span>{{number_static.visitor.last_week|number_format|fitNumber}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="c8 s12">
			<div class="card chart2">
				<h3>{% trans "Visitors" %}</h3>
				<div class="chart" data-vals='{{chart_visitor}}' data-format='visitors-chart' style="width: 100%; height: 209px; background-color: #FFFFFF;"></div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c6 s12">
			<div class="card chart2">
				<h3>{% trans "Answers" %}</h3>
				<div class="chart" data-vals='{{chart_answer}}' data-format='admin_line' style="width: 100%; height: 220px; background-color: #FFFFFF;"></div>
			</div>
		</div>

		<div class="c6 s12">
			<div class="card chart2">
				<h3>{% trans "Transactions" %}</h3>
				<div class="chart" data-vals='[{"key":"A","value":100},{"key":"B","value":20},{"key":"C","value":40},{"key":"D","value":70},{"key":"E","value":100},{"key":"F","value":60}]'
							data-format='transactions-chart' style="width: 100%; height: 220px; background-color: #FFFFFF;"></div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c8 s12">
			<div class="card chart2">
				<h3>{% trans "Visits" %}</h3>
				<div class="chart" data-vals='[{"key":"A","value":100},{"key":"B","value":20},{"key":"C","value":40},{"key":"D","value":70},{"key":"E","value":100},{"key":"F","value":60}]'
							data-format='visits-chart' style="width: 100%; height: 209px; background-color: #FFFFFF;"></div>
			</div>
		</div>
		<div class="c4 s12">
			<div class="f">
				<div class="c12">
					<div class="card">
						<h3>{% trans "Total" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/list.svg">
							<span>?</span>
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Unique" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/award.svg">
							<span>?</span>
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Today" %}</h3>
						<div class="card-data">
							<img src="{{url.static}}images/admin/24-hours-delivery.svg">
							<span>?</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c6 s12">
			<div class="card list latest-polls">
				<h3></h3>
				<a href="#">
					<i data-color="red"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>

				<a href="#">
					<i data-color="blue"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>

				<a href="#">
					<i data-color="green"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>
			</div>
		</div>
		<div class="c6 s12">
			<div class="card list trending-polls">
				<h3></h3>
				<a href="#">
					<i data-color="red"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>

				<a href="#">
					<i data-color="blue"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>

				<a href="#">
					<i data-color="green"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>
			</div>
		</div>
	</div><!-- /.f -->
{%endblock%}

{%block content2%}
{%include "content_admin/main/sidebar.html"%}
<div class="main admin-section">

	<div class="overall-charts">
		<div class="f">

			<div class="c12 overall-stats unselectable f align-content-between">

				<div class="c3 s12 plus-pad">
					<a href="{{url.base}}/admin/knowledge">
						<div class="stat">
							<div>
								<h5 class="num">{{number_static.polls.total|number_format|fitNumber}}</h5>
								<div class="title" title="Total poll"><i class="ico icon-question"></i> {% trans "Total Polls" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c3 s12 plus-pad">
					<a href="{{url.base}}/admin/knowledge/status=spam">
						<div class="stat">
							<div>
								<h5 class="num">{{number_static.polls.spam|number_format|fitNumber}}</h5>
								<div class="title" title="Spam poll"><i class="ico icon-ban"></i> {% trans "Spam Polls" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c3 s12 plus-pad">
					<a href="{{url.base}}/admin/knowledge/status=awaiting">
						<div class="stat">
							<div>
								<h5 class="num">{{number_static.polls.awaiting|number_format|fitNumber}}</h5>
								<div class="title" title="Awaiting poll"><i class="ico icon-list"></i> {% trans "Awaiting Polls" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c3 s12 plus-pad">
					<a href="{{url.base}}/admin/knowledge/status=draft">
						<div class="stat ">
							<div>
								<h5 class="num">{{number_static.polls.draft|number_format|fitNumber}}</h5>
								<div class="title" title="Draft poll"><i class="ico icon-pencil"></i> {% trans "Draft Polls" %}</div>
							</div>
						</div>
					</a>
				</div>

			</div>



			<div class="c12 plus-pad">
				<div class="card simple simple-border">
					<div class="title-box f align-center justify-between nowrap">
						<h5 class="card-title unselectable">
							<a href="{{url.base}}/admin/knowledge">
							{% trans "Polls" %}
							</a>
						</h5>
						<span>
						<a href="{{url.base}}/admin/knowledge" class="more">{% trans "More" %}</a>
						</span>
					</div>
					<div>
						<div class="chart" data-vals='{{chart_polls}}' data-format='pollsChart' style="width: 100%; height: 330px; background-color: #FFFFFF;"></div>
					</div>
				</div>
			</div>




			<div class="c8 s12 plus-pad">
				<div class="card simple simple-border">
					<div class="title-box f align-center justify-between nowrap">
						<h5 class="card-title unselectable">
							<a href="{{url.base}}/admin">
							{% trans "Registration" %}
							</a>
						</h5>
						<span>
						<a href="{{url.base}}/admin" class="more">{% trans "More" %}</a>
						</span>

					</div>

					<div>
						<div class="chart" data-vals='{{chart_users}}' data-format='admin_smoothedLine' style="width: 100%; height: 357px; background-color: #FFFFFF;"></div>
					</div>
				</div>
			</div>

			<div class="c4 s12 overall-stats unselectable f align-content-between a-gutters">

				<div class="c12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">{{number_static.users.total|number_format|fitNumber}}</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-smile-o"></i> {% trans "Successfull" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">{{(number_static.verify.mobile +  number_static.verify.complete)|number_format|fitNumber}}</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-check"></i> {% trans "Verified" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat">
							<div>
								<h5 class="num">{{number_static.users.total_guest|number_format|fitNumber}}</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-meh-o"></i> {% trans "Guests" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">{{(number_static.users.telegram_guest +  number_static.users.telegram)|number_format|fitNumber}}</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-send-o"></i> {% trans "Telegram" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">{{number_static.users.api|number_format|fitNumber}}</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-mobile"></i> {% trans "API" %}</div>
							</div>
						</div>
					</a>
				</div>

			</div>



			<div class="c4 s12 overall-stats unselectable f align-content-between a-gutters">

				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">{{number_static.visitor.total|number_format|fitNumber}}</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-line-chart"></i> {% trans "Total" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat ">
							<div>
								<h5 class="num">{{number_static.visitor.unique|number_format|fitNumber}}</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-area-chart"></i> {% trans "Unique" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">{{number_static.visitor.today|number_format|fitNumber}}</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-bar-chart"></i> {% trans "Today" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">{{number_static.visitor.last_week|number_format|fitNumber}}</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-pie-chart"></i> {% trans "Last week" %}</div>
							</div>
						</div>
					</a>
				</div>

			</div>


			<div class="c8 s12 plus-pad">
				<div class="card simple simple-border">
					<div class="title-box f align-center justify-between nowrap">
						<h5 class="card-title unselectable">
							<a href="{{url.base}}/admin">
							Visitors
							</a>
						</h5>
						<span>
						<a href="{{url.base}}/admin" class="more">{% trans "More" %}</a>
						</span>
					</div>
					<div>
						<div class="chart" data-vals='{{chart_visitor}}'
							data-format='visitors-chart' style="width: 100%; height: 209px; background-color: #FFFFFF;"></div>
					</div>
				</div>
			</div>





			<div class="c6 s12 plus-pad">
				<div class="card simple simple-border">
					<div class="title-box f align-center justify-between nowrap">
						<h5 class="card-title unselectable">
							<a href="{{url.base}}/admin">
							{% trans "Answers" %}
							</a>
						</h5>
						<span>
						<a href="{{url.base}}/admin" class="more">{% trans "More" %}</a>
						</span>
					</div>
					<div>
						<div class="chart" data-vals='{{chart_answer}}' data-format='admin_line' style="width: 100%; height: 220px; background-color: #FFFFFF;"></div>
					</div>
				</div>
			</div>





			<div class="c6 s12 plus-pad">
				<div class="card simple simple-border">
					<div class="title-box f align-center justify-between nowrap">
						<h5 class="card-title unselectable">
							<a href="{{url.base}}/admin">
							{% trans "Transactions" %}
							</a>
						</h5>
						<span>
						<a href="{{url.base}}/admin" class="more">{% trans "More" %}</a>
						</span>
					</div>
					<div>
						<div class="chart" data-vals='[{"key":"A","value":100},{"key":"B","value":20},{"key":"C","value":40},{"key":"D","value":70},{"key":"E","value":100},{"key":"F","value":60}]'
							data-format='transactions-chart' style="width: 100%; height: 220px; background-color: #FFFFFF;"></div>
					</div>
				</div>
			</div>





			<div class="c8 s12 plus-pad">
				<div class="card simple simple-border">
					<div class="title-box f align-center justify-between nowrap">
						<h5 class="card-title unselectable">
							<a href="{{url.base}}/admin">
							{% trans "Visits" %}
							</a>
						</h5>
						<span>
						<a href="{{url.base}}/admin" class="more">{% trans "More" %}</a>
						</span>
					</div>
					<div>
						<div class="chart" data-vals='[{"key":"A","value":100},{"key":"B","value":20},{"key":"C","value":40},{"key":"D","value":70},{"key":"E","value":100},{"key":"F","value":60}]'
							data-format='visits-chart' style="width: 100%; height: 209px; background-color: #FFFFFF;"></div>
					</div>
				</div>
			</div>

			<div class="c4 s12 overall-stats unselectable f align-content-between a-gutters">

				<div class="c12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">121454</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-bar-chart"></i> {% trans "Total" %}</div>
							</div>
						</div>
					</a>
				</div>



				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">2657</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-area-chart"></i> {% trans "Unique" %}</div>
							</div>
						</div>
					</a>
				</div>


				<div class="c6 s12 plus-pad">
					<a href="{{url.base}}/admin">
						<div class="stat f align-center">
							<div>
								<h5 class="num">369</h5>
								<div class="title" title="Telegram Users"><i class="ico icon-pie-chart"></i> {% trans "Today" %}</div>
							</div>
						</div>
					</a>
				</div>

			</div>


		</div>
	</div>

	<div class="f">

		<div class="c6 s12 plus-pad">
			<div class="card simple simple-border">
				<div class="title-box f align-center justify-between nowrap">
					<h5 class="card-title unselectable">
						<a href="{{url.base}}/admin">
						{% trans "Latest Polls" %}
						</a>
					</h5>
					<span>
						<a href="{{url.base}}/admin" class="more">{% trans "More" %}</a>
					</span>

				</div>

				<div>
					<ul>
						<a href="#!" class="p1">
							<li class="f nowrap align-center">
								<i class="q-status"></i>
								<span>Just use the box-shadow and play with it to get the best result for you?</span>
							</li>
						</a>
						<a href="#!" class="p1">
							<li class="f nowrap align-center">
								<i class="q-status red "></i>
								<span>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa?</span>
							</li>
						</a>
						<a href="#!" class="p1">
							<li class="f nowrap align-center">
								<i class="q-status yellow"></i>
								<span>Quam diu etiam furor iste tuus nos eludet? (How long, O Catiline, will you abuse our patience?</span>
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>



		<div class="c6 s12 plus-pad">
			<div class="card simple simple-border">
				<div class="title-box f align-center justify-between nowrap">
					<h5 class="card-title unselectable">
						<a href="{{url.base}}/admin">
						{% trans "Trending Polls" %}
						</a>
					</h5>
					<span>
						<a href="</a>" class="more">{% trans "More" %}</a>
					</span>

				</div>

				<div>
					<ul>
						<a href="#!" class="p1">
							<li class="f nowrap align-center">
								<i class="q-status"></i>
								<span>Just use the box-shadow and play with it to get the best result for you?</span>
							</li>
						</a>
						<a href="#!" class="p1">
							<li class="f nowrap align-center">
								<i class="q-status "></i>
								<span>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa?</span>
							</li>
						</a>
						<a href="#!" class="p1">
							<li class="f nowrap align-center">
								<i class="q-status"></i>
								<span>Quam diu etiam furor iste tuus nos eludet? (How long, O Catiline, will you abuse our patience?</span>
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>

	</div>


</div>

{%endblock%}


{%block foot_js%}
{%endblock%}
