{%extends display.admin%}

{%block content%}
	<div class="f">
		<div class="c3 s6">
			<div class="card">
				<div class="card-data">
					<img src="{{url.static}}images/admin/elections.svg">
					<span>{{number_static.polls.total|number_format|fitNumber}}</h5></span>
				</div>
				<div class="card-desc">{% trans "Total Polls" %}</div>
			</div>
		</div>

		<div class="c3 s6">
			<div class="card">
				<div class="card-data">
					<img src="{{url.static}}images/admin/spam.svg">
					<span>{{number_static.polls.spam|number_format|fitNumber}}</span>
				</div>
				<div class="card-desc">{% trans "Spam Polls" %}</div>
			</div>
		</div>

		<div class="c3 s6">
			<div class="card">
				<div class="card-data">
					<img src="{{url.static}}images/admin/hourglass.svg">
					<span>{{number_static.polls.awaiting|number_format|fitNumber}}</span>
				</div>
				<div class="card-desc">{% trans "Awaiting Polls" %}</div>
			</div>
		</div>

		<div class="c3 s6">
			<div class="card">
				<div class="card-data">
					<img src="{{url.static}}images/admin/draft.svg">
					<span>{{number_static.polls.draft|number_format|fitNumber}}</span>
				</div>
				<div class="card-desc">{% trans "Draft Polls" %}</div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="card chart2">
			<h3>{% trans "Polls" %}</h3>
			<div class="chart" id="chartdiv1" data-vals='{{chart_polls}}'></div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c8 s12">
			<div class="card chart2">
				<h3>{% trans "Registration" %}</h3>
				<div id="chartdiv2" class="chart" data-vals='{{chart_users}}' data-format='chartRegistration'></div>
			</div>
		</div>
		<div class="c4 s12">
			<div class="f">
				<div class="c12 s12">
					<div class="card">
						<h3>{% trans "Successfull" %}</h3>
						<div class="card-data">
							<span>{{number_static.users.total|number_format|fitNumber}}</span>
							<img src="{{url.static}}images/admin/checked.svg">
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Verified" %}</h3>
						<div class="card-data">
							<span>{{(number_static.verify.mobile +  number_static.verify.complete)|number_format|fitNumber}}</span>
							<img src="{{url.static}}images/admin/user-verification-symbol-for-interface.svg">
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Guests" %}</h3>
						<div class="card-data">
							<span>{{number_static.users.total_guest|number_format|fitNumber}}</span>
							<img src="{{url.static}}images/admin/guest.svg">
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Telegram" %}</h3>
						<div class="card-data">
							<span>{{(number_static.users.telegram_guest +  number_static.users.telegram)|number_format|fitNumber}}</span>
							<img src="{{url.static}}images/admin/telegram.svg">
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "API" %}</h3>
						<div class="card-data">
							<span>{{number_static.users.api|number_format|fitNumber}}</span>
							<img src="{{url.static}}images/admin/api.svg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c4 s12">
			<div class="f">
				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Total" %}</h3>
						<div class="card-data">
							<span>{{number_static.visitor.total|number_format|fitNumber}}</span>
							<img src="{{url.static}}images/admin/list.svg">
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Unique" %}</h3>
						<div class="card-data">
							<span>{{number_static.visitor.unique|number_format|fitNumber}}</span>
							<img src="{{url.static}}images/admin/award.svg">
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Today" %}</h3>
						<div class="card-data">
							<span>{{number_static.visitor.today|number_format|fitNumber}}</span>
							<img src="{{url.static}}images/admin/24-hours-delivery.svg">
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Last week" %}</h3>
						<div class="card-data">
							<span>{{number_static.visitor.last_week|number_format|fitNumber}}</span>
							<img src="{{url.static}}images/admin/weekly-calendar.svg">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="c8 s12">
			<div class="card chart2">
				<h3>{% trans "Visitors" %}</h3>
				<div class="chart" id="chartdiv3" data-vals='{{chart_visitor}}' data-format='chartVisitors'></div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c6 s12">
			<div class="card chart2">
				<h3>{% trans "Answers" %}</h3>
				<div class="chart" id="chartdiv4" data-vals='{{chart_answer}}' data-format='chartAnswers'></div>
			</div>
		</div>

		<div class="c6 s12">
			<div class="card chart2">
				<h3>{% trans "Transactions" %}</h3>
				<div class="chart" id="chartdiv5" data-vals='[{"key":"A","value":100},{"key":"B","value":20},{"key":"C","value":40},{"key":"D","value":70},{"key":"E","value":100},{"key":"F","value":60}]' data-format='chartTransactions'></div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c8 s12">
			<div class="card chart2">
				<h3>{% trans "Visits" %}</h3>
				<div class="chart" id="chartdiv6" data-vals='[{"key":"A","value":100},{"key":"B","value":20},{"key":"C","value":40},{"key":"D","value":70},{"key":"E","value":100},{"key":"F","value":60}]' data-format='chartVisits'></div>
			</div>
		</div>
		<div class="c4 s12">
			<div class="f">
				<div class="c12">
					<div class="card">
						<h3>{% trans "Total" %}</h3>
						<div class="card-data">
							<span>?</span>
							<img src="{{url.static}}images/admin/list.svg">
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Unique" %}</h3>
						<div class="card-data">
							<span>?</span>
							<img src="{{url.static}}images/admin/award.svg">
						</div>
					</div>
				</div>

				<div class="c6 m12 s6">
					<div class="card">
						<h3>{% trans "Today" %}</h3>
						<div class="card-data">
							<span>?</span>
							<img src="{{url.static}}images/admin/24-hours-delivery.svg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.f -->

	<div class="f">
		<div class="c6 s12">
			<div class="card list latest-polls">
				<h3>{% trans "Latest Polls" %}</h3>
				<a href="#">
					<i data-color="red"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>

				<a href="#">
					<i data-color="blue"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>

				<a href="#">
					<i data-color="green"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>
			</div>
		</div>
		<div class="c6 s12">
			<div class="card list trending-polls">
				<h3>{% trans "Trending Polls" %}</h3>
				<a href="#">
					<i data-color="red"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>

				<a href="#">
					<i data-color="blue"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>

				<a href="#">
					<i data-color="green"></i>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
				</a>
			</div>
		</div>
	</div><!-- /.f -->
{%endblock%}

{%block foot_js_me%}
<script type="text/javascript">

function chartRegistration(_option)
{
	console.log(_option);
	// _option.type = "pie";
	// _option.valueField = "value";
	// _option.titleField = "key";
	// _option.balloon = { "fixedPosition": true };
	return _option;
}


function chartVisitors(_option)
{
	_option.type = "serial";
	// _option.dataDateFormat = "YYYY";
	_option.graphs =
	[{
		"id":"g1",
		"balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
		"bullet": "round",
		"bulletSize": 8,
		"lineColor": "#d1655d",
		"lineThickness": 2,
		"negativeLineColor": "#637bb6",
		"type": "smoothedLine",
		"valueField": "value"
	}];
	_option.valueAxes =
	[{
		"axisAlpha": 0,
		"position": "left"
	}];

	_option.chartCursor =
	{
		"categoryBalloonDateFormat": "YYYY",
		"cursorAlpha": 0,
		"valueLineEnabled":true,
		"valueLineBalloonEnabled":true,
		"valueLineAlpha":0.5,
		"fullWidth":true
	};

	return _option;
}

function chartAnswers(_option)
{
	_option.graphs =
	[{
		"id": "g1",
		"balloon": {
		"drop": true,
		"adjustBorderColor": false,
		"color": "#ffffff",
		"type": "smoothedLine"
		},
		"fillAlphas": 0.2,
		"bullet": "round",
		"bulletBorderAlpha": 1,
		"bulletColor": "#FFFFFF",
		"bulletSize": 2,
		"hideBulletsCount": 50,
		"lineThickness": 2,
		"title": "red line",
		"useLineColorForBulletBorder": true,
		"valueField": "value",
		"balloonText": "<span style='font-size:11px;'>[[value]]</span>"
	}];

	_option.chartCursor =
	{
		"valueLineEnabled": true,
		"valueLineBalloonEnabled": true,
		"cursorAlpha": 0,
		"zoomable": false,
		"valueZoomable": true,
		"valueLineAlpha": 0.5
	};

	return _option
}

function chartTransactions(_option)
{

	_option.graphs =
	[{
		"id":"g1",
		"balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
		"bullet": "round",
		"bulletSize": 8,
		"lineColor": "#d1655d",
		"lineThickness": 2,
		"negativeLineColor": "#637bb6",
		"type": "smoothedLine",
		"valueField": "value"
	}];

	_option.chartCursor =
	{
		"categoryBalloonDateFormat": "YYYY",
		"cursorAlpha": 0,
		"valueLineEnabled":true,
		"valueLineBalloonEnabled":true,
		"valueLineAlpha":0.5,
		"fullWidth":true
	};

	return _option;
}

function chartVisits(_option)
{
	_option.graphs =
	[{
		"id": "g1",
		"balloonText": "[[value]]",
		"bullet": "round",
		"bulletBorderAlpha": 1,
		"bulletColor": "#FFFFFF",
		"hideBulletsCount": 50,
		"title": "red line",
		"valueField": "value",
		"useLineColorForBulletBorder": true,
		"balloon": { "drop":true }
	}];

	_option.chartCursor =
	{
		"limitToGraph":"g1"
	};

	return _option;
}

</script>
{%endblock%}
