{%extends display.main%} {%block content%}
<aside class="admin-area-states">
  <ul>
    <li class="header">نظرسنجی‌ها</li>
    <li>کل <span class="label label-count">۲۳۴۵</span></li>
    <li class="label-unapproved">تایید نشده <span class="label label-count">۵۴۶</span></li>
    <li>فیلتر شده <span class="label label-count">۱۲۴</span></li>
    <li class="label-rejected">رد شده <span class="label label-count">۸۷۳</span></li>
    <li class="header">دیدگاه‌ها</li>
    <li>کل <span class="label label-count">۶۴۵</span></li>
    <li class="label-unapproved">تایید نشده <span class="label label-count">۴۶</span></li>
    <li class="label-rejected">رد شده <span class="label label-count">۱۱۴</span></li>
  </ul>
</aside>
<div class="main">



<div class="admin-area-chart">
{%if visitors%}
 <div class="row auto unselectable">
{%if error%}<div id="chart-error">{{error}}</div>{%else%}{%endif%}
  <div id="chart" data-step='5' data-intro='{%trans "Daily Visit Chart"%}'></div>
 </div>
{%endif%}

  </div>
  <div class="box admin-area">
    <div class="admin-area-box-container">
      <div class="admin-area-items">
        <a href="/fa/admin/$" class="admin-area-item">
          <p class="title">مدیریت نظرسنجی‌ها</p>
          <p class="description">تایید، تصحیح و... سوالات</p>
        </a>
        <a href="/fa/admin/comments" class="admin-area-item">
          <p class="title">مدیریت دیدگاه‌ها</p>
          <p class="description">تایید و رد دیدگاه‌ها</p>
        </a>
        <a href="/fa/admin/keywords" class="admin-area-item">
          <p class="title">مدیریت کلیدواژه‌ها</p>
          <p class="description">تایید، تصحیح و... کلیدواژه‌ها</p>
        </a>
        <a href="/fa/admin/users" class="admin-area-item">
          <p class="title">مدیریت کاربران</p>
          <p class="description">حذف، اضافه و... کاربران</p>
        </a>
        <a href="/fa/admin" class="admin-area-item horizontal-separator">
          <p class="title">مدیریت...</p>
          <p class="description">مقداری توضیحات...</p>
        </a>
        <a href="/fa/admin" class="admin-area-item">
          <p class="title">مدیریت...</p>
          <p class="description">مقداری توضیحات...</p>
        </a>
      </div>
    </div>
  </div>
</div>
{%endblock%}



{%block foot_js%}
{%if visitors%}
 <script type="text/javascript">
  route('*', function()
  {
    $(function () {
      $('#chart').highcharts({
        chart: { type: 'area'
        {%if global.lang=='fa'%}, style: {fontFamily: 'IRANSans'}{%endif%} },
        title: { text: '' },
        xAxis: { categories: [{%for datarow in visitors%}'{%if global.lang=="fa"%}{{datarow.date|jdate("y/m/j")}} {%else%} {{datarow.date |date("j F")}}{%endif%}', {%endfor%}] ,crosshair: true},
        yAxis: { title: {text: ''}, floor: 0, allowDecimals: false,},

        tooltip: {
          shared:true,
          useHTML: true,

          headerFormat: '<table><thead><tr><td colspan="3">{%if global.lang=="fa"%}{point.key} {%else%} {point.key}{%endif%}</td></tr></thead>',
          pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' + '<td><b>{point.y:0.0f} {%trans "Visit"%}</b></td></tr>',
          footerFormat: '</table>',


        },
        credits: {
      enabled: false
  },
        legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
        },
        plotOptions: {
          area: {
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }

        },
        series:
        [
        {
         showInLegend: false,
          name: '{%trans "Page Views"%}',
          data: [ {%for datarow in visitors%}{{datarow.humans}},{%endfor%} ],
        },
        {
         showInLegend: false,
          name: '{% trans "Bots"%}',
          data: [ {%for datarow in visitors%}{{datarow.bots}},{%endfor%} ],
        },
        ]
      });
    });

  });
  Highcharts.theme = {
   colors: [ '#e5a428', '#009688', '#f45b5b', '#8085e9', '#8d4654', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],

};
// Add the background image to the container
Highcharts.wrap(Highcharts.Chart.prototype, 'getContainer', function (proceed) {
   proceed.call(this);
   this.container.style.background = 'url({{url.static}}images/sand.png)';
});
// Apply the theme
Highcharts.setOptions(Highcharts.theme);
 </script>
{%endif%}
{%endblock%}
