 <footer>
  <div class="container">
   <nav class="row horizontal">
    <a href="#">{%trans "Home"%}</a>
    <a href="#">{%trans "Register"%}</a>
    <a href="#">{%trans "Articles"%}</a>
    <a href="#">{%trans "About Us"%}</a>
   </nav>

   <div class="row auto">
    <nav class="span2">
     <a href="#">{%trans "Links"%}</a>
     <a href="#">{%trans "Articles"%}</a>
     <a href="#">{%trans "News"%}</a>
     <a href="#">{%trans "Latest News"%}</a>
     <a href="#">{%trans "Policy"%}</a>
    </nav>

    <nav class="span2">
     <a href="#">{%trans "Links"%}</a>
     <a href="#">{%trans "Articles"%}</a>
     <a href="#">{%trans "News"%}</a>
     <a href="#">{%trans "Latest News"%}</a>
     <a href="#">{%trans "Policy"%}</a>
    </nav>

    <nav class="span2">
     <a href="#">{%trans "Links"%}</a>
     <a href="#">{%trans "Articles"%}</a>
     <a href="#">{%trans "News"%}</a>
     <a href="#">{%trans "Latest News"%}</a>
     <a href="#">{%trans "Policy"%}</a>
    </nav>

    <nav class="span4 news">
     <a href="#">اولین سرویس اینترنتی ایران راه اندازی شد</a>
     <p>سرشمار اولین سرویس سرشماری اینترنتی در ایران راه اندازی شد و مشغول به کار است</p>
     <a href="#">فردا کار من تمام است</a>
     <a href="#">امروز من سخت کار کردم</a>
    </nav>
   </div>

   <div class="row eco">
    <div>
     <span>سرشمار حامی محیط زیست</span>
     <img src="{{url.static}}images/eco.svg">
    </div>
   </div>

   <div class="row footnote">
    <span class="counter">{{stat}}</span>
    <span class="made-in-ir">{%trans "Proudly Made in IRAN"%}</span>
   </div>
  </div>
 </footer>