 <footer>
  <div class="container">
   <nav class="row" id='footer-nav'>
    <a href="{{url.base}}" class="link_home">{%trans "Home"%}</a>
    <a href="{{url.base}}/about">{%trans "About"%}</a>
    <a href="{{url.base}}/press">{%trans "Press"%}</a>
    <a href="https://ermile.{%if url.tld =='ir'%}ir{%else%}com{%endif%}/careers" target="_blank">{%trans "Careers"%}</a>
    <a href="{{url.base}}/social-responsibility">{%trans "Social Responsibility"%}</a>
    <a href="{{url.base}}/faq">{%trans "FAQ"%}</a>
    <a href='{{url.base}}/eco' class="eco hint--left hint--success" data-hint='{%trans "Eco Friendly"%}'><img src="{{url.static}}images/eco.svg"></a>
   </nav>

   <div class="row auto" id='footer-links'>
    <nav class="span2">
     <h4>{%trans "Service"%}</h4>
     <a href="{{url.base}}/features">{%trans "Features"%}</a>
     <a href="{{url.base}}/$">{%trans "Knowledge"%}</a>
     <a href="{{url.base}}/ask/random">{%trans "Random Poll"%}</a>
     <!-- <a href="{{url.base}}/referral">{%trans "Referral Program"%}</a> -->
    </nav>

    <nav class="span2">
     <h4>{%trans "Learn More"%}</h4>
     <a href="{{url.base}}/terms">{%trans "Terms of Service"%}</a>
     <a href="{{url.base}}/privacy">{%trans "Privacy Policy"%}</a>
    </nav>

    <nav class="span2">
     <h4>{%trans "Support"%}</h4>
     <a href="{{url.base}}/help">{%trans "Help Center"%}</a>
     <a href="{{url.base}}/contact">{%trans "Contact"%}</a>
    </nav>

    <nav class="span2">
     <h4>{%trans "Sarshomar"%}</h4>
     <a href="{{url.base}}/mission">{%trans "Mission"%}</a>
     <a href="{{url.base}}/vision">{%trans "Vision"%}</a>
     <!-- <a href="{{url.base}}/changelog">{%trans "Changelog"%}</a> -->
     <!-- <a href="{{url.base}}/press/in-the-news">{%trans "In the News"%}</a> -->
     <!-- <a href="{{url.base}}/statistics">{%trans "Statistics"%}</a> -->
    </nav>

    <section class="span4" id='footer-news'>
     <h4>{%trans "Latest News"%}</h4>
{{ posts(3, {"cat":['news'], 'desc':1, 'html':true} ) }}
   </section>
   </div>

   <div class="row auto" id='footer-note'>
    <div class="span4 langlist" data-xhr='langlist'>
{%for key, lang in site.langlist if site.langlist|length >1 and site.currentlang != key|slice(0, 2)%}
     <a href="{{url.base}}{%if site.defaultLang != key|slice(0, 2) %}/{{key|slice(0, 2)}}{%endif%}{%if url.fakesub%}/{{url.fakesub}}/{{url.path}}{%endif%}" hreflang="{{key|slice(0, 2)}}" data-action>{{lang}}</a>
{%endfor%}
    </div>
    <div class="span4 counter">{{stat|number_format}} {%trans "Questions answered"%}</div>
    <div class="span4 love"><a href="https://ermile.{{url.tld}}" target="_blank">{%trans "Proudly Made in IRAN"%}</a></div>
   </div>
  </div>
 </footer>