 <footer>
  <div class="container unselectable">
   <nav class="row" id='footer-nav'>
    <a href="{{url.base}}" class="link_home">{%trans "Home"%}</a>
    <a href="{{url.base}}/about">{%trans "About"%}</a>
    <a href="{{url.base}}/press">{%trans "Press"%}</a>
    <a href="{%if site.currentlang =='fa'%}https://ermile.com/fa{%else%}https://ermile.com{%endif%}/careers" target="_blank">{%trans "Careers"%}</a>
    <a href="{{url.base}}/social-responsibility">{%trans "Social Responsibility"%}</a>
    <a href="{{url.base}}/help">{%trans "Help Center"%}</a>
    <a href="{{url.base}}/api/v1/doc">{%trans "API"%}</a>
    <a href='{{url.base}}/eco' class="eco hint--left hint--success" data-hint='{%trans "Eco Friendly"%}'><img src="{{url.static}}images/svg/general/eco.svg" alt='{%trans "Eco Friendly"%}' class='flip-ltr'></a>
   </nav>

   <div class="row auto" id='footer-links'>
{%if site.currentlang =='fa'%}
    <nav class="span1 enamad">
     <a href="#">
      <img src="{{url.static}}images/enamad.png" alt='{%trans "Enamad"%}' width="80">
     </a>
    </nav>
{%endif%}
    <nav class="span2">
     <h4>{%trans "Service"%}</h4>
     <a href="{{url.base}}/features">{%trans "Features"%}</a>
     <a href="{{url.base}}/$">{%trans "Knowledge"%}</a>
     <!-- <a href="{{url.base}}/ask/random">{%trans "Random Poll"%}</a> -->
     <!-- <a href="{{url.base}}/referral">{%trans "Referral Program"%}</a> -->
    </nav>

    <nav class="span2">
     <h4>{%trans "Learn More"%}</h4>
     <a href="{{url.base}}/terms">{%trans "Terms of Service"%}</a>
     <a href="{{url.base}}/privacy">{%trans "Privacy Policy"%}</a>
    </nav>

    <nav class="span2">
     <h4>{%trans "Support"%}</h4>
     <!-- <a href="{{url.base}}/help">{%trans "Help Center"%}</a> -->
     <a href="{{url.base}}/contact">{%trans "Contact"%}</a>
    </nav>

    <!-- <nav class="span2"> -->
     <!-- <h4>{%trans "Sarshomar"%}</h4> -->
     <!-- <a href="{{url.base}}/mission">{%trans "Mission"%}</a> -->
     <!-- <a href="{{url.base}}/vision">{%trans "Vision"%}</a> -->
     <!-- <a href="{{url.base}}/changelog">{%trans "Changelog"%}</a> -->
     <!-- <a href="{{url.base}}/press/in-the-news">{%trans "In the News"%}</a> -->
     <!-- <a href="{{url.base}}/statistics">{%trans "Statistics"%}</a> -->
    <!-- </nav> -->

    <section class="span4" id='footer-news'>
     <h4>{%trans "Latest News"%}</h4>
{{ posts(3, {"cat":['news'], 'desc':1, 'html':true} ) }}
   </section>
   </div>

   <div class="row auto" id='footer-note'>
    <div class="span4">
     {{langList({'html':true})}}
    </div>
    <div class="span4 counter"><span data-value='{{stat}}'>{{stat|number_format|persian}}</span> {%trans "Questions answered"%}</div>
    <div class="span4 love"><a href="{%if site.currentlang =='fa'%}https://ermile.com/fa{%else%}https://ermile.com{%endif%}" target="_blank">{%trans "Proudly Made in IRAN"%}</a></div>
   </div>
  </div>
 </footer>