  <header>
   <div class='logo'>
    <a href='{{url.base}}' tabindex='1'>
     <img src='{{url.static}}images/svg/general/logo.svg' alt='{{site.title}} | {{site.desc}}'>
    </a>
    <h1>
     <a href='{{url.base}}' tabindex='-1'>{{site.title}}</a>
    </h1>
   </div>
   <div class='header-box'>
    <div class='header-top'>
     <nav class='header-quick'>
      <a href='{{url.base}}/features' tabindex='2'>{%trans "Features"%}</a>
      <a href='{{url.base}}/$' tabindex='3'>{%trans "Knowledge"%}</a>
      <a href='{{url.base}}/help' tabindex='4'>{%trans "Help Center"%}</a>
     </nav>
     <nav id='header-profile' data-xhr='header-profile' {%if login%}class='login'{%endif%}>
{%if login%}
{%if url.tld == 'dev' and false%}
      <a href="javascript:void(0);" onclick="javascript:introJs(){{introOption}}.start();">ℹ️</a>
{%endif%}
      <a href='{{url.base}}/@/add' class='login' tabindex='5'>{%trans "Add Question"%}</a>
      <a href='{{url.base}}/ask' class='register' tabindex='6'>{%trans "Ask Me"%}</a>
      <div class="profile">
       <!-- <img src="{{url.static}}images/svg/general/profile.svg" alt=""> -->
       <div class="info">
        {{displayname}}
        <span class="role">{%trans "Welcome"%}</span>
       </div>
       <div class="row auto profile-detail">
        <a href="{{url.base}}/@" class="span7 dashboard" tabindex='7'>{%trans "Dashboard"%}</a>
        <a href="logout" class="span5 exit" tabindex='8' data-direct>{%trans "Exit"%}</a>
       </div>
      </div>
{%elseif url.tld == 'dev'%}
      <a href='{{url.base}}/login' data-direct class='login'>{%trans "Login"%}</a>
      <a href='{{url.base}}/signup' data-direct class='register'>{%trans "Register"%}</a>
{%endif%}
     </nav>
    </div>
    <div class='header-bottom'>
     <nav class="breadcrumb unselectable" data-xhr="breadcrumb" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='bottom'>
{%block breadcrumb%}
     {{breadcrumb(null, true, false) | raw}}
{%endblock%}
     </nav>
   {%if url.tld == 'dev' and login%}
     <div id="financial-box">
      <div class="cost">
       <span class="title">{%trans "Cost"%}</span><span class="value">15,000</span><span class="unit">{%trans "Tomans"%}</span>
       <div class="financial-detail">
        <div class="row">
         <div class="cell">Poll</div>
         <div class="cell">1,000</div>
         <div class="cell">Tomans</div>
        </div>
        <div class="row">
         <div class="cell">Upload</div>
         <div class="cell">1,000</div>
         <div class="cell">Tomans</div>
        </div>
        <div class="row">
         <div class="cell">Ads</div>
         <div class="cell">x10</div>
         <div class="cell"></div>
        </div>
       </div>
      </div>
      <div class="total">
       <span class="title">{%trans "Total cash"%}</span><span class="value">{{user_cash}}</span><span class="unit">{%trans user_unit%}</span>
       <div class="financial-detail">
        <div class="row">
         <div class="cell">Cash</div>
         <div class="cell">{{user_cash_real}}</div>
         <div class="cell">{%trans user_unit%}</div>
        </div>
        <div class="row">
         <div class="cell">Gift</div>
         <div class="cell">{{user_cash_gift}}</div>
         <div class="cell">{%trans user_unit%}</div>
        </div>
       </div>
      </div>
     </div>
   {%endif%}
    </div>
   </div>
  </header>
