  <header>
   <span class='logo' tabindex='1'>
    <a href="{{url.base}}">
     <img src='{{url.static}}images/logo.svg' alt='{{site.title}} | {{site.desc}}'>
     <h1>{{site.title}}</h1>
    </a>
   </span>
   <div id='header-box'>
    <div id='header-top'>
     <nav id='header-quick' role='navigation'>
      <a href='{{url.base}}/features' tabindex='2'>{%trans "Features"%}</a>
      <a href='{{url.base}}/$' tabindex='3'>{%trans "Knowledge"%}</a>
      <a href='{{url.base}}/help' tabindex='4'>{%trans "Help"%}</a>
     </nav>
     <nav id='header-profile' data-xhr='header-profile' {%if login%}class='login'{%endif%}>
{%if login%}
      <a href='{{url.base}}/@/add' class='login' tabindex='5'>{%trans "Add Question"%}</a>
      <a href='{{url.base}}/ask' class='register' tabindex='6'>{%trans "Ask Me"%}</a>
      <div class="profile">
       <img src="{{url.static}}images/profile.svg" alt="">
       <div class="info">
        {{displayname}}
        <span class="role">{%trans "Welcome"%}</span>
       </div>
       <div class="profile-detail">
        <a href="{{url.base}}/@" class="dashboard" tabindex='7'>{%trans "Dashboard"%}</a>
        <a href="logout" class="exit" tabindex='8' data-direct>{%trans "Exit"%}</a>
       </div>
      </div>
{%else%}
      <a href='{{url.base}}/login' data-direct class='login'>{%trans "Login"%}</a>
      <a href='{{url.base}}/signup' data-direct class='register'>{%trans "Register"%}</a>
{%endif%}
     </nav>
    </div>
    <nav class="breadcrumb unselectable" data-xhr="breadcrumb" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='bottom'>
{%block breadcrumb%}
     {{breadcrumb(null, true, false) | raw}}
{%endblock%}
    </nav>
   </div>
  </header>
