<div class="row auto">
	<div class="container">
		<nav class="nav">
			<ul>
				<li>
					<a href="/">خانه</a>
				</li>

				<li>
					<a href="about">درباره</a>
				</li>

				<li>
					<a href="contact">تماس</a>
				</li>

				<li>
					<a href="privacy">حریم خصوصی</a>
				</li>

				<li>
					<a href="faq">سوالات متداول</a>
				</li>

				<li>
					<a href="features">ویژگی ها</a>
				</li>

				<li>
					<a href="terms">شرایط و قوانین</a>
				</li>

				<li>
					<a href="eco">صرفه جویی در مصرف کاغذ</a>
				</li>
			</ul>
		</nav>
	</div>
</div>