{%extends display.mvc%}


{%block content%}
 <div class="container">
  <header>
   <h1><a href="{{url.base}}" data-direct class="hint--right hint--info" data-hint="{{site.desc}}">{{site.title}}</a></h1>

   <nav class="breadcrumb unselectable" data-xhr="breadcrumb" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='bottom'>
{%block breadcrumb%}
   {{breadcrumb(null, true) | raw}}
{%endblock%}
   </nav>
  </header>

  <section data-xhr="page-content">
{%block page_content%}
   <h2>{{post.title}}</h2>

{%block chart%}
   <div id="chart"></div>
{%endblock%}

   <div class="content">{{post.content |raw}}</div>
{%endblock%}
  </section>

  <footer>
    {%trans "Some right reserved!"%}
  </footer>
 </div>
{%endblock%}



{%block foot_js%}

 <script type="text/javascript">
  route('*', function()
  {
    $(function () {
      $('#chart').highcharts(
      {
        chart: { type: '{{chart_type}}' {%if global.lang=='fa_IR'%}, style: {fontFamily: 'IRANSans'}{%endif%} },
        title: { text: '{%trans "No. of"%} {%trans "Pageviews"%}' },
        xAxis: { categories: [{%for datarow in chart%}'{%if global.lang=="fa_IR"%}{{datarow.date|jdate("y/m/j")}} {%else%} {{datarow.date |date("j F")}}{%endif%}', {%endfor%}] ,crosshair: true},
        yAxis: { title: {text: ''}, floor: 0, allowDecimals: false,},
        tooltip: {
          shared:true,
          useHTML: true,

          headerFormat: '<table><thead><tr><td colspan="3">{%if global.lang=="fa_IR"%}{point.key} {%else%} {{point.key | date("l j F Y")}} {%endif%}</td></tr></thead>',
          pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' + '<td><b>{point.y:0.0f} {%trans "Visit"%}</b></td></tr>',
          footerFormat: '</table>',

        },
        legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
        },
        plotOptions: {
          series: {stacking: 'normal',
        }

        },
        series:
        [
        {
         showInLegend: false,
          name: '{%trans "Page Views"%}',
          data: [ {%for datarow in chart%}{{datarow.humans}},{%endfor%} ],
        },
        {
         showInLegend: false,
          name: '{% trans "Bots"%}',
          data: [ {%for datarow in chart%}{{datarow.bots}},{%endfor%} ],
        },
        ]
      });

    });
  });
 </script>
{%endblock%}
