 <!-- <div class="page-progress {{progress_status}}"> -->
 <div class="page-progress">
    <span class="checkbox">
        <input type="checkbox" name="" id="a_add">
        <label class="check-box" for="a_add"></label>
    </span>
    <span class="checkbox">
        <input type="checkbox" name="" id="filter">
        <label class="check-box" for="filter"></label>
    </span>
    <span class="checkbox">
        <input type="checkbox" name="" id="publish">
        <label class="check-box" for="publish"></label>
    </span>
	<!-- <a href="{{add_url}}" send-name="add" class="add cube" data-label='{%trans "Add"%}'></a>
	<a href="{{filter_url}}"  send-name="filter" class="filter cube" data-label='{%trans "Filter"%}'></a>
	<a href="{{publish_url}}" send-name="publish"  class="publish cube" data-label='{%trans "Publish"%}'></a> -->
</div>