  <div class="row auto {%if login and login.status == 'active'%}complete{%elseif login%}verify{%endif%}" id='inestimable'>

{%if login and login.status == 'active'%}
   <div class="span6 offset3">
    <h3>:)</h3>
   </div>

{%elseif login%}
   <div class="span3 offset2">
    <img class="inestimable" src="{{url.static}}images/svg/inestimable.svg" alt='{%trans "We are inestimable"%}'>
   </div>
   <div class="span6">
    <h3>{%trans "Inspection, Ask, Answer"%}</h3>
    <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
    <a href="{{url.base}}/@/verify">{%trans "Verify your account"%}</a>
   </div>

{%else%}
   <div class="span3 offset2">
    <img class="inestimable" src="{{url.static}}images/svg/inestimable.svg" alt='{%trans "We are inestimable"%}'>
   </div>
   <div class="span6">
    <h3>{%trans "Inspection, Ask, Answer"%}</h3>
    <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
    <a href="{{url.base}}/@?inspection=inestimable">{%trans "Try Sarshomar"%}</a>
   </div>
{%endif%}
  </div>
