{%set inestimableClass%}
{%spaceless%}
  {%if module == 'about'%}special
  {%else%}
    {%if login and login.status == 'active'%}complete
    {%elseif login%}verify
    {%endif%}
  {%endif%}
{%endspaceless%}
{%endset%}

  <div class="row auto unselectable {{inestimableClass}}" id='inestimable' data-xhr='specialbox'>
   <img class="left-mobile-border" src="{{url.static}}images/svg/home/inestimable-left-img-mobile.svg" alt="Inestimable mobile border">
   <img class="left-desktop-border" src="{{url.static}}images/svg/home/inestimable-left-img.svg" alt="Inestimable desktop border">
{%block specialbox%}

{%if module == 'about'%}
<h2>{%trans "Sarshomar Vision"%}</h2>
<h3 class="vision">{%trans "Ask Anyone Anywhere"%}</h3>
{%else%}
{%if login and login.status == 'active'%}
   <div class="span2"></div>
   <div class="span3 launch-box">
    <img class="launch" src="{{url.static}}images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   </div>
   <div class="span6">
    <h3>{%trans "Ask and Answer with Sarshomar"%}</h3>
    <h4>{%trans "Sarshomar is jumping..."%}</h4>
   </div>

{%elseif login%}
   <div class="span2"></div>
   <div class="span3">
    <img class="launch launch-box" src="{{url.static}}images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   </div>
   <div class="span6">
    <h3>{%trans "Inspection and Answer"%}</h3>
    <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
    <a class="special-btn" href="{{url.base}}/@/verify">{%trans "Verify your account"%}</a>
   </div>

{%else%}
   <div class="span2"></div>
   <div class="span3">
    <img class="launch launch-box" src="{{url.static}}images/miniature/launch.png" alt='{%trans "We are inestimable"%}'>
   </div>
   <div class="span6">
    <h3>{%trans "Inspection and Answer"%}</h3>
    <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
   {%if not login%}
    <a href="{{url.base}}/features/guest" class="special-btn">{%trans "Try Before Register"%}</a>
   {%endif%}
   </div>
{%endif%}
{%endif%}
{%endblock%}
   <img class="right-mobile-border" src="{{url.static}}images/svg/home/inestimable-right-img-mobile.svg" alt="Inestimable mobile border">
   <img class="right-desktop-border" src="{{url.static}}images/svg/home/inestimable-right-img.svg" alt="Inestimable desktop border">
  </div>