{%set inestimableClass%}
{%spaceless%}
  {%if module == 'about'%}special
  {%else%}
    {%if login and login.status == 'active'%}complete
    {%elseif login%}verify
    {%endif%}
  {%endif%}
{%endspaceless%}
{%endset%}

  <div class="row auto unselectable {{inestimableClass}}" id='inestimable' data-xhr='specialbox'>
{%block specialbox%}
   <!-- <img src="{{url.static}}images/svg/home/inestimable-right-img.svg" class="inside right" alt="inestimable"> -->
   <!-- <img src="{{url.static}}images/svg/home/inestimable-left-img.svg" class="inside left" alt="inestimable"> -->


{%if module == 'about'%}
<h2>{%trans "Sarshomar Vision"%}</h2>
<h3 class="vision">{%trans "Ask Anyone Anywhere"%}</h3>
{%else%}
{%if login and login.status == 'active'%}
   <div class="span3 offset2">
    <img class="launch" src="{{url.static}}images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   </div>
   <div class="span6">
    <h3>{%trans "Ask and Answer with Sarshomar"%}</h3>
    <h4>{%trans "Sarshomar is jumping..."%}</h4>
   </div>

{%elseif login%}
   <div class="span3 offset2">
    <img class="launch" src="{{url.static}}images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   </div>
   <div class="span6">
    <h3>{%trans "Inspection and Answer"%}</h3>
    <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
    <a class="try" href="{{url.base}}/@/verify">{%trans "Verify your account"%}</a>
   </div>

{%else%}
   <div class="span3 offset2">
    <img class="launch" src="{{url.static}}images/miniature/launch.png" alt='{%trans "We are inestimable"%}'>
   </div>
   <div class="span6">
    <h3>{%trans "Inspection and Answer"%}</h3>
    <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
   {%if url.tld == 'dev' and not login%}
    <a href="{{url.base}}/features/guest" class="try">{%trans "Try Before Register"%}</a>
   {%endif%}
   </div>
{%endif%}
{%endif%}
{%endblock%}
  </div>