<nav class="socialbox sharebox">
 <a class="twitter" href="https://twitter.com/intent/tweet?url={{url.full}}&text={{page.title}}">
  <i class="icon-twitter"></i>
 </a>

 {%if false%}
 <a class="rss" href="{{url.base}}/rss" target="_blank">
  <i class="icon-rss"></i>
 </a>
 {%endif%}

 <a class="telegram" href="tg://msg_url?url={{url.full}}">
  <i class="icon-send"></i>
 </a>
 <a class="gplus" href="https://plus.google.com/share?url={{url.full}}">
  <i class="icon-google-plus"></i>
 </a>
 <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url.full}}">
  <i class="icon-facebook"></i>
 </a>

 {%if social.linkedin%}
 <a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{url.full}}&title={{page.title}}">
  <i class="icon-linkedin2"></i>
 </a>
 {%endif%}
</nav>