<nav class="socialbox sharebox">
 <a class="twitter" href="https://twitter.com/{{social.twitter}}">
  <i class="icon-twitter"></i>
 </a>
 <a class="rss" href="{{url.base}}/rss" target="_blank">
  <i class="icon-rss"></i>
 </a>
 <a class="telegram" href="http://t.me/{{social.telegram}}">
  <i class="icon-send"></i>
 </a>
 <a class="gplus" href="https://plus.google.com/{{social.googleplus}}">
  <i class="icon-google-plus"></i>
 </a>
 <a class="facebook" href="https://www.facebook.com/{{social.facebook}}">
  <i class="icon-facebook"></i>
 </a>
 <a class="linkedin" href="http://www.linkedin.com/{{social.linkedin}}">
  <i class="icon-linkedin2"></i>
 </a>
</nav>