{% extends display.mvc %}

{% block head_css %}
<style media="screen">
body {
  background-color: #FFF;
}
.form-group {
  margin-bottom: 5em;
}
/*inline styles*/
.form-group .input-group.focus .form-control {
  background-color: #2699CD;
  color: #ACCBDD;
}
.form-group .input-group.focus .form-control + .input-group-icon {
  background-color: #2699CD;
  color: #ACCBDD;
}

.form-group .input-group.disabled .input-group-title {
  background-color: #D8D8D8;
  color: #BEBEBE;
}
.form-group .input-group.disabled .input-group-addon.input-group-title:before {
  background-image: url(/static/images/svg/input-before2.svg);
}
.form-group .input-group.disabled .form-control {
  background-color: #D8D8D8;
}
.form-group .input-group.disabled .form-control + .input-group-icon {
  background-color: #D8D8D8;
  color: #BEBEBE;
}

.form-group .input-group.reverse {
  direction: rtl;
}
.form-group .input-group.reverse .input-group-title {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #D8D8D8;
  color: #BCBCBC;
}
.form-group .input-group.reverse .input-group-title:before {
  background-image: url(/static/images/svg/input-before2.svg);
  right: auto;
  left: 100%;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}
.form-group .input-group.reverse .form-control {
  background-color: #D8D8D8;
  color: #BCBCBC;
  direction: ltr;
}
.form-group .input-group.reverse .form-control:focus + .input-group-icon {
  background-color: #D8D8D8;
  color: #BCBCBC;
}
.form-group .input-group.reverse .input-group-icon {
  background-color: #D8D8D8;
  color: #BCBCBC;
}
</style>
{% endblock %}

{% block content %}
{% include template.header %}
<div class="elements">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h1>{% trans "Elements" %}</h1>
        <h2>{% trans "Input" %}</h2>

        <h3>{% trans "Simple" %}</h3>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" type="text" id="input_01">
          </div>
        </div>

        <h3>{% trans "Simple with text" %}</h3>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" type="text" id="input_01" placeholder='{% trans "Please enter text" %}'>
          </div>
        </div>

        <h3>{% trans "Simple with text and image" %}</h3>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" type="text" id="input_01" placeholder='{% trans "Please enter text" %}'>
            <div class="input-group-addon input-group-icon">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <h3>{% trans "Standard" %}</h3>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon input-group-title">
              <label for="input_01">Question Title</label>
            </div>
            <input class="form-control" type="text" id="input_01">
            <div class="input-group-addon input-group-icon">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <h3>{% trans "Focus" %}</h3>
        <div class="form-group">
          <div class="input-group focus">
            <div class="input-group-addon input-group-title">
              <label for="input_02">Question Title</label>
            </div>
            <input class="form-control" type="text" id="input_02">
            <div class="input-group-addon input-group-icon">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <h3>{% trans "Success" %}</h3>
        <div class="form-group">
          <div class="input-group option success">
            <div class="input-group-addon input-group-title">
              <label for="input_01">Option 1</label>
            </div>
            <input class="form-control" type="text" id="input_01" value="Why men marry women?">
            <div class="input-group-addon input-group-icon">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <h3>{% trans "Warn" %}</h3>
        <div class="form-group">
          <div class="input-group option warn">
            <div class="input-group-addon input-group-title">
              <label for="input_01">Option 1</label>
            </div>
            <input class="form-control" type="text" id="input_01" value="Why men marry women?">
            <div class="input-group-addon input-group-icon">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <h3>{% trans "Fail" %}</h3>
        <div class="form-group">
          <div class="input-group option fail">
            <div class="input-group-addon input-group-title">
              <label for="input_01">Option 1</label>
            </div>
            <input class="form-control" type="text" id="input_01" value="Why men marry women?">
            <div class="input-group-addon input-group-icon">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <h3>{% trans "Disabled" %}</h3>
        <div class="form-group">
          <div class="input-group disabled">
            <div class="input-group-addon input-group-title">
              <label for="input_03">Question Title</label>
            </div>
            <input class="form-control" type="text" id="input_03" disabled="">
            <div class="input-group-addon input-group-icon">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <h3>{% trans "Reverse" %}</h3>
        <div class="form-group">
          <div class="input-group reverse">
            <div class="input-group-addon input-group-title">
              <label for="input_04">Short Link</label>
            </div>
            <input class="form-control" type="text" id="input_04">
            <div class="input-group-addon input-group-icon">
              <i class="fa fa-link" aria-hidden="true"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="span6"></div>
    </div>
  </div>
</div>
{% include template.footer %}
{% endblock %}

{% block foot_js %}
{% endblock %}
