{%extends display.main%}

{%block content%}
        <div class="row auto features">
              <ul>
                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/panel.svg">
                    <span>سؤالات چندرسانه‌ای</span>
                    <a class='info' href='{{url.base}}features/mulimedia-question'>
                      <h3>سؤالات چندرسانه‌ای</h3>
                      <p>فراهم آوردن امکان تعامل با اطلاعات به شیوه‌هایی جدید برای کاربران</p>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/analytics.svg">
                    <span>جزئیات نموداری</span>
                    <div class='info'>
                      <h3>جزئیات نموداری</h3>
                      <p>جهت درک بهتر نتایج حاصل از تحلیل داده‌ها امکان ارائه جزئیات نموداری وجود دارد.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/test.svg">
                    <span>خروجی از نتایج</span>
                    <div class='info'>
                      <h3>خروجی از نتایج</h3>
                      <p>سرشمار امکان دریافت خروجی‌ نتایج در فرمت مورد‌نیاز مشتری ار فراهم نموده است.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="normal">
                 <img src="{{url.static}}images/svg/features/padlock.svg">
                 <span>خصوصی نکردن نتایج</span>
                    <div class='info'>
                      <h3>خصوصی نکردن نتایج</h3>
                      <p>هیچ‌کدام از نتایج پرسش‌ها و نظرسنجی‌ها خصوصی نبوده و به‌صورت پیش‌فرض در اختیار تمامی کاربران می‌باشد.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/online.svg">
                    <span>برگزاری آزمون آنلاین</span>
                    <div class='info'>
                      <h3>برگزاری آزمون آنلاین</h3>
                      <p>به راحتی و بدون محدودیت مکان و زمان، آزمون آنلاین برگزار کنید</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/notepad.svg">
                    <span>سوالات تشریحی</span>
                    <div class='info'>
                      <h3>سوالات تشریحی</h3>
                      <p>سوالات تشریحی مطرح کنید و اطلاعات دقیق‌، کامل‌ و دارای ارزش بیشتر در اختیار داشته باشید.</p>
                    </div>
                  </div>
                </li>



                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/translation.svg">
                    <span>چند زبانه بودن</span>
                    <div class='info'>
                      <h3>چند زبانه بودن</h3>
                      <p>سرویس سرشمار تمامی خدمات خود را به دو زبان فارسی و انگلیسی ارائه می‌نماید.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/cash-register.svg">
                    <span>عدم اجبار به ثبت نام</span>
                    <div class='info'>
                      <h3>عدم اجبار به ثبت نام</h3>
                      <p>برای فعالیت شما در سرشمار هیچ اجباری به ثبت‌نام نیست.</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/notepad1.svg">
                    <span>پرسش نامه</span>
                    <div class='info'>
                      <h3>پرسش نامه</h3>
                      <p>آنلاین پرسش‌نامه طراحی کنید و نتایج دقیق و معتبر را به سرعت و با هزینه مناسب در اختیار داشته باشید.</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/paper-plane.svg">
                    <span>بدون تبلیغات</span>
                    <div class='info'>
                      <h3>بدون تبلیغات</h3>
                      <p>سرشمار مخالف تبلیغات اجباری و آزاردهنده می‌‌باشد و بهترین مبلغ ما در کار کاربرانمان می‌‌باشند.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/dollar-symbol.svg">
                    <span>رایگان برای کاربران عادی</span>
                    <div class='info'>
                      <h3>رایگان برای کاربران عادی</h3>
                      <p>سرشمار برای کاربران عادی و نظرسنجی‌های عمومی سرویس رایگان ارائه می‌‌نماید.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/get-money.svg">
                    <span>کسب درآمد برای کاربران</span>
                    <div class='info'>
                      <h3>کسب درآمد برای کاربران</h3>
                      <p>با شرکت در نظرسنجی‌های سرشمار درآمد کسب کنید.</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/telegram-color.svg">
                    <span>ارائه خدمات از طریق تلگرام</span>
                    <div class='info'>
                      <h3>ارائه خدمات از طریق تلگرام</h3>
                      <p>از ربات سرشمار بصورت خصوصی در کانال‌ها و گروه‌های خود برای نظرسنجی استفاده کنید.</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/group.svg">
                    <span>تعیین جامعه آماری هدف</span>
                    <div class='info'>
                      <h3>تعیین جامعه آماری هدف</h3>
                      <p>جامعه آماری هدف را برای پرسش سؤال خود انتخاب نمایید.</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/chart.svg">
                    <span>مشاهده نتایج به تفکیک جامعه آماری</span>
                    <div class='info'>
                      <h3>مشاهده نتایج به تفکیک جامعه آماری</h3>
                      <p>نمودار و جداول اطلاعاتی نظرسنجی‌ها به تفکیک موارد خواسته شده کاربران ارائه می‌شود.</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/clipboard.svg">
                    <span>درختواره سوالات</span>
                    <div class='info'>
                      <h3>درختواره سوالات</h3>
                      <p>درختواره ابزاری برای سهولت دستیابی کاربران و سامان بخشیدن به سوالات عرضه شده.</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/business-presentation.svg">
                    <span>تحلیل تشریحی از نتایج</span>
                    <div class='info'>
                      <h3>تحلیل تشریحی از نتایج</h3>
                      <p>تبدیل داده‌ها به تحلیل‌های متنی و مقادیر قابل لمس توسط انسان</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/locked.svg">
                    <span>تعیین محدودیت برای پاسخ‌دهی</span>
                    <div class='info'>
                      <h3>تعیین محدودیت برای پاسخ‌دهی</h3>
                      <p>امکان اعمال انواع محدودیت‌ها برای پاسخ‌دهی به سوالات</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/lottery.svg">
                    <span>برگزاری کمپین، مسابقات و قرعه‌کشی‌های زنده</span>
                    <div class='info'>
                      <h3>برگزاری کمپین، مسابقات و قرعه‌کشی‌های زنده</h3>
                      <p>امکان برگزاری کمپین، مسابقات و قرعه کشی‌های زنده برای مشتریان و کاربران سرشمار</p>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="normal">
                    <img src="{{url.static}}images/svg/features/information.svg">
                    <span>الگوریتم تخصصی امتیازدهی </span>
                    <div class='info'>
                      <h3>الگوریتم تخصصی امتیازدهی</h3>
                      <p>امکان امتیاز‌دهی تخصصی به تست‌ها و بررسی عملکرد‌های رفتاری پاسخ‌دهندگان</p>
                    </div>
                  </div>
                </li>
              </ul>
      </div>

{%endblock%}
